Repository fnrfarid/excel-rma: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_rma_frontend, test_rma_mobile, test_rma_server

.gitlab-ci.yml:

image: registry.gitlab.com/castlecraft/docker-craft/node-latest-headless-chrome:latest

stages:
  - tests

test_rma_frontend:
  stage: tests
  only:
    changes:
      - packages/rma-frontend/**/*
    refs:
      - merge_requests
      - master
  before_script:
    - cd packages/rma-frontend
    - npm install
  script:
    # set env variable for test
    - export NODE_ENV=test
    # Check Code Quality
    - npm run lint
    - npm run format:check
    # Test backend unit tests
    - npm run test
    # Test backend e2e
    - npm run e2e
  tags:
    - docker

test_rma_mobile:
  stage: tests
  only:
    changes:
      - packages/rma-mobile/**/*
    refs:
      - merge_requests
      - master
  before_script:
    - cd packages/rma-mobile
    - npm install
  script:
    # Check Code Quality
    - npm run lint
    - npm run format:check
    # set env variable for test
    - export NODE_ENV=test
    # Test frontend
    - export DISPLAY=:99
    - Xvfb :0 -ac -screen 0 1024x768x24 &
    - npm run test
    - npm run e2e
  tags:
    - docker

test_rma_server:
  stage: tests
  only:
    changes:
      - packages/rma-server/**/*
    refs:
      - merge_requests
      - master
  before_script:
    - cd packages/rma-server
    - npm install
  script:
    # set env variable for test
    - export NODE_ENV=test
    # Check Code Quality
    - npm run lint
    - npm run format:check
    # Test backend unit tests
    - npm run test
    # Test backend e2e
    - npm run test:e2e
  tags:
    - docker

feat(excel-rma): Update env and docker credentials
  packages/rma-frontend/.dockerignore
  packages/rma-frontend/Dockerfile
  packages/rma-server/docker/docker-entrypoint.sh
  packages/rma-server/docker/env.tmpl
Due: test_rma_frontend, test_rma_server

feat: helm-chart
  .gitlab-ci.yml
  helm-chart/rma-portal/.helmignore
  helm-chart/rma-portal/Chart.yaml
  helm-chart/rma-portal/templates/NOTES.txt
  helm-chart/rma-portal/templates/_helpers.tpl
  helm-chart/rma-portal/templates/deployment.yaml
  helm-chart/rma-portal/templates/ingress.yaml
  helm-chart/rma-portal/templates/secrets.yaml
  helm-chart/rma-portal/templates/service.yaml
  helm-chart/rma-portal/templates/serviceaccount.yaml
  helm-chart/rma-portal/templates/tests/test-connection.yaml
  helm-chart/rma-portal/values.yaml
Due: none

fix(rma-frontend): read info endpoint
  packages/rma-frontend/package.json
  packages/rma-frontend/src/app/app.component.ts
Due: test_rma_frontend

fix(rma-server): rename from frappe-direct to rma-server
  packages/rma-server/Dockerfile
  packages/rma-server/env-example
  packages/rma-server/package-lock.json
  packages/rma-server/package.json
  packages/rma-server/src/constants/app-strings.ts
Due: test_rma_server

chore: docker-compose for backing services
  .gitignore
  docker/backing-services/docker-compose.yml
  docker/backing-services/files/docker-entrypoint-initdb.d/createdatabases.sh
  env-example
  package-lock.json
Due: none

ci: fix docker pack stages
  .gitlab-ci.yml
Due: none

fix(rma-mobile): use staging server
  packages/rma-mobile/src/app/api/constants/frappe-oauth2config.ts
  packages/rma-mobile/src/app/app.component.html
Due: test_rma_mobile

feat(rma-server): added cqrs for customer
  packages/rma-server/src/app.module.ts
  packages/rma-server/src/constants/typeorm.connection.ts
  packages/rma-server/src/customer/aggregates/customer-aggregate/customer-aggregate.service.spec.ts
  packages/rma-server/src/customer/aggregates/customer-aggregate/customer-aggregate.service.ts
  packages/rma-server/src/customer/aggregates/customer-webhook-aggregate/customer-webhook-aggregate.service.spec.ts
  packages/rma-server/src/customer/aggregates/customer-webhook-aggregate/customer-webhook-aggregate.service.ts
  packages/rma-server/src/customer/aggregates/index.ts
  packages/rma-server/src/customer/command/add-customer/add-customer-command.handler.ts
  packages/rma-server/src/customer/command/add-customer/add-customer.command.ts
  packages/rma-server/src/customer/command/index.ts
  packages/rma-server/src/customer/command/remove-customer/remove-customer-command.handler.ts
  packages/rma-server/src/customer/command/remove-customer/remove-customer.command.ts
  packages/rma-server/src/customer/command/update-customer/update-customer-command.handler.ts
  packages/rma-server/src/customer/command/update-customer/update-customer.command.ts
  packages/rma-server/src/customer/controllers/customer-webhook/customer-webhook.controller.spec.ts
  packages/rma-server/src/customer/controllers/customer-webhook/customer-webhook.controller.ts
  packages/rma-server/src/customer/controllers/customer/customer.controller.spec.ts
  packages/rma-server/src/customer/controllers/customer/customer.controller.ts
  packages/rma-server/src/customer/customer.module.ts
  packages/rma-server/src/customer/entity/customer/customer-dto.ts
  packages/rma-server/src/customer/entity/customer/customer-webhook-interface.ts
  packages/rma-server/src/customer/entity/customer/customer.entity.ts
  packages/rma-server/src/customer/entity/customer/customer.service.spec.ts
  packages/rma-server/src/customer/entity/customer/customer.service.ts
  packages/rma-server/src/customer/entity/entity.module.ts
  packages/rma-server/src/customer/event/customer-added/customer-added-event.handler.ts
  packages/rma-server/src/customer/event/customer-added/customer-added.event.ts
  packages/rma-server/src/customer/event/customer-removed/customer-removed.event.ts
  packages/rma-server/src/customer/event/customer-removed/customer.removed-event.handler.ts
  packages/rma-server/src/customer/event/customer-updated/customer-updated-event.handler.ts
  packages/rma-server/src/customer/event/customer-updated/customer-updated.event.ts
  packages/rma-server/src/customer/event/index.ts
  packages/rma-server/src/customer/policies/customer-policies/customer-policies.service.spec.ts
  packages/rma-server/src/customer/policies/customer-policies/customer-policies.service.ts
  packages/rma-server/src/customer/query/get-customer/retrieve-customer-query.handler.ts
  packages/rma-server/src/customer/query/get-customer/retrieve-customer.query.ts
  packages/rma-server/src/customer/query/index.ts
  packages/rma-server/src/customer/query/list-customer/retrieve-customer-list-query.handler.ts
  packages/rma-server/src/customer/query/list-customer/retrieve-customer-list.query.ts
Due: test_rma_server

feat(rma-server): Added webhook sync for customer
  packages/rma-server/.gitignore
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/constants/routes.ts
  packages/rma-server/src/customer/aggregates/customer-webhook-aggregate/customer-webhook-aggregate.service.spec.ts
  packages/rma-server/src/customer/aggregates/customer-webhook-aggregate/customer-webhook-aggregate.service.ts
  packages/rma-server/src/customer/controllers/customer-webhook/customer-webhook.controller.spec.ts
  packages/rma-server/src/customer/controllers/customer-webhook/customer-webhook.controller.ts
  packages/rma-server/src/customer/entity/customer/customer-webhook-interface.ts
  packages/rma-server/src/customer/entity/customer/customer.entity.ts
  packages/rma-server/src/system-settings/aggregates/settings/settings.service.ts
Due: test_rma_server

feat(rma-server): Added CQRS for Item
  .gitlab-ci.yml
  packages/rma-server/src/app.module.ts
  packages/rma-server/src/constants/typeorm.connection.ts
  packages/rma-server/src/item/Item.module.ts
  packages/rma-server/src/item/aggregates/index.ts
  packages/rma-server/src/item/aggregates/item-aggregate/item-aggregate.service.spec.ts
  packages/rma-server/src/item/aggregates/item-aggregate/item-aggregate.service.ts
  packages/rma-server/src/item/aggregates/item-webhook-aggregate/item-webhook-aggregate.service.spec.ts
  packages/rma-server/src/item/aggregates/item-webhook-aggregate/item-webhook-aggregate.service.ts
  packages/rma-server/src/item/controllers/item-webhook/Item-webhook.controller.spec.ts
  packages/rma-server/src/item/controllers/item-webhook/Item-webhook.controller.ts
  packages/rma-server/src/item/controllers/item/item.controller.spec.ts
  packages/rma-server/src/item/controllers/item/item.controller.ts
  packages/rma-server/src/item/entity/entity.module.ts
  packages/rma-server/src/item/entity/item/item-dto.ts
  packages/rma-server/src/item/entity/item/item-webhook-interface.ts
  packages/rma-server/src/item/entity/item/item.entity.ts
  packages/rma-server/src/item/entity/item/item.service.spec.ts
  packages/rma-server/src/item/entity/item/item.service.ts
  packages/rma-server/src/item/policies/item-policies/item-policies.service.spec.ts
  packages/rma-server/src/item/policies/item-policies/item-policies.service.ts
  packages/rma-server/src/item/query/get-item/retrieve-item-query.handler.ts
  packages/rma-server/src/item/query/get-item/retrieve-item.query.ts
  packages/rma-server/src/item/query/index.ts
  packages/rma-server/src/item/query/list-customer/retrieve-customer-list-query.handler.ts
  packages/rma-server/src/item/query/list-customer/retrieve-customer-list.query.ts
Due: test_rma_server

feat(rma-server): setup webhook endpoint
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/constants/webhook-data.ts
  packages/rma-server/src/system-settings/aggregates/settings/settings.service.ts
  packages/rma-server/src/system-settings/controllers/settings/settings.controller.ts
  packages/rma-server/src/system-settings/controllers/setup/setup.service.ts
Due: test_rma_server

feat(rma-server): Added webhook sync for item
  packages/rma-server/src/auth/aggregates/client-token-manager/client-token-manager.service.ts
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/constants/routes.ts
  packages/rma-server/src/customer/aggregates/customer-webhook-aggregate/customer-webhook-aggregate.service.ts
  packages/rma-server/src/item/aggregates/item-webhook-aggregate/item-webhook-aggregate.service.spec.ts
  packages/rma-server/src/item/aggregates/item-webhook-aggregate/item-webhook-aggregate.service.ts
  packages/rma-server/src/item/controllers/item-webhook/item-webhook.controller.spec.ts
  packages/rma-server/src/item/controllers/item-webhook/item-webhook.controller.ts
  packages/rma-server/src/item/entity/item/item-webhook-interface.ts
  packages/rma-server/src/item/entity/item/item.entity.ts
  packages/rma-server/src/item/item.module.ts
  packages/rma-server/src/system-settings/aggregates/settings/settings.service.ts
Due: test_rma_server

fix(rma-mobile): app name and description
  packages/rma-mobile/config.xml
  packages/rma-mobile/package.json
Due: test_rma_mobile

feat(rma-frontend): silent refresh token
  packages/rma-frontend/src/app/app.component.ts
  packages/rma-frontend/src/app/constants/storage.ts
Due: test_rma_frontend

fix(rma-frontend): revert silent refresh token
  packages/rma-frontend/src/app/app.component.ts
Due: test_rma_frontend

feat(rma-server): Added sync to create serial-no on frappe
  packages/rma-server/src/constants/routes.ts
  packages/rma-server/src/serial-no/aggregates/serial-no-aggregate/serial-no-aggregate.service.spec.ts
  packages/rma-server/src/serial-no/aggregates/serial-no-aggregate/serial-no-aggregate.service.ts
  packages/rma-server/src/serial-no/entity/serial-no/serial-no-dto.ts
  packages/rma-server/src/serial-no/entity/serial-no/serial-no.entity.ts
Due: test_rma_server

feat(rma-server): Added fix for listing and get endpoints
  packages/rma-server/src/customer/aggregates/customer-aggregate/customer-aggregate.service.ts
  packages/rma-server/src/customer/aggregates/customer-webhook-aggregate/customer-webhook-aggregate.service.ts
  packages/rma-server/src/customer/controllers/customer/customer.controller.ts
  packages/rma-server/src/customer/entity/customer/customer-webhook-interface.ts
  packages/rma-server/src/customer/query/list-customer/retrieve-customer-list-query.handler.ts
  packages/rma-server/src/item/aggregates/item-webhook-aggregate/item-webhook-aggregate.service.ts
  packages/rma-server/src/item/controllers/item/item.controller.ts
  packages/rma-server/src/item/entity/item/item-webhook-interface.ts
  packages/rma-server/src/item/entity/item/item.entity.ts
  packages/rma-server/src/item/entity/item/item.service.ts
  packages/rma-server/src/item/query/index.ts
  packages/rma-server/src/item/query/list-item/retrieve-item-list-query.handler.ts
  packages/rma-server/src/item/query/list-item/retrieve-item-list.query.ts
  packages/rma-server/src/supplier/aggregates/supplier-webhook-aggregate/supplier-webhook-aggregate.service.ts
  packages/rma-server/src/supplier/entity/supplier/supplier-webhook-interface.ts
Due: test_rma_server

feat(rma-frontend): Added UI for listing and adding sales-invoice
  packages/rma-frontend/proxy.config.json
  packages/rma-frontend/src/app/app-routing.module.ts
  packages/rma-frontend/src/app/app.component.html
  packages/rma-frontend/src/app/app.component.scss
  packages/rma-frontend/src/app/app.module.ts
  packages/rma-frontend/src/app/common/interfaces/customer.interface.ts
  packages/rma-frontend/src/app/common/interfaces/sales.interface.ts
  packages/rma-frontend/src/app/home/home.page.html
  packages/rma-frontend/src/app/purchase-ui/add-purchase-invoice/add-purchase-invoice.module.ts
  packages/rma-frontend/src/app/purchase-ui/add-purchase-invoice/add-purchase-invoice.page.html
  packages/rma-frontend/src/app/purchase-ui/add-purchase-invoice/add-purchase-invoice.page.scss
  packages/rma-frontend/src/app/purchase-ui/add-purchase-invoice/add-purchase-invoice.page.spec.ts
  packages/rma-frontend/src/app/purchase-ui/add-purchase-invoice/add-purchase-invoice.page.ts
  packages/rma-frontend/src/app/purchase-ui/purchase-ui.module.ts
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.module.ts
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.html
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.scss
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.spec.ts
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.ts
  packages/rma-frontend/src/app/purchase-ui/services/purchase.service.spec.ts
  packages/rma-frontend/src/app/purchase-ui/services/purchase.service.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.module.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.scss
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.spec.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/sales-ui/sales-ui.module.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales.module.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.scss
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.spec.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.spec.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/global.scss
Due: test_rma_frontend

fix(rma-frontend): Fixed tests and formatted code
  packages/rma-frontend/src/app/purchase-ui/add-purchase-invoice/add-purchase-invoice.module.ts
  packages/rma-frontend/src/app/purchase-ui/add-purchase-invoice/add-purchase-invoice.page.spec.ts
  packages/rma-frontend/src/app/purchase-ui/add-purchase-invoice/add-purchase-invoice.page.ts
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.module.ts
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.spec.ts
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.ts
  packages/rma-frontend/src/app/purchase-ui/services/purchase.service.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.spec.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales.module.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.spec.ts
Due: test_rma_frontend

fix(rma-frontend): silent refresh token
  packages/rma-frontend/angular.json
  packages/rma-frontend/src/app/app.component.ts
Due: test_rma_frontend

fix(helm-chart): add timestamp for rolling updates
  helm-chart/rma-portal/templates/deployment.yaml
Due: none

fix(rma-frontend): silent refresh token
  packages/rma-frontend/src/app/app.component.ts
Due: test_rma_frontend

feat(rma-server): Added sales_invoice CQRS
  packages/rma-server/src/app.module.ts
  packages/rma-server/src/constants/typeorm.connection.ts
  packages/rma-server/src/sales-invoice/aggregates/index.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.spec.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/sales-invoice/command/add-sales-invoice/add-sales-invoice.command.ts
  packages/rma-server/src/sales-invoice/command/add-sales-invoice/add-sales-invoice.handler.ts
  packages/rma-server/src/sales-invoice/command/index.ts
  packages/rma-server/src/sales-invoice/command/remove-sales-invoice/remove-sales-invoice.command.ts
  packages/rma-server/src/sales-invoice/command/remove-sales-invoice/remove-sales-invoice.handler.ts
  packages/rma-server/src/sales-invoice/command/update-sales-invoice/update-sales-invoice.command.ts
  packages/rma-server/src/sales-invoice/command/update-sales-invoice/update-sales-invoice.handler.ts
  packages/rma-server/src/sales-invoice/controllers/sales-invoice/sales-invoice.controller.spec.ts
  packages/rma-server/src/sales-invoice/controllers/sales-invoice/sales-invoice.controller.ts
  packages/rma-server/src/sales-invoice/entity/entity.module.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice-dto.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice.entity.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice.service.spec.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice.service.ts
  packages/rma-server/src/sales-invoice/event/index.ts
  packages/rma-server/src/sales-invoice/event/sales-invoice-added/sales-invoice-added.event.ts
  packages/rma-server/src/sales-invoice/event/sales-invoice-added/sales-invoice-added.handler.ts
  packages/rma-server/src/sales-invoice/event/sales-invoice-removed/sales-invoice-removed.event.ts
  packages/rma-server/src/sales-invoice/event/sales-invoice-removed/sales-invoice.removed.handler.ts
  packages/rma-server/src/sales-invoice/event/sales-invoice-updated/sales-invoice-updated.event.ts
  packages/rma-server/src/sales-invoice/event/sales-invoice-updated/sales-invoice-updated.handler.ts
  packages/rma-server/src/sales-invoice/policies/sales-invoice-policies/sales-invoice-policies.service.spec.ts
  packages/rma-server/src/sales-invoice/policies/sales-invoice-policies/sales-invoice-policies.service.ts
  packages/rma-server/src/sales-invoice/query/get-sales-invoice/retrieve-sales-invoice.handler.ts
  packages/rma-server/src/sales-invoice/query/get-sales-invoice/retrieve-sales-invoice.query.ts
  packages/rma-server/src/sales-invoice/query/index.ts
  packages/rma-server/src/sales-invoice/query/list-sales-invoice/retrieve-sales-invoice-list.handler.ts
  packages/rma-server/src/sales-invoice/query/list-sales-invoice/retrieve-sales-invoice-list.query.ts
  packages/rma-server/src/sales-invoice/sales-invoice.module.ts
Due: test_rma_server

feat(rma-frontend): Added material table for items
  packages/rma-frontend/angular.json
  packages/rma-frontend/package-lock.json
  packages/rma-frontend/package.json
  packages/rma-frontend/src/app/app.component.html
  packages/rma-frontend/src/app/app.module.ts
  packages/rma-frontend/src/app/common/interfaces/sales.interface.ts
  packages/rma-frontend/src/app/material/material.module.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.module.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.scss
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.spec.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/items-datasource.ts
  packages/rma-frontend/src/app/sales-ui/sales-ui.module.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.scss
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.spec.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/index.html
  packages/rma-frontend/src/main.ts
Due: test_rma_frontend

fix(rma-frontend): Fixed src imports
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/items-datasource.ts
Due: test_rma_frontend

feat(rma-server): Added sales-invoice metadata
  packages/rma-server/src/constants/messages.ts
  packages/rma-server/src/constants/routes.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.spec.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/sales-invoice/command/index.ts
  packages/rma-server/src/sales-invoice/command/submit-sales-invoice/submit-sales-invoice.command.ts
  packages/rma-server/src/sales-invoice/command/submit-sales-invoice/submit-sales-invoice.handler.ts
  packages/rma-server/src/sales-invoice/command/update-sales-invoice/update-sales-invoice.command.ts
  packages/rma-server/src/sales-invoice/controllers/sales-invoice/sales-invoice.controller.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice-update-dto.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice.entity.ts
  packages/rma-server/src/sales-invoice/event/index.ts
  packages/rma-server/src/sales-invoice/event/sales-invoice-submitted/sales-invoice-submitted.event.ts
  packages/rma-server/src/sales-invoice/event/sales-invoice-submitted/sales-invoice-submitted.handler.ts
  packages/rma-server/src/sales-invoice/event/sales-invoice-updated/sales-invoice-updated.event.ts
Due: test_rma_server

fix(ram-server): Fixed sync for sales-invoice
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
Due: test_rma_server

feat(excel-rma):Added warranty page
  package.json
  packages/rma-frontend/src/app/app-routing.module.ts
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.module.ts
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.page.html
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.page.scss
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.page.spec.ts
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.page.ts
Due: test_rma_frontend

feat(rma-frontend): Added UI for listing serial-no
  packages/rma-frontend/src/app/app-routing.module.ts
  packages/rma-frontend/src/app/app.component.html
  packages/rma-frontend/src/app/app.module.ts
  packages/rma-frontend/src/app/common/interfaces/services/http-error-handler/http-error-handler.service.ts
  packages/rma-frontend/src/app/common/interfaces/services/message/message.service.ts
  packages/rma-frontend/src/app/constants/storage.ts
  packages/rma-frontend/src/app/material/material.module.ts
  packages/rma-frontend/src/app/warranty-ui/warranty-ui.module.ts
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty-datasource.ts
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.module.ts
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.page.html
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.page.scss
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.page.spec.ts
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.page.ts
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.service.spec.ts
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.service.ts
Due: test_rma_frontend

fix(rma-frontend): Fixed side-menu width and box-shadow
  packages/rma-frontend/src/app/app.component.html
  packages/rma-frontend/src/global.scss
Due: test_rma_frontend

feat(rma-frontend): Added Editable table
  packages/rma-frontend/package-lock.json
  packages/rma-frontend/package.json
  packages/rma-frontend/src/app/common/interfaces/sales.interface.ts
  packages/rma-frontend/src/app/material/material.module.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.module.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.scss
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/inline-edit/inline-edit.component.scss
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/inline-edit/inline-edit.component.ts
  packages/rma-frontend/src/app/sales-ui/sales-ui.module.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
Due: test_rma_frontend

fix(rma-frontend): Added Back button in warranty page
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.page.html
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.page.spec.ts
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.page.ts
Due: test_rma_frontend

feat(rma-server): Added webhooks and sync for serial-no
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.module.ts
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.service.ts
  packages/rma-server/src/constants/routes.ts
  packages/rma-server/src/constants/webhook-data.ts
  packages/rma-server/src/serial-no/aggregates/serial-no-webhook-aggregate/serial-no-webhook-aggregate.service.spec.ts
  packages/rma-server/src/serial-no/aggregates/serial-no-webhook-aggregate/serial-no-webhook-aggregate.service.ts
  packages/rma-server/src/serial-no/controllers/serial-no-webhook/serial-no-webhook.controller.ts
  packages/rma-server/src/serial-no/entity/serial-no/serial-no-webhook-interface.ts
  packages/rma-server/src/serial-no/entity/serial-no/serial-no.entity.ts
  packages/rma-server/src/system-settings/aggregates/settings/settings.service.ts
Due: test_rma_frontend, test_rma_server

feat(rma-frontend): Added Seperate input fields for item and quantity
  packages/rma-frontend/src/app/app.module.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.module.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/inline-edit/inline-edit.component.html
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/inline-edit/inline-edit.component.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/items-datasource.ts
Due: test_rma_frontend

feat(rma-server): revoke expired auth server implicit tokens
  packages/rma-server/package-lock.json
  packages/rma-server/package.json
  packages/rma-server/src/auth/aggregates/client-token-manager/client-token-manager.service.ts
  packages/rma-server/src/auth/auth.module.ts
  packages/rma-server/src/auth/schedulers/index.ts
  packages/rma-server/src/auth/schedulers/revoke-expired-frappe-tokens/revoke-expired-frappe-tokens.service.spec.ts
  packages/rma-server/src/auth/schedulers/revoke-expired-frappe-tokens/revoke-expired-frappe-tokens.service.ts
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/constants/routes.ts
Due: test_rma_server

fix(rma-frontend): Rate field made editable
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/inline-edit/inline-edit.component.html
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/inline-edit/inline-edit.component.ts
Due: test_rma_frontend

feat(rma-frontend): Added Material Table for sales-invoice
  packages/rma-frontend/src/app/common/interfaces/sales.interface.ts
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales-invoice-datasource.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales.module.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.scss
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.spec.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.spec.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
Due: test_rma_frontend

fix(rma-server): paginate and revoke expired frappe/erpnext tokens
  packages/rma-server/src/auth/schedulers/revoke-expired-frappe-tokens/revoke-expired-frappe-tokens.service.ts
Due: test_rma_server
