Repository fnrfarid/excel-rma: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_rma_frontend, test_rma_mobile, test_rma_server, pack_rma_server, pack_rma_frontend

.gitlab-ci.yml:

services:
  - name: docker:dind
    alias: docker

stages:
  - tests
  - pack
  - deploy

test_rma_frontend:
  image: registry.gitlab.com/castlecraft/docker-craft/node-latest-headless-chrome:latest
  stage: tests
  cache:
    key: "$CI_JOB_NAME-$CI_COMMIT_REF_SLUG"
    paths:
      - packages/rma-frontend/node_modules/
  only:
    changes:
      - packages/rma-frontend/**/*
    refs:
      - merge_requests
      - master
  before_script:
    - cd packages/rma-frontend
    - npm install
  script:
    # set env variable for test
    - export NODE_ENV=test
    # Check Code Quality
    - npm run lint
    - npm run format:check
    # Test backend unit tests
    - npm run test
    # Test backend e2e
    - npm run e2e
  tags:
    - docker

test_rma_mobile:
  image: registry.gitlab.com/castlecraft/docker-craft/node-latest-headless-chrome:latest
  stage: tests
  cache:
    key: "$CI_JOB_NAME-$CI_COMMIT_REF_SLUG"
    paths:
      - packages/rma-mobile/node_modules/
  only:
    changes:
      - packages/rma-mobile/**/*
    refs:
      - merge_requests
      - master
  before_script:
    - cd packages/rma-mobile
    - npm install
  script:
    # Check Code Quality
    - npm run lint
    - npm run format:check
    # set env variable for test
    - export NODE_ENV=test
    # Test frontend
    - export DISPLAY=:99
    - Xvfb :0 -ac -screen 0 1024x768x24 &
    - npm run test
    - npm run e2e
  tags:
    - docker

test_rma_server:
  image: node:latest
  stage: tests
  cache:
    key: "$CI_JOB_NAME-$CI_COMMIT_REF_SLUG"
    paths:
      - packages/rma-server/node_modules/
  only:
    changes:
      - packages/rma-server/**/*
    refs:
      - merge_requests
      - master
  before_script:
    - cd packages/rma-server
    - npm install
  script:
    # set env variable for test
    - export NODE_ENV=test
    # Check Code Quality
    - npm run lint
    - npm run format:check
    # Test backend unit tests
    - npm run test
    # Test backend e2e
    - npm run test:e2e
  tags:
    - docker

pack_rma_server:
  image: docker
  stage: pack
  only:
    refs:
      - master
    changes:
      - packages/rma-server/**/*
  before_script:
    - apk add git
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
    - export VERSION=$(git tag --list "rma-server@*" --sort=-version:refname | sed -n 1p | sed -e 's#.*@\(\)#\1#')
    - docker build --cache-from $CI_REGISTRY_IMAGE:latest -t rma-server packages/rma-server
    # - docker tag rma-server $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-server:$VERSION
    - docker tag rma-server $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-server:latest
    - docker push $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-server

pack_rma_frontend:
  image: docker
  stage: pack
  only:
    refs:
      - master
    changes:
      - packages/rma-frontend/**/*
  before_script:
    - apk add git
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
    - export VERSION=$(git tag --list "rma-frontend@*" --sort=-version:refname | sed -n 1p | sed -e 's#.*@\(\)#\1#')
    - docker build --cache-from $CI_REGISTRY_IMAGE:latest -t rma-frontend packages/rma-frontend
    # - docker tag rma-frontend $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-frontend:$VERSION
    - docker tag rma-frontend $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-frontend:latest
    - docker push $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-frontend

deploy_staging:
  image: dtzar/helm-kubectl:latest
  only:
    refs:
      - master
  stage: deploy
  variables:
    KUBECONFIG: /etc/deploy/config
  before_script:
    - mkdir -p /etc/deploy
    - echo ${kube_config} | base64 -d > ${KUBECONFIG}
    - kubectl config use-context staging
  script:
    - helm upgrade stg-rma -n staging helm-chart/rma-portal --reuse-values

fix(rma-warranty):Modified Warranty Stock Entry Creation
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.ts
Due: test_rma_server, pack_rma_server

fix(rma-frontend): serial assigned date fix on Serials tab
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
Due: test_rma_frontend, pack_rma_frontend

fix(rma-warranty):Modified Third Party Claim Flow
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
Due: test_rma_server, pack_rma_server

feat(rma-frontend): added backdated invoice control
  packages/rma-frontend/src/app/app.service.ts
  packages/rma-frontend/src/app/constants/storage.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/settings/settings.page.html
  packages/rma-frontend/src/app/settings/settings.page.ts
  packages/rma-frontend/src/app/settings/settings.service.ts
  packages/rma-server/src/system-settings/aggregates/settings/settings.service.ts
  packages/rma-server/src/system-settings/entities/server-settings/server-setting.dto.ts
  packages/rma-server/src/system-settings/entities/server-settings/server-settings.entity.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-frontend): added backdated invoice control 1
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.spec.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma-frontend): added backdated invoice control 2
  packages/rma-frontend/src/app/api/permission/permission.service.ts
  packages/rma-frontend/src/app/app.service.ts
  packages/rma-frontend/src/app/constants/permission-roles.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/settings/settings.page.ts
Due: test_rma_frontend, pack_rma_frontend

fix(rma-warranty):Fixed Warranty Stock Entry
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.ts
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/inline-edit/inline-edit.component.ts
Due: test_rma_server, pack_rma_server

feat(rma-frontend): added backdated invoice control 3
  packages/rma-frontend/src/app/app.service.ts
Due: test_rma_frontend, pack_rma_frontend

fix(rma-server):Modified Serial No Record Creation
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
Due: test_rma_server, pack_rma_server

feat(rma-frontend): added backdated invoice control 4
  packages/rma-frontend/src/app/api/permission/permission.service.ts
  packages/rma-frontend/src/app/app.service.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/settings/settings.page.spec.ts
Due: test_rma_frontend, pack_rma_frontend

Publish
  guard.ts
  packages/rma-frontend/CHANGELOG.md
  packages/rma-frontend/package-lock.json
  packages/rma-frontend/package.json
  packages/rma-server/CHANGELOG.md
  packages/rma-server/package-lock.json
  packages/rma-server/package.json
  packages/rma-warranty/CHANGELOG.md
  packages/rma-warranty/package-lock.json
  packages/rma-warranty/package.json
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

Revert "Merge branch 'feat' into 'develop'"
  packages/rma-frontend/src/app/api/permission/permission.service.ts
  packages/rma-frontend/src/app/app.service.ts
  packages/rma-frontend/src/app/constants/permission-roles.ts
  packages/rma-frontend/src/app/constants/storage.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.spec.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/settings/settings.page.html
  packages/rma-frontend/src/app/settings/settings.page.spec.ts
  packages/rma-frontend/src/app/settings/settings.page.ts
  packages/rma-frontend/src/app/settings/settings.service.ts
  packages/rma-server/src/system-settings/aggregates/settings/settings.service.ts
  packages/rma-server/src/system-settings/entities/server-settings/server-setting.dto.ts
  packages/rma-server/src/system-settings/entities/server-settings/server-settings.entity.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

fix(rma-frontend): removed date permissions from add sales invoice page
  packages/rma-frontend/src/app/api/permission/permission.service.ts
  packages/rma-frontend/src/app/app.service.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
Due: test_rma_frontend, pack_rma_frontend

fix(Excel-rma): Fix partial sales return creation for credit note items
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-return-dto.ts
Due: test_rma_server, pack_rma_server

fix: Add sales return page for credit note
  packages/rma-frontend/src/app/sales-ui/add-sales-return/add-sales-return.page.ts
Due: test_rma_frontend, pack_rma_frontend

Fix: Lint fix
  packages/rma-frontend/src/app/sales-ui/add-sales-return/add-sales-return.page.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma-warranty):Added Bulk Print & Modified Print Flow
  packages/rma-server/src/constants/routes.ts
  packages/rma-server/src/print/aggregates/print-aggregate/print-aggregate.service.spec.ts
  packages/rma-server/src/print/aggregates/print-aggregate/print-aggregate.service.ts
  packages/rma-server/src/print/controller/print/print.controller.ts
  packages/rma-server/src/print/entities/print/print.dto.ts
  packages/rma-server/src/print/print-module.ts
  packages/rma-warranty/src/app/constants/url-strings.ts
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.html
  packages/rma-warranty/src/app/warranty-ui/bulk-warranty-claim/bulk-claim-details/bulk-claim-details.component.html
  packages/rma-warranty/src/app/warranty-ui/bulk-warranty-claim/bulk-claim-details/bulk-claim-details.component.ts
  packages/rma-warranty/src/app/warranty-ui/shared-warranty-modules/print-setting-dialog/print-setting-dialog.html
  packages/rma-warranty/src/app/warranty-ui/shared-warranty-modules/print-setting-dialog/print-setting-dialog.ts
  packages/rma-warranty/src/app/warranty-ui/shared-warranty-modules/shared.module.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/claim-details/claim-details.component.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/claim-details/claim-details.component.ts
  packages/rma-warranty/src/app/warranty-ui/warranty-tabs/warranty.service.ts
Due: test_rma_server, pack_rma_server

feat(rma-warranty):Added Bulk Print & Modified Print Flow
  packages/rma-warranty/angular.json
  packages/rma-warranty/src/app/warranty-ui/warranty-tabs/warranty.service.ts
Due: none

fix(rma-warranty):fixed Warranty Bulk Items
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
Due: test_rma_server, pack_rma_server

fix(rma-warranty):fixed Warranty Bulk Items
  packages/rma-warranty/src/app/service-invoices/service-invoices.page.spec.ts
Due: none

fix(rma-warranty):fixed Warranty Bulk Items
  packages/rma-server/src/constants/routes.ts
  packages/rma-warranty/src/app/warranty-ui/warranty-tabs/warranty.service.ts
Due: test_rma_server, pack_rma_server

fix(rma-warranty):fixed constants
  packages/rma-warranty/src/app/constants/app-string.ts
  packages/rma-warranty/src/app/warranty-ui/warranty-tabs/warranty.service.ts
Due: none

fix(rma-warranty):fixed aggregations
  packages/rma-server/src/print/aggregates/print-aggregate/print-aggregate.service.spec.ts
  packages/rma-server/src/print/aggregates/print-aggregate/print-aggregate.service.ts
  packages/rma-server/src/print/controller/print/print.controller.ts
  packages/rma-server/src/print/entities/print/print.dto.ts
  packages/rma-server/src/service-invoice/entity/service-invoice/service-invoice.service.ts
  packages/rma-warranty/src/app/common/interfaces/warranty.interface.ts
  packages/rma-warranty/src/app/constants/app-string.ts
  packages/rma-warranty/src/app/warranty-ui/bulk-warranty-claim/bulk-claim-details/bulk-claim-details.component.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/claim-details/claim-details.component.ts
  packages/rma-warranty/src/app/warranty-ui/warranty-tabs/warranty.service.ts
Due: test_rma_server, pack_rma_server

fix(rma-warranty):fixed aggregations
  packages/rma-frontend/src/app/app.component.spec.ts
  packages/rma-frontend/src/app/app.service.spec.ts
Due: test_rma_frontend, pack_rma_frontend

fix(rma-warranty):fixed aggregations
  packages/rma-server/src/print/aggregates/print-aggregate/print-aggregate.service.spec.ts
  packages/rma-server/src/print/aggregates/print-aggregate/print-aggregate.service.ts
  packages/rma-server/src/print/controller/print/print.controller.ts
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-server/src/warranty-claim/controllers/warranty-claim/warranty-claim.controller.spec.ts
  packages/rma-server/src/warranty-claim/controllers/warranty-claim/warranty-claim.controller.ts
  packages/rma-warranty/src/app/constants/url-strings.ts
  packages/rma-warranty/src/app/warranty-ui/warranty-tabs/warranty.service.ts
Due: test_rma_server, pack_rma_server

fix(rma-warranty):fixed aggregations
  packages/rma-server/src/warranty-claim/controllers/warranty-claim/warranty-claim.controller.spec.ts
Due: test_rma_server, pack_rma_server

fix(rma-warranty):Print Fixes
  packages/rma-server/src/print/entities/print/print.dto.ts
  packages/rma-server/src/service-invoice/entity/service-invoice/service-invoice.service.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim.entity.ts
  packages/rma-warranty/src/app/common/interfaces/warranty.interface.ts
  packages/rma-warranty/src/app/constants/url-strings.ts
  packages/rma-warranty/src/app/warranty-ui/warranty-tabs/warranty.service.spec.ts
  packages/rma-warranty/src/app/warranty-ui/warranty-tabs/warranty.service.ts
Due: test_rma_server, pack_rma_server

fix(rma-warranty):customer name fix in serail history page
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.ts
  packages/rma-warranty/src/app/serial-ui/serial-info/serial-info.page.ts
  packages/rma-warranty/src/app/serial-ui/serial-search/search-fields.interface.ts
  packages/rma-warranty/src/app/serial-ui/serial-search/serial-search-datasource.ts
  packages/rma-warranty/src/app/serial-ui/serial-search/serial-search.page.html
  packages/rma-warranty/src/app/serial-ui/serial-search/serial-search.service.ts
Due: test_rma_frontend, pack_rma_frontend

fix(rma-warranty):customer name fix in serail history page
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.ts
Due: test_rma_frontend, pack_rma_frontend

Revert "Merge branch 'fix' into 'develop'"
  packages/rma-warranty/src/app/serial-ui/serial-info/serial-info.page.ts
  packages/rma-warranty/src/app/serial-ui/serial-search/search-fields.interface.ts
  packages/rma-warranty/src/app/serial-ui/serial-search/serial-search-datasource.ts
  packages/rma-warranty/src/app/serial-ui/serial-search/serial-search.page.html
  packages/rma-warranty/src/app/serial-ui/serial-search/serial-search.service.ts
Due: none

fix(rma-warranty):customer name fix in serial history page
  packages/rma-warranty/src/app/serial-ui/serial-info/serial-info.page.ts
  packages/rma-warranty/src/app/serial-ui/serial-search/search-fields.interface.ts
  packages/rma-warranty/src/app/serial-ui/serial-search/serial-search-datasource.ts
  packages/rma-warranty/src/app/serial-ui/serial-search/serial-search.page.html
  packages/rma-warranty/src/app/serial-ui/serial-search/serial-search.service.ts
Due: none

fix(rma-warranty):Print Fixes
  packages/rma-warranty/src/app/common/interfaces/warranty.interface.ts
  packages/rma-warranty/src/app/warranty-ui/shared-warranty-modules/service-invoices/add-service-invoice/add-service-invoice.service.ts
  packages/rma-warranty/src/app/warranty-ui/warranty-tabs/warranty.service.ts
Due: none

fix(rma-warranty):Print Fixes
  packages/rma-warranty/src/app/warranty-ui/warranty-tabs/warranty.service.ts
Due: none

feat(rma-warranty):Improved Bulk Claim Creation And Modification
  packages/rma-warranty/src/app/common/interfaces/warranty.interface.ts
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
Due: none

feat(rma-warranty):Bulk Claim and Print modifications
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-server/src/warranty-claim/command/update-warranty-claim/update-warranty-claim.handler.ts
  packages/rma-warranty/src/app/common/interfaces/warranty.interface.ts
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.html
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
  packages/rma-warranty/src/app/warranty-ui/bulk-warranty-claim/bulk-claim-details/bulk-claim-details.component.html
  packages/rma-warranty/src/app/warranty-ui/bulk-warranty-claim/bulk-claim-details/bulk-claim-details.component.scss
  packages/rma-warranty/src/app/warranty-ui/bulk-warranty-claim/bulk-claim-details/bulk-claim-details.component.ts
  packages/rma-warranty/src/app/warranty-ui/warranty-tabs/warranty.service.ts
Due: test_rma_server, pack_rma_server

feat(rma-warranty):Sales Invoice Page Fix
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice.service.ts
Due: test_rma_server, pack_rma_server

feat(rma-warranty):Modified Bulk Claim
  packages/rma-warranty/src/app/warranty-ui/bulk-warranty-claim/bulk-claim-details/bulk-claim-details.component.html
  packages/rma-warranty/src/app/warranty-ui/bulk-warranty-claim/bulk-claim-details/bulk-claim-details.component.scss
  packages/rma-warranty/src/app/warranty-ui/bulk-warranty-claim/bulk-claim-details/bulk-claim-details.component.ts
  packages/rma-warranty/src/app/warranty-ui/warranty-tabs/warranty.service.ts
Due: none

feat(rma-warranty):Updated Claim filters, Validation in Claim and Stock Creation Flow
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-warranty/src/app/common/interfaces/warranty.interface.ts
  packages/rma-warranty/src/app/service-invoices/service-invoices-datasource.ts
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.html
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
  packages/rma-warranty/src/app/warranty-ui/shared-warranty-modules/service-invoices/add-service-invoice/add-service-invoice.service.ts
  packages/rma-warranty/src/app/warranty-ui/shared-warranty-modules/service-invoices/service-invoice-datasource.ts
  packages/rma-warranty/src/app/warranty-ui/warranty-tabs/warranty.service.ts
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.ts
Due: test_rma_server, pack_rma_server
