Repository fnrfarid/excel-rma: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_rma_frontend, test_rma_mobile, test_rma_server, pack_rma_server, pack_rma_frontend

test_rma_frontend:
  image: registry.gitlab.com/castlecraft/docker-craft/node-latest-headless-chrome:latest
  stage: tests
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
    - packages/rma-frontend/node_modules/
  before_script:
  - cd packages/rma-frontend
  - npm install
  script:
  - export NODE_ENV=test
  - npm run lint
  ...

test_rma_mobile:
  image: registry.gitlab.com/castlecraft/docker-craft/node-latest-headless-chrome:latest
  stage: tests
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
    - packages/rma-mobile/node_modules/
  before_script:
  - cd packages/rma-mobile
  - npm install
  script:
  - npm run lint
  - npm run format:check
  ...

test_rma_server:
  image: node:latest
  stage: tests
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
    - packages/rma-server/node_modules/
  before_script:
  - cd packages/rma-server
  - npm install
  script:
  - export NODE_ENV=test
  - npm run lint
  - npm run format:check
  - npm run test
  - npm run test:e2e
  tags:
  - docker

pack_rma_server:
  image: docker
  stage: pack
  before_script:
  - apk add git
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - export VERSION=$(git tag --list "rma-server@*" --sort=-version:refname | sed -n 1p | sed -e 's#.*@\(\)#\1#')
  ...

pack_rma_frontend:
  image: docker
  stage: pack
  before_script:
  - apk add git
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - export VERSION=$(git tag --list "rma-frontend@*" --sort=-version:refname | sed -n 1p | sed -e 's#.*@\(\)#\1#')
  ...

fix(rma-warranty):warranty production fixes
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.service.spec.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/services/stock-entry/stock-entry.service.spec.ts
Due: none

fix(rma-warranty):warranty production fixes
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
Due: none

fix: Update permission-roles.ts
  packages/rma-frontend/src/app/constants/permission-roles.ts
Due: test_rma_frontend, pack_rma_frontend

fix(rma-warranty):warranty production fixes
  packages/rma-server/src/service-invoice/aggregates/service-invoice-aggregate/service-invoice-aggregate.service.ts
  packages/rma-server/src/service-invoice/command/index.ts
  packages/rma-server/src/service-invoice/command/submit-service-invoice/submit-service-invoice.command.ts
  packages/rma-server/src/service-invoice/command/submit-service-invoice/submit-service-invoice.handler.ts
  packages/rma-server/src/service-invoice/controllers/service-invoice/service-invoice.controller.ts
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.ts
  packages/rma-warranty/src/app/constants/url-strings.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.service.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/service-invoices.component.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/service-invoices.component.spec.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/service-invoices.component.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/stock-entry.component.ts
Due: test_rma_server, pack_rma_server

fix(rma-warranty):warranty production fixes
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
Due: test_rma_server, pack_rma_server

fix(rma-server): Claim type filters fixed on Warranty Page
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim.service.ts
Due: test_rma_server, pack_rma_server

fix(rma-server): Claim type filters fixed on Warranty Page 1
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim.service.ts
Due: test_rma_server, pack_rma_server

fix(rma-server): Claim type filters fixed on Warranty Page 2
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim.service.ts
Due: test_rma_server, pack_rma_server

Publish
  packages/rma-frontend/CHANGELOG.md
  packages/rma-frontend/package-lock.json
  packages/rma-frontend/package.json
  packages/rma-server/CHANGELOG.md
  packages/rma-server/package-lock.json
  packages/rma-server/package.json
  packages/rma-warranty/CHANGELOG.md
  packages/rma-warranty/package-lock.json
  packages/rma-warranty/package.json
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

fix(rma-warranty):warranty production fixes
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim.service.ts
Due: test_rma_server, pack_rma_server

fix: Update Stock Entry View Role Permission
  packages/rma-frontend/src/app/constants/permission-roles.ts
Due: test_rma_frontend, pack_rma_frontend

fix(rma-warranty):fixed Naming series
  packages/rma-server/migrations/2021_04_08_bulk_warranty.js
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim.service.ts
Due: test_rma_server, pack_rma_server

fix(rma-warranty):fixed Naming series
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim.service.ts
Due: test_rma_server, pack_rma_server

fix(rma-warranty):migration for Single Naming series & fixed account autocomplete
  packages/rma-server/migrations/2021_04_10_single_warranty.js
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.spec.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.service.ts
Due: test_rma_server, pack_rma_server

feat(Excel-rma): Add migration for thirdparty warranty
  packages/rma-server/migrations/2021_03_10_serial_no.js
  packages/rma-server/migrations/2021_04_11_third_party_customer.js
Due: test_rma_server, pack_rma_server

Fix: Update customer name for reference
  packages/rma-server/migrations/2021_04_11_third_party_customer.js
Due: test_rma_server, pack_rma_server

fix(rma-warranty):3rd Party Customer Migration & Serial and Event Record creation
  packages/rma-server/migrations/2021_04_13_third_party_replace_customer.js
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.spec.ts
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
Due: test_rma_server, pack_rma_server

fix(rma-warranty):3rd Party Customer Migration & Serial and Event Record creation
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
Due: test_rma_server, pack_rma_server

fix(rma-warranty):Modified Bulk warranty claim Flow
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.ts
  packages/rma-warranty/src/app/app-routing.module.ts
  packages/rma-warranty/src/app/constants/app-string.ts
  packages/rma-warranty/src/app/warranty-ui/bulk-warranty-claim/bulk-warranty-claim-routing.module.ts
  packages/rma-warranty/src/app/warranty-ui/bulk-warranty-claim/bulk-warranty-claim.module.ts
  packages/rma-warranty/src/app/warranty-ui/bulk-warranty-claim/bulk-warranty-claim.page.html
  packages/rma-warranty/src/app/warranty-ui/bulk-warranty-claim/bulk-warranty-claim.page.scss
  packages/rma-warranty/src/app/warranty-ui/bulk-warranty-claim/bulk-warranty-claim.page.spec.ts
  packages/rma-warranty/src/app/warranty-ui/bulk-warranty-claim/bulk-warranty-claim.page.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.html
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.html
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.ts
Due: test_rma_server, pack_rma_server

feat(rma:warranty):Received By and Delivered By filters added on Warranty page
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.html
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.ts
Due: none

feat(rma:warranty):Bulk Warranty Page fixed
  packages/rma-warranty/src/app/warranty-ui/bulk-warranty-claim/bulk-claim-details/bulk-claim-details.component.html
  packages/rma-warranty/src/app/warranty-ui/bulk-warranty-claim/bulk-claim-details/bulk-claim-details.component.scss
  packages/rma-warranty/src/app/warranty-ui/bulk-warranty-claim/bulk-claim-details/bulk-claim-details.component.spec.ts
  packages/rma-warranty/src/app/warranty-ui/bulk-warranty-claim/bulk-claim-details/bulk-claim-details.component.ts
  packages/rma-warranty/src/app/warranty-ui/bulk-warranty-claim/bulk-service-invoices/bulk-service-invoices.component.html
  packages/rma-warranty/src/app/warranty-ui/bulk-warranty-claim/bulk-service-invoices/bulk-service-invoices.component.scss
  packages/rma-warranty/src/app/warranty-ui/bulk-warranty-claim/bulk-service-invoices/bulk-service-invoices.component.spec.ts
  packages/rma-warranty/src/app/warranty-ui/bulk-warranty-claim/bulk-service-invoices/bulk-service-invoices.component.ts
  packages/rma-warranty/src/app/warranty-ui/bulk-warranty-claim/bulk-warranty-claim.module.ts
  packages/rma-warranty/src/app/warranty-ui/bulk-warranty-claim/bulk-warranty-claim.page.html
  packages/rma-warranty/src/app/warranty-ui/bulk-warranty-claim/bulk-warranty-claim.page.ts
Due: none

feat(rma:warranty):Bulk Warranty Page fixed 1
  packages/rma-warranty/src/app/warranty-ui/bulk-warranty-claim/bulk-claim-details/bulk-claim-details.component.spec.ts
Due: none

feat(rma:warranty):Bulk Warranty Page fixed 2
  packages/rma-warranty/src/app/warranty-ui/bulk-warranty-claim/bulk-warranty-claim.module.ts
Due: none

feat(rma:warranty):Bulk Warranty Page fixed 3
  packages/rma-warranty/src/app/warranty-ui/bulk-warranty-claim/bulk-claim-details/bulk-claim-details.component.spec.ts
Due: none

fix(rma-warranty):Modified backdated creation of Service Invoice
  packages/rma-server/src/service-invoice/entity/service-invoice/service-invoice-dto.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/service-invoice-interface.ts
Due: test_rma_server, pack_rma_server

feat(rma:warranty):Added total in Service Invoice table
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/service-invoice-datasource.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/service-invoices.component.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/service-invoices.component.scss
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/service-invoices.component.ts
Due: none

fix(rma:warranty): Warranty table pagination fix
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.ts
Due: none

feat(rma:warranty): Service invoice for bulk claims added
  packages/rma-warranty/src/app/warranty-ui/bulk-warranty-claim/bulk-service-invoices/bulk-service-invoices.component.html
  packages/rma-warranty/src/app/warranty-ui/bulk-warranty-claim/bulk-service-invoices/bulk-service-invoices.component.scss
  packages/rma-warranty/src/app/warranty-ui/bulk-warranty-claim/bulk-service-invoices/bulk-service-invoices.component.spec.ts
  packages/rma-warranty/src/app/warranty-ui/bulk-warranty-claim/bulk-service-invoices/bulk-service-invoices.component.ts
  packages/rma-warranty/src/app/warranty-ui/bulk-warranty-claim/bulk-warranty-claim.module.ts
  packages/rma-warranty/src/app/warranty-ui/bulk-warranty-claim/bulk-warranty-claim.page.html
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.scss
Due: none

fix(rma-server):added space for testing
  packages/rma-server/src/service-invoice/aggregates/service-invoice-aggregate/service-invoice-aggregate.service.ts
Due: test_rma_server, pack_rma_server

feat(rma-frontend: added tittle for material transfer)
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.html
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma:warranty): Service invoice added to shared
  packages/rma-warranty/src/app/app-routing.module.ts
  packages/rma-warranty/src/app/warranty-ui/bulk-warranty-claim/bulk-warranty-claim.module.ts
  packages/rma-warranty/src/app/warranty-ui/shared/service-invoices/add-service-invoice/add-service-invoice-routing.module.ts
  packages/rma-warranty/src/app/warranty-ui/shared/service-invoices/add-service-invoice/add-service-invoice.module.ts
  packages/rma-warranty/src/app/warranty-ui/shared/service-invoices/add-service-invoice/add-service-invoice.page.html
  packages/rma-warranty/src/app/warranty-ui/shared/service-invoices/add-service-invoice/add-service-invoice.page.scss
  packages/rma-warranty/src/app/warranty-ui/shared/service-invoices/add-service-invoice/add-service-invoice.page.spec.ts
  packages/rma-warranty/src/app/warranty-ui/shared/service-invoices/add-service-invoice/add-service-invoice.page.ts
  packages/rma-warranty/src/app/warranty-ui/shared/service-invoices/add-service-invoice/add-service-invoice.service.spec.ts
  packages/rma-warranty/src/app/warranty-ui/shared/service-invoices/add-service-invoice/add-service-invoice.service.ts
  packages/rma-warranty/src/app/warranty-ui/shared/service-invoices/add-service-invoice/inline-edit/inline-edit.component.html
  packages/rma-warranty/src/app/warranty-ui/shared/service-invoices/add-service-invoice/inline-edit/inline-edit.component.scss
  packages/rma-warranty/src/app/warranty-ui/shared/service-invoices/add-service-invoice/inline-edit/inline-edit.component.ts
  packages/rma-warranty/src/app/warranty-ui/shared/service-invoices/add-service-invoice/on-key-down-directive.ts
  packages/rma-warranty/src/app/warranty-ui/shared/service-invoices/add-service-invoice/service-invoice-interface.ts
  packages/rma-warranty/src/app/warranty-ui/shared/service-invoices/items-datasource.ts
  packages/rma-warranty/src/app/warranty-ui/shared/service-invoices/service-invoice-datasource.ts
  packages/rma-warranty/src/app/warranty-ui/shared/service-invoices/service-invoices.component.html
  packages/rma-warranty/src/app/warranty-ui/shared/service-invoices/service-invoices.component.scss
  packages/rma-warranty/src/app/warranty-ui/shared/service-invoices/service-invoices.component.spec.ts
  packages/rma-warranty/src/app/warranty-ui/shared/service-invoices/service-invoices.component.ts
  packages/rma-warranty/src/app/warranty-ui/shared/shared.module.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.spec.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/inline-edit/inline-edit.component.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/stock-entry.component.spec.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/stock-entry.component.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/view-warranty-claims.module.ts
Due: none

feat(rma-frontend): removed autocomplete from Item search on item price page.
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.html
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma-frontend): removed space.
  packages/rma-server/src/service-invoice/aggregates/service-invoice-aggregate/service-invoice-aggregate.service.ts
Due: test_rma_server, pack_rma_server

feat(rma-frontend): removed autocomplete statement.
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.html
Due: test_rma_frontend, pack_rma_frontend

fix(rma-frontend): fixed customer name on sales page
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
Due: test_rma_frontend, pack_rma_frontend

feat(rma:warranty): Changed Shared module name
  packages/rma-warranty/src/app/app-routing.module.ts
  packages/rma-warranty/src/app/warranty-ui/bulk-warranty-claim/bulk-warranty-claim.module.ts
  packages/rma-warranty/src/app/warranty-ui/shared-warranty-modules/service-invoices/add-service-invoice/add-service-invoice-routing.module.ts
  packages/rma-warranty/src/app/warranty-ui/shared-warranty-modules/service-invoices/add-service-invoice/add-service-invoice.module.ts
  packages/rma-warranty/src/app/warranty-ui/shared-warranty-modules/service-invoices/add-service-invoice/add-service-invoice.page.html
  packages/rma-warranty/src/app/warranty-ui/shared-warranty-modules/service-invoices/add-service-invoice/add-service-invoice.page.scss
  packages/rma-warranty/src/app/warranty-ui/shared-warranty-modules/service-invoices/add-service-invoice/add-service-invoice.page.spec.ts
  packages/rma-warranty/src/app/warranty-ui/shared-warranty-modules/service-invoices/add-service-invoice/add-service-invoice.page.ts
  packages/rma-warranty/src/app/warranty-ui/shared-warranty-modules/service-invoices/add-service-invoice/add-service-invoice.service.spec.ts
  packages/rma-warranty/src/app/warranty-ui/shared-warranty-modules/service-invoices/add-service-invoice/add-service-invoice.service.ts
  packages/rma-warranty/src/app/warranty-ui/shared-warranty-modules/service-invoices/add-service-invoice/inline-edit/inline-edit.component.html
  packages/rma-warranty/src/app/warranty-ui/shared-warranty-modules/service-invoices/add-service-invoice/inline-edit/inline-edit.component.scss
  packages/rma-warranty/src/app/warranty-ui/shared-warranty-modules/service-invoices/add-service-invoice/inline-edit/inline-edit.component.ts
  packages/rma-warranty/src/app/warranty-ui/shared-warranty-modules/service-invoices/add-service-invoice/on-key-down-directive.ts
  packages/rma-warranty/src/app/warranty-ui/shared-warranty-modules/service-invoices/add-service-invoice/service-invoice-interface.ts
  packages/rma-warranty/src/app/warranty-ui/shared-warranty-modules/service-invoices/items-datasource.ts
  packages/rma-warranty/src/app/warranty-ui/shared-warranty-modules/service-invoices/service-invoice-datasource.ts
  packages/rma-warranty/src/app/warranty-ui/shared-warranty-modules/service-invoices/service-invoices.component.html
  packages/rma-warranty/src/app/warranty-ui/shared-warranty-modules/service-invoices/service-invoices.component.scss
  packages/rma-warranty/src/app/warranty-ui/shared-warranty-modules/service-invoices/service-invoices.component.spec.ts
  packages/rma-warranty/src/app/warranty-ui/shared-warranty-modules/service-invoices/service-invoices.component.ts
  packages/rma-warranty/src/app/warranty-ui/shared-warranty-modules/shared.module.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.spec.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/inline-edit/inline-edit.component.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/stock-entry.component.spec.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/stock-entry.component.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/view-warranty-claims.module.ts
Due: none

feat(rma-frontend): Added Serial number on serials page
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
Due: test_rma_frontend, pack_rma_frontend

fix(rma-frontend): fixed table design on warranty page
  packages/rma-warranty/src/app/warranty-ui/bulk-warranty-claim/bulk-claim-details/bulk-claim-details.component.html
  packages/rma-warranty/src/app/warranty-ui/bulk-warranty-claim/bulk-claim-details/bulk-claim-details.component.scss
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.html
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.scss
Due: none

Path conditions:
  test_rma_frontend: any of: packages/rma-frontend/**/*
  test_rma_mobile: any of: packages/rma-mobile/**/*
  test_rma_server: any of: packages/rma-server/**/*
  pack_rma_server: any of: packages/rma-server/**/*
  pack_rma_frontend: any of: packages/rma-frontend/**/*
