Repository fnrfarid/excel-rma: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_rma_frontend, test_rma_mobile, test_rma_server

.gitlab-ci.yml:

image: registry.gitlab.com/castlecraft/docker-craft/node-latest-headless-chrome:latest

stages:
  - tests

test_rma_frontend:
  stage: tests
  only:
    changes:
      - packages/rma-frontend/**/*
    refs:
      - merge_requests
      - master
  before_script:
    - cd packages/rma-frontend
    - npm install
  script:
    # set env variable for test
    - export NODE_ENV=test
    # Check Code Quality
    - npm run lint
    - npm run format:check
    # Test backend unit tests
    - npm run test
    # Test backend e2e
    - npm run e2e
  tags:
    - docker

test_rma_mobile:
  stage: tests
  only:
    changes:
      - packages/rma-mobile/**/*
    refs:
      - merge_requests
      - master
  before_script:
    - cd packages/rma-mobile
    - npm install
  script:
    # Check Code Quality
    - npm run lint
    - npm run format:check
    # set env variable for test
    - export NODE_ENV=test
    # Test frontend
    - export DISPLAY=:99
    - Xvfb :0 -ac -screen 0 1024x768x24 &
    - npm run test
    - npm run e2e
  tags:
    - docker

test_rma_server:
  stage: tests
  only:
    changes:
      - packages/rma-server/**/*
    refs:
      - merge_requests
      - master
  before_script:
    - cd packages/rma-server
    - npm install
  script:
    # set env variable for test
    - export NODE_ENV=test
    # Check Code Quality
    - npm run lint
    - npm run format:check
    # Test backend unit tests
    - npm run test
    # Test backend e2e
    - npm run test:e2e
  tags:
    - docker

fix(rma-server): Added validation to contact email
  packages/rma-server/src/constants/messages.ts
  packages/rma-server/src/sales-invoice/policies/sales-invoice-policies/sales-invoice-policies.service.ts
Due: test_rma_server

fix(rma-frontend): Fixed FAB in add-sales-invoice
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
Due: test_rma_frontend

feat(rma-server): Added endpoint to set and update default company
  packages/rma-server/src/constants/messages.ts
  packages/rma-server/src/constants/routes.ts
  packages/rma-server/src/system-settings/aggregates/settings/settings.service.ts
  packages/rma-server/src/system-settings/controllers/settings/settings.controller.ts
  packages/rma-server/src/system-settings/controllers/setup/setup.service.ts
  packages/rma-server/src/system-settings/entities/server-settings/server-settings.entity.ts
Due: test_rma_server

feat(rma-frontend): Add blank settings page
  packages/rma-frontend/src/app/app-routing.module.ts
  packages/rma-frontend/src/app/app.component.html
  packages/rma-frontend/src/app/app.component.ts
  packages/rma-frontend/src/app/home/home.page.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/view-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/view-sales-invoice.page.ts
  packages/rma-frontend/src/app/settings/settings.module.ts
  packages/rma-frontend/src/app/settings/settings.page.html
  packages/rma-frontend/src/app/settings/settings.page.scss
  packages/rma-frontend/src/app/settings/settings.page.spec.ts
  packages/rma-frontend/src/app/settings/settings.page.ts
  packages/rma-frontend/src/app/warranty-ui/warranty-tabs/serial-number/serial-number.component.html
  packages/rma-frontend/src/app/warranty-ui/warranty-tabs/warranty-claims/warranty-claims.component.html
Due: test_rma_frontend

feat(rma-frontend): settings page get and update
  packages/rma-frontend/src/app/constants/aap-string.ts
  packages/rma-frontend/src/app/constants/app-string.ts
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/material/material.module.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.ts
  packages/rma-frontend/src/app/settings/settings.module.ts
  packages/rma-frontend/src/app/settings/settings.page.html
  packages/rma-frontend/src/app/settings/settings.page.scss
  packages/rma-frontend/src/app/settings/settings.page.spec.ts
  packages/rma-frontend/src/app/settings/settings.page.ts
  packages/rma-frontend/src/app/settings/settings.service.spec.ts
  packages/rma-frontend/src/app/settings/settings.service.ts
Due: test_rma_frontend

feat(rma-server): relay erpnext companies
  packages/rma-server/src/system-settings/aggregates/settings/settings.service.ts
  packages/rma-server/src/system-settings/controllers/settings/settings.controller.ts
Due: test_rma_server

feat(rma-frontend): add system manager guard
  packages/rma-frontend/src/app/app-routing.module.ts
  packages/rma-frontend/src/app/app.module.ts
  packages/rma-frontend/src/app/common/guards/system-manager.guard.ts
  packages/rma-frontend/src/app/constants/app-string.ts
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/settings/settings.page.html
Due: test_rma_frontend

feat(excel-rma):Added delivery-note Entity
  packages/rma-server/src/app.module.ts
  packages/rma-server/src/delivery-note/controller/delivery-note.controller.spec.ts
  packages/rma-server/src/delivery-note/controller/delivery-note.controller.ts
  packages/rma-server/src/delivery-note/entity/delivery-note-invoice.module.ts
  packages/rma-server/src/delivery-note/entity/delivery-note-service/delivery-note-webhook.interface.ts
  packages/rma-server/src/delivery-note/entity/delivery-note-service/delivery-note.entity.ts
  packages/rma-server/src/delivery-note/entity/delivery-note-service/delivery-note.service.spec.ts
  packages/rma-server/src/delivery-note/entity/delivery-note-service/delivery-note.service.ts
Due: test_rma_server

feat(rma-frontend): Added Customer autocomplete
  packages/rma-frontend/src/app/app.service.ts
  packages/rma-frontend/src/app/constants/storage.ts
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/material/material.module.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.scss
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.spec.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.html
  packages/rma-frontend/src/app/settings/settings.page.ts
Due: test_rma_frontend

feat(excel-rma):fixed changes
  packages/rma-server/src/delivery-note/entity/delivery-note-service/delivery-note-webhook.dto.ts
  packages/rma-server/src/delivery-note/entity/delivery-note-service/delivery-note.entity.ts
Due: test_rma_server

wip(rma-frontend): Changing SI Serial Tab UI
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.spec.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.scss
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/view-sales-invoice.module.ts
Due: test_rma_frontend

feat(excel-rma): Added policies for assigning serial for delivery
  packages/rma-server/src/constants/messages.ts
  packages/rma-server/src/item/entity/item/item.service.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice.entity.ts
  packages/rma-server/src/serial-no/aggregates/serial-no-aggregate/serial-no-aggregate.service.spec.ts
  packages/rma-server/src/serial-no/aggregates/serial-no-aggregate/serial-no-aggregate.service.ts
  packages/rma-server/src/serial-no/aggregates/serial-no-webhook-aggregate/serial-no-webhook-aggregate.service.ts
  packages/rma-server/src/serial-no/command/assign-serial-no/assign-serial-no-command.handler.ts
  packages/rma-server/src/serial-no/command/assign-serial-no/assign-serial-no.command.ts
  packages/rma-server/src/serial-no/command/index.ts
  packages/rma-server/src/serial-no/command/update-customer/update-customer.command.ts
  packages/rma-server/src/serial-no/controllers/serial-no/serial-no.controller.ts
  packages/rma-server/src/serial-no/entity/serial-no/assign-serial-dto.ts
  packages/rma-server/src/serial-no/entity/serial-no/serial-no.entity.ts
  packages/rma-server/src/serial-no/entity/serial-no/serial-no.service.ts
  packages/rma-server/src/serial-no/policies/assign-serial-no-policies/assign-serial-no-policies.service.spec.ts
  packages/rma-server/src/serial-no/policies/assign-serial-no-policies/assign-serial-no-policies.service.ts
  packages/rma-server/src/serial-no/serial-no.module.ts
  packages/rma-server/src/supplier/entity/supplier/supplier.service.ts
Due: test_rma_server

refactor(rma-server): organize delivery note module
  packages/rma-server/src/app.module.ts
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/constants/routes.ts
  packages/rma-server/src/constants/typeorm.connection.ts
  packages/rma-server/src/delivery-note/aggregates/delivery-note-aggregate/delivery-note-aggregate.service.spec.ts
  packages/rma-server/src/delivery-note/aggregates/delivery-note-aggregate/delivery-note-aggregate.service.ts
  packages/rma-server/src/delivery-note/controller/delivery-note.controller.spec.ts
  packages/rma-server/src/delivery-note/controller/delivery-note.controller.ts
  packages/rma-server/src/delivery-note/delivery-note.module.ts
  packages/rma-server/src/delivery-note/entity/delivery-note-invoice.module.ts
  packages/rma-server/src/delivery-note/entity/delivery-note-service/delivery-note.entity.ts
  packages/rma-server/src/delivery-note/entity/delivery-note-service/delivery-note.service.spec.ts
  packages/rma-server/src/delivery-note/entity/delivery-note-service/delivery-note.service.ts
Due: test_rma_server

feat(rma-frontend): show settings page only to system manager
  packages/rma-frontend/src/app/app.component.html
  packages/rma-frontend/src/app/app.component.spec.ts
  packages/rma-frontend/src/app/app.component.ts
  packages/rma-frontend/src/app/app.service.ts
Due: test_rma_frontend

feat(rma-frontend): Added Edit table to assign serials
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/edit-table/edit-table.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/edit-table/edit-table.component.scss
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/edit-table/edit-table.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/edit-table/edit-table.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.scss
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/view-sales-invoice.module.ts
Due: test_rma_frontend

feat(rma-server): Added flow to submit delivery note
  packages/rma-server/src/constants/routes.ts
  packages/rma-server/src/delivery-note/aggregates/delivery-note-aggregate/delivery-note-aggregate.service.spec.ts
  packages/rma-server/src/delivery-note/aggregates/delivery-note-aggregate/delivery-note-aggregate.service.ts
  packages/rma-server/src/delivery-note/aggregates/index.ts
  packages/rma-server/src/delivery-note/delivery-note.module.ts
  packages/rma-server/src/delivery-note/entity/delivery-note-service/create-delivery-note-interface.ts
  packages/rma-server/src/delivery-note/entity/delivery-note-service/delivery-note-response-interface.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice.entity.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice.service.ts
  packages/rma-server/src/serial-no/aggregates/serial-no-aggregate/serial-no-aggregate.service.spec.ts
  packages/rma-server/src/serial-no/aggregates/serial-no-aggregate/serial-no-aggregate.service.ts
  packages/rma-server/src/serial-no/command/assign-serial-no/assign-serial-no-command.handler.ts
  packages/rma-server/src/serial-no/command/assign-serial-no/assign-serial-no.command.ts
  packages/rma-server/src/serial-no/controllers/serial-no/serial-no.controller.ts
  packages/rma-server/src/serial-no/entity/serial-no/assign-serial-dto.ts
  packages/rma-server/src/serial-no/entity/serial-no/serial-no.entity.ts
  packages/rma-server/src/serial-no/entity/serial-no/serial-no.service.ts
  packages/rma-server/src/serial-no/policies/assign-serial-no-policies/assign-serial-no-policies.service.ts
  packages/rma-server/src/serial-no/serial-no.module.ts
Due: test_rma_server

fix(rma-server): Fixed policy for item validation
  packages/rma-server/src/serial-no/policies/assign-serial-no-policies/assign-serial-no-policies.service.ts
Due: test_rma_server

fix(rma-server): Fixed mapping for delivery-note on SI
  packages/rma-server/src/delivery-note/aggregates/delivery-note-aggregate/delivery-note-aggregate.service.ts
Due: test_rma_server

feat(rma-frontend): Serial gets assigned on ERP through submit
  packages/rma-frontend/src/app/common/interfaces/sales.interface.ts
  packages/rma-frontend/src/app/constants/messages.ts
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.scss
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
Due: test_rma_frontend

feat(excel-rma):merge conflict solved
  packages/rma-server/src/app.module.ts
  packages/rma-server/src/constants/messages.ts
  packages/rma-server/src/constants/routes.ts
  packages/rma-server/src/constants/webhook-data.ts
  packages/rma-server/src/delivery-note/aggregates/delivery-note-webhook-aggregate/delivery-note-webhook-aggregate.service.spec.ts
  packages/rma-server/src/delivery-note/aggregates/delivery-note-webhook-aggregate/delivery-note-webhook-aggregate.service.ts
  packages/rma-server/src/delivery-note/aggregates/index.ts
  packages/rma-server/src/delivery-note/controller/delivery-note-webhook/delivery-note-webhook.controller.spec.ts
  packages/rma-server/src/delivery-note/controller/delivery-note-webhook/delivery-note-webhook.controller.ts
  packages/rma-server/src/delivery-note/delivery-note.module.ts
  packages/rma-server/src/delivery-note/entity/delivery-note-invoice.module.ts
  packages/rma-server/src/delivery-note/entity/delivery-note-service/delivery-note-webhook.dto.ts
  packages/rma-server/src/delivery-note/entity/delivery-note-service/delivery-note.entity.ts
  packages/rma-server/src/delivery-note/entity/delivery-note-service/delivery-note.service.ts
  packages/rma-server/src/system-settings/aggregates/settings/settings.service.ts
Due: test_rma_server

feat(excel-rma):merge conflict solved
  packages/rma-server/src/app.module.ts
  packages/rma-server/src/delivery-note/aggregates/delivery-note-aggregate/delivery-note-aggregate.service.ts
  packages/rma-server/src/delivery-note/aggregates/index.ts
  packages/rma-server/src/delivery-note/controller/delivery-note-webhook/delivery-note-webhook.controller.ts
  packages/rma-server/src/delivery-note/delivery-note.module.ts
  packages/rma-server/src/delivery-note/entity/delivery-note-service/delivery-note.entity.ts
  packages/rma-server/src/delivery-note/entity/delivery-note-service/delivery-note.service.ts
Due: test_rma_server

feat(rma-frontend): Navigation from SI listing to add SI / view SI changes based on roles
  packages/rma-frontend/src/app/app-routing.module.ts
  packages/rma-frontend/src/app/app.component.ts
  packages/rma-frontend/src/app/app.service.ts
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.spec.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.ts
  packages/rma-frontend/src/app/settings/settings.service.ts
Due: test_rma_frontend

feat(rma-frontend): Populate SI data while updating SI
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.scss
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/items-datasource.ts
Due: test_rma_frontend

feat(excel-rma):Added spec file
  packages/rma-server/src/delivery-note/entity/delivery-note-service/delivery-note.service.spec.ts
Due: test_rma_server

feat(rma-frontend): Tabs working with mat-table
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.html
Due: test_rma_frontend

feat(rma-server):fixed folder structure of deliver note
  packages/rma-server/src/app.module.ts
  packages/rma-server/src/delivery-note/controller/delivery-note/delivery-note.controller.spec.ts
  packages/rma-server/src/delivery-note/controller/delivery-note/delivery-note.controller.ts
  packages/rma-server/src/delivery-note/delivery-note.module.ts
  packages/rma-server/src/delivery-note/entity/delivery-note-entity.module.ts
Due: test_rma_server

feat(rma-server):fixed errors
  packages/rma-server/src/delivery-note/delivery-note.module.ts
  packages/rma-server/src/delivery-note/entity/delivery-note-entity.module.ts
Due: test_rma_server

feat(rma-server): relay frappe command
  packages/rma-server/package-lock.json
  packages/rma-server/package.json
  packages/rma-server/src/app.module.ts
  packages/rma-server/src/command/aggregates/command/command.service.spec.ts
  packages/rma-server/src/command/aggregates/command/command.service.ts
  packages/rma-server/src/command/command.module.ts
  packages/rma-server/src/command/controllers/command/command.controller.spec.ts
  packages/rma-server/src/command/controllers/command/command.controller.ts
  packages/rma-server/src/constants/http-method.enum.ts
  packages/rma-server/src/constants/messages.ts
Due: test_rma_server

feat(rma-server): Added updated dependencies for rma-server
  packages/rma-server/package-lock.json
  packages/rma-server/package.json
Due: test_rma_server

feat(rma-server): Updated endpoint to accept multiple serials for an item
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.spec.ts
  packages/rma-server/src/constants/messages.ts
  packages/rma-server/src/constants/routes.ts
  packages/rma-server/src/delivery-note/aggregates/delivery-note-aggregate/delivery-note-aggregate.service.ts
  packages/rma-server/src/delivery-note/entity/delivery-note-service/create-delivery-note-interface.ts
  packages/rma-server/src/serial-no/aggregates/serial-no-aggregate/serial-no-aggregate.service.ts
  packages/rma-server/src/serial-no/entity/serial-no/assign-serial-dto.ts
  packages/rma-server/src/serial-no/policies/assign-serial-no-policies/assign-serial-no-policies.service.ts
Due: test_rma_frontend, test_rma_server

feat(rma-frontend): Wired update SI endpoint
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.spec.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.ts
Due: test_rma_frontend

feat: set default selling pricelist in settings
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/settings/settings.page.html
  packages/rma-frontend/src/app/settings/settings.page.spec.ts
  packages/rma-frontend/src/app/settings/settings.page.ts
  packages/rma-frontend/src/app/settings/settings.service.ts
  packages/rma-server/src/system-settings/entities/server-settings/server-setting.dto.ts
  packages/rma-server/src/system-settings/entities/server-settings/server-settings.entity.ts
Due: test_rma_frontend, test_rma_server

feat(rma-server): add validated territory and warehouse
  packages/rma-server/src/constants/routes.ts
  packages/rma-server/src/constants/typeorm.connection.ts
  packages/rma-server/src/customer/aggregates/index.ts
  packages/rma-server/src/customer/aggregates/territory-aggregate/territory-aggregate.service.spec.ts
  packages/rma-server/src/customer/aggregates/territory-aggregate/territory-aggregate.service.ts
  packages/rma-server/src/customer/controllers/territory/territory.controller.spec.ts
  packages/rma-server/src/customer/controllers/territory/territory.controller.ts
  packages/rma-server/src/customer/customer.module.ts
  packages/rma-server/src/customer/entity/entity.module.ts
  packages/rma-server/src/customer/entity/territory/territory-dto.ts
  packages/rma-server/src/customer/entity/territory/territory.entity.ts
  packages/rma-server/src/customer/entity/territory/territory.service.spec.ts
  packages/rma-server/src/customer/entity/territory/territory.service.ts
  packages/rma-server/src/customer/entity/territory/update-territory-dto.ts
Due: test_rma_server

feat(rma-server): Added listing filters for tabs in SI
  packages/rma-server/src/constants/messages.ts
  packages/rma-server/src/constants/query.ts
  packages/rma-server/src/credit-note/controller/credit-note.controller.ts
  packages/rma-server/src/credit-note/credit-note-service/credit-note.service.ts
  packages/rma-server/src/delivery-note/aggregates/delivery-note-aggregate/delivery-note-aggregate.service.ts
  packages/rma-server/src/delivery-note/controller/delivery-note/delivery-note.controller.ts
  packages/rma-server/src/return-voucher/controller/return-voucher.controller.ts
  packages/rma-server/src/return-voucher/return-voucher-service/return-voucher.service.ts
Due: test_rma_server

feat(rma-frontend): Added total row when adding/updating SI
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.scss
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
Due: test_rma_frontend

feat(rma-frontend): Auto populate Sales Item Price
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/inline-edit/inline-edit.component.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
Due: test_rma_frontend

feat(rma-server): Updated webhook with customer name
  packages/rma-server/src/customer/aggregates/customer-webhook-aggregate/customer-webhook-aggregate.service.ts
Due: test_rma_server

feat: territory list and search on settings page
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/settings/settings.page.html
  packages/rma-frontend/src/app/settings/settings.page.spec.ts
  packages/rma-frontend/src/app/settings/settings.page.ts
  packages/rma-frontend/src/app/settings/settings.service.ts
  packages/rma-frontend/src/app/settings/territory-datasource.ts
  packages/rma-frontend/src/index.html
  packages/rma-server/src/customer/aggregates/territory-aggregate/territory-aggregate.service.ts
Due: test_rma_frontend, test_rma_server

chore: npm package lock changes
  package-lock.json
Due: none

feat(rma-frontend): Added delete button for items in SalesInvoice
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.scss
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/edit-table/edit-table.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
Due: test_rma_frontend
