Repository fnrfarid/excel-rma: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_rma_frontend, test_rma_mobile, test_rma_server, pack_rma_server, pack_rma_frontend

test_rma_frontend:
  image: registry.gitlab.com/castlecraft/docker-craft/node-latest-headless-chrome:latest
  stage: tests
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
    - packages/rma-frontend/node_modules/
  before_script:
  - cd packages/rma-frontend
  - npm install
  script:
  - export NODE_ENV=test
  - npm run lint
  ...

test_rma_mobile:
  image: registry.gitlab.com/castlecraft/docker-craft/node-latest-headless-chrome:latest
  stage: tests
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
    - packages/rma-mobile/node_modules/
  before_script:
  - cd packages/rma-mobile
  - npm install
  script:
  - npm run lint
  - npm run format:check
  ...

test_rma_server:
  image: node:latest
  stage: tests
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
    - packages/rma-server/node_modules/
  before_script:
  - cd packages/rma-server
  - npm install
  script:
  - export NODE_ENV=test
  - npm run lint
  - npm run format:check
  - npm run test
  - npm run test:e2e
  tags:
  - docker

pack_rma_server:
  image: docker
  stage: pack
  before_script:
  - apk add git
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - export VERSION=$(git tag --list "rma-server@*" --sort=-version:refname | sed -n 1p | sed -e 's#.*@\(\)#\1#')
  ...

pack_rma_frontend:
  image: docker
  stage: pack
  before_script:
  - apk add git
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - export VERSION=$(git tag --list "rma-frontend@*" --sort=-version:refname | sed -n 1p | sed -e 's#.*@\(\)#\1#')
  ...

feat(rma-frontend):Fixed Changes
  packages/rma-frontend/src/app/common/interfaces/warranty.interface.ts
  packages/rma-frontend/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim-dto.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim.entity.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-frontend):Modified Status History page
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/status-history/status-history.component.html
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/status-history/status-history.component.spec.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/status-history/status-history.component.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/view-warranty-claims.page.html
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/view-warranty-claims.page.spec.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/view-warranty-claims.page.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/view-warranty.service.spec.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/view-warranty.service.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma-server):Added endpoint add_status_history
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-server/src/warranty-claim/command/add-status-history/add-status-history.command.ts
  packages/rma-server/src/warranty-claim/command/add-status-history/add-status-history.handler.ts
  packages/rma-server/src/warranty-claim/command/index.ts
  packages/rma-server/src/warranty-claim/controllers/warranty-claim/warranty-claim.controller.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/status-history-dto.ts
Due: test_rma_server, pack_rma_server

feat(rma-server):Fixed Changes
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
Due: test_rma_server, pack_rma_server

feat(rma-frontend): Fix bug where customer profile was not working on single customer
  packages/rma-frontend/src/app/api/permission/permission.service.ts
  packages/rma-frontend/src/app/app.component.ts
  packages/rma-frontend/src/app/app.module.ts
  packages/rma-frontend/src/app/constants/app-string.ts
  packages/rma-frontend/src/app/customer-profile/customer-profile.page.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma-frontend): Add permission management to components
  packages/rma-frontend/src/app/api/permission/permission.service.ts
  packages/rma-frontend/src/app/app.component.html
  packages/rma-frontend/src/app/app.component.ts
  packages/rma-frontend/src/app/constants/permission-roles.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma-frontned): Add stock availability to stock entry items
  packages/rma-frontend/src/app/app.component.html
  packages/rma-frontend/src/app/constants/permission-roles.ts
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/items-datasource.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.html
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
Due: test_rma_frontend, pack_rma_frontend

lint fix
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.ts
Due: test_rma_frontend, pack_rma_frontend

fix(rma):Fixed add warranty claim page
  packages/rma-frontend/src/app/common/interfaces/warranty.interface.ts
  packages/rma-frontend/src/app/constants/messages.ts
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.html
  packages/rma-frontend/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.spec.ts
  packages/rma-frontend/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
  packages/rma-frontend/src/app/warranty-ui/add-warranty-claim/add-warranty.service.ts
  packages/rma-server/src/constants/messages.ts
  packages/rma-server/src/item/entity/item/item-webhook-interface.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma):Fixed Changes
  packages/rma-frontend/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
Due: test_rma_frontend, pack_rma_frontend

feat(excel-rma): Add name/ID to stock entries
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.html
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
  packages/rma-frontend/src/app/stock-entry/stock-entry-list/stock-entry-list.page.html
  packages/rma-frontend/src/app/stock-entry/stock-entry-list/stock-entry-list.page.ts
  packages/rma-server/src/stock-entry/aggregates/stock-entry-aggregate/stock-entry-aggregate.service.ts
  packages/rma-server/src/stock-entry/controller/stock-entry.controller.ts
  packages/rma-server/src/stock-entry/schedular/accept-stock-entry-sync/accept-stock-entry-sync.service.spec.ts
  packages/rma-server/src/stock-entry/schedular/accept-stock-entry-sync/accept-stock-entry-sync.service.ts
  packages/rma-server/src/stock-entry/schedular/stock-entry-sync/stock-entry-sync.service.ts
  packages/rma-server/src/stock-entry/stock-entry.module.ts
  packages/rma-server/src/stock-entry/stock-entry/stock-entry-dto.ts
  packages/rma-server/src/stock-entry/stock-entry/stock-entry.entity.ts
  packages/rma-server/src/stock-entry/stock-entry/stock-entry.service.ts
  packages/rma-server/src/sync/schedular/frappe-jobs-queue/frappe-jobs-queue.service.spec.ts
  packages/rma-server/src/sync/schedular/frappe-jobs-queue/frappe-jobs-queue.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-frontend): Filter group warehouse in warehouse list
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma-frontend): Add duplicate warehouse check
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma-server): Add filter to stock entry
  docker/backing-services/docker-compose-mongo.yml
  packages/rma-frontend/src/app/app.component.html
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.html
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
  packages/rma-frontend/src/app/stock-entry/services/stock-entry/stock-entry.service.ts
  packages/rma-frontend/src/app/stock-entry/stock-entry-list/stock-entry-list.page.html
  packages/rma-frontend/src/app/stock-entry/stock-entry-list/stock-entry-list.page.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice.service.ts
  packages/rma-server/src/stock-entry/aggregates/stock-entry-aggregate/stock-entry-aggregate.service.spec.ts
  packages/rma-server/src/stock-entry/aggregates/stock-entry-aggregate/stock-entry-aggregate.service.ts
  packages/rma-server/src/stock-entry/controller/stock-entry.controller.ts
  packages/rma-server/src/stock-entry/stock-entry/stock-entry.entity.ts
  packages/rma-server/src/stock-entry/stock-entry/stock-entry.service.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(excel-rma): Add multiple warehouses to a terretory
  packages/rma-frontend/src/app/material/material.module.ts
  packages/rma-frontend/src/app/settings/map-territory/map-territory.component.ts
  packages/rma-frontend/src/app/settings/settings.page.html
  packages/rma-frontend/src/app/settings/settings.page.ts
  packages/rma-frontend/src/app/settings/settings.service.ts
  packages/rma-frontend/src/app/settings/territory-datasource.ts
  packages/rma-server/src/auth/aggregates/connect/connect.service.spec.ts
  packages/rma-server/src/auth/aggregates/connect/connect.service.ts
  packages/rma-server/src/auth/auth.module.ts
  packages/rma-server/src/auth/entities/token-cache/token-cache.entity.ts
  packages/rma-server/src/auth/guards/token.guard.ts
  packages/rma-server/src/customer/aggregates/territory-aggregate/territory-aggregate.service.ts
  packages/rma-server/src/customer/controllers/territory/territory.controller.ts
  packages/rma-server/src/customer/entity/territory/territory.entity.ts
  packages/rma-server/src/customer/entity/territory/territory.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-server):Wired endpoint create add_status_history
  packages/rma-frontend/src/app/common/interfaces/warranty.interface.ts
  packages/rma-frontend/src/app/constants/app-string.ts
  packages/rma-frontend/src/app/constants/messages.ts
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/status-history/status-history.component.html
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/status-history/status-history.component.scss
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/status-history/status-history.component.spec.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/status-history/status-history.component.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/status-history/status-history.service.spec.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/status-history/status-history.service.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma):Added Status History Delete feature
  packages/rma-frontend/src/app/constants/messages.ts
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/status-history/status-history.component.html
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/status-history/status-history.component.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/status-history/status-history.service.ts
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-server/src/warranty-claim/command/index.ts
  packages/rma-server/src/warranty-claim/command/remove-status-history/remove-status-history.command.ts
  packages/rma-server/src/warranty-claim/command/remove-status-history/remove-status-history.handler.ts
  packages/rma-server/src/warranty-claim/controllers/warranty-claim/warranty-claim.controller.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-frontend):Modified Status History Page
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/status-history/status-history.component.html
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/status-history/status-history.component.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma-frontend):Fixed Changes
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/status-history/status-history.component.html
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/status-history/status-history.component.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma-frontend):Fixed Changes
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/status-history/status-history.component.html
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/view-warranty-claims.page.html
Due: test_rma_frontend, pack_rma_frontend

feat(rma-frontend):Added Stock entry creation page
  packages/rma-frontend/src/app/app-routing.module.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry-routing.module.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.module.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.html
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.scss
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.spec.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/stock-entry.component.html
Due: test_rma_frontend, pack_rma_frontend

feat(excel-rma): Update data import and csv template
  packages/rma-frontend/src/app/job-ui/jobs/jobs.page.ts
  packages/rma-frontend/src/app/job-ui/view-single-job/view-single-job.page.html
  packages/rma-frontend/src/app/job-ui/view-single-job/view-single-job.page.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials-datasource.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/constants/routes.ts
  packages/rma-server/src/delivery-note/schedular/delivery-note-job/delivery-note-job.service.ts
  packages/rma-server/src/purchase-receipt/entity/purchase-receipt-dto.ts
  packages/rma-server/src/purchase-receipt/schedular/purchase-receipt-sync/purchase-receipt-sync.service.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/serial-no/entity/serial-no/assign-serial-dto.ts
  packages/rma-server/src/sync/aggregates/data-import/data-import.interface.ts
  packages/rma-server/src/sync/aggregates/data-import/data-import.service.ts
  packages/rma-server/src/sync/aggregates/job-queue-aggregate/job-queue-aggregate.service.ts
  packages/rma-server/src/sync/assets/data_import_template.ts
  packages/rma-server/src/sync/entities/agenda-job/json-to-csv-parser.service.ts
  packages/rma-server/src/sync/schedular/frappe-sync-data-import-jobs-queue/frappe-sync-data-import-jobs-queue.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-frontned): Merge items together for same item
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/assign-non-serials-item-dialog.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/assign-serials-dialog.html
  packages/rma-frontend/src/app/stock-entry/material-transfer/add-item-dialog.html
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma-frontend):Modified Stock entry creation page
  packages/rma-frontend/src/app/app-routing.module.ts
  packages/rma-frontend/src/app/common/interfaces/sales.interface.ts
  packages/rma-frontend/src/app/common/interfaces/warranty.interface.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.module.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.html
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.scss
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.spec.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/inline-edit/inline-edit.component.html
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/inline-edit/inline-edit.component.scss
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/inline-edit/inline-edit.component.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/on-key-down-directive.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/stock-entry.service.spec.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/stock-entry.service.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/stock-entry.component.html
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/stock-entry.component.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/view-warranty-claims.page.html
Due: test_rma_frontend, pack_rma_frontend

feat(rma-frontend):Fixed Changes
  packages/rma-frontend/src/app/constants/app-string.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.service.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.module.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.spec.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/inline-edit/inline-edit.component.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/on-key-down-directive.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/stock-entry.service.spec.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/stock-entry.service.ts
Due: test_rma_frontend, pack_rma_frontend

feat(excel-rma): Add updated naming series for doctypes
  packages/rma-frontend/src/app/api/storage/storage.service.ts
  packages/rma-server/src/constants/app-strings.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

ci: change deploy server
  .gitlab-ci.yml
Due: none

feat(rma-frontend):Fixed Changes
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.html
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.ts
Due: test_rma_frontend, pack_rma_frontend

fix(rma-server): Fix typo for naming series
  packages/rma-server/src/constants/app-strings.ts
Due: test_rma_server, pack_rma_server

wip
  packages/rma-frontend/src/app/app.component.ts
  packages/rma-frontend/src/app/constants/app-string.ts
  packages/rma-frontend/src/app/home/home.page.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.html
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.datasource.ts
  packages/rma-server/src/auth/aggregates/connect/connect.service.ts
  packages/rma-server/src/stock-entry/stock-entry/stock-entry-dto.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

chore: vscode devcontainer
  .devcontainer/Dockerfile
  .devcontainer/createdatabases.sh
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  packages/rma-frontend/package.json
  packages/rma-server/env-devcontainer
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-frontend):Modified Stock Entry Page
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.service.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.html
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/inline-edit/inline-edit.component.html
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/inline-edit/inline-edit.component.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma-frontend):fix
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.html
Due: test_rma_frontend, pack_rma_frontend

fix(rma-server):fixed serial_no query name
  packages/rma-server/src/serial-no/controllers/serial-no/serial-no.controller.ts
  packages/rma-server/src/serial-no/query/get-direct-serial-no/retrieve-direct-serial-no-query.handler.ts
  packages/rma-server/src/serial-no/query/get-direct-serial-no/retrieve-direct-serial-no.query.ts
  packages/rma-server/src/serial-no/query/index.ts
Due: test_rma_server, pack_rma_server

fix: credit limit retry on ERPNext validation failure
  packages/rma-server/src/customer/schedulers/reset-credit-limit/reset-credit-limit.service.ts
Due: test_rma_server, pack_rma_server

feat(excel-rma): Add name insted of naming series for customer and supplier
  docker/backing-services/docker-compose-mongo.yml
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.html
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice-dto.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice-update-dto.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice.entity.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

Fix: Lint fix
  packages/rma-frontend/src/app/app.component.ts
  packages/rma-frontend/src/app/home/home.page.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
Due: test_rma_frontend, pack_rma_frontend

Path conditions:
  test_rma_frontend: any of: packages/rma-frontend/**/*
  test_rma_mobile: any of: packages/rma-mobile/**/*
  test_rma_server: any of: packages/rma-server/**/*
  pack_rma_server: any of: packages/rma-server/**/*
  pack_rma_frontend: any of: packages/rma-frontend/**/*
