Repository fnrfarid/excel-rma: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_rma_frontend, test_rma_mobile, test_rma_server

.gitlab-ci.yml:

image: registry.gitlab.com/castlecraft/docker-craft/node-latest-headless-chrome:latest

stages:
  - tests

test_rma_frontend:
  stage: tests
  only:
    changes:
      - packages/rma-frontend/**/*
    refs:
      - merge_requests
      - master
  before_script:
    - cd packages/rma-frontend
    - npm install
  script:
    # set env variable for test
    - export NODE_ENV=test
    # Check Code Quality
    - npm run lint
    - npm run format:check
    # Test backend unit tests
    - npm run test
    # Test backend e2e
    - npm run e2e
  tags:
    - docker

test_rma_mobile:
  stage: tests
  only:
    changes:
      - packages/rma-mobile/**/*
    refs:
      - merge_requests
      - master
  before_script:
    - cd packages/rma-mobile
    - npm install
  script:
    # Check Code Quality
    - npm run lint
    - npm run format:check
    # set env variable for test
    - export NODE_ENV=test
    # Test frontend
    - export DISPLAY=:99
    - Xvfb :0 -ac -screen 0 1024x768x24 &
    - npm run test
    - npm run e2e
  tags:
    - docker

test_rma_server:
  stage: tests
  only:
    changes:
      - packages/rma-server/**/*
    refs:
      - merge_requests
      - master
  before_script:
    - cd packages/rma-server
    - npm install
  script:
    # set env variable for test
    - export NODE_ENV=test
    # Check Code Quality
    - npm run lint
    - npm run format:check
    # Test backend unit tests
    - npm run test
    # Test backend e2e
    - npm run test:e2e
  tags:
    - docker

chores(rma-frontend): Added more input fields in add-sales-invoice
  packages/rma-frontend/src/app/app.component.html
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/theme/variables.scss
Due: test_rma_frontend

feat(rma-frontend): Added stub UI to create warranty claim
  packages/rma-frontend/src/app/app-routing.module.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/inline-edit/inline-edit.component.ts
  packages/rma-frontend/src/app/warranty-ui/bulk-serial/bulk-serial.module.ts
  packages/rma-frontend/src/app/warranty-ui/bulk-serial/bulk-serial.page.html
  packages/rma-frontend/src/app/warranty-ui/bulk-serial/bulk-serial.page.scss
  packages/rma-frontend/src/app/warranty-ui/bulk-serial/bulk-serial.page.spec.ts
  packages/rma-frontend/src/app/warranty-ui/bulk-serial/bulk-serial.page.ts
  packages/rma-frontend/src/app/warranty-ui/warranty-ui.module.ts
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.page.html
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.page.ts
Due: test_rma_frontend

feat(rma-frontend): Added view-sales-invoice page
  packages/rma-frontend/src/app/app-routing.module.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.scss
  packages/rma-frontend/src/app/sales-ui/sales-ui.module.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales.module.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.spec.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/accounts/accounts.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/accounts/accounts.component.scss
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/accounts/accounts.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/accounts/accounts.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/credit-notes/credit-notes.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/credit-notes/credit-notes.component.scss
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/credit-notes/credit-notes.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/credit-notes/credit-notes.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.scss
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/invoice-warranty/invoice-warranty.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/invoice-warranty/invoice-warranty.component.scss
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/invoice-warranty/invoice-warranty.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/invoice-warranty/invoice-warranty.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/sales-return/sales-return.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/sales-return/sales-return.component.scss
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/sales-return/sales-return.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/sales-return/sales-return.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.scss
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/view-sales-invoice.module.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/view-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/view-sales-invoice.page.scss
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/view-sales-invoice.page.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/view-sales-invoice.page.ts
  packages/rma-frontend/src/app/warranty-ui/bulk-serial/bulk-serial.page.spec.ts
Due: test_rma_frontend

fix(rma-frontend): Formatted code
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/accounts/accounts.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/credit-notes/credit-notes.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/invoice-warranty/invoice-warranty.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/sales-return/sales-return.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/view-sales-invoice.page.spec.ts
Due: test_rma_frontend

feat(rma-frontend): Added UI for listing warranty-claims
  packages/rma-frontend/src/app/app-routing.module.ts
  packages/rma-frontend/src/app/constants/storage.ts
  packages/rma-frontend/src/app/warranty-ui/warranty-claim/warranty-claim.datasource.ts
  packages/rma-frontend/src/app/warranty-ui/warranty-claim/warranty-claim.module.ts
  packages/rma-frontend/src/app/warranty-ui/warranty-claim/warranty-claim.page.html
  packages/rma-frontend/src/app/warranty-ui/warranty-claim/warranty-claim.page.scss
  packages/rma-frontend/src/app/warranty-ui/warranty-claim/warranty-claim.page.spec.ts
  packages/rma-frontend/src/app/warranty-ui/warranty-claim/warranty-claim.page.ts
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.page.html
Due: test_rma_frontend

feat(rma-frontend): Added Slideable tabs
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/view-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/view-sales-invoice.page.scss
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/view-sales-invoice.page.ts
Due: test_rma_frontend

refactor(rma-frontend): refactor ionic deprecated code
  packages/rma-frontend/src/app/app.component.html
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
Due: test_rma_frontend

feat(Excel-rma):Added Warranty-Claim CQRS
  packages/rma-server/src/app.module.ts
  packages/rma-server/src/constants/typeorm.connection.ts
  packages/rma-server/src/warranty-claim/aggregates/index.ts
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.spec.ts
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-server/src/warranty-claim/command/add-warranty-claim/add-warranty-claim.command.ts
  packages/rma-server/src/warranty-claim/command/add-warranty-claim/add-warranty-claim.handler.ts
  packages/rma-server/src/warranty-claim/command/index.ts
  packages/rma-server/src/warranty-claim/command/remove-warranty-claim/remove-warranty-claim.command.ts
  packages/rma-server/src/warranty-claim/command/remove-warranty-claim/remove-warranty-claim.handler.ts
  packages/rma-server/src/warranty-claim/command/update-warranty-claim/update-warranty-claim.command.ts
  packages/rma-server/src/warranty-claim/command/update-warranty-claim/update-warranty-claim.handler.ts
  packages/rma-server/src/warranty-claim/controllers/warranty-claim/warranty-claim.controller.spec.ts
  packages/rma-server/src/warranty-claim/controllers/warranty-claim/warranty-claim.controller.ts
  packages/rma-server/src/warranty-claim/entity/entity.module.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/update-warranty-claim-dto.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim-dto.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim.entity.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim.service.spec.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim.service.ts
  packages/rma-server/src/warranty-claim/event/index.ts
  packages/rma-server/src/warranty-claim/event/warranty-claim-added/warranty-claim-added.event.ts
  packages/rma-server/src/warranty-claim/event/warranty-claim-added/warranty-claim-added.handler.ts
  packages/rma-server/src/warranty-claim/event/warranty-claim-removed/warranty-claim-removed.event.ts
  packages/rma-server/src/warranty-claim/event/warranty-claim-removed/warranty-claim.removed.handler.ts
  packages/rma-server/src/warranty-claim/event/warranty-claim-updated/warranty-claim-updated.event.ts
  packages/rma-server/src/warranty-claim/event/warranty-claim-updated/warranty-claim-updated.handler.ts
  packages/rma-server/src/warranty-claim/policies/warranty-claim-policies/warranty-claim-policies.service.spec.ts
  packages/rma-server/src/warranty-claim/policies/warranty-claim-policies/warranty-claim-policies.service.ts
  packages/rma-server/src/warranty-claim/query/get-warranty-claim/retrieve-warranty-claim.handler.ts
  packages/rma-server/src/warranty-claim/query/get-warranty-claim/retrieve-warranty-claim.query.ts
  packages/rma-server/src/warranty-claim/query/index.ts
  packages/rma-server/src/warranty-claim/query/list-warranty-claim/retrieve-warranty-claim-list.handler.ts
  packages/rma-server/src/warranty-claim/query/list-warranty-claim/retrieve-warranty-claim-list.query.ts
  packages/rma-server/src/warranty-claim/warranty-claim.module.ts
Due: test_rma_server

feat(rma-frontend): Added Details tab in sales-invoice
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details-datasource.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/view-sales-invoice.module.ts
Due: test_rma_frontend

feat(Excel-rma):fixed changes
  packages/rma-server/src/constants/typeorm.connection.ts
Due: test_rma_server

feat(rma-server): Added policies to validate serial-no
  packages/rma-frontend/src/app/warranty-ui/warranty-claim/warranty-claim.module.ts
  packages/rma-server/src/constants/messages.ts
  packages/rma-server/src/item/entity/item-entity.module.ts
  packages/rma-server/src/item/item.module.ts
  packages/rma-server/src/serial-no/aggregates/serial-no-aggregate/serial-no-aggregate.service.spec.ts
  packages/rma-server/src/serial-no/aggregates/serial-no-aggregate/serial-no-aggregate.service.ts
  packages/rma-server/src/serial-no/command/add-serial-no/add-serial-no-command.handler.ts
  packages/rma-server/src/serial-no/policies/serial-no-policies/serial-no-policies.service.spec.ts
  packages/rma-server/src/serial-no/policies/serial-no-policies/serial-no-policies.service.ts
  packages/rma-server/src/serial-no/serial-no.module.ts
Due: test_rma_frontend, test_rma_server

feat(rma-server): Added mongo indexes for unique fields
  packages/rma-server/src/customer/entity/customer/customer.entity.ts
  packages/rma-server/src/item/entity/item/item.entity.ts
  packages/rma-server/src/serial-no/entity/serial-no/serial-no.entity.ts
  packages/rma-server/src/supplier/entity/supplier/supplier.entity.ts
Due: test_rma_server

feat(rma-frontend): Added Accounts tab in sales-invoice
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/accounts/accounts-datasource.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/accounts/accounts.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/accounts/accounts.component.scss
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/accounts/accounts.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/accounts/accounts.component.ts
Due: test_rma_frontend

feat(rma-frontend): Added Serials tab in sales-invoice
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.scss
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
Due: test_rma_frontend

feat(rma-frontend): Added Sales Return tab in sales-invoice
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/sales-return/sales-return-datasource.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/sales-return/sales-return.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/sales-return/sales-return.component.scss
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/sales-return/sales-return.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/sales-return/sales-return.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.html
Due: test_rma_frontend

feat(rma-frontend): Added Warranty tab in sales-invoice
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/invoice-warranty/invoice-warranty-datasource.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/invoice-warranty/invoice-warranty.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/invoice-warranty/invoice-warranty.component.scss
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/invoice-warranty/invoice-warranty.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/invoice-warranty/invoice-warranty.component.ts
Due: test_rma_frontend

feat(rma-frontend): Added Credit-Notes tab in sales-invoice
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/credit-notes/credit-notes-datasource.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/credit-notes/credit-notes.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/credit-notes/credit-notes.component.scss
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/credit-notes/credit-notes.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/credit-notes/credit-notes.component.ts
Due: test_rma_frontend

feat(rma-server):Added sales-invoice validation policy
  packages/rma-server/src/constants/messages.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.spec.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/sales-invoice/command/submit-sales-invoice/submit-sales-invoice.command.ts
  packages/rma-server/src/sales-invoice/command/submit-sales-invoice/submit-sales-invoice.handler.ts
  packages/rma-server/src/sales-invoice/controllers/sales-invoice/sales-invoice.controller.ts
  packages/rma-server/src/sales-invoice/policies/sales-invoice-policies/sales-invoice-policies.service.spec.ts
  packages/rma-server/src/sales-invoice/policies/sales-invoice-policies/sales-invoice-policies.service.ts
  packages/rma-server/src/sales-invoice/sales-invoice.module.ts
Due: test_rma_server

feat(rma-frontend): improve ux
  packages/rma-frontend/src/app/api/login/login.service.spec.ts
  packages/rma-frontend/src/app/api/login/login.service.ts
  packages/rma-frontend/src/app/app.component.ts
  packages/rma-frontend/src/app/callback/callback.page.html
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/home/home.page.html
  packages/rma-frontend/src/app/home/home.page.ts
  packages/rma-frontend/src/app/warranty-ui/bulk-serial/bulk-serial.page.html
  packages/rma-frontend/src/app/warranty-ui/bulk-serial/bulk-serial.page.ts
Due: test_rma_frontend

feat(rma-server): Added aggregate to fetch serial-no
  packages/rma-server/src/constants/query.ts
  packages/rma-server/src/serial-no/aggregates/serial-no-aggregate/serial-no-aggregate.service.ts
  packages/rma-server/src/serial-no/controllers/serial-no/serial-no.controller.ts
  packages/rma-server/src/serial-no/entity/serial-no/serial-no.service.ts
  packages/rma-server/src/serial-no/query/get-serial-no/retrieve-serial-no-query.handler.ts
  packages/rma-server/src/serial-no/query/get-serial-no/retrieve-serial-no.query.ts
Due: test_rma_server

feat(rma-server): Linked sales-invoice getone to details tab
  packages/rma-frontend/src/app/app-routing.module.ts
  packages/rma-frontend/src/app/constants/aap-string.ts
  packages/rma-frontend/src/app/constants/messages.ts
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details-datasource.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.ts
Due: test_rma_frontend

fix(rma-frontend): Changed CSS for file input
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.scss
Due: test_rma_frontend

fix(rma-frontend): Changed routerDirection of sideMenu items
  packages/rma-frontend/src/app/app.component.html
Due: test_rma_frontend

feat(rma-frontend): Added Sliding tabs in Warranty Page
  packages/rma-frontend/src/app/app-routing.module.ts
  packages/rma-frontend/src/app/warranty-ui/bulk-serial/bulk-serial.module.ts
  packages/rma-frontend/src/app/warranty-ui/bulk-serial/bulk-serial.page.html
  packages/rma-frontend/src/app/warranty-ui/bulk-serial/bulk-serial.page.scss
  packages/rma-frontend/src/app/warranty-ui/warranty-claim/warranty-claim.module.ts
  packages/rma-frontend/src/app/warranty-ui/warranty-claim/warranty-claim.page.html
  packages/rma-frontend/src/app/warranty-ui/warranty-claim/warranty-claim.page.scss
  packages/rma-frontend/src/app/warranty-ui/warranty-claim/warranty-claim.page.spec.ts
  packages/rma-frontend/src/app/warranty-ui/warranty-tabs/assign-claims/assign-claims.component.html
  packages/rma-frontend/src/app/warranty-ui/warranty-tabs/assign-claims/assign-claims.component.scss
  packages/rma-frontend/src/app/warranty-ui/warranty-tabs/assign-claims/assign-claims.component.spec.ts
  packages/rma-frontend/src/app/warranty-ui/warranty-tabs/assign-claims/assign-claims.component.ts
  packages/rma-frontend/src/app/warranty-ui/warranty-tabs/serial-number/serial-number-datasource.ts
  packages/rma-frontend/src/app/warranty-ui/warranty-tabs/serial-number/serial-number.component.html
  packages/rma-frontend/src/app/warranty-ui/warranty-tabs/serial-number/serial-number.component.scss
  packages/rma-frontend/src/app/warranty-ui/warranty-tabs/serial-number/serial-number.component.spec.ts
  packages/rma-frontend/src/app/warranty-ui/warranty-tabs/serial-number/serial-number.component.ts
  packages/rma-frontend/src/app/warranty-ui/warranty-tabs/warranty-claims/warranty-claims.component.html
  packages/rma-frontend/src/app/warranty-ui/warranty-tabs/warranty-claims/warranty-claims.component.scss
  packages/rma-frontend/src/app/warranty-ui/warranty-tabs/warranty-claims/warranty-claims.component.spec.ts
  packages/rma-frontend/src/app/warranty-ui/warranty-tabs/warranty-claims/warranty-claims.component.ts
  packages/rma-frontend/src/app/warranty-ui/warranty-tabs/warranty-claims/warranty-claims.datasource.ts
  packages/rma-frontend/src/app/warranty-ui/warranty-tabs/warranty-tabs.module.ts
  packages/rma-frontend/src/app/warranty-ui/warranty-tabs/warranty-tabs.page.html
  packages/rma-frontend/src/app/warranty-ui/warranty-tabs/warranty-tabs.page.scss
  packages/rma-frontend/src/app/warranty-ui/warranty-tabs/warranty-tabs.page.spec.ts
  packages/rma-frontend/src/app/warranty-ui/warranty-tabs/warranty-tabs.page.ts
  packages/rma-frontend/src/app/warranty-ui/warranty-tabs/warranty.service.spec.ts
  packages/rma-frontend/src/app/warranty-ui/warranty-tabs/warranty.service.ts
  packages/rma-frontend/src/app/warranty-ui/warranty-ui.module.ts
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.module.ts
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.page.html
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.page.scss
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.page.spec.ts
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.page.ts
Due: test_rma_frontend

fix(rma-frontend): Routing module
  packages/rma-frontend/src/app/app-routing.module.ts
Due: test_rma_frontend

feat(excel-rma): Added sales-return direct list
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/sales-return/sales-return-datasource.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/sales-return/sales-return.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/sales-return/sales-return.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/sales-return/sales-return.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/sales-return/sales-return.datasource.ts
  packages/rma-server/src/app.module.ts
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/constants/routes.ts
  packages/rma-server/src/delivery-note/controller/delivery-note.controller.spec.ts
  packages/rma-server/src/delivery-note/controller/delivery-note.controller.ts
  packages/rma-server/src/delivery-note/delivery-note-invoice.module.ts
  packages/rma-server/src/delivery-note/delivery-note-service/delivery-note.service.spec.ts
  packages/rma-server/src/delivery-note/delivery-note-service/delivery-note.service.ts
Due: test_rma_frontend, test_rma_server

fix(rma-server): Fixed docker build for rma-server
  packages/rma-server/Dockerfile
Due: test_rma_server

feat(excel-rma): Added direct endpoint for credit-note list
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/credit-notes/credit-notes-datasource.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/credit-notes/credit-notes.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/credit-notes/credit-notes.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/credit-notes/credit-notes.component.ts
  packages/rma-server/src/app.module.ts
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/constants/routes.ts
  packages/rma-server/src/credit-note/controller/credit-note.controller.spec.ts
  packages/rma-server/src/credit-note/controller/credit-note.controller.ts
  packages/rma-server/src/credit-note/credit-note-invoice.module.ts
  packages/rma-server/src/credit-note/credit-note-service/credit-note.service.spec.ts
  packages/rma-server/src/credit-note/credit-note-service/credit-note.service.ts
Due: test_rma_frontend, test_rma_server

feat(rma-frontend): Wired select Items with backend
  packages/rma-frontend/src/app/common/interfaces/sales.interface.ts
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/inline-edit/inline-edit.component.html
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/inline-edit/inline-edit.component.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
Due: test_rma_frontend

feat(rma-frontend): add FAB on add sales page
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.html
Due: test_rma_frontend

fix(rma-frontend): Fixed route change subcription calling an API
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.ts
Due: test_rma_frontend

fix(rma-frontend): Minor fix for UI
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.scss
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.html
Due: test_rma_frontend

feat(excel-rma): Added listing endpoint for return-voucher
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/accounts/accounts-datasource.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/accounts/accounts.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/accounts/accounts.component.scss
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/accounts/accounts.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/accounts/accounts.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/credit-notes/credit-notes-datasource.ts
  packages/rma-server/src/app.module.ts
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/constants/routes.ts
  packages/rma-server/src/credit-note/credit-note-service/credit-note.service.ts
  packages/rma-server/src/delivery-note/controller/delivery-note.controller.ts
  packages/rma-server/src/return-voucher/controller/return-voucher.controller.spec.ts
  packages/rma-server/src/return-voucher/controller/return-voucher.controller.ts
  packages/rma-server/src/return-voucher/return-voucher-invoice.module.ts
  packages/rma-server/src/return-voucher/return-voucher-service/return-voucher.service.spec.ts
  packages/rma-server/src/return-voucher/return-voucher-service/return-voucher.service.ts
Due: test_rma_frontend, test_rma_server

feat(rma-frontend): Added date format for SI posting date
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
Due: test_rma_frontend

feat(rma-server): Added warranty-clims API for bulk entries
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/constants/messages.ts
  packages/rma-server/src/serial-no/aggregates/serial-no-aggregate/serial-no-aggregate.service.ts
  packages/rma-server/src/serial-no/entity/serial-no/serial-no-dto.ts
  packages/rma-server/src/serial-no/policies/serial-no-policies/serial-no-policies.service.spec.ts
  packages/rma-server/src/serial-no/policies/serial-no-policies/serial-no-policies.service.ts
  packages/rma-server/src/serial-no/serial-no.module.ts
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.spec.ts
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-server/src/warranty-claim/command/create-bulk-claims/create-bulk-claims.command.ts
  packages/rma-server/src/warranty-claim/command/create-bulk-claims/create-bulk-claims.handler.ts
  packages/rma-server/src/warranty-claim/command/index.ts
  packages/rma-server/src/warranty-claim/controllers/warranty-claim/warranty-claim.controller.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/create-bulk-warranty-claim.interface.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/update-warranty-claim-dto.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim-dto.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim.entity.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim.service.ts
  packages/rma-server/src/warranty-claim/event/bulk-warranty-claims-created/bulk-warranty-claims.event.ts
  packages/rma-server/src/warranty-claim/event/bulk-warranty-claims-created/bulk-warranty-claims.handler.ts
  packages/rma-server/src/warranty-claim/event/index.ts
  packages/rma-server/src/warranty-claim/policies/warranty-claim-policies/warranty-claim-policies.service.spec.ts
  packages/rma-server/src/warranty-claim/policies/warranty-claim-policies/warranty-claim-policies.service.ts
  packages/rma-server/src/warranty-claim/query/list-warranty-claim/retrieve-warranty-claim-list.handler.ts
  packages/rma-server/src/warranty-claim/warranty-claim.module.ts
Due: test_rma_server

feat(rma-frontend): Added Fuctionality to create sales invoice draft
  packages/rma-frontend/src/app/common/interfaces/customer.interface.ts
  packages/rma-frontend/src/app/common/interfaces/sales.interface.ts
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.spec.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/inline-edit/inline-edit.component.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.ts
Due: test_rma_frontend

fix(rma-frontend): Fixed post request contact_person field
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
Due: test_rma_frontend

feat(rma-frontend): Added Submit button wired with backend in details component
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.ts
Due: test_rma_frontend

feat(excel-rma): Linked SI API with front-end
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/sales-invoice/command/add-sales-invoice/add-sales-invoice.handler.ts
  packages/rma-server/src/sales-invoice/command/submit-sales-invoice/submit-sales-invoice.command.ts
  packages/rma-server/src/sales-invoice/command/submit-sales-invoice/submit-sales-invoice.handler.ts
  packages/rma-server/src/sales-invoice/controllers/sales-invoice/sales-invoice.controller.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice-dto.ts
  packages/rma-server/src/sales-invoice/policies/sales-invoice-policies/sales-invoice-policies.service.ts
Due: test_rma_frontend, test_rma_server

fix(rma-frontend): Fix for submit button on SI
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.html
Due: test_rma_frontend
