Repository fnrfarid/excel-rma: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_rma_frontend, test_rma_mobile, test_rma_server

.gitlab-ci.yml:

image: registry.gitlab.com/castlecraft/docker-craft/node-latest-headless-chrome:latest

stages:
  - tests

test_rma_frontend:
  stage: tests
  only:
    changes:
      - packages/rma-frontend/**/*
    refs:
      - merge_requests
      - master
  before_script:
    - cd packages/rma-frontend
    - npm install
  script:
    # set env variable for test
    - export NODE_ENV=test
    # Check Code Quality
    - npm run lint
    - npm run format:check
    # Test backend unit tests
    - npm run test
    # Test backend e2e
    - npm run e2e
  tags:
    - docker

test_rma_mobile:
  stage: tests
  only:
    changes:
      - packages/rma-mobile/**/*
    refs:
      - merge_requests
      - master
  before_script:
    - cd packages/rma-mobile
    - npm install
  script:
    # Check Code Quality
    - npm run lint
    - npm run format:check
    # set env variable for test
    - export NODE_ENV=test
    # Test frontend
    - export DISPLAY=:99
    - Xvfb :0 -ac -screen 0 1024x768x24 &
    - npm run test
    - npm run e2e
  tags:
    - docker

test_rma_server:
  stage: tests
  only:
    changes:
      - packages/rma-server/**/*
    refs:
      - merge_requests
      - master
  before_script:
    - cd packages/rma-server
    - npm install
  script:
    # set env variable for test
    - export NODE_ENV=test
    # Check Code Quality
    - npm run lint
    - npm run format:check
    # Test backend unit tests
    - npm run test
    # Test backend e2e
    - npm run test:e2e
  tags:
    - docker

fix(rma-frontend): Removed sliding Tabs
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/view-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/view-sales-invoice.page.ts
Due: test_rma_frontend

feat(rma-frontend): settings ui to map territory-warehouse
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/settings/map-territory/map-territory.component.html
  packages/rma-frontend/src/app/settings/map-territory/map-territory.component.scss
  packages/rma-frontend/src/app/settings/map-territory/map-territory.component.spec.ts
  packages/rma-frontend/src/app/settings/map-territory/map-territory.component.ts
  packages/rma-frontend/src/app/settings/map-territory/map-territory.service.spec.ts
  packages/rma-frontend/src/app/settings/map-territory/map-territory.service.ts
  packages/rma-frontend/src/app/settings/settings.module.ts
  packages/rma-frontend/src/app/settings/settings.page.html
  packages/rma-frontend/src/app/settings/settings.page.scss
  packages/rma-frontend/src/app/settings/settings.page.spec.ts
  packages/rma-frontend/src/app/settings/settings.page.ts
  packages/rma-frontend/src/global.scss
Due: test_rma_frontend

feat(rma-server): Added status to sales invoice
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice-dto.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice-update-dto.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice.entity.ts
Due: test_rma_server

feat(rma-server): Added policies to validate items in sales invoice
  packages/rma-server/src/constants/messages.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/sales-invoice/policies/sales-invoice-policies/sales-invoice-policies.service.spec.ts
  packages/rma-server/src/sales-invoice/policies/sales-invoice-policies/sales-invoice-policies.service.ts
  packages/rma-server/src/sales-invoice/sales-invoice.module.ts
  packages/rma-server/src/serial-no/policies/assign-serial-no-policies/assign-serial-no-policies.service.ts
  packages/rma-server/src/serial-no/serial-no.module.ts
Due: test_rma_server

feat(rma-frontend): Added Reject SI button in details component
  packages/rma-frontend/src/app/constants/app-string.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales-invoice-datasource.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.ts
Due: test_rma_frontend

feat(rma-server): Added policies to validate SI status
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/constants/messages.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/sales-invoice/event/sales-invoice-submitted/sales-invoice-submitted.handler.ts
  packages/rma-server/src/sales-invoice/policies/sales-invoice-policies/sales-invoice-policies.service.ts
Due: test_rma_server

feat(rma-frontend): Cannot add duplicate items in SI
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
Due: test_rma_frontend

feat(rma-frontend): Added key-directive to emmit ctrl+I event
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.module.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/on-key-down-directive.ts
Due: test_rma_frontend

feat(rma-frontend): use localforage as async storage
  packages/rma-frontend/package-lock.json
  packages/rma-frontend/package.json
  packages/rma-frontend/src/app/api/storage/storage.service.spec.ts
  packages/rma-frontend/src/app/api/storage/storage.service.ts
  packages/rma-frontend/src/app/app.component.spec.ts
  packages/rma-frontend/src/app/app.component.ts
  packages/rma-frontend/src/app/app.module.ts
  packages/rma-frontend/src/app/app.service.spec.ts
  packages/rma-frontend/src/app/app.service.ts
  packages/rma-frontend/src/app/callback/callback.page.spec.ts
  packages/rma-frontend/src/app/callback/callback.page.ts
  packages/rma-frontend/src/app/common/guards/system-manager.guard.ts
  packages/rma-frontend/src/app/constants/storage.ts
  packages/rma-frontend/src/app/home/home.page.spec.ts
  packages/rma-frontend/src/app/home/home.page.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.spec.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.spec.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-frontend/src/app/settings/map-territory/map-territory.service.spec.ts
  packages/rma-frontend/src/app/settings/map-territory/map-territory.service.ts
  packages/rma-frontend/src/app/settings/settings.page.html
  packages/rma-frontend/src/app/settings/settings.service.spec.ts
  packages/rma-frontend/src/app/settings/settings.service.ts
  packages/rma-frontend/src/app/warranty-ui/warranty-tabs/warranty.service.spec.ts
  packages/rma-frontend/src/app/warranty-ui/warranty-tabs/warranty.service.ts
  packages/rma-frontend/src/global.scss
Due: test_rma_frontend

fix(rma-frontend): Handled item_price error
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/inline-edit/inline-edit.component.ts
Due: test_rma_frontend

feat(rma-frontend): Cannot add invalid Serial_no and added clear button
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/edit-table/edit-table.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/edit-table/edit-table.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.scss
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
Due: test_rma_frontend

WIP
  packages/rma-server/src/constants/messages.ts
  packages/rma-server/src/delivery-note/aggregates/delivery-note-aggregate/delivery-note-aggregate.service.ts
  packages/rma-server/src/delivery-note/entity/delivery-note-service/create-delivery-note-interface.ts
  packages/rma-server/src/delivery-note/entity/delivery-note-service/delivery-note-webhook.dto.ts
  packages/rma-server/src/delivery-note/entity/delivery-note-service/delivery-note.entity.ts
  packages/rma-server/src/delivery-note/entity/delivery-note-service/delivery-note.service.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.spec.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/sales-invoice/command/create-sales-return/create-sales-return.command.ts
  packages/rma-server/src/sales-invoice/command/create-sales-return/create-sales-return.handler.ts
  packages/rma-server/src/sales-invoice/command/index.ts
  packages/rma-server/src/sales-invoice/controllers/sales-invoice/sales-invoice.controller.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice.entity.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-return-dto.ts
  packages/rma-server/src/sales-invoice/policies/sales-invoice-policies/sales-invoice-policies.service.ts
  packages/rma-server/src/sales-invoice/sales-invoice.module.ts
Due: test_rma_server

fix(rma-frontend): login and session
  packages/rma-frontend/src/app/app.component.ts
  packages/rma-frontend/src/app/app.service.ts
  packages/rma-frontend/src/app/callback/callback.page.ts
  packages/rma-frontend/src/app/home/home.page.spec.ts
  packages/rma-frontend/src/app/home/home.page.ts
Due: test_rma_frontend

refactor(rma-server): relay frappe request for user
  packages/rma-server/src/command/aggregates/command/command.service.ts
  packages/rma-server/src/command/controllers/command/command.controller.ts
Due: test_rma_server

feat(rma-frontend): Added ToolTip on Add button
  packages/rma-frontend/src/app/material/material.module.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
Due: test_rma_frontend

feat(rma-frontend): Do not allow duplicate items on Delivery Note
  packages/rma-frontend/src/app/common/interfaces/sales.interface.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-frontend/src/global.scss
Due: test_rma_frontend

feat(rma-server): Added currency-pipe to get currency from storage
  packages/rma-frontend/src/app/api/storage/storage.service.ts
  packages/rma-frontend/src/app/app.component.ts
  packages/rma-frontend/src/app/app.module.ts
  packages/rma-frontend/src/app/app.service.ts
  packages/rma-frontend/src/app/common/app-common.module.ts
  packages/rma-frontend/src/app/common/pipes/currency.pipe.ts
  packages/rma-frontend/src/app/constants/storage.ts
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.module.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.spec.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/view-sales-invoice.module.ts
  packages/rma-server/src/constants/routes.ts
  packages/rma-server/src/system-settings/aggregates/settings/settings.service.ts
  packages/rma-server/src/system-settings/controllers/settings/settings.controller.ts
  packages/rma-server/src/system-settings/entities/server-settings/server-defaults-interface.ts
Due: test_rma_frontend, test_rma_server

feat(rma-frontend): Disabled tabs if SI not submitted
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/view-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/view-sales-invoice.page.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/view-sales-invoice.page.ts
Due: test_rma_frontend

feat(rma-server): Added date parsing as per as timezone
  packages/rma-frontend/package-lock.json
  packages/rma-frontend/package.json
  packages/rma-frontend/src/app/api/time/time.service.spec.ts
  packages/rma-frontend/src/app/api/time/time.service.ts
  packages/rma-frontend/src/app/app.module.ts
Due: test_rma_frontend

fix(rma-frontend): Fixed Tests
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.spec.ts
Due: test_rma_frontend

fix(rma-frontend): Manager can now edit SI
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.ts
Due: test_rma_frontend

fix(rma-frontend): show currency symbol instead of code
  packages/rma-frontend/src/app/common/app-common.module.ts
  packages/rma-frontend/src/app/common/pipes/currency-format.pipe.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales.module.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.spec.ts
Due: test_rma_frontend

fix(rma-frontend): Fixed error while refreshing view SI page
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/view-sales-invoice.page.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/view-sales-invoice.page.ts
Due: test_rma_frontend

fix(rma-frontend): Fixed Accounts, Sales-return , Credit-note listing
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/accounts/accounts-datasource.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/accounts/accounts.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/accounts/accounts.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/accounts/accounts.service.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/accounts/accounts.service.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/credit-notes/credit-note.service.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/credit-notes/credit-note.service.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/credit-notes/credit-notes-datasource.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/credit-notes/credit-notes.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/credit-notes/credit-notes.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/sales-return/sales-return.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/sales-return/sales-return.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/sales-return/sales-return.datasource.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/sales-return/sales-return.service.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/sales-return/sales-return.service.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/view-sales-invoice.page.html
Due: test_rma_frontend

feat(rma-server): Added Create and findOne CQRS for DN
  packages/rma-server/src/constants/messages.ts
  packages/rma-server/src/delivery-note/aggregates/delivery-note-aggregate/delivery-note-aggregate.service.spec.ts
  packages/rma-server/src/delivery-note/aggregates/delivery-note-aggregate/delivery-note-aggregate.service.ts
  packages/rma-server/src/delivery-note/commands/index.ts
  packages/rma-server/src/delivery-note/commands/update-note/update-delivery-note.command.ts
  packages/rma-server/src/delivery-note/commands/update-note/update-delivery-note.handler.ts
  packages/rma-server/src/delivery-note/controller/delivery-note/delivery-note.controller.spec.ts
  packages/rma-server/src/delivery-note/controller/delivery-note/delivery-note.controller.ts
  packages/rma-server/src/delivery-note/delivery-note.module.ts
  packages/rma-server/src/delivery-note/entity/delivery-note-service/delivery-note.entity.ts
  packages/rma-server/src/delivery-note/entity/delivery-note-service/update-delivery-note.dto.ts
  packages/rma-server/src/delivery-note/events/delivery-note-updated/delivery-note-updated.event.ts
  packages/rma-server/src/delivery-note/events/delivery-note-updated/delivery-note-updated.handler.ts
  packages/rma-server/src/delivery-note/events/index.ts
  packages/rma-server/src/delivery-note/queries/index.ts
  packages/rma-server/src/delivery-note/queries/retrive-delivery-note/retrive-delivery-note.handler.ts
  packages/rma-server/src/delivery-note/queries/retrive-delivery-note/retrive-delivery-note.query.ts
Due: test_rma_server

fix(rma-server): Added async await for getDeliveryNote in aggregate for DN
  packages/rma-server/src/delivery-note/aggregates/delivery-note-aggregate/delivery-note-aggregate.service.ts
  packages/rma-server/src/delivery-note/controller/delivery-note/delivery-note.controller.ts
  packages/rma-server/src/delivery-note/events/delivery-note-updated/delivery-note-updated.event.ts
Due: test_rma_server

fix(rma-frontend): Fixed To Deliver status being red coloured
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/view-sales-invoice.page.html
Due: test_rma_frontend

feat(rma-frontend): Added Sales Invoice Name in details tab to see Sales invoice in ERPNext
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.ts
Due: test_rma_frontend

fix(rma-frontend): Load info if not found
  packages/rma-frontend/src/app/app.component.ts
  packages/rma-frontend/src/app/app.service.ts
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/home/home.page.spec.ts
  packages/rma-frontend/src/app/home/home.page.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/accounts/accounts.service.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/sales-return/sales-return.service.ts
Due: test_rma_frontend

fix(rma-server): fix import in DeliveryNoteUpdatedEvent
  packages/rma-server/src/delivery-note/events/delivery-note-updated/delivery-note-updated.event.ts
Due: test_rma_server

feat(rma-server): Added territory mapping for user
  packages/rma-server/src/auth/aggregates/connect/connect.service.ts
  packages/rma-server/src/auth/entities/token-cache/token-cache.entity.ts
  packages/rma-server/src/auth/guards/token.guard.ts
  packages/rma-server/src/constants/routes.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
Due: test_rma_server

feat(rma-frontend): Added dynamic data in cards
  packages/rma-frontend/src/app/warranty-ui/warranty-tabs/serial-number/serial-number.component.html
  packages/rma-frontend/src/app/warranty-ui/warranty-tabs/serial-number/serial-number.component.scss
  packages/rma-frontend/src/app/warranty-ui/warranty-tabs/serial-number/serial-number.component.ts
Due: test_rma_frontend

fix(rma-server):Created dto for create-delivery-note & changed the end point name for DN
  packages/rma-server/src/constants/messages.ts
  packages/rma-server/src/delivery-note/aggregates/delivery-note-aggregate/delivery-note-aggregate.service.ts
  packages/rma-server/src/delivery-note/command/create-delivery-note/create-delivery-note.command.ts
  packages/rma-server/src/delivery-note/command/create-delivery-note/create-delivery-note.handler.ts
  packages/rma-server/src/delivery-note/command/delete-delivery-note/delete-delivery-note.command.ts
  packages/rma-server/src/delivery-note/command/delete-delivery-note/delete-delivery-note.handler.ts
  packages/rma-server/src/delivery-note/command/index.ts
  packages/rma-server/src/delivery-note/controller/delivery-note/delivery-note.controller.ts
  packages/rma-server/src/delivery-note/delivery-note.module.ts
  packages/rma-server/src/delivery-note/entity/delivery-note-service/create-delivery-note.dto.ts
  packages/rma-server/src/delivery-note/events/delivery-note-created/delivery-note-created-event.ts
  packages/rma-server/src/delivery-note/events/delivery-note-created/delivery-note-created-handler.ts
  packages/rma-server/src/delivery-note/events/delivery-note-deleted/delivery-note-deleted-event.ts
  packages/rma-server/src/delivery-note/events/delivery-note-deleted/delivery-note-deleted-handler.ts
  packages/rma-server/src/delivery-note/events/index.ts
Due: test_rma_server

fix(rma-frontend): some field add in details card
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.ts
  packages/rma-frontend/src/app/warranty-ui/warranty-tabs/serial-number/serial-number.component.html
Due: test_rma_frontend

feat: list and sort Item Price
  packages/rma-frontend/src/app/app-routing.module.ts
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/sales-ui/item-price/item-datasource.ts
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.module.ts
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.html
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.scss
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.spec.ts
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.ts
  packages/rma-frontend/src/app/sales-ui/services/item-price.service.spec.ts
  packages/rma-frontend/src/app/sales-ui/services/item-price.service.ts
  packages/rma-frontend/src/app/settings/settings.page.html
  packages/rma-server/src/item/aggregates/item-aggregate/item-aggregate.service.ts
  packages/rma-server/src/item/commands/index.ts
  packages/rma-server/src/item/commands/set-minimum-item-price/set-minimum-item-price.command.ts
  packages/rma-server/src/item/commands/set-minimum-item-price/set-minimum-item-price.handler.ts
  packages/rma-server/src/item/controllers/item/item.controller.spec.ts
  packages/rma-server/src/item/controllers/item/item.controller.ts
  packages/rma-server/src/item/entity/item/item.entity.ts
  packages/rma-server/src/item/entity/item/item.service.ts
  packages/rma-server/src/item/events/index.ts
  packages/rma-server/src/item/events/minimum-item-price-set/minimum-item-price-set.event.ts
  packages/rma-server/src/item/events/minimum-item-price-set/minimum-item-price-set.handler.ts
  packages/rma-server/src/item/item.module.ts
Due: test_rma_frontend, test_rma_server

fix(rma-frontend): Removed value from Balance input
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.html
Due: test_rma_frontend

feat: set minimum price for item
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/sales-ui/item-price/edit-price/edit-price.component.html
  packages/rma-frontend/src/app/sales-ui/item-price/edit-price/edit-price.component.scss
  packages/rma-frontend/src/app/sales-ui/item-price/edit-price/edit-price.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/item-price/edit-price/edit-price.component.ts
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.datasource.ts
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.module.ts
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.html
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.spec.ts
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.ts
  packages/rma-frontend/src/app/sales-ui/services/item-price.service.ts
  packages/rma-server/src/item/aggregates/item-aggregate/item-aggregate.service.ts
  packages/rma-server/src/item/commands/set-minimum-item-price/set-minimum-item-price.handler.ts
  packages/rma-server/src/item/events/minimum-item-price-set/minimum-item-price-set.handler.ts
Due: test_rma_frontend, test_rma_server

feat(rma-server): Added validation for multiple serials
  packages/rma-server/src/serial-no/aggregates/serial-no-aggregate/serial-no-aggregate.service.ts
  packages/rma-server/src/serial-no/controllers/serial-no/serial-no.controller.ts
  packages/rma-server/src/serial-no/entity/serial-no/serial-no-dto.ts
  packages/rma-server/src/serial-no/policies/serial-no-policies/serial-no-policies.service.ts
  packages/rma-server/src/serial-no/query/index.ts
  packages/rma-server/src/serial-no/query/validate-serial/validate-serial-query.handler.ts
  packages/rma-server/src/serial-no/query/validate-serial/validate-serial.query.ts
Due: test_rma_server

feat: limit selling price
  packages/rma-frontend/src/app/common/interfaces/sales.interface.ts
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/inline-edit/inline-edit.component.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-server/src/item/aggregates/item-aggregate/item-aggregate.service.ts
  packages/rma-server/src/item/controllers/item/item.controller.ts
  packages/rma-server/src/item/query/get-item-by-code/retrieve-item-by-code-.query.ts
  packages/rma-server/src/item/query/get-item-by-code/retrieve-item-by-code-query.handler.ts
  packages/rma-server/src/item/query/index.ts
Due: test_rma_frontend, test_rma_server
