Repository fnrfarid/excel-rma: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_rma_frontend, test_rma_mobile, test_rma_server

test_rma_frontend:
  stage: tests
  before_script:
  - cd packages/rma-frontend
  - npm install
  script:
  - export NODE_ENV=test
  - npm run lint
  - npm run format:check
  - npm run test
  - npm run e2e
  tags:
  - docker

test_rma_mobile:
  stage: tests
  before_script:
  - cd packages/rma-mobile
  - npm install
  script:
  - npm run lint
  - npm run format:check
  - export NODE_ENV=test
  - export DISPLAY=:99
  - Xvfb :0 -ac -screen 0 1024x768x24 &
  - npm run test
  - npm run e2e
  tags:
  - docker

test_rma_server:
  stage: tests
  before_script:
  - cd packages/rma-server
  - npm install
  script:
  - export NODE_ENV=test
  - npm run lint
  - npm run format:check
  - npm run test
  - npm run test:e2e
  tags:
  - docker

feat(rma-server): user token using authorization code
  packages/rma-server/src/auth/aggregates/client-token-manager/client-token-manager.service.ts
  packages/rma-server/src/auth/aggregates/connect/connect.service.ts
  packages/rma-server/src/auth/controllers/connect/connect.controller.ts
  packages/rma-server/src/auth/guards/token.guard.ts
  packages/rma-server/src/auth/schedulers/clean-expired-token-cache/clean-expired-token-cache.service.ts
  packages/rma-server/src/auth/schedulers/revoke-expired-frappe-tokens/revoke-expired-frappe-tokens.service.spec.ts
  packages/rma-server/src/auth/schedulers/revoke-expired-frappe-tokens/revoke-expired-frappe-tokens.service.ts
  packages/rma-server/src/constants/typeorm.connection.ts
  packages/rma-server/src/constants/webhook-data.ts
  packages/rma-server/src/direct/aggregates/direct/direct.service.spec.ts
  packages/rma-server/src/direct/aggregates/direct/direct.service.ts
  packages/rma-server/src/direct/direct.module.ts
  packages/rma-server/src/direct/entities/frappe-token/frappe-token.entity.ts
  packages/rma-server/src/direct/entities/frappe-token/frappe-token.service.ts
  packages/rma-server/src/error-log/error-log-service/error-log.service.ts
  packages/rma-server/src/system-settings/aggregates/settings/settings.service.ts
Due: test_rma_server

fix(rma-server): authorization code grant tokens
  packages/rma-server/src/auth/aggregates/client-token-manager/client-token-manager.service.ts
  packages/rma-server/src/auth/schedulers/revoke-expired-frappe-tokens/revoke-expired-frappe-tokens.service.ts
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/constants/messages.ts
  packages/rma-server/src/direct/aggregates/direct/direct.service.ts
  packages/rma-server/src/direct/controllers/direct/direct.controller.ts
  packages/rma-server/src/direct/entities/request-state/request-state.entity.ts
  packages/rma-server/src/system-settings/aggregates/settings/settings.service.ts
  packages/rma-server/src/system-settings/controllers/setup/setup.service.ts
  packages/rma-server/src/system-settings/entities/server-settings/server-setting.dto.ts
  packages/rma-server/src/system-settings/entities/server-settings/server-settings.entity.ts
Due: test_rma_server

fix(rma-frontend): connect authorized token for user
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/home/home.page.ts
Due: test_rma_frontend

feat: add warranty page
  packages/rma-frontend/src/app/common/interfaces/warranty.interface.ts
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
  packages/rma-frontend/src/app/warranty-ui/warranty-tabs/warranty-tabs.page.spec.ts
  packages/rma-frontend/src/app/warranty-ui/warranty-tabs/warranty.service.spec.ts
  packages/rma-frontend/src/app/warranty-ui/warranty-tabs/warranty.service.ts
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty-claims-datasource.ts
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.module.ts
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.page.html
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.page.spec.ts
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.page.ts
  packages/rma-server/src/serial-no/entity/serial-no/serial-no-dto.ts
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-server/src/warranty-claim/controllers/warranty-claim/warranty-claim.controller.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/create-bulk-warranty-claim.interface.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim-dto.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim.entity.ts
Due: test_rma_frontend, test_rma_server

fix: resolve reviewed changes
  packages/rma-frontend/src/app/common/interfaces/warranty.interface.ts
  packages/rma-frontend/src/app/warranty-ui/warranty-tabs/warranty.service.ts
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty-claims-datasource.ts
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.module.ts
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.page.spec.ts
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.page.ts
Due: test_rma_frontend

fix(rma-server): Added remarks in sales invoice webhook
  packages/rma-server/src/constants/webhook-data.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice-webhook-dto.ts
Due: test_rma_server

feat : Added fromDate , toDate range filter in SI
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.spec.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice.service.ts
Due: test_rma_frontend, test_rma_server

feat(rma-frontend): remove unwanted line
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.page.ts
Due: test_rma_frontend

feat(rma-frontend): resolve commits
  packages/rma-frontend/src/app/warranty-ui/warranty-tabs/warranty.service.ts
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.page.ts
Due: test_rma_frontend

feat(rma-frontend): First three colums can perform assending/descending of warranty page
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.page.html
Due: test_rma_frontend

feat(rma-backend): posting_date replace by claim_no
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim.service.ts
Due: test_rma_server

fix(rma-frontend): Fixed paginated item listing on add sales invoice
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
Due: test_rma_frontend

fix(rma-frontend): UI fixes for SI and PR
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.html
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.scss
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
Due: test_rma_frontend

feat(rma-server): Added refresh token to background job
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/purchase-receipt/aggregates/purchase-receipt-aggregate/purchase-receipt-aggregate.service.spec.ts
  packages/rma-server/src/purchase-receipt/aggregates/purchase-receipt-aggregate/purchase-receipt-aggregate.service.ts
  packages/rma-server/src/purchase-receipt/purchase-receipt.module.ts
Due: test_rma_server

fix(rma-server): refresh tokens
  .gitlab-ci.yml
  packages/rma-server/src/auth/aggregates/client-token-manager/client-token-manager.service.ts
  packages/rma-server/src/auth/aggregates/connect/connect.service.ts
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/direct/aggregates/direct/direct.service.ts
Due: test_rma_server

feat(rma-server): purchase order entity stub
  packages/rma-server/src/app.module.ts
  packages/rma-server/src/constants/listing-dto/purchase-order-list-query.ts
  packages/rma-server/src/constants/messages.ts
  packages/rma-server/src/constants/typeorm.connection.ts
  packages/rma-server/src/purchase-order/aggregates/index.ts
  packages/rma-server/src/purchase-order/aggregates/purchase-order-aggregate/purchase-order-aggregate.service.spec.ts
  packages/rma-server/src/purchase-order/aggregates/purchase-order-aggregate/purchase-order-aggregate.service.ts
  packages/rma-server/src/purchase-order/aggregates/purchase-order-webhook-aggregate/purchase-order-webhook-aggregate.service.spec.ts
  packages/rma-server/src/purchase-order/aggregates/purchase-order-webhook-aggregate/purchase-order-webhook-aggregate.service.ts
  packages/rma-server/src/purchase-order/controllers/index.ts
  packages/rma-server/src/purchase-order/controllers/purchase-order-webhook/purchase-order-webhook.controller.spec.ts
  packages/rma-server/src/purchase-order/controllers/purchase-order-webhook/purchase-order-webhook.controller.ts
  packages/rma-server/src/purchase-order/controllers/purchase-order/purchase-order.controller.spec.ts
  packages/rma-server/src/purchase-order/controllers/purchase-order/purchase-order.controller.ts
  packages/rma-server/src/purchase-order/entity/entity.module.ts
  packages/rma-server/src/purchase-order/entity/purchase-order/po-payment-schedule.interface.ts
  packages/rma-server/src/purchase-order/entity/purchase-order/purchase-order-item.interface.ts
  packages/rma-server/src/purchase-order/entity/purchase-order/purchase-order-webhook-dto.ts
  packages/rma-server/src/purchase-order/entity/purchase-order/purchase-order.entity.ts
  packages/rma-server/src/purchase-order/entity/purchase-order/purchase-order.service.spec.ts
  packages/rma-server/src/purchase-order/entity/purchase-order/purchase-order.service.ts
  packages/rma-server/src/purchase-order/entity/purchase-order/update-purchase-order-dto.ts
  packages/rma-server/src/purchase-order/purchase-order.module.ts
  packages/rma-server/src/purchase-order/query/get-purchase-order/retrieve-purchase-order.handler.ts
  packages/rma-server/src/purchase-order/query/get-purchase-order/retrieve-purchase-order.query.ts
  packages/rma-server/src/purchase-order/query/index.ts
  packages/rma-server/src/purchase-order/query/list-purchase-order/retrieve-purchase-order-list.handler.ts
  packages/rma-server/src/purchase-order/query/list-purchase-order/retrieve-purchase-order-list.query.ts
Due: test_rma_server

feat(rma-server): Add endpoint to fetch list of delivered serials
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice.service.ts
  packages/rma-server/src/serial-no/aggregates/serial-no-aggregate/serial-no-aggregate.service.spec.ts
  packages/rma-server/src/serial-no/aggregates/serial-no-aggregate/serial-no-aggregate.service.ts
  packages/rma-server/src/serial-no/controllers/serial-no/serial-no.controller.ts
  packages/rma-server/src/serial-no/query/index.ts
  packages/rma-server/src/serial-no/query/retrieve-sales-invoice-delivered-serial-no/retrieve-sales-invoice-delivered-serial-no.query.handler.ts
  packages/rma-server/src/serial-no/query/retrieve-sales-invoice-delivered-serial-no/retrieve-sales-invoice-delivered-serial-no.query.ts
Due: test_rma_server

fix(rma-frontend): Fix delivery-note where just 1 serial was being passed
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
Due: test_rma_frontend

feat(rma-frontend): Add UI for listing delivered serials
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials-datasource.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
Due: test_rma_frontend

feat(rma-server): auto creates and submits Purchase Invoice
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/constants/routes.ts
  packages/rma-server/src/constants/webhook-data.ts
  packages/rma-server/src/purchase-order/aggregates/purchase-order-webhook-aggregate/purchase-order-webhook-aggregate.service.spec.ts
  packages/rma-server/src/purchase-order/aggregates/purchase-order-webhook-aggregate/purchase-order-webhook-aggregate.service.ts
  packages/rma-server/src/purchase-order/controllers/purchase-order-webhook/purchase-order-webhook.controller.ts
  packages/rma-server/src/purchase-order/purchase-order.module.ts
  packages/rma-server/src/system-settings/aggregates/settings/settings.service.ts
Due: test_rma_server

feat: Added Cancel Sales Invoice feature
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.scss
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.html
  packages/rma-frontend/src/global.scss
  packages/rma-server/src/constants/routes.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/sales-invoice/command/cancel-sales-invoice/cancel-sales-invoice.command.ts
  packages/rma-server/src/sales-invoice/command/cancel-sales-invoice/cancel-sales-invoice.handler.ts
  packages/rma-server/src/sales-invoice/command/index.ts
  packages/rma-server/src/sales-invoice/controllers/sales-invoice/sales-invoice.controller.ts
  packages/rma-server/src/sales-invoice/event/index.ts
  packages/rma-server/src/sales-invoice/event/sales-invoice-canceled/sales-invoice-canceled.event.ts
  packages/rma-server/src/sales-invoice/event/sales-invoice-canceled/sales-invoice-canceled.handler.ts
Due: test_rma_frontend, test_rma_server

fix(rma-frontend): Minor UI fixes
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.html
Due: test_rma_frontend

feat(rma-server): Added policies to validate DN and SI status in ERP
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.spec.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/sales-invoice/policies/sales-invoice-policies/sales-invoice-policies.service.spec.ts
  packages/rma-server/src/sales-invoice/policies/sales-invoice-policies/sales-invoice-policies.service.ts
  packages/rma-server/src/sales-invoice/sales-invoice.module.ts
Due: test_rma_server

fix(rma-server): Fix bug where serials were not being padded
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
Due: test_rma_frontend

feat(rma-frontend): warranty tabs added
  packages/rma-frontend/src/app/app-routing.module.ts
  packages/rma-frontend/src/app/app.module.ts
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.html
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/claim-details/claim-details.component.html
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/claim-details/claim-details.component.scss
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/claim-details/claim-details.component.spec.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/claim-details/claim-details.component.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/service-invoices.component.html
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/service-invoices.component.scss
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/service-invoices.component.spec.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/service-invoices.component.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/status-history/status-history.component.html
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/status-history/status-history.component.scss
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/status-history/status-history.component.spec.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/status-history/status-history.component.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/stock-entry.component.html
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/stock-entry.component.scss
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/stock-entry.component.spec.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/stock-entry.component.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/view-warranty-claims-routing.module.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/view-warranty-claims.module.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/view-warranty-claims.page.html
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/view-warranty-claims.page.scss
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/view-warranty-claims.page.spec.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/view-warranty-claims.page.ts
  packages/rma-frontend/src/app/warranty-ui/warranty-ui.module.ts
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.page.html
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.page.ts
Due: test_rma_frontend

feat(rma-frontend): resolved changes
  packages/rma-frontend/src/app/app.module.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/claim-details/claim-details.component.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/service-invoices.component.html
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/status-history/status-history.component.html
Due: test_rma_frontend

fix(rma-server): Optimised code and resolved issues
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/sales-invoice/event/sales-invoice-canceled/sales-invoice-canceled.handler.ts
  packages/rma-server/src/sales-invoice/policies/sales-invoice-policies/sales-invoice-policies.service.ts
Due: test_rma_server

fix(ci): Fix test.Now it also checks for build errors
  .gitlab-ci.yml
Due: none

feat(rma-frontend): remove unwanted variables
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/claim-details/claim-details.component.html
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/service-invoices.component.html
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/status-history/status-history.component.html
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/stock-entry.component.html
Due: test_rma_frontend

feat(rma-frontend): i used feat branch 2
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/claim-details/claim-details.component.ts
Due: test_rma_frontend

feat(rma-frontend): i used feat branch 2
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/claim-details/claim-details.component.html
Due: test_rma_frontend

feat(rma-frontend): i used feat branch 2
  packages/rma-frontend/src/app/warranty-ui/warranty-tabs/warranty.service.ts
Due: test_rma_frontend

feat(rma-frontend): i used feat branch 2
  packages/rma-frontend/src/app/common/interfaces/warranty.interface.ts
Due: test_rma_frontend

feat(rma-frontend): data display in detail tab from DB
  packages/rma-frontend/src/app/app-routing.module.ts
  packages/rma-frontend/src/app/common/interfaces/warranty.interface.ts
  packages/rma-frontend/src/app/constants/messages.ts
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/claim-details/claim-details.component.html
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/claim-details/claim-details.component.spec.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/claim-details/claim-details.component.ts
  packages/rma-frontend/src/app/warranty-ui/warranty-tabs/warranty.service.ts
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.page.html
Due: test_rma_frontend

feat(rma-frontend): remove function and comment
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/claim-details/claim-details.component.ts
  packages/rma-frontend/src/app/warranty-ui/warranty-tabs/warranty.service.ts
Due: test_rma_frontend

feat(rma-frontend): replace string by text
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/claim-details/claim-details.component.html
Due: test_rma_frontend

feat(rma-frontend): claim creation form created in warranty
  packages/rma-frontend/src/app/app-routing.module.ts
  packages/rma-frontend/src/app/warranty-ui/add-warranty-claim/add-warranty-claim-routing.module.ts
  packages/rma-frontend/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.module.ts
  packages/rma-frontend/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.html
  packages/rma-frontend/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.scss
  packages/rma-frontend/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.spec.ts
  packages/rma-frontend/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
  packages/rma-frontend/src/app/warranty-ui/warranty-ui.module.ts
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.page.html
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.page.spec.ts
Due: test_rma_frontend

feat(rma-frontend): remove full-width class from add-warranty-claim page
  packages/rma-frontend/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.html
Due: test_rma_frontend

feat: sync module
  packages/rma-frontend/src/app/settings/settings.page.html
  packages/rma-frontend/src/app/settings/settings.page.ts
  packages/rma-frontend/src/app/settings/settings.service.ts
  packages/rma-server/src/app.module.ts
  packages/rma-server/src/auth/aggregates/client-token-manager/client-token-manager.service.ts
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/constants/routes.ts
  packages/rma-server/src/sync/aggregates/sync-aggregate/sync-aggregate.service.spec.ts
  packages/rma-server/src/sync/aggregates/sync-aggregate/sync-aggregate.service.ts
  packages/rma-server/src/sync/sync.module.ts
  packages/rma-server/src/system-settings/entities/server-settings/server-setting.dto.ts
  packages/rma-server/src/system-settings/entities/server-settings/server-settings.entity.ts
  packages/rma-server/src/system-settings/entities/server-settings/server-settings.service.spec.ts
  packages/rma-server/src/system-settings/entities/server-settings/server-settings.service.ts
Due: test_rma_frontend, test_rma_server

feat(rma-server): use api key and secret for service account
  packages/rma-server/src/auth/aggregates/connect/connect.service.ts
  packages/rma-server/src/auth/guards/token.guard.ts
  packages/rma-server/src/auth/schedulers/revoke-expired-frappe-tokens/revoke-expired-frappe-tokens.service.ts
  packages/rma-server/src/customer/aggregates/customer-aggregate/customer-aggregate.service.ts
  packages/rma-server/src/customer/aggregates/customer-webhook-aggregate/customer-webhook-aggregate.service.ts
  packages/rma-server/src/customer/aggregates/territory-aggregate/territory-aggregate.service.ts
  packages/rma-server/src/customer/schedulers/reset-credit-limit/reset-credit-limit.service.ts
  packages/rma-server/src/delivery-note/aggregates/delivery-note-aggregate/delivery-note-aggregate.service.ts
  packages/rma-server/src/delivery-note/aggregates/delivery-note-webhook-aggregate/delivery-note-webhook-aggregate.service.ts
  packages/rma-server/src/item/aggregates/item-webhook-aggregate/item-webhook-aggregate.service.ts
  packages/rma-server/src/purchase-invoice/aggregates/purchase-invoice-webhook-aggregate/purchase-invoice-webhook-aggregate.service.ts
  packages/rma-server/src/purchase-order/aggregates/purchase-order-webhook-aggregate/purchase-order-webhook-aggregate.service.ts
  packages/rma-server/src/sales-invoice/policies/sales-invoice-policies/sales-invoice-policies.service.ts
  packages/rma-server/src/system-settings/aggregates/settings/settings.service.ts
Due: test_rma_server

Path conditions:
  test_rma_frontend: any of: packages/rma-frontend/**/*
  test_rma_mobile: any of: packages/rma-mobile/**/*
  test_rma_server: any of: packages/rma-server/**/*
