Repository fnrfarid/excel-rma: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_rma_frontend, test_rma_mobile, test_rma_server

test_rma_frontend:
  stage: tests
  before_script:
  - cd packages/rma-frontend
  - npm install
  script:
  - export NODE_ENV=test
  - npm run lint
  - npm run format:check
  - npm run test
  - npm run e2e
  tags:
  - docker

test_rma_mobile:
  stage: tests
  before_script:
  - cd packages/rma-mobile
  - npm install
  script:
  - npm run lint
  - npm run format:check
  - export NODE_ENV=test
  - export DISPLAY=:99
  - Xvfb :0 -ac -screen 0 1024x768x24 &
  - npm run test
  - npm run e2e
  tags:
  - docker

test_rma_server:
  stage: tests
  before_script:
  - cd packages/rma-server
  - npm install
  script:
  - export NODE_ENV=test
  - npm run lint
  - npm run format:check
  - npm run test
  - npm run test:e2e
  tags:
  - docker

feat(rma-server): Added validations for serial in range
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-server/src/serial-no/aggregates/serial-no-aggregate/serial-no-aggregate.service.ts
  packages/rma-server/src/serial-no/controllers/serial-no/serial-no.controller.ts
  packages/rma-server/src/serial-no/entity/serial-no/serial-no-dto.ts
  packages/rma-server/src/serial-no/policies/serial-no-policies/serial-no-policies.service.ts
  packages/rma-server/src/serial-no/query/validate-serial/validate-serial-query.handler.ts
  packages/rma-server/src/serial-no/query/validate-serial/validate-serial.query.ts
Due: test_rma_frontend, test_rma_server

feat(rma-server): Added createdBy and modifiedBy to sales invoice
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
  packages/rma-server/src/delivery-note/aggregates/delivery-note-aggregate/delivery-note-aggregate.service.ts
  packages/rma-server/src/delivery-note/entity/delivery-note-service/delivery-note.entity.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice.entity.ts
Due: test_rma_frontend, test_rma_server

feat: customer credit limit reset with expiry
  packages/rma-frontend/src/app/app.component.ts
  packages/rma-frontend/src/app/constants/app-string.ts
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/credit-limit/credit-limit.module.ts
  packages/rma-frontend/src/app/credit-limit/credit-limit.page.html
  packages/rma-frontend/src/app/credit-limit/credit-limit.page.spec.ts
  packages/rma-frontend/src/app/credit-limit/credit-limit.page.ts
  packages/rma-frontend/src/app/credit-limit/update-credit-limit/update-credit-limit.component.html
  packages/rma-frontend/src/app/credit-limit/update-credit-limit/update-credit-limit.component.scss
  packages/rma-frontend/src/app/credit-limit/update-credit-limit/update-credit-limit.component.spec.ts
  packages/rma-frontend/src/app/credit-limit/update-credit-limit/update-credit-limit.component.ts
  packages/rma-frontend/src/app/credit-limit/update-credit-limit/update-credit-limit.service.spec.ts
  packages/rma-frontend/src/app/credit-limit/update-credit-limit/update-credit-limit.service.ts
  packages/rma-frontend/src/app/home/home.page.html
  packages/rma-frontend/src/app/home/home.page.ts
  packages/rma-server/src/auth/schedulers/revoke-expired-frappe-tokens/revoke-expired-frappe-tokens.service.ts
  packages/rma-server/src/constants/messages.ts
  packages/rma-server/src/constants/routes.ts
  packages/rma-server/src/customer/aggregates/customer-aggregate/customer-aggregate.service.ts
  packages/rma-server/src/customer/command/update-customer/update-customer-command.handler.ts
  packages/rma-server/src/customer/controllers/customer/customer.controller.ts
  packages/rma-server/src/customer/customer.module.ts
  packages/rma-server/src/customer/entity/customer/customer.entity.ts
  packages/rma-server/src/customer/entity/customer/update-customer-dto.ts
  packages/rma-server/src/customer/schedulers/index.ts
  packages/rma-server/src/customer/schedulers/reset-credit-limit/reset-credit-limit.service.spec.ts
  packages/rma-server/src/customer/schedulers/reset-credit-limit/reset-credit-limit.service.ts
  packages/rma-server/src/system-settings/aggregates/settings/settings.service.ts
Due: test_rma_frontend, test_rma_server

fix(rma-frontend): delay check roles
  packages/rma-frontend/src/app/app.component.ts
Due: test_rma_frontend

fix(rma-frontend): Improved serial assign UI
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.html
Due: test_rma_frontend

fix(rma-frontend):added warranty page
  packages/rma-frontend/src/app/app-routing.module.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty-claims-datasource.ts
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty-routing.module.ts
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.module.ts
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.page.html
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.page.scss
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.page.spec.ts
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.page.ts
Due: test_rma_frontend

feat(rma-frontenf):debaounce time add in serial Range
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
Due: test_rma_frontend

fix: customer credit limit page
  packages/rma-frontend/src/app/app.component.ts
  packages/rma-frontend/src/app/credit-limit/credit-limit-datasource.ts
  packages/rma-frontend/src/app/credit-limit/credit-limit.page.spec.ts
  packages/rma-frontend/src/app/credit-limit/credit-limit.page.ts
  packages/rma-frontend/src/app/credit-limit/update-credit-limit/update-credit-limit.service.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-server/src/customer/aggregates/customer-aggregate/customer-aggregate.service.ts
  packages/rma-server/src/customer/controllers/customer/customer.controller.ts
  packages/rma-server/src/customer/entity/customer/customer-webhook-interface.ts
  packages/rma-server/src/customer/entity/customer/customer.service.ts
  packages/rma-server/src/customer/query/list-customer/retrieve-customer-list-query.handler.ts
Due: test_rma_frontend, test_rma_server

feat(rma-server): Added endpoint to create DeliveryNote
  packages/rma-frontend/src/app/common/interfaces/sales.interface.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.scss
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-frontend/src/app/settings/settings.page.html
Due: test_rma_frontend

fix(rma-frontend): settings menu as per role
  packages/rma-frontend/src/app/app.component.ts
  packages/rma-frontend/src/app/callback/callback.page.spec.ts
  packages/rma-frontend/src/app/callback/callback.page.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.module.ts
Due: test_rma_frontend

feat(rma-server): Added Credit-Note to sales return
  packages/rma-frontend/src/app/sales-ui/add-sales-return/add-sales-return.page.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice.entity.ts
  packages/rma-server/src/sales-invoice/policies/sales-invoice-policies/sales-invoice-policies.service.ts
Due: test_rma_frontend, test_rma_server

feat(rma-server): Added serial assign part of purchase receipt
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.html
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.ts
Due: test_rma_frontend

feat: validateStock settings
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
  packages/rma-frontend/src/app/settings/settings.page.html
  packages/rma-frontend/src/app/settings/settings.page.ts
  packages/rma-frontend/src/app/settings/settings.service.ts
  packages/rma-server/src/customer/schedulers/reset-credit-limit/reset-credit-limit.service.ts
  packages/rma-server/src/system-settings/entities/server-settings/server-settings.entity.ts
Due: test_rma_frontend, test_rma_server

feat(rma-frontend): validate stock before add/edit SI
  packages/rma-frontend/src/app/constants/messages.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
Due: test_rma_frontend

update: root and packages
  packages/rma-frontend/package-lock.json
  packages/rma-frontend/package.json
  packages/rma-frontend/src/app/app.component.html
  packages/rma-frontend/src/app/credit-limit/credit-limit.page.ts
  packages/rma-frontend/src/app/credit-limit/update-credit-limit/update-credit-limit.component.ts
  packages/rma-frontend/src/app/material/material.module.ts
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.html
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.spec.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-details/purchase-details.component.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/accounts/accounts.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/credit-notes/credit-notes.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/sales-return/sales-return.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-frontend/src/app/settings/settings.page.html
  packages/rma-frontend/src/app/settings/settings.page.ts
  packages/rma-frontend/src/app/warranty-ui/warranty-tabs/assign-claims/assign-claims.component.spec.ts
  packages/rma-frontend/src/app/warranty-ui/warranty-tabs/assign-claims/assign-claims.component.ts
  packages/rma-frontend/src/app/warranty-ui/warranty-tabs/serial-number/serial-number.component.ts
  packages/rma-frontend/src/app/warranty-ui/warranty-tabs/warranty-claims/warranty-claims.component.ts
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.page.ts
  packages/rma-server/package-lock.json
  packages/rma-server/package.json
Due: test_rma_frontend, test_rma_server

feat(rma-frontend): Menu now shows selected route
  packages/rma-frontend/src/app/app-routing.module.ts
  packages/rma-frontend/src/app/app.component.html
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.html
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/view-purchase-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/view-sales-invoice.page.html
  packages/rma-frontend/src/global.scss
Due: test_rma_frontend

fix(rma-frontend): build fixes for angular 9 ivy
  packages/rma-frontend/src/app/credit-limit/credit-limit.page.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-return/add-sales-return.page.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.page.html
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.page.ts
Due: test_rma_frontend

fix(rma-frontend): Fixed edit sales invoice route
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.html
Due: test_rma_frontend

feat: checkbox for campaign invoice
  packages/rma-frontend/src/app/app-routing.module.ts
  packages/rma-frontend/src/app/credit-limit/credit-limit.page.html
  packages/rma-frontend/src/app/credit-limit/credit-limit.page.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice-dto.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice-update-dto.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice.entity.ts
Due: test_rma_frontend, test_rma_server

feat(rma-frontend): return not allowed on campaign invoice
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/view-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/view-sales-invoice.page.ts
Due: test_rma_frontend

wip
  packages/rma-frontend/package-lock.json
  packages/rma-frontend/package.json
  packages/rma-frontend/src/app/api/csv-json/csv-json.service.spec.ts
  packages/rma-frontend/src/app/api/csv-json/csv-json.service.ts
  packages/rma-frontend/src/app/app.module.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-server/src/constants/messages.ts
  packages/rma-server/src/item/aggregates/item-aggregate/item-aggregate.service.ts
  packages/rma-server/src/item/controllers/item/item.controller.ts
  packages/rma-server/src/item/query/get-item-by-names/retrieve-item-by-names-.query.ts
  packages/rma-server/src/item/query/get-item-by-names/retrieve-item-by-names-query.handler.ts
  packages/rma-server/src/item/query/index.ts
  packages/rma-server/src/serial-no/policies/serial-no-policies/serial-no-policies.service.ts
Due: test_rma_frontend, test_rma_server

feat: Add csv serial assignment
  packages/rma-frontend/package-lock.json
  packages/rma-frontend/src/app/api/csv-json/csv-json.service.spec.ts
  packages/rma-frontend/src/app/api/csv-json/csv-json.service.ts
Due: test_rma_frontend

feat(rma-frontend): show remaining balance on add/edit si
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/credit-limit/update-credit-limit/update-credit-limit.component.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/sales-ui/services/item-price.service.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
Due: test_rma_frontend

fix(rma-frontend): Fixed Minor UI bugs
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/sales-return/sales-return.component.html
Due: test_rma_frontend

fix(rma-frontend): Added padded number to serial assign
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.html
Due: test_rma_frontend

feat: transfer warehouse and debtor account in settings
  .gitlab-ci.yml
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/settings/settings.page.html
  packages/rma-frontend/src/app/settings/settings.page.spec.ts
  packages/rma-frontend/src/app/settings/settings.page.ts
  packages/rma-frontend/src/app/settings/settings.service.ts
  packages/rma-server/Dockerfile
  packages/rma-server/docker/docker-entrypoint.sh
  packages/rma-server/docker/env.tmpl
  packages/rma-server/src/system-settings/entities/server-settings/server-setting.dto.ts
  packages/rma-server/src/system-settings/entities/server-settings/server-settings.entity.ts
Due: test_rma_frontend, test_rma_server

fix(rma-frontend): Added fix to range serials
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
Due: test_rma_frontend

feat(rma-server): Added policy to validate serial numbers of csv for purchase receipt
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/serial-no/controllers/serial-no/serial-no.controller.ts
  packages/rma-server/src/serial-no/entity/serial-no/serial-no-dto.ts
  packages/rma-server/src/serial-no/policies/serial-no-policies/serial-no-policies.service.ts
Due: test_rma_server

feat(rma-frontend): Added csv upload for purchase receipt
  packages/rma-frontend/src/app/api/csv-json/csv-json.service.ts
  packages/rma-frontend/src/app/common/interfaces/sales.interface.ts
  packages/rma-frontend/src/app/constants/app-string.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.html
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.spec.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
Due: test_rma_frontend

fix(rma-frontend): Fixed minor changes in UI
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/inline-edit/inline-edit.component.html
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.html
Due: test_rma_frontend

feat: item price filter and columns
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.datasource.ts
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.html
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.scss
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.spec.ts
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.ts
  packages/rma-server/src/item/aggregates/item-aggregate/item-aggregate.service.ts
  packages/rma-server/src/item/controllers/item/item.controller.ts
  packages/rma-server/src/item/entity/item/item.service.ts
Due: test_rma_frontend, test_rma_server

feat(rma-frontend): Added columns and filters in purchase invoice listing page
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase-invoice-datasource.ts
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.html
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.ts
  packages/rma-frontend/src/app/purchase-ui/services/purchase.service.ts
Due: test_rma_frontend

feat: credit limit page columns
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/credit-limit/credit-limit.page.html
  packages/rma-frontend/src/app/credit-limit/credit-limit.page.ts
  packages/rma-frontend/src/app/credit-limit/update-credit-limit/update-credit-limit.service.ts
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.scss
  packages/rma-frontend/src/global.scss
  packages/rma-server/src/customer/aggregates/customer-aggregate/customer-aggregate.service.spec.ts
  packages/rma-server/src/customer/aggregates/customer-aggregate/customer-aggregate.service.ts
  packages/rma-server/src/customer/command/index.ts
  packages/rma-server/src/customer/command/update-credit-limit/update-credit-limit.command.ts
  packages/rma-server/src/customer/command/update-credit-limit/update-credit-limit.handler.ts
  packages/rma-server/src/customer/controllers/customer/customer.controller.ts
  packages/rma-server/src/customer/entity/customer/customer.entity.ts
  packages/rma-server/src/customer/entity/customer/update-credit-limit.dto.ts
Due: test_rma_frontend, test_rma_server

feat(rma-frontend): Added delivered by field in Purchase Invoice
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.html
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
  packages/rma-server/src/purchase-invoice/entity/purchase-invoice/purchase-invoice.entity.ts
  packages/rma-server/src/purchase-receipt/aggregates/purchase-receipt-aggregate/purchase-receipt-aggregate.service.ts
Due: test_rma_frontend, test_rma_server

feat(rma-server): Added error-logs for async request
  packages/rma-server/src/app.module.ts
  packages/rma-server/src/auth/aggregates/connect/connect.service.spec.ts
  packages/rma-server/src/auth/aggregates/connect/connect.service.ts
  packages/rma-server/src/auth/auth.module.ts
  packages/rma-server/src/constants/typeorm.connection.ts
  packages/rma-server/src/customer/aggregates/customer-webhook-aggregate/customer-webhook-aggregate.service.spec.ts
  packages/rma-server/src/customer/aggregates/customer-webhook-aggregate/customer-webhook-aggregate.service.ts
  packages/rma-server/src/customer/customer.module.ts
  packages/rma-server/src/direct/aggregates/direct/direct.service.spec.ts
  packages/rma-server/src/direct/aggregates/direct/direct.service.ts
  packages/rma-server/src/direct/direct.module.ts
  packages/rma-server/src/error-log/controller/error-logs.controller.spec.ts
  packages/rma-server/src/error-log/controller/error-logs.controller.ts
  packages/rma-server/src/error-log/error-log-service/error-log.entity.ts
  packages/rma-server/src/error-log/error-log-service/error-log.service.spec.ts
  packages/rma-server/src/error-log/error-log-service/error-log.service.ts
  packages/rma-server/src/error-log/error-logs-invoice.module.ts
  packages/rma-server/src/item/aggregates/item-webhook-aggregate/item-webhook-aggregate.service.spec.ts
  packages/rma-server/src/item/aggregates/item-webhook-aggregate/item-webhook-aggregate.service.ts
  packages/rma-server/src/item/item.module.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.spec.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/sales-invoice/sales-invoice.module.ts
  packages/rma-server/src/serial-no/aggregates/serial-no-aggregate/serial-no-aggregate.service.spec.ts
  packages/rma-server/src/serial-no/aggregates/serial-no-aggregate/serial-no-aggregate.service.ts
  packages/rma-server/src/serial-no/controllers/serial-no/serial-no.controller.ts
  packages/rma-server/src/serial-no/serial-no.module.ts
Due: test_rma_server

feat(rma-frontend): add sequential-ids lib with ngx-build-plus
  packages/rma-frontend/angular.json
  packages/rma-frontend/package-lock.json
  packages/rma-frontend/package.json
  packages/rma-frontend/webpack.partial.js
Due: test_rma_frontend

Revert "Merge branch 'feat' into 'develop'"
  packages/rma-frontend/angular.json
  packages/rma-frontend/package-lock.json
  packages/rma-frontend/package.json
  packages/rma-frontend/webpack.partial.js
Due: test_rma_frontend

feat(rma-frontend): Added created by field in Purchase Invoice
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.html
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.ts
Due: test_rma_frontend

feat(rma-server): Added created by field in webhook and PI entity
  packages/rma-server/src/constants/webhook-data.ts
  packages/rma-server/src/purchase-invoice/aggregates/purchase-invoice-webhook-aggregate/purchase-invoice-webhook-aggregate.service.ts
  packages/rma-server/src/purchase-invoice/entity/purchase-invoice/purchase-invoice-webhook-dto.ts
  packages/rma-server/src/purchase-invoice/entity/purchase-invoice/purchase-invoice.entity.ts
Due: test_rma_server

Path conditions:
  test_rma_frontend: any of: packages/rma-frontend/**/*
  test_rma_mobile: any of: packages/rma-mobile/**/*
  test_rma_server: any of: packages/rma-server/**/*
