Repository fnrfarid/excel-rma: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_rma_frontend, test_rma_mobile, test_rma_server

test_rma_frontend:
  stage: tests
  before_script:
  - cd packages/rma-frontend
  - npm install
  script:
  - export NODE_ENV=test
  - npm run lint
  - npm run format:check
  - npm run test
  - npm run e2e
  tags:
  - docker

test_rma_mobile:
  stage: tests
  before_script:
  - cd packages/rma-mobile
  - npm install
  script:
  - npm run lint
  - npm run format:check
  - export NODE_ENV=test
  - export DISPLAY=:99
  - Xvfb :0 -ac -screen 0 1024x768x24 &
  - npm run test
  - npm run e2e
  tags:
  - docker

test_rma_server:
  stage: tests
  before_script:
  - cd packages/rma-server
  - npm install
  script:
  - export NODE_ENV=test
  - npm run lint
  - npm run format:check
  - npm run test
  - npm run test:e2e
  tags:
  - docker

feat(rma-server): Added webhook sync for sales-invoice
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/constants/routes.ts
  packages/rma-server/src/constants/webhook-data.ts
  packages/rma-server/src/purchase-invoice/controllers/purchase-invoice-webhook/purchase-invoice-webhook.controller.spec.ts
  packages/rma-server/src/purchase-invoice/controllers/purchase-invoice-webhook/purchase-invoice-webhook.controller.ts
  packages/rma-server/src/sales-invoice/aggregates/index.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-webhook-aggregate/sales-invoice-webhook-aggregate.service.spec.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-webhook-aggregate/sales-invoice-webhook-aggregate.service.ts
  packages/rma-server/src/sales-invoice/controllers/sales-invoice-webhook/sales-invoice-webhook.controller.spec.ts
  packages/rma-server/src/sales-invoice/controllers/sales-invoice-webhook/sales-invoice-webhook.controller.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice-webhook-dto.ts
  packages/rma-server/src/sales-invoice/sales-invoice.module.ts
  packages/rma-server/src/system-settings/aggregates/settings/settings.service.ts
Due: test_rma_server

feat: filter warehouse
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.html
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-server/src/customer/aggregates/territory-aggregate/territory-aggregate.service.ts
  packages/rma-server/src/customer/controllers/territory/territory.controller.ts
Due: test_rma_frontend, test_rma_server

fix(rma-server): add TokenGuard to get w/h by territory endpoint
  packages/rma-server/src/customer/controllers/territory/territory.controller.ts
Due: test_rma_server

update: root and packages
  packages/rma-frontend/package-lock.json
  packages/rma-frontend/package.json
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.ts
  packages/rma-mobile/package.json
  packages/rma-server/package-lock.json
  packages/rma-server/package.json
  packages/rma-server/src/auth/schedulers/revoke-expired-frappe-tokens/revoke-expired-frappe-tokens.service.ts
Due: test_rma_frontend, test_rma_mobile, test_rma_server

feat(rma-frontend): Added Purchase Invoice listing
  packages/rma-frontend/src/app/app.component.html
  packages/rma-frontend/src/app/common/interfaces/purchase.interface.ts
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase-invoice-datasource.ts
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.module.ts
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.html
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.scss
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.spec.ts
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.ts
  packages/rma-frontend/src/app/purchase-ui/services/purchase.service.spec.ts
  packages/rma-frontend/src/app/purchase-ui/services/purchase.service.ts
Due: test_rma_frontend

feat(rma-frontend): Added View-Purchase-Invoice Page
  packages/rma-frontend/src/app/app-routing.module.ts
  packages/rma-frontend/src/app/purchase-ui/purchase-ui.module.ts
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.html
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.html
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.scss
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.spec.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-details/purchase-details.component.html
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-details/purchase-details.component.scss
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-details/purchase-details.component.spec.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-details/purchase-details.component.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/view-purchase-invoice-routing.module.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/view-purchase-invoice.module.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/view-purchase-invoice.page.html
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/view-purchase-invoice.page.scss
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/view-purchase-invoice.page.spec.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/view-purchase-invoice.page.ts
Due: test_rma_frontend

feat(rma-frontend): Validate minimum price while adding items
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/inline-edit/inline-edit.component.html
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/inline-edit/inline-edit.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.ts
Due: test_rma_frontend

fix(rma-frontend): set minimum price from default price list
  packages/rma-frontend/src/app/app.service.ts
  packages/rma-frontend/src/app/constants/storage.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/inline-edit/inline-edit.component.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/settings/settings.page.html
Due: test_rma_frontend

feat(rma-frontend):added purchase invoice detail component
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-details/purchase-details.component.html
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-details/purchase-details.component.spec.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-details/purchase-details.component.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/view-purchase-invoice.module.ts
Due: test_rma_frontend

feat(rma-frontend): Wired Purchase Details component with backend
  packages/rma-frontend/src/app/common/interfaces/purchase.interface.ts
  packages/rma-frontend/src/app/constants/messages.ts
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/purchase-ui/services/purchase.service.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-details/purchase-details.component.html
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-details/purchase-details.component.spec.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-details/purchase-details.component.ts
Due: test_rma_frontend

feat(rma-frontend): Added Assign serial component for Purchase Invoice
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/edit-purchase-table/edit-purchase-table.component.html
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/edit-purchase-table/edit-purchase-table.component.scss
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/edit-purchase-table/edit-purchase-table.component.spec.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/edit-purchase-table/edit-purchase-table.component.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.html
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.scss
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.spec.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-details/purchase-details.component.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/view-purchase-invoice.module.ts
Due: test_rma_frontend

feat(excel-rma): Added mapping for sales invoice webhook metadata
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.ts
  packages/rma-server/src/auth/entities/token-cache/token-cache.service.ts
  packages/rma-server/src/constants/webhook-data.ts
  packages/rma-server/src/delivery-note/aggregates/delivery-note-aggregate/delivery-note-aggregate.service.ts
  packages/rma-server/src/delivery-note/entity/delivery-note-service/delivery-note.service.ts
  packages/rma-server/src/direct/entities/frappe-token/frappe-token.service.ts
  packages/rma-server/src/direct/entities/request-state/request-state.service.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-webhook-aggregate/sales-invoice-webhook-aggregate.service.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice-webhook-dto.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice.entity.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice.service.ts
  packages/rma-server/src/serial-no/entity/serial-no/assign-serial-dto.ts
  packages/rma-server/src/serial-no/entity/serial-no/serial-no.service.ts
  packages/rma-server/src/system-settings/aggregates/settings/settings.service.ts
  packages/rma-server/src/system-settings/controllers/settings/settings.controller.ts
  packages/rma-server/src/system-settings/entities/server-settings/server-settings.service.ts
Due: test_rma_frontend, test_rma_server

feat(rma-server): Sync for customer credit-days from payment-template
  packages/rma-server/src/constants/routes.ts
  packages/rma-server/src/constants/webhook-data.ts
  packages/rma-server/src/customer/aggregates/customer-webhook-aggregate/customer-webhook-aggregate.service.ts
  packages/rma-server/src/customer/controllers/customer-webhook/customer-webhook.controller.ts
  packages/rma-server/src/customer/entity/customer/customer-webhook-interface.ts
  packages/rma-server/src/customer/entity/customer/customer.entity.ts
Due: test_rma_server

feat(rma-frontend): Set due date based on credit days of selected customer
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
Due: test_rma_frontend

feat(rma-server): Added create API for purchase receipt
  packages/rma-server/src/app.module.ts
  packages/rma-server/src/constants/messages.ts
  packages/rma-server/src/constants/routes.ts
  packages/rma-server/src/purchase-invoice/entity/purchase-invoice/purchase-invoice.entity.ts
  packages/rma-server/src/purchase-receipt/aggregates/index.ts
  packages/rma-server/src/purchase-receipt/aggregates/purchase-receipt-aggregate/purchase-receipt-aggregate.service.spec.ts
  packages/rma-server/src/purchase-receipt/aggregates/purchase-receipt-aggregate/purchase-receipt-aggregate.service.ts
  packages/rma-server/src/purchase-receipt/controllers/purchase-receipt/purchase-receipt.controller.spec.ts
  packages/rma-server/src/purchase-receipt/controllers/purchase-receipt/purchase-receipt.controller.ts
  packages/rma-server/src/purchase-receipt/entity/purchase-receipt-dto.ts
  packages/rma-server/src/purchase-receipt/entity/purchase-receipt-response-interface.ts
  packages/rma-server/src/purchase-receipt/purchase-receipt-policies/purchase-receipt-policies.service.spec.ts
  packages/rma-server/src/purchase-receipt/purchase-receipt-policies/purchase-receipt-policies.service.ts
  packages/rma-server/src/purchase-receipt/purchase-receipt.module.ts
Due: test_rma_server

feat(rma-frontend): Added Sales Return
  packages/rma-frontend/src/app/app-routing.module.ts
  packages/rma-frontend/src/app/common/interfaces/sales-return.interface.ts
  packages/rma-frontend/src/app/common/interfaces/sales.interface.ts
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-return/add-sales-return-routing.module.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-return/add-sales-return.module.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-return/add-sales-return.page.html
  packages/rma-frontend/src/app/sales-ui/add-sales-return/add-sales-return.page.scss
  packages/rma-frontend/src/app/sales-ui/add-sales-return/add-sales-return.page.spec.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-return/add-sales-return.page.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-return/edit-sales-return-table/edit-sales-return-table.component.html
  packages/rma-frontend/src/app/sales-ui/add-sales-return/edit-sales-return-table/edit-sales-return-table.component.scss
  packages/rma-frontend/src/app/sales-ui/add-sales-return/edit-sales-return-table/edit-sales-return-table.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-return/edit-sales-return-table/edit-sales-return-table.component.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/sales-return/sales-return.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/sales-return/sales-return.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/sales-return/sales-return.component.ts
Due: test_rma_frontend

feat(rma-server): Added completed status for SI on delivery note being created
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/delivery-note/aggregates/delivery-note-aggregate/delivery-note-aggregate.service.ts
  packages/rma-server/src/purchase-receipt/controllers/purchase-receipt/purchase-receipt.controller.ts
Due: test_rma_server

fix(rma-frontend): Fix posting date and time
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
Due: test_rma_frontend

feat(rma-frontend): Added Purchase Receipt wired with backend
  packages/rma-frontend/src/app/common/interfaces/purchase-receipt.interface.ts
  packages/rma-frontend/src/app/common/interfaces/purchase.interface.ts
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/purchase-ui/services/purchase.service.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.html
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.spec.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
Due: test_rma_frontend

feat(rma-server): Added Sales invoice filter
  packages/rma-frontend/src/app/sales-ui/sales/sales-invoice-datasource.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-server/src/constants/listing-dto/sales-invoice-list-query.ts
  packages/rma-server/src/constants/listing-dto/sort.enum.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/sales-invoice/controllers/sales-invoice/sales-invoice.controller.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice.service.ts
  packages/rma-server/src/sales-invoice/query/list-sales-invoice/retrieve-sales-invoice-list.handler.ts
  packages/rma-server/src/sales-invoice/query/list-sales-invoice/retrieve-sales-invoice-list.query.ts
Due: test_rma_frontend, test_rma_server

fix(rma-frontend): Fixed completed status on SI listing
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
Due: test_rma_frontend

fix(rma-server): Added optional fields for purchase-invoice webhook dto
  packages/rma-server/src/purchase-invoice/entity/purchase-invoice/purchase-invoice-webhook-dto.ts
Due: test_rma_server

fix(rma-frontend): Fixed layout of sales invoice listing
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.ts
Due: test_rma_frontend

feat(rma-frontend): limit selling price
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/inline-edit/inline-edit.component.ts
  packages/rma-frontend/src/app/settings/settings.page.html
Due: test_rma_frontend

fix(rma-frontend): Removed swipeable tabs from warranty UI
  packages/rma-frontend/src/app/warranty-ui/warranty-tabs/serial-number/serial-number.component.html
  packages/rma-frontend/src/app/warranty-ui/warranty-tabs/serial-number/serial-number.component.scss
  packages/rma-frontend/src/app/warranty-ui/warranty-tabs/warranty-tabs.page.html
  packages/rma-frontend/src/app/warranty-ui/warranty-tabs/warranty-tabs.page.scss
  packages/rma-frontend/src/app/warranty-ui/warranty-tabs/warranty-tabs.page.ts
Due: test_rma_frontend

feat(rma-frontend): Disabled sales-return tab and credit-note tab if DN not submitted
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/view-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/view-sales-invoice.page.ts
Due: test_rma_frontend

fix(rma-frontend): Fixed sales listing as per excel sheet
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.ts
Due: test_rma_frontend

fix(rma-frontend): load settings based on roles
  packages/rma-frontend/src/app/app.component.ts
Due: test_rma_frontend

feat(rma-frontend):added validation
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.html
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-details/purchase-details.component.html
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-details/purchase-details.component.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
Due: test_rma_frontend

fix(rma-server): Sales Invoice list page with date sort
  packages/rma-frontend/src/app/sales-ui/sales/sales-invoice-datasource.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-server/src/config/config.module.ts
  packages/rma-server/src/config/luxon.provider.ts
  packages/rma-server/src/constants/listing-dto/sales-invoice-list-query.ts
  packages/rma-server/src/constants/listing-dto/sort.enum.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice.service.ts
Due: test_rma_frontend, test_rma_server

chore(rma-server): use nest cli to watch debug
  packages/rma-server/nodemon-debug.json
  packages/rma-server/nodemon.json
  packages/rma-server/package-lock.json
  packages/rma-server/package.json
Due: test_rma_server

refactor(rma-server): move common dependencies to a module
  packages/rma-server/src/app.module.ts
  packages/rma-server/src/auth/auth.module.ts
  packages/rma-server/src/command/command.module.ts
  packages/rma-server/src/common-dep/common-dep.module.ts
  packages/rma-server/src/config/config.module.ts
  packages/rma-server/src/credit-note/credit-note-invoice.module.ts
  packages/rma-server/src/customer/customer.module.ts
  packages/rma-server/src/customer/entity/entity.module.ts
  packages/rma-server/src/delivery-note/delivery-note.module.ts
  packages/rma-server/src/delivery-note/entity/delivery-note-entity.module.ts
  packages/rma-server/src/direct/direct.module.ts
  packages/rma-server/src/item/entity/item-entity.module.ts
  packages/rma-server/src/item/item.module.ts
  packages/rma-server/src/purchase-invoice/entity/entity.module.ts
  packages/rma-server/src/purchase-invoice/purchase-invoice.module.ts
  packages/rma-server/src/purchase-receipt/purchase-receipt.module.ts
  packages/rma-server/src/return-voucher/return-voucher-invoice.module.ts
  packages/rma-server/src/sales-invoice/entity/entity.module.ts
  packages/rma-server/src/sales-invoice/sales-invoice.module.ts
  packages/rma-server/src/serial-no/entity/entity.module.ts
  packages/rma-server/src/serial-no/serial-no.module.ts
  packages/rma-server/src/supplier/entity/entity.module.ts
  packages/rma-server/src/supplier/supplier.module.ts
  packages/rma-server/src/system-settings/system-settings.module.ts
  packages/rma-server/src/warranty-claim/entity/entity.module.ts
  packages/rma-server/src/warranty-claim/warranty-claim.module.ts
Due: test_rma_server

feat: settings to save timezone
  packages/rma-frontend/src/app/app.component.ts
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/settings/settings.page.html
  packages/rma-frontend/src/app/settings/settings.page.spec.ts
  packages/rma-frontend/src/app/settings/settings.page.ts
  packages/rma-frontend/src/app/settings/settings.service.ts
  packages/rma-server/src/auth/schedulers/revoke-expired-frappe-tokens/revoke-expired-frappe-tokens.service.ts
  packages/rma-server/src/config/luxon.provider.ts
  packages/rma-server/src/system-settings/controllers/settings/settings.controller.ts
  packages/rma-server/src/system-settings/controllers/setup/setup.controller.spec.ts
  packages/rma-server/src/system-settings/controllers/setup/setup.service.ts
  packages/rma-server/src/system-settings/entities/server-settings/server-setting.dto.ts
  packages/rma-server/src/system-settings/entities/server-settings/server-settings.entity.ts
Due: test_rma_frontend, test_rma_server

refactor: remove deprecated dependencies
  packages/rma-frontend/.eslintrc.js
  packages/rma-frontend/Dockerfile
  packages/rma-frontend/angular.json
  packages/rma-frontend/package-lock.json
  packages/rma-frontend/package.json
  packages/rma-frontend/src/app/api/storage/storage.service.ts
  packages/rma-frontend/src/app/app.module.ts
  packages/rma-frontend/src/app/common/interfaces/customer.interface.ts
  packages/rma-frontend/src/app/common/interfaces/purchase.interface.ts
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.html
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-return/add-sales-return.page.ts
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.html
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/accounts/accounts.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/credit-notes/credit-notes.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/sales-return/sales-return.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-frontend/src/app/settings/settings.page.html
  packages/rma-frontend/src/app/settings/settings.page.ts
  packages/rma-frontend/src/app/settings/settings.service.ts
  packages/rma-frontend/src/app/warranty-ui/warranty-tabs/serial-number/serial-number.component.html
  packages/rma-frontend/src/app/warranty-ui/warranty-tabs/warranty-claims/warranty-claims.component.html
  packages/rma-frontend/src/app/warranty-ui/warranty-ui.module.ts
  packages/rma-frontend/src/main.ts
  packages/rma-frontend/src/polyfills.ts
  packages/rma-frontend/tsconfig.app.json
  packages/rma-mobile/.eslintrc.js
  packages/rma-mobile/package-lock.json
  packages/rma-mobile/package.json
  packages/rma-mobile/src/main.ts
  packages/rma-mobile/src/polyfills.ts
  packages/rma-server/.eslintrc.js
  packages/rma-server/package-lock.json
  packages/rma-server/package.json
  packages/rma-server/src/delivery-note/controller/delivery-note-webhook/delivery-note-webhook.controller.spec.ts
  packages/rma-server/src/delivery-note/controller/delivery-note-webhook/delivery-note-webhook.controller.ts
  packages/rma-server/src/purchase-invoice/controllers/purchase-invoice-webhook/purchase-invoice-webhook.controller.spec.ts
  packages/rma-server/src/purchase-invoice/controllers/purchase-invoice-webhook/purchase-invoice-webhook.controller.ts
Due: test_rma_frontend, test_rma_mobile, test_rma_server

feat(rma-frontend): Added Credit limit page
  packages/rma-frontend/src/app/app-routing.module.ts
  packages/rma-frontend/src/app/credit-limit/credit-limit-datasource.ts
  packages/rma-frontend/src/app/credit-limit/credit-limit-routing.module.ts
  packages/rma-frontend/src/app/credit-limit/credit-limit.module.ts
  packages/rma-frontend/src/app/credit-limit/credit-limit.page.html
  packages/rma-frontend/src/app/credit-limit/credit-limit.page.scss
  packages/rma-frontend/src/app/credit-limit/credit-limit.page.spec.ts
  packages/rma-frontend/src/app/credit-limit/credit-limit.page.ts
  packages/rma-frontend/src/app/settings/settings.page.html
Due: test_rma_frontend

fix(rma-frontend): login and refresh implicit token
  packages/rma-frontend/src/app/app.component.ts
  packages/rma-frontend/src/app/app.service.ts
  packages/rma-frontend/src/app/home/home.page.ts
  packages/rma-frontend/src/app/settings/settings.page.html
Due: test_rma_frontend

feat(rma-server): Added filtering in Purchase Invoice listing
  packages/rma-server/src/constants/listing-dto/purchase-invoice-list-query.ts
  packages/rma-server/src/purchase-invoice/aggregates/purchase-invoice-aggregate/purchase-invoice-aggregate.service.ts
  packages/rma-server/src/purchase-invoice/controllers/purchase-invoice/purchase-invoice.controller.ts
  packages/rma-server/src/purchase-invoice/entity/purchase-invoice/purchase-invoice.service.ts
  packages/rma-server/src/purchase-invoice/query/list-purchase-invoice/retrieve-purchase-invoice-list.handler.ts
  packages/rma-server/src/purchase-invoice/query/list-purchase-invoice/retrieve-purchase-invoice-list.query.ts
Due: test_rma_server

feat(rma-server): Added filtering in Warranty Claims listing
  packages/rma-server/src/constants/listing-dto/warranty-claims-list-query.ts
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-server/src/warranty-claim/controllers/warranty-claim/warranty-claim.controller.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim.service.ts
  packages/rma-server/src/warranty-claim/query/list-warranty-claim/retrieve-warranty-claim-list.handler.ts
  packages/rma-server/src/warranty-claim/query/list-warranty-claim/retrieve-warranty-claim-list.query.ts
Due: test_rma_server

feat(rma-frontend): Add serial assigning UI
  packages/rma-frontend/package-lock.json
  packages/rma-frontend/package.json
  packages/rma-frontend/src/app/material/material.module.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/assign-serials-dialog.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials-datasource.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/view-sales-invoice.module.ts
Due: test_rma_frontend

feat(rma-server): Added available stock in add sales invoice
  packages/rma-frontend/src/app/common/interfaces/sales.interface.ts
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.spec.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/sales-ui/services/item-price.service.ts
Due: test_rma_frontend

Path conditions:
  test_rma_frontend: any of: packages/rma-frontend/**/*
  test_rma_mobile: any of: packages/rma-mobile/**/*
  test_rma_server: any of: packages/rma-server/**/*
