Repository fnrfarid/excel-rma: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_rma_frontend, test_rma_mobile, test_rma_server, pack_rma_server, pack_rma_frontend

.gitlab-ci.yml:

services:
  - name: docker:dind
    alias: docker

stages:
  - tests
  - pack
  - deploy

test_rma_frontend:
  image: registry.gitlab.com/castlecraft/docker-craft/node-latest-headless-chrome:latest
  stage: tests
  cache:
    key: "$CI_JOB_NAME-$CI_COMMIT_REF_SLUG"
    paths:
      - packages/rma-frontend/node_modules/
  only:
    changes:
      - packages/rma-frontend/**/*
    refs:
      - merge_requests
      - master
  before_script:
    - cd packages/rma-frontend
    - npm install
  script:
    # set env variable for test
    - export NODE_ENV=test
    # Check Code Quality
    - npm run lint
    - npm run format:check
    # Test backend unit tests
    - npm run test
    # Test backend e2e
    - npm run e2e
  tags:
    - docker

test_rma_mobile:
  image: registry.gitlab.com/castlecraft/docker-craft/node-latest-headless-chrome:latest
  stage: tests
  cache:
    key: "$CI_JOB_NAME-$CI_COMMIT_REF_SLUG"
    paths:
      - packages/rma-mobile/node_modules/
  only:
    changes:
      - packages/rma-mobile/**/*
    refs:
      - merge_requests
      - master
  before_script:
    - cd packages/rma-mobile
    - npm install
  script:
    # Check Code Quality
    - npm run lint
    - npm run format:check
    # set env variable for test
    - export NODE_ENV=test
    # Test frontend
    - export DISPLAY=:99
    - Xvfb :0 -ac -screen 0 1024x768x24 &
    - npm run test
    - npm run e2e
  tags:
    - docker

test_rma_server:
  image: node:latest
  stage: tests
  cache:
    key: "$CI_JOB_NAME-$CI_COMMIT_REF_SLUG"
    paths:
      - packages/rma-server/node_modules/
  only:
    changes:
      - packages/rma-server/**/*
    refs:
      - merge_requests
      - master
  before_script:
    - cd packages/rma-server
    - npm install
  script:
    # set env variable for test
    - export NODE_ENV=test
    # Check Code Quality
    - npm run lint
    - npm run format:check
    # Test backend unit tests
    - npm run test
    # Test backend e2e
    - npm run test:e2e
  tags:
    - docker

pack_rma_server:
  image: docker
  stage: pack
  only:
    refs:
      - master
    changes:
      - packages/rma-server/**/*
  before_script:
    - apk add git
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
    - export VERSION=$(git tag --list "rma-server@*" --sort=-version:refname | sed -n 1p | sed -e 's#.*@\(\)#\1#')
    - docker build --cache-from $CI_REGISTRY_IMAGE:latest -t rma-server packages/rma-server
    # - docker tag rma-server $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-server:$VERSION
    - docker tag rma-server $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-server:latest
    - docker push $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-server

pack_rma_frontend:
  image: docker
  stage: pack
  only:
    refs:
      - master
    changes:
      - packages/rma-frontend/**/*
  before_script:
    - apk add git
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
    - export VERSION=$(git tag --list "rma-frontend@*" --sort=-version:refname | sed -n 1p | sed -e 's#.*@\(\)#\1#')
    - docker build --cache-from $CI_REGISTRY_IMAGE:latest -t rma-frontend packages/rma-frontend
    # - docker tag rma-frontend $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-frontend:$VERSION
    - docker tag rma-frontend $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-frontend:latest
    - docker push $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-frontend

deploy_staging:
  image: dtzar/helm-kubectl:latest
  only:
    refs:
      - master
  stage: deploy
  variables:
    KUBECONFIG: /etc/deploy/config
  before_script:
    - mkdir -p /etc/deploy
    - echo ${kube_config} | base64 -d > ${KUBECONFIG}
    - kubectl config use-context staging
  script:
    - helm upgrade stg-rma -n staging helm-chart/rma-portal --reuse-values

feat(rma-frontend): added permissions for delivered status on sales invoice page
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.html
Due: test_rma_frontend, pack_rma_frontend

feat(rma-frontend): added permissions for delivered status on sales invoice page--1
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.html
Due: test_rma_frontend, pack_rma_frontend

fix(rma-server): fixed customer name issue on sales page
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice-webhook-dto.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma:frontend): Added Terms and Conditions Page
  packages/rma-frontend/src/app/app-routing.module.ts
  packages/rma-frontend/src/app/app.component.html
  packages/rma-frontend/src/app/app.module.ts
  packages/rma-frontend/src/app/common/interfaces/terms-and-conditions.interface.ts
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/terms-and-conditions-ui/add-terms-and-conditions/add-terms-and-conditions-routing.module.ts
  packages/rma-frontend/src/app/terms-and-conditions-ui/add-terms-and-conditions/add-terms-and-conditions.module.ts
  packages/rma-frontend/src/app/terms-and-conditions-ui/add-terms-and-conditions/add-terms-and-conditions.page.html
  packages/rma-frontend/src/app/terms-and-conditions-ui/add-terms-and-conditions/add-terms-and-conditions.page.scss
  packages/rma-frontend/src/app/terms-and-conditions-ui/add-terms-and-conditions/add-terms-and-conditions.page.spec.ts
  packages/rma-frontend/src/app/terms-and-conditions-ui/add-terms-and-conditions/add-terms-and-conditions.page.ts
  packages/rma-frontend/src/app/terms-and-conditions-ui/services/TermsAndConditions/terms-and-conditions.service.spec.ts
  packages/rma-frontend/src/app/terms-and-conditions-ui/services/TermsAndConditions/terms-and-conditions.service.ts
  packages/rma-frontend/src/app/terms-and-conditions-ui/terms-and-conditions-ui.module.ts
  packages/rma-frontend/src/app/terms-and-conditions-ui/terms-and-conditions/terms-and-conditions-datasource.ts
  packages/rma-frontend/src/app/terms-and-conditions-ui/terms-and-conditions/terms-and-conditions-routing.module.ts
  packages/rma-frontend/src/app/terms-and-conditions-ui/terms-and-conditions/terms-and-conditions.module.ts
  packages/rma-frontend/src/app/terms-and-conditions-ui/terms-and-conditions/terms-and-conditions.page.html
  packages/rma-frontend/src/app/terms-and-conditions-ui/terms-and-conditions/terms-and-conditions.page.scss
  packages/rma-frontend/src/app/terms-and-conditions-ui/terms-and-conditions/terms-and-conditions.page.spec.ts
  packages/rma-frontend/src/app/terms-and-conditions-ui/terms-and-conditions/terms-and-conditions.page.ts
  packages/rma-server/src/app.module.ts
  packages/rma-server/src/constants/typeorm.connection.ts
  packages/rma-server/src/terms-and-conditions/aggregates/index.ts
  packages/rma-server/src/terms-and-conditions/aggregates/terms-and-conditions-aggregate/terms-and-conditions-aggregate.service.spec.ts
  packages/rma-server/src/terms-and-conditions/aggregates/terms-and-conditions-aggregate/terms-and-conditions-aggregate.service.ts
  packages/rma-server/src/terms-and-conditions/controllers/terms-and-conditions/terms-and-conditions.controller.spec.ts
  packages/rma-server/src/terms-and-conditions/controllers/terms-and-conditions/terms-and-conditions.controller.ts
  packages/rma-server/src/terms-and-conditions/entity/entity.module.ts
  packages/rma-server/src/terms-and-conditions/entity/terms-and-conditions/terms-and-conditions.dto.ts
  packages/rma-server/src/terms-and-conditions/entity/terms-and-conditions/terms-and-conditions.entity.ts
  packages/rma-server/src/terms-and-conditions/entity/terms-and-conditions/terms-and-conditions.service.spec.ts
  packages/rma-server/src/terms-and-conditions/entity/terms-and-conditions/terms-and-conditions.service.ts
  packages/rma-server/src/terms-and-conditions/terms-and-conditions.module.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma:frontend): Added Terms and Conditions Page 1
  packages/rma-server/src/constants/typeorm.connection.ts
Due: test_rma_server, pack_rma_server

feat(rma:frontend): Added Terms and Conditions Page 2
  packages/rma-frontend/src/app/terms-and-conditions-ui/terms-and-conditions/terms-and-conditions.page.html
  packages/rma-server/src/terms-and-conditions/controllers/terms-and-conditions/terms-and-conditions.controller.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-frontend and ram-server): item search in item price make it exact search & Stock entry number search should fetch by matching values.
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.html
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.ts
  packages/rma-server/src/item/entity/item/item.service.ts
  packages/rma-server/src/stock-entry/entities/stock-entry.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma:frontend): Added Terms and Conditions Page 3
  packages/rma-server/src/constants/typeorm.connection.ts
Due: test_rma_server, pack_rma_server

feat(rma:frontend): Added Terms and Conditions Page 4
  packages/rma-frontend/src/app/app.component.html
Due: test_rma_frontend, pack_rma_frontend

feat(rma-server): pipeline test fail fixed.
  packages/rma-server/src/item/entity/item/item.service.ts
  packages/rma-server/src/stock-entry/entities/stock-entry.service.ts
Due: test_rma_server, pack_rma_server

fear(rma-warranty): Added Service Invoice page
  packages/rma-warranty/src/app/app-routing.module.ts
  packages/rma-warranty/src/app/app.component.html
  packages/rma-warranty/src/app/app.module.ts
  packages/rma-warranty/src/app/service-invoices/service-invoices-datasource.ts
  packages/rma-warranty/src/app/service-invoices/service-invoices-routing.module.ts
  packages/rma-warranty/src/app/service-invoices/service-invoices.module.ts
  packages/rma-warranty/src/app/service-invoices/service-invoices.page.html
  packages/rma-warranty/src/app/service-invoices/service-invoices.page.scss
  packages/rma-warranty/src/app/service-invoices/service-invoices.page.spec.ts
  packages/rma-warranty/src/app/service-invoices/service-invoices.page.ts
Due: none

feat(rma:frontend): fixed imports
  packages/rma-frontend/src/app/terms-and-conditions-ui/add-terms-and-conditions/add-terms-and-conditions.module.ts
  packages/rma-frontend/src/app/terms-and-conditions-ui/services/TermsAndConditions/terms-and-conditions.service.spec.ts
  packages/rma-frontend/src/app/terms-and-conditions-ui/services/TermsAndConditions/terms-and-conditions.service.ts
  packages/rma-frontend/src/app/terms-and-conditions-ui/terms-and-conditions/terms-and-conditions.module.ts
  packages/rma-frontend/src/app/terms-and-conditions-ui/terms-and-conditions/terms-and-conditions.page.spec.ts
Due: test_rma_frontend, pack_rma_frontend

fear(rma-warranty): Added Service Invoice page...1
  packages/rma-warranty/src/app/service-invoices/service-invoices.page.spec.ts
Due: none

feat(rma-warranty): Added Service Invoice page...1
  packages/rma-warranty/src/app/app-routing.module.ts
  packages/rma-warranty/src/app/service-invoices/service-invoices-routing.module.ts
  packages/rma-warranty/src/app/service-invoices/service-invoices.module.ts
  packages/rma-warranty/src/app/service-invoices/service-invoices.page.spec.ts
  packages/rma-warranty/src/app/service-invoices/service-invoices.page.ts
Due: none

feat(rma-warranty):Added Edit Bulk Claims Feature
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-server/src/warranty-claim/command/update-warranty-claim/update-warranty-claim.command.ts
  packages/rma-server/src/warranty-claim/command/update-warranty-claim/update-warranty-claim.handler.ts
  packages/rma-server/src/warranty-claim/controllers/warranty-claim/warranty-claim.controller.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/update-warranty-claim-dto.ts
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.html
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
  packages/rma-warranty/src/app/warranty-ui/bulk-warranty-claim/bulk-claim-details/bulk-claim-details.component.html
  packages/rma-warranty/src/app/warranty-ui/bulk-warranty-claim/bulk-claim-details/bulk-claim-details.component.ts
  packages/rma-warranty/src/app/warranty-ui/warranty-tabs/warranty.service.ts
Due: test_rma_server, pack_rma_server

feat(rma-warranty):Added Edit Bulk Claims Feature
  packages/rma-server/src/warranty-claim/command/update-warranty-claim/update-warranty-claim.command.ts
Due: test_rma_server, pack_rma_server

feat(rma-frontend): Added zero quantity filter on Stock Availability page
  packages/rma-frontend/src/app/stock-entry/stock-availability/stock-availability.page.html
  packages/rma-frontend/src/app/stock-entry/stock-availability/stock-availability.page.ts
Due: test_rma_frontend, pack_rma_frontend

fix(rma-server): Fixed autocomplete issues on item name
  packages/rma-server/src/item/entity/item/item.service.ts
Due: test_rma_server, pack_rma_server

feat(rma-warranty): Added title on service invoice page
  packages/rma-warranty/src/app/service-invoices/service-invoices.page.html
  packages/rma-warranty/src/app/service-invoices/service-invoices.page.ts
Due: none

feat(rma-warranty): Added title on service invoice page...1
  packages/rma-warranty/src/app/service-invoices/service-invoices.page.html
Due: none

feat(rma-frontend): Added permissions on Item Price Page
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.html
Due: test_rma_frontend, pack_rma_frontend

feat(rma-warranty): download CSV button added in service invoice page.
  packages/rma-warranty/src/app/constants/app-string.ts
  packages/rma-warranty/src/app/service-invoices/service-invoices.page.html
  packages/rma-warranty/src/app/service-invoices/service-invoices.page.spec.ts
  packages/rma-warranty/src/app/service-invoices/service-invoices.page.ts
Due: none

fix(rma-warranty):Modified Warranty Stock Entry Creation
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.ts
Due: test_rma_server, pack_rma_server

fix(rma-server): Fixed email error while creating sales return
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-return-dto.ts
Due: test_rma_server, pack_rma_server

feat(rma-warranty): Added filters on service invoice page
  packages/rma-frontend/src/app/stock-entry/stock-availability/stock-availability.page.html
  packages/rma-server/src/service-invoice/controllers/service-invoice/service-invoice.controller.ts
  packages/rma-server/src/service-invoice/entity/service-invoice/service-invoice.service.ts
  packages/rma-warranty/src/app/service-invoices/service-invoices-datasource.ts
  packages/rma-warranty/src/app/service-invoices/service-invoices.module.ts
  packages/rma-warranty/src/app/service-invoices/service-invoices.page.html
  packages/rma-warranty/src/app/service-invoices/service-invoices.page.scss
  packages/rma-warranty/src/app/service-invoices/service-invoices.page.spec.ts
  packages/rma-warranty/src/app/service-invoices/service-invoices.page.ts
  packages/rma-warranty/src/app/warranty-ui/shared-warranty-modules/service-invoices/add-service-invoice/add-service-invoice.page.ts
  packages/rma-warranty/src/app/warranty-ui/shared-warranty-modules/service-invoices/add-service-invoice/add-service-invoice.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

fix(rma-server): Fixed create warranty stock entry
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.ts
Due: test_rma_server, pack_rma_server

Publish
  packages/rma-frontend/CHANGELOG.md
  packages/rma-frontend/package-lock.json
  packages/rma-frontend/package.json
  packages/rma-server/CHANGELOG.md
  packages/rma-server/package-lock.json
  packages/rma-server/package.json
  packages/rma-warranty/CHANGELOG.md
  packages/rma-warranty/package-lock.json
  packages/rma-warranty/package.json
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-warranty): Added filters on service invoice page...1
  packages/rma-warranty/src/app/constants/app-string.ts
  packages/rma-warranty/src/app/service-invoices/service-invoices.page.ts
Due: none

fix(rma-server): Replaced hardcoded strings
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.ts
Due: test_rma_server, pack_rma_server

feat(rma-warranty): Added Sync data button on warranty service invoice page
  packages/rma-server/src/service-invoice/aggregates/service-invoice-aggregate/service-invoice-aggregate.service.spec.ts
  packages/rma-server/src/service-invoice/aggregates/service-invoice-aggregate/service-invoice-aggregate.service.ts
  packages/rma-server/src/service-invoice/controllers/service-invoice/service-invoice.controller.spec.ts
  packages/rma-server/src/service-invoice/controllers/service-invoice/service-invoice.controller.ts
  packages/rma-warranty/src/app/constants/url-strings.ts
  packages/rma-warranty/src/app/warranty-ui/shared-warranty-modules/service-invoices/add-service-invoice/add-service-invoice.service.ts
  packages/rma-warranty/src/app/warranty-ui/shared-warranty-modules/service-invoices/service-invoice-datasource.ts
  packages/rma-warranty/src/app/warranty-ui/shared-warranty-modules/service-invoices/service-invoices.component.html
  packages/rma-warranty/src/app/warranty-ui/shared-warranty-modules/service-invoices/service-invoices.component.spec.ts
  packages/rma-warranty/src/app/warranty-ui/shared-warranty-modules/service-invoices/service-invoices.component.ts
Due: test_rma_server, pack_rma_server

fix(rma-frontend): fixed material transfer title
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
Due: test_rma_frontend, pack_rma_frontend

fix(rma-frontend): fixed material transfer title 1
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma-warranty): Added Sync data button on warranty service invoice page...1
  packages/rma-server/src/service-invoice/aggregates/service-invoice-aggregate/service-invoice-aggregate.service.ts
  packages/rma-server/src/service-invoice/controllers/service-invoice/service-invoice.controller.ts
  packages/rma-warranty/src/app/warranty-ui/shared-warranty-modules/service-invoices/service-invoices.component.html
  packages/rma-warranty/src/app/warranty-ui/shared-warranty-modules/service-invoices/service-invoices.component.ts
Due: test_rma_server, pack_rma_server

feat(rma-warranty): Added Sync data button on warranty service invoice page...2
  packages/rma-server/src/service-invoice/controllers/service-invoice/service-invoice.controller.ts
  packages/rma-warranty/src/app/warranty-ui/shared-warranty-modules/service-invoices/service-invoices.component.ts
Due: test_rma_server, pack_rma_server

feat(rma-warranty): Added Sync data button on warranty service invoice page...3
  packages/rma-warranty/src/app/warranty-ui/shared-warranty-modules/service-invoices/service-invoices.component.html
  packages/rma-warranty/src/app/warranty-ui/shared-warranty-modules/service-invoices/service-invoices.component.ts
Due: none

feat(rma-warranty): Added Sync data button on warranty service invoice page...4
  packages/rma-warranty/src/app/warranty-ui/shared-warranty-modules/service-invoices/service-invoices.component.html
Due: none

feat(rma-frontend): Update role permissions for item price
  packages/rma-frontend/src/app/constants/permission-roles.ts
  packages/rma-warranty/src/app/constants/permission-roles.ts
Due: test_rma_frontend, pack_rma_frontend

fix(rma-warranty):Upgraded Warranty claim cancellation flow
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/claim-details/claim-details.component.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/claim-details/claim-details.component.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/view-warranty-claims.page.html
Due: none

fix(rma-warranty): fixed service invoice for warranty claim
  packages/rma-warranty/src/app/warranty-ui/shared-warranty-modules/service-invoices/service-invoice-datasource.ts
  packages/rma-warranty/src/app/warranty-ui/shared-warranty-modules/service-invoices/service-invoices.component.ts
Due: none
