Repository fnrfarid/excel-rma: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_rma_frontend, test_rma_mobile, test_rma_server

.gitlab-ci.yml:

image: registry.gitlab.com/castlecraft/docker-craft/node-latest-headless-chrome:latest

stages:
  - tests

test_rma_frontend:
  stage: tests
  only:
    changes:
      - packages/rma-frontend/**/*
    refs:
      - merge_requests
      - master
  before_script:
    - cd packages/rma-frontend
    - npm install
  script:
    # set env variable for test
    - export NODE_ENV=test
    # Check Code Quality
    - npm run lint
    - npm run format:check
    # Test backend unit tests
    - npm run test
    # Test backend e2e
    - npm run e2e
  tags:
    - docker

test_rma_mobile:
  stage: tests
  only:
    changes:
      - packages/rma-mobile/**/*
    refs:
      - merge_requests
      - master
  before_script:
    - cd packages/rma-mobile
    - npm install
  script:
    # Check Code Quality
    - npm run lint
    - npm run format:check
    # set env variable for test
    - export NODE_ENV=test
    # Test frontend
    - export DISPLAY=:99
    - Xvfb :0 -ac -screen 0 1024x768x24 &
    - npm run test
    - npm run e2e
  tags:
    - docker

test_rma_server:
  stage: tests
  only:
    changes:
      - packages/rma-server/**/*
    refs:
      - merge_requests
      - master
  before_script:
    - cd packages/rma-server
    - npm install
  script:
    # set env variable for test
    - export NODE_ENV=test
    # Check Code Quality
    - npm run lint
    - npm run format:check
    # Test backend unit tests
    - npm run test
    # Test backend e2e
    - npm run test:e2e
  tags:
    - docker

fix(rma-frontend): Fixed minor changes in Purchase Invoice Details component
  packages/rma-frontend/src/app/common/interfaces/purchase.interface.ts
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-details/purchase-details.component.html
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-details/purchase-details.component.scss
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-details/purchase-details.component.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.ts
Due: test_rma_frontend

fix(rma-frontend): Fixed status filter
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.ts
Due: test_rma_frontend

fix(rma-frontend): Fixed test
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-details/purchase-details.component.spec.ts
Due: test_rma_frontend

feat(rma-frontend): Added total field in footer of table in Sales invoice listing page
  packages/rma-frontend/src/app/sales-ui/sales/sales-invoice-datasource.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.scss
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.ts
Due: test_rma_frontend

feat(rma-frontend): Added serial generation fromrange torange
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
Due: test_rma_frontend

feat(rma-server): Added error log for purchase receipt
  packages/rma-server/src/purchase-receipt/aggregates/purchase-receipt-aggregate/purchase-receipt-aggregate.service.spec.ts
  packages/rma-server/src/purchase-receipt/aggregates/purchase-receipt-aggregate/purchase-receipt-aggregate.service.ts
Due: test_rma_server

feat(rma-server): Added error log for purchase receipt
  packages/rma-server/src/purchase-receipt/aggregates/purchase-receipt-aggregate/purchase-receipt-aggregate.service.spec.ts
  packages/rma-server/src/purchase-receipt/aggregates/purchase-receipt-aggregate/purchase-receipt-aggregate.service.ts
  packages/rma-server/src/purchase-receipt/purchase-receipt.module.ts
Due: test_rma_server

feat(excel-rma)added item price and credit limit in appcomponent
  packages/rma-frontend/src/app/app.component.html
  packages/rma-frontend/src/app/app.component.ts
  packages/rma-frontend/src/app/settings/settings.page.html
Due: test_rma_frontend

feat(rma-server): set purchase warranty days on item entity
  packages/rma-server/src/item/aggregates/item-aggregate/item-aggregate.service.ts
  packages/rma-server/src/item/commands/index.ts
  packages/rma-server/src/item/commands/set-purchase-warranty-days/set-purchase-warranty-days.command.ts
  packages/rma-server/src/item/commands/set-purchase-warranty-days/set-purchase-warranty-days.handler.ts
  packages/rma-server/src/item/controllers/item/item.controller.ts
  packages/rma-server/src/item/entity/item/item.entity.ts
  packages/rma-server/src/item/events/index.ts
  packages/rma-server/src/item/events/purchase-warranty-days-set/purchase-warranty-days-set.event.ts
  packages/rma-server/src/item/events/purchase-warranty-days-set/purchase-warranty-days-set.handler.ts
Due: test_rma_server

fix(rma-frontend): Fixed collapsable settings
  packages/rma-frontend/src/app/app.component.html
Due: test_rma_frontend

feat(rma-frontend): Added address once customer is selected in add sales invoice
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
Due: test_rma_frontend

fix(rma-frontend): Fixed address being displayed when customer is removed
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.html
Due: test_rma_frontend

feat(rma-frontend)added colume purchase warranty date in item price
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/sales-ui/item-price/edit-date/edit-date.component.html
  packages/rma-frontend/src/app/sales-ui/item-price/edit-date/edit-date.component.scss
  packages/rma-frontend/src/app/sales-ui/item-price/edit-date/edit-date.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/item-price/edit-date/edit-date.component.ts
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.datasource.ts
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.module.ts
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.html
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.ts
  packages/rma-frontend/src/app/sales-ui/services/item-price.service.ts
Due: test_rma_frontend

fix(rma-frontend): fix import
  packages/rma-frontend/src/app/sales-ui/item-price/edit-date/edit-date.component.spec.ts
Due: test_rma_frontend

feat(rma-frontend):resolve changes
  packages/rma-frontend/src/app/sales-ui/item-price/edit-days/edit-days.component.html
  packages/rma-frontend/src/app/sales-ui/item-price/edit-days/edit-days.component.scss
  packages/rma-frontend/src/app/sales-ui/item-price/edit-days/edit-days.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/item-price/edit-days/edit-days.component.ts
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.datasource.ts
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.module.ts
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.html
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.ts
Due: test_rma_frontend

feat(rma-frontend):remove @input();colume
  packages/rma-frontend/src/app/sales-ui/item-price/edit-days/edit-days.component.ts
Due: test_rma_frontend

feat(rma-frontend):remove unwanted comment
  packages/rma-frontend/src/app/sales-ui/services/item-price.service.ts
Due: test_rma_frontend

fix(rma-frontend): Fixed Date format on SI listing page
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.ts
Due: test_rma_frontend

fix(rma-frontend): remove missing property
  packages/rma-frontend/src/app/sales-ui/item-price/edit-days/edit-days.component.html
Due: test_rma_frontend

fix(rma-server): fix lint script file pattern
  packages/rma-server/package.json
Due: test_rma_server

feat(rma-frontend): sales invoice filter
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.ts
Due: test_rma_frontend

feat(rma-server): list filter boolean isCampaign on sales invoice
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice.service.ts
Due: test_rma_server

feat(rma-frontend): remove if condition in 2 function
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.ts
Due: test_rma_frontend

feat(rma-frontend): disable sale return and credit note tabs if campagin invoice check
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/view-sales-invoice.page.html
Due: test_rma_frontend

feat(rma-frontend): Added range serial assign in Purchase Serial assign component
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.html
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
Due: test_rma_frontend

feat(rma-frontend): change filter nmae status replace by Campaign Invoice
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
Due: test_rma_frontend

feat(rma-frontend): display list of campaign invoice
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.ts
Due: test_rma_frontend

feat(rma-server): Added batching for more then 1000 serials
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/constants/routes.ts
  packages/rma-server/src/constants/typeorm.connection.ts
  packages/rma-server/src/error-log/error-log-service/error-log.service.ts
  packages/rma-server/src/purchase-invoice/entity/purchase-invoice/purchase-invoice.entity.ts
  packages/rma-server/src/purchase-invoice/entity/purchase-invoice/purchase-invoice.service.ts
  packages/rma-server/src/purchase-receipt/aggregates/purchase-receipt-aggregate/purchase-receipt-aggregate.service.spec.ts
  packages/rma-server/src/purchase-receipt/aggregates/purchase-receipt-aggregate/purchase-receipt-aggregate.service.ts
  packages/rma-server/src/purchase-receipt/entity/purchase-receipt.entity.ts
  packages/rma-server/src/purchase-receipt/entity/purchase-receipt.service.spec.ts
  packages/rma-server/src/purchase-receipt/entity/purchase-receipt.service.ts
  packages/rma-server/src/purchase-receipt/purchase-receipt.module.ts
Due: test_rma_frontend, test_rma_server

feat(rma-frontend): Serial tab now shows invoice items minus delivered items
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
Due: test_rma_frontend

feat: Add delay and retry to serial batches
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/purchase-receipt/aggregates/purchase-receipt-aggregate/purchase-receipt-aggregate.service.ts
Due: test_rma_frontend, test_rma_server

fix(rma-server): Add owner to serial batches
  packages/rma-server/src/error-log/error-log-service/error-log.service.ts
  packages/rma-server/src/purchase-receipt/aggregates/purchase-receipt-aggregate/purchase-receipt-aggregate.service.ts
Due: test_rma_server

fix(rma-server) Fix for offset items in serial batch
  packages/rma-server/src/purchase-receipt/aggregates/purchase-receipt-aggregate/purchase-receipt-aggregate.service.ts
Due: test_rma_server

chore(rma-server): fix docker entrypoint
  packages/rma-server/docker/docker-entrypoint.sh
  packages/rma-server/docker/env.tmpl
Due: test_rma_server

feat: docker-compose based installation
  docker/backing-services/docker-compose-mongo.yml
  docker/backing-services/files/docker-entrypoint-initdb.d/createdatabases.sh
  docker/docker-compose-excel-rma.yml
  docker/docker-compose-networks.yml
  env-example
Due: none

feat(rma-server): Add async consequent batching for purchase-receipts
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/constants/webhook-data.ts
  packages/rma-server/src/purchase-invoice/entity/purchase-invoice/purchase-invoice.entity.ts
  packages/rma-server/src/purchase-receipt/aggregates/purchase-receipt-aggregate/purchase-receipt-aggregate.service.spec.ts
  packages/rma-server/src/purchase-receipt/aggregates/purchase-receipt-aggregate/purchase-receipt-aggregate.service.ts
  packages/rma-server/src/purchase-receipt/entity/purchase-receipt-response-interface.ts
  packages/rma-server/src/purchase-receipt/purchase-receipt-policies/purchase-receipt-policies.service.ts
  packages/rma-server/src/serial-no/entity/serial-no/serial-no-webhook-interface.ts
  packages/rma-server/src/serial-no/entity/serial-no/serial-no.entity.ts
  packages/rma-server/src/serial-no/entity/serial-no/serial-no.service.ts
  packages/rma-server/src/serial-no/policies/serial-no-policies/serial-no-policies.service.ts
Due: test_rma_server

feat(rma-server): Push serials as a file for bulk serials
  packages/rma-frontend/src/app/constants/app-string.ts
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/purchase-ui/services/purchase.service.ts
  packages/rma-server/src/purchase-receipt/aggregates/purchase-receipt-aggregate/purchase-receipt-aggregate.service.ts
  packages/rma-server/src/purchase-receipt/controllers/purchase-receipt/purchase-receipt.controller.ts
Due: test_rma_frontend, test_rma_server

fix(rma-server): do not clear cached refresh tokens
  packages/rma-server/src/auth/aggregates/client-token-manager/client-token-manager.service.ts
  packages/rma-server/src/auth/schedulers/clean-expired-token-cache/clean-expired-token-cache.service.ts
Due: test_rma_server

feat(): Added date field in sales invoice
  packages/rma-frontend/src/app/sales-ui/sales/sales-invoice-datasource.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice.entity.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice.service.ts
Due: test_rma_frontend, test_rma_server

feat(): Added date field in purchase invoice
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.html
  packages/rma-server/src/purchase-invoice/aggregates/purchase-invoice-webhook-aggregate/purchase-invoice-webhook-aggregate.service.ts
  packages/rma-server/src/purchase-invoice/entity/purchase-invoice/purchase-invoice.entity.ts
  packages/rma-server/src/purchase-invoice/entity/purchase-invoice/purchase-invoice.service.ts
Due: test_rma_frontend, test_rma_server

feat(): Added Remarks in sales invoice
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.scss
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice-dto.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice.entity.ts
Due: test_rma_frontend, test_rma_server
