Repository fnrfarid/excel-rma: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_rma_frontend, test_rma_mobile, test_rma_server, pack_rma_server, pack_rma_frontend

test_rma_frontend:
  image: registry.gitlab.com/castlecraft/docker-craft/node-latest-headless-chrome:latest
  stage: tests
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
    - packages/rma-frontend/node_modules/
  before_script:
  - cd packages/rma-frontend
  - npm install
  script:
  - export NODE_ENV=test
  - npm run lint
  ...

test_rma_mobile:
  image: registry.gitlab.com/castlecraft/docker-craft/node-latest-headless-chrome:latest
  stage: tests
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
    - packages/rma-mobile/node_modules/
  before_script:
  - cd packages/rma-mobile
  - npm install
  script:
  - npm run lint
  - npm run format:check
  ...

test_rma_server:
  image: node:latest
  stage: tests
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
    - packages/rma-server/node_modules/
  before_script:
  - cd packages/rma-server
  - npm install
  script:
  - export NODE_ENV=test
  - npm run lint
  - npm run format:check
  - npm run test
  - npm run test:e2e
  tags:
  - docker

pack_rma_server:
  image: docker
  stage: pack
  before_script:
  - apk add git
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - export VERSION=$(git tag --list "rma-server@*" --sort=-version:refname | sed -n 1p | sed -e 's#.*@\(\)#\1#')
  ...

pack_rma_frontend:
  image: docker
  stage: pack
  before_script:
  - apk add git
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - export VERSION=$(git tag --list "rma-frontend@*" --sort=-version:refname | sed -n 1p | sed -e 's#.*@\(\)#\1#')
  ...

feat(rma-server): PI status changes when all items are assigned a serial
  packages/rma-server/src/purchase-receipt/aggregates/purchase-receipt-aggregate/purchase-receipt-aggregate.service.ts
  packages/rma-server/src/purchase-receipt/schedular/purchase-receipt-sync/purchase-receipt-sync.service.ts
Due: test_rma_server, pack_rma_server

fix(rma-server): Added serial entity fields
  packages/rma-server/src/serial-no/entity/serial-no/serial-no.entity.ts
Due: test_rma_server, pack_rma_server

fix: Fixed delivered_by field in purchase invoice listing
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.html
  packages/rma-server/src/purchase-invoice/entity/purchase-invoice/purchase-invoice.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

fix: Fixed delivered_by field in sales invoice listing and minor UI changes
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.html
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.html
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.html
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat: Added Purchased Serial listing in PR component
  packages/rma-frontend/src/app/common/interfaces/purchase.interface.ts
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/purchase-ui/services/purchase.service.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.html
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.scss
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-serials-datasource.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-server/src/serial-no/aggregates/serial-no-aggregate/serial-no-aggregate.service.ts
  packages/rma-server/src/serial-no/controllers/serial-no/serial-no.controller.spec.ts
  packages/rma-server/src/serial-no/controllers/serial-no/serial-no.controller.ts
  packages/rma-server/src/serial-no/entity/serial-no/serial-no.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

fix(rma-server): Fixed Purchase Invoice listing
  packages/rma-server/src/purchase-invoice/entity/purchase-invoice/purchase-invoice.service.ts
Due: test_rma_server, pack_rma_server

feat(excel-rma): Add sales warranty to delivery note
  packages/rma-frontend/src/app/common/interfaces/sales.interface.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-server/src/delivery-note/aggregates/delivery-note-aggregate/delivery-note-aggregate.service.ts
  packages/rma-server/src/serial-no/entity/serial-no/assign-serial-dto.ts
  packages/rma-server/src/serial-no/entity/serial-no/serial-no.entity.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat: Added Pagination in DeliveryNote serial assign component
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials-datasource.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.scss
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-server/src/serial-no/aggregates/serial-no-aggregate/serial-no-aggregate.service.ts
  packages/rma-server/src/serial-no/entity/serial-no/serial-no.entity.ts
  packages/rma-server/src/serial-no/entity/serial-no/serial-no.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-frontend): Add warranty from months for non-serial items
  packages/rma-frontend/src/app/common/interfaces/purchase-receipt.interface.ts
  packages/rma-frontend/src/app/common/interfaces/sales.interface.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.html
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
Due: test_rma_frontend, pack_rma_frontend

feat(excel-rma): Add purchase warranty to serials
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.html
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.spec.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-server/src/purchase-receipt/aggregates/purchase-receipt-aggregate/purchase-receipt-aggregate.service.ts
  packages/rma-server/src/purchase-receipt/entity/purchase-receipt-dto.ts
  packages/rma-server/src/purchase-receipt/schedular/purchase-receipt-sync/purchase-receipt-sync.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

fix(rma-frontend): Fixed Delivered serials table columns in PR and DN
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.html
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma-frontend): Added Print SI and DN feature
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/print/print.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/print/print.component.scss
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/print/print.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/print/print.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/view-sales-invoice.module.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/view-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/view-sales-invoice.page.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/view-sales-invoice.page.ts
Due: test_rma_frontend, pack_rma_frontend

fix(rma-server): Fixed PI and SI listing endpoint
  packages/rma-server/src/purchase-invoice/entity/purchase-invoice/purchase-invoice.service.ts
  packages/rma-server/src/purchase-receipt/schedular/purchase-receipt-sync/purchase-receipt-sync.service.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice.service.ts
Due: test_rma_server, pack_rma_server

feat(rma-server): Added fix for background jobs
  packages/rma-frontend/src/app/app.service.ts
  packages/rma-frontend/src/app/constants/storage.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.datasource.ts
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/purchase-receipt/aggregates/purchase-receipt-aggregate/purchase-receipt-aggregate.service.ts
  packages/rma-server/src/purchase-receipt/schedular/purchase-receipt-sync/purchase-receipt-sync.service.ts
  packages/rma-server/src/serial-no/aggregates/serial-no-aggregate/serial-no-aggregate.service.ts
  packages/rma-server/src/serial-no/controllers/serial-no/serial-no.controller.ts
  packages/rma-server/src/serial-no/entity/serial-no/serial-no-dto.ts
  packages/rma-server/src/serial-no/query/validate-serial/validate-serial-query.handler.ts
  packages/rma-server/src/serial-no/query/validate-serial/validate-serial.query.ts
  packages/rma-server/src/stock-entry/aggregates/stock-entry-aggregate/stock-entry-aggregate.service.ts
  packages/rma-server/src/stock-entry/policies/stock-entry-policies/stock-entry-policies.service.spec.ts
  packages/rma-server/src/stock-entry/policies/stock-entry-policies/stock-entry-policies.service.ts
  packages/rma-server/src/stock-entry/schedular/stock-entry-sync/stock-entry-sync.service.spec.ts
  packages/rma-server/src/stock-entry/schedular/stock-entry-sync/stock-entry-sync.service.ts
  packages/rma-server/src/stock-entry/stock-entry.module.ts
  packages/rma-server/src/stock-entry/stock-entry/stock-entry-dto.ts
  packages/rma-server/src/stock-entry/stock-entry/stock-entry.entity.ts
  packages/rma-server/src/system-settings/aggregates/settings/settings.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-server): Memory handleing for DN serial link
  packages/rma-server/src/purchase-receipt/schedular/purchase-receipt-sync/purchase-receipt-sync.service.ts
Due: test_rma_server, pack_rma_server

feat(rma-server): Add single queue for all frappe jobs
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/purchase-receipt/purchase-receipt.module.ts
  packages/rma-server/src/purchase-receipt/schedular/purchase-receipt-sync/purchase-receipt-sync.service.ts
  packages/rma-server/src/stock-entry/aggregates/stock-entry-aggregate/stock-entry-aggregate.service.ts
  packages/rma-server/src/stock-entry/schedular/stock-entry-sync/stock-entry-sync.service.ts
  packages/rma-server/src/stock-entry/stock-entry.module.ts
  packages/rma-server/src/sync/schedular/frappe-jobs-queue/frappe-jobs-queue.service.spec.ts
  packages/rma-server/src/sync/schedular/frappe-jobs-queue/frappe-jobs-queue.service.ts
  packages/rma-server/src/sync/sync.module.ts
Due: test_rma_server, pack_rma_server

feat(rma-server): Add backgound job for delivery note
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/customer/entity/customer/customer.service.ts
  packages/rma-server/src/delivery-note/aggregates/delivery-note-aggregate/delivery-note-aggregate.service.spec.ts
  packages/rma-server/src/delivery-note/aggregates/delivery-note-aggregate/delivery-note-aggregate.service.ts
  packages/rma-server/src/delivery-note/delivery-note.module.ts
  packages/rma-server/src/delivery-note/entity/delivery-note-service/create-delivery-note-interface.ts
  packages/rma-server/src/delivery-note/entity/delivery-note-service/delivery-note.entity.ts
  packages/rma-server/src/delivery-note/schedular/delivery-note-job/delivery-note-job.service.spec.ts
  packages/rma-server/src/delivery-note/schedular/delivery-note-job/delivery-note-job.service.ts
  packages/rma-server/src/purchase-receipt/schedular/purchase-receipt-sync/purchase-receipt-sync.service.ts
  packages/rma-server/src/sync/schedular/frappe-jobs-queue/frappe-jobs-queue.service.spec.ts
  packages/rma-server/src/sync/schedular/frappe-jobs-queue/frappe-jobs-queue.service.ts
  packages/rma-server/src/sync/sync.module.ts
Due: test_rma_server, pack_rma_server

fix: Fixed serial number assignment of more than 1 lakh serials breaking
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
  packages/rma-server/src/purchase-receipt/aggregates/purchase-receipt-aggregate/purchase-receipt-aggregate.service.ts
  packages/rma-server/src/purchase-receipt/purchase-receipt-policies/purchase-receipt-policies.service.ts
  packages/rma-server/src/purchase-receipt/schedular/purchase-receipt-sync/purchase-receipt-sync.service.ts
  packages/rma-server/src/serial-no/controllers/serial-no/serial-no.controller.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

fix(rma-server): Fixed get purchased serial endpoint giving error
  packages/rma-server/src/serial-no/controllers/serial-no/serial-no.controller.ts
Due: test_rma_server, pack_rma_server

feat(rma-frontend): Added Serial assign for sales return
  packages/rma-frontend/src/app/sales-ui/add-sales-return/add-sales-return.page.html
  packages/rma-frontend/src/app/sales-ui/add-sales-return/add-sales-return.page.scss
  packages/rma-frontend/src/app/sales-ui/add-sales-return/add-sales-return.page.spec.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-return/add-sales-return.page.ts
Due: test_rma_frontend, pack_rma_frontend

feat: Added validation for serial numbers while creating sales return
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-return/add-sales-return.page.spec.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-return/add-sales-return.page.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-server/src/serial-no/aggregates/serial-no-aggregate/serial-no-aggregate.service.ts
  packages/rma-server/src/serial-no/controllers/serial-no/serial-no.controller.ts
  packages/rma-server/src/serial-no/entity/serial-no/serial-no-dto.ts
  packages/rma-server/src/serial-no/policies/serial-no-policies/serial-no-policies.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat: Added file upload for serial assign in sales return
  packages/rma-frontend/src/app/api/csv-json/csv-json.service.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-return/add-sales-return.page.spec.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-return/add-sales-return.page.ts
  packages/rma-server/src/serial-no/policies/serial-no-policies/serial-no-policies.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

Fix: Code optimization
  packages/rma-frontend/src/app/api/csv-json/csv-json.service.ts
  packages/rma-frontend/src/app/common/app-common.module.ts
  packages/rma-frontend/src/app/common/helpers/serials/serials.service.ts
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.spec.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.html
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.spec.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.datasource.ts
  packages/rma-frontend/src/app/stock-entry/services/stock-entry/stock-entry.service.ts
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/stock-entry/aggregates/stock-entry-aggregate/stock-entry-aggregate.service.spec.ts
  packages/rma-server/src/stock-entry/aggregates/stock-entry-aggregate/stock-entry-aggregate.service.ts
  packages/rma-server/src/stock-entry/controller/stock-entry.controller.ts
  packages/rma-server/src/stock-entry/policies/stock-entry-policies/stock-entry-policies.service.ts
  packages/rma-server/src/stock-entry/schedular/stock-entry-sync/stock-entry-sync.service.ts
  packages/rma-server/src/stock-entry/stock-entry.module.ts
  packages/rma-server/src/stock-entry/stock-entry/stock-entry-dto.ts
  packages/rma-server/src/sync/aggregates/serial-batch/serial-batch.service.spec.ts
  packages/rma-server/src/sync/aggregates/serial-batch/serial-batch.service.ts
  packages/rma-server/src/sync/sync.module.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(excel-rma): Added batching for stock entry
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
Due: test_rma_frontend, pack_rma_frontend

Fix: Import fix
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
Due: test_rma_frontend, pack_rma_frontend

Fix: Import fix
  packages/rma-frontend/src/app/common/app-common.module.ts
Due: test_rma_frontend, pack_rma_frontend

Feat(excel-rma): Add listing and view page for stock-entry
  packages/rma-frontend/src/app/app-routing.module.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.html
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.spec.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
  packages/rma-frontend/src/app/stock-entry/services/stock-entry/stock-entry.service.ts
  packages/rma-frontend/src/app/stock-entry/stock-entry-list/stock-entry-list-datasource.ts
  packages/rma-frontend/src/app/stock-entry/stock-entry-list/stock-entry-list.module.ts
  packages/rma-frontend/src/app/stock-entry/stock-entry-list/stock-entry-list.page.html
  packages/rma-frontend/src/app/stock-entry/stock-entry-list/stock-entry-list.page.scss
  packages/rma-frontend/src/app/stock-entry/stock-entry-list/stock-entry-list.page.spec.ts
  packages/rma-frontend/src/app/stock-entry/stock-entry-list/stock-entry-list.page.ts
  packages/rma-frontend/src/app/stock-entry/stock-entry.module.ts
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/purchase-invoice/controllers/purchase-invoice/purchase-invoice.controller.ts
  packages/rma-server/src/purchase-invoice/entity/purchase-invoice/purchase-invoice.service.ts
  packages/rma-server/src/purchase-invoice/query/list-purchase-invoice/retrieve-purchase-invoice-list.handler.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/stock-entry/aggregates/stock-entry-aggregate/stock-entry-aggregate.service.ts
  packages/rma-server/src/stock-entry/controller/stock-entry.controller.ts
  packages/rma-server/src/stock-entry/stock-entry/stock-entry.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-server): Added sales return information in sales invoice and serial number
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.spec.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice.entity.ts
  packages/rma-server/src/serial-no/entity/serial-no/serial-no.entity.ts
Due: test_rma_server, pack_rma_server

fix(rma-frontend): Fixed layout and filters
  packages/rma-frontend/src/app/app-routing.module.ts
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.html
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.scss
  packages/rma-frontend/src/app/warranty-ui/warranty-tabs/warranty.service.ts
  packages/rma-frontend/src/app/warranty-ui/warranty-ui.module.ts
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty-claims-datasource.ts
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.module.ts
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.page.html
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.page.scss
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.page.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma-server): Add batch and queue for stock entry
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.html
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
  packages/rma-frontend/src/app/stock-entry/services/stock-entry/stock-entry.service.ts
  packages/rma-frontend/src/app/stock-entry/stock-entry-list/stock-entry-list.page.html
  packages/rma-frontend/src/app/stock-entry/stock-entry-list/stock-entry-list.page.ts
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/purchase-receipt/purchase-receipt-policies/purchase-receipt-policies.service.spec.ts
  packages/rma-server/src/purchase-receipt/purchase-receipt-policies/purchase-receipt-policies.service.ts
  packages/rma-server/src/stock-entry/aggregates/stock-entry-aggregate/stock-entry-aggregate.service.ts
  packages/rma-server/src/stock-entry/controller/stock-entry.controller.ts
  packages/rma-server/src/stock-entry/policies/stock-entry-policies/stock-entry-policies.service.ts
  packages/rma-server/src/stock-entry/schedular/accept-stock-entry-sync/accept-stock-entry-sync.service.spec.ts
  packages/rma-server/src/stock-entry/schedular/accept-stock-entry-sync/accept-stock-entry-sync.service.ts
  packages/rma-server/src/stock-entry/stock-entry.module.ts
  packages/rma-server/src/stock-entry/stock-entry/stock-entry.entity.ts
  packages/rma-server/src/sync/aggregates/serial-batch/serial-batch.service.ts
  packages/rma-server/src/sync/schedular/frappe-jobs-queue/frappe-jobs-queue.service.spec.ts
  packages/rma-server/src/sync/schedular/frappe-jobs-queue/frappe-jobs-queue.service.ts
  packages/rma-server/src/sync/sync.module.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-server): Removed handling for debugging and error map
  packages/rma-server/src/delivery-note/schedular/delivery-note-job/delivery-note-job.service.ts
  packages/rma-server/src/purchase-receipt/schedular/purchase-receipt-sync/purchase-receipt-sync.service.ts
  packages/rma-server/src/stock-entry/schedular/stock-entry-sync/stock-entry-sync.service.ts
Due: test_rma_server, pack_rma_server

fix: Fixed Warranty listing filters
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.ts
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.page.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-server): Optimized query for fetching delivered/purchase serials
  packages/rma-server/src/delivery-note/schedular/delivery-note-job/delivery-note-job.service.ts
  packages/rma-server/src/purchase-receipt/schedular/purchase-receipt-sync/purchase-receipt-sync.service.ts
  packages/rma-server/src/serial-no/entity/serial-no/serial-no.service.ts
  packages/rma-server/src/stock-entry/schedular/accept-stock-entry-sync/accept-stock-entry-sync.service.ts
  packages/rma-server/src/stock-entry/schedular/stock-entry-sync/stock-entry-sync.service.ts
Due: test_rma_server, pack_rma_server

feat: Added Problem Module for selecting problem while creating warranty claims
  packages/rma-frontend/src/app/app-routing.module.ts
  packages/rma-frontend/src/app/app.component.html
  packages/rma-frontend/src/app/app.module.ts
  packages/rma-frontend/src/app/common/interfaces/problem-interface.ts
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/problem-ui/add-problem/add-problem-routing.module.ts
  packages/rma-frontend/src/app/problem-ui/add-problem/add-problem.module.ts
  packages/rma-frontend/src/app/problem-ui/add-problem/add-problem.page.html
  packages/rma-frontend/src/app/problem-ui/add-problem/add-problem.page.scss
  packages/rma-frontend/src/app/problem-ui/add-problem/add-problem.page.spec.ts
  packages/rma-frontend/src/app/problem-ui/add-problem/add-problem.page.ts
  packages/rma-frontend/src/app/problem-ui/problem-ui.module.ts
  packages/rma-frontend/src/app/problem-ui/problem/problem-datasource.ts
  packages/rma-frontend/src/app/problem-ui/problem/problem-routing.module.ts
  packages/rma-frontend/src/app/problem-ui/problem/problem.module.ts
  packages/rma-frontend/src/app/problem-ui/problem/problem.page.html
  packages/rma-frontend/src/app/problem-ui/problem/problem.page.scss
  packages/rma-frontend/src/app/problem-ui/problem/problem.page.spec.ts
  packages/rma-frontend/src/app/problem-ui/problem/problem.page.ts
  packages/rma-frontend/src/app/problem-ui/services/problem/problem.service.spec.ts
  packages/rma-frontend/src/app/problem-ui/services/problem/problem.service.ts
  packages/rma-server/src/app.module.ts
  packages/rma-server/src/constants/typeorm.connection.ts
  packages/rma-server/src/problem/aggregates/index.ts
  packages/rma-server/src/problem/aggregates/problem-aggregate/problem-aggregate.service.spec.ts
  packages/rma-server/src/problem/aggregates/problem-aggregate/problem-aggregate.service.ts
  packages/rma-server/src/problem/controllers/problem/problem.controller.spec.ts
  packages/rma-server/src/problem/controllers/problem/problem.controller.ts
  packages/rma-server/src/problem/entity/entity.module.ts
  packages/rma-server/src/problem/entity/problem/problem-dto.ts
  packages/rma-server/src/problem/entity/problem/problem-entity.ts
  packages/rma-server/src/problem/entity/problem/problem.service.spec.ts
  packages/rma-server/src/problem/entity/problem/problem.service.ts
  packages/rma-server/src/problem/problem.module.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

fix(rma-server): Fix serial generation for serials with no prefix
  packages/rma-frontend/src/app/common/helpers/serials/serials.service.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-return/add-sales-return.page.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-server/src/delivery-note/entity/delivery-note-service/create-delivery-note-interface.ts
  packages/rma-server/src/purchase-receipt/entity/purchase-receipt-dto.ts
  packages/rma-server/src/serial-no/entity/serial-no/assign-serial-dto.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

fix(rma-server): Fix retry for jobs for invalid token
  packages/rma-server/src/delivery-note/schedular/delivery-note-job/delivery-note-job.service.ts
  packages/rma-server/src/purchase-receipt/schedular/purchase-receipt-sync/purchase-receipt-sync.service.ts
  packages/rma-server/src/stock-entry/schedular/stock-entry-sync/stock-entry-sync.service.ts
Due: test_rma_server, pack_rma_server

fix(rma-server): Fixed Sales Invoice Territory always being All Territories
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
Due: test_rma_server, pack_rma_server

fix(rma-frontend): Fixed Submit button gets disabled even if total is less then balance
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
Due: test_rma_frontend, pack_rma_frontend

fix: Fixed Sales Invoice Update button disabled when editing Sales Invoice
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.spec.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-server/src/customer/aggregates/customer-aggregate/customer-aggregate.service.ts
  packages/rma-server/src/customer/controllers/customer/customer.controller.ts
  packages/rma-server/src/customer/query/get-customer/retrieve-customer-query.handler.ts
  packages/rma-server/src/customer/query/get-customer/retrieve-customer.query.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

Path conditions:
  test_rma_frontend: any of: packages/rma-frontend/**/*
  test_rma_mobile: any of: packages/rma-mobile/**/*
  test_rma_server: any of: packages/rma-server/**/*
  pack_rma_server: any of: packages/rma-server/**/*
  pack_rma_frontend: any of: packages/rma-frontend/**/*
