Repository fnrfarid/excel-rma: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_rma_frontend, test_rma_mobile, test_rma_server, pack_rma_server, pack_rma_frontend

.gitlab-ci.yml:

services:
  - name: docker:dind
    alias: docker

stages:
  - tests
  - pack
  - deploy

test_rma_frontend:
  image: registry.gitlab.com/castlecraft/docker-craft/node-latest-headless-chrome:latest
  stage: tests
  cache:
    key: "$CI_JOB_NAME-$CI_COMMIT_REF_SLUG"
    paths:
      - packages/rma-frontend/node_modules/
  only:
    changes:
      - packages/rma-frontend/**/*
    refs:
      - merge_requests
      - master
  before_script:
    - cd packages/rma-frontend
    - npm install
  script:
    # set env variable for test
    - export NODE_ENV=test
    # Check Code Quality
    - npm run lint
    - npm run format:check
    # Test backend unit tests
    - npm run test
    # Test backend e2e
    - npm run e2e
  tags:
    - docker

test_rma_mobile:
  image: registry.gitlab.com/castlecraft/docker-craft/node-latest-headless-chrome:latest
  stage: tests
  cache:
    key: "$CI_JOB_NAME-$CI_COMMIT_REF_SLUG"
    paths:
      - packages/rma-mobile/node_modules/
  only:
    changes:
      - packages/rma-mobile/**/*
    refs:
      - merge_requests
      - master
  before_script:
    - cd packages/rma-mobile
    - npm install
  script:
    # Check Code Quality
    - npm run lint
    - npm run format:check
    # set env variable for test
    - export NODE_ENV=test
    # Test frontend
    - export DISPLAY=:99
    - Xvfb :0 -ac -screen 0 1024x768x24 &
    - npm run test
    - npm run e2e
  tags:
    - docker

test_rma_server:
  image: node:latest
  stage: tests
  cache:
    key: "$CI_JOB_NAME-$CI_COMMIT_REF_SLUG"
    paths:
      - packages/rma-server/node_modules/
  only:
    changes:
      - packages/rma-server/**/*
    refs:
      - merge_requests
      - master
  before_script:
    - cd packages/rma-server
    - npm install
  script:
    # set env variable for test
    - export NODE_ENV=test
    # Check Code Quality
    - npm run lint
    - npm run format:check
    # Test backend unit tests
    - npm run test
    # Test backend e2e
    - npm run test:e2e
  tags:
    - docker

pack_rma_server:
  image: docker
  stage: pack
  only:
    refs:
      - master
    changes:
      - packages/rma-server/**/*
  before_script:
    - apk add git
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
    - export VERSION=$(git tag --list "rma-server@*" --sort=-version:refname | sed -n 1p | sed -e 's#.*@\(\)#\1#')
    - docker build --cache-from $CI_REGISTRY_IMAGE:latest -t rma-server packages/rma-server
    # - docker tag rma-server $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-server:$VERSION
    - docker tag rma-server $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-server:latest
    - docker push $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-server

pack_rma_frontend:
  image: docker
  stage: pack
  only:
    refs:
      - master
    changes:
      - packages/rma-frontend/**/*
  before_script:
    - apk add git
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
    - export VERSION=$(git tag --list "rma-frontend@*" --sort=-version:refname | sed -n 1p | sed -e 's#.*@\(\)#\1#')
    - docker build --cache-from $CI_REGISTRY_IMAGE:latest -t rma-frontend packages/rma-frontend
    # - docker tag rma-frontend $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-frontend:$VERSION
    - docker tag rma-frontend $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-frontend:latest
    - docker push $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-frontend

deploy_staging:
  image: dtzar/helm-kubectl:latest
  only:
    refs:
      - master
  stage: deploy
  variables:
    KUBECONFIG: /etc/deploy/config
  before_script:
    - mkdir -p /etc/deploy
    - echo ${kube_config} | base64 -d > ${KUBECONFIG}
    - kubectl config use-context staging
  script:
    - helm upgrade stg-rma -n staging helm-chart/rma-portal --reuse-values

feat(rma-frontend):Added MRP Sales Print Invoice
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/print/print.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/print/print.component.ts
  packages/rma-server/src/constants/routes.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/sales-invoice/controllers/sales-invoice/sales-invoice.controller.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice-dto.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-warranty):Modified Warranty Service Invoice Print Flow
  packages/rma-warranty/src/app/warranty-ui/warranty-tabs/warranty.service.ts
Due: none

feat(rma-warranty):Fixed edit warranty claim Issue and Modified service Invoice print Data
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/service-invoice/entity/service-invoice/service-invoice.service.ts
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.ts
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-warranty/src/app/common/interfaces/warranty.interface.ts
  packages/rma-warranty/src/app/constants/app-string.ts
  packages/rma-warranty/src/app/service-invoices/service-invoices.page.ts
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
  packages/rma-warranty/src/app/warranty-ui/bulk-warranty-claim/bulk-claim-details/bulk-claim-details.component.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/claim-details/claim-details.component.ts
  packages/rma-warranty/src/app/warranty-ui/warranty-tabs/warranty.service.ts
Due: test_rma_server, pack_rma_server

feat(rma-warranty):Added Customer detail in serial page
  packages/rma-warranty/src/app/serial-ui/serial-info/serial-info.page.ts
  packages/rma-warranty/src/app/serial-ui/serial-search/serial-search-datasource.ts
Due: none

fix(rma-frontend):Added Cost Center on delivery Note and Loading Screen in Sales Invoce
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/print/print.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials-datasource.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-server/src/delivery-note/entity/delivery-note-service/create-delivery-note-interface.ts
  packages/rma-server/src/serial-no/entity/serial-no/assign-serial-dto.ts
  packages/rma-server/src/sync/assets/data_import_template.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

fix(rma-frontend):Fixed lint errors
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/print/print.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/print/print.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials-datasource.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
Due: test_rma_frontend, pack_rma_frontend

fix(rma-frontend):Mocked Test functions
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.spec.ts
Due: test_rma_frontend, pack_rma_frontend

fix(rma-frontend):fixed Serial Search and Updated Sales Delivery Note Creation
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-warranty/src/app/serial-ui/serial-search/serial-search-datasource.ts
Due: test_rma_frontend, pack_rma_frontend

fix(rma-frontend):Updated Cost Center Assign issue
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
Due: test_rma_frontend, pack_rma_frontend

fix(rma-frontend):Fixed Warranty Module Minor issues
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.ts
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-server/src/warranty-claim/policies/warranty-claim-policies/warranty-claim-policies.service.spec.ts
  packages/rma-server/src/warranty-claim/policies/warranty-claim-policies/warranty-claim-policies.service.ts
  packages/rma-server/src/warranty-claim/warranty-claim.module.ts
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.html
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
  packages/rma-warranty/src/app/warranty-ui/bulk-warranty-claim/bulk-claim-details/bulk-claim-details.component.html
  packages/rma-warranty/src/app/warranty-ui/bulk-warranty-claim/bulk-claim-details/bulk-claim-details.component.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/claim-details/claim-details.component.html
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.html
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.ts
Due: test_rma_server, pack_rma_server

fix(rma-frontend):Update service invoice listing & warranty page filters
  packages/rma-warranty/src/app/service-invoices/service-invoices.page.html
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.ts
Due: none

fix(rma-warranty)update Validations in warranty stock Entry
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.ts
  packages/rma-server/src/stock-entry/entities/warranty-stock-entry-dto.ts
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.ts
Due: test_rma_server, pack_rma_server

fix(rma-frontend):Added Cost Center in Sales Return
  packages/rma-frontend/src/app/sales-ui/add-sales-return/add-sales-return.page.spec.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-return/add-sales-return.page.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-return-dto.ts
  packages/rma-server/src/service-invoice/aggregates/service-invoice-aggregate/service-invoice-aggregate.service.ts
  packages/rma-server/src/service-invoice/entity/service-invoice/service-invoice.entity.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

fix(rma-server):Quick Fix Service Invoice
  packages/rma-server/src/service-invoice/entity/service-invoice/service-invoice.entity.ts
Due: test_rma_server, pack_rma_server

fix(rma-server):Added Cost Center in Credit note
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.ts
Due: test_rma_server, pack_rma_server

fix(rma-server):Fixed Cost Center For Bundle Items
  packages/rma-frontend/src/app/sales-ui/add-sales-return/add-sales-return.page.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.ts
  packages/rma-server/src/stock-entry/policies/stock-entry-policies/stock-entry-policies.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

fix(rma-server):Fixed Cost Center User Conflicts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
Due: test_rma_server, pack_rma_server

Publish
  packages/rma-frontend/CHANGELOG.md
  packages/rma-frontend/package-lock.json
  packages/rma-frontend/package.json
  packages/rma-mobile/package-lock.json
  packages/rma-server/CHANGELOG.md
  packages/rma-server/package-lock.json
  packages/rma-server/package.json
  packages/rma-warranty/CHANGELOG.md
  packages/rma-warranty/package-lock.json
  packages/rma-warranty/package.json
Due: test_rma_frontend, test_rma_mobile, test_rma_server, pack_rma_server, pack_rma_frontend

fix(rma-frontend):Modified Sales Invoice Cost Center Allocation
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
Due: test_rma_frontend, pack_rma_frontend

Publish
  packages/rma-frontend/CHANGELOG.md
  packages/rma-frontend/package-lock.json
  packages/rma-frontend/package.json
Due: test_rma_frontend, pack_rma_frontend

fix(rma-warranty):Modification of Claim Creation page
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.html
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
Due: none

fix(rma-warranty):lint fix
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
Due: none

fix(rma-warranty):Added Claim Creation Item Field validation
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.html
Due: none

fix(rma-server):Update Third Party Claim Cancellation
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
Due: test_rma_server, pack_rma_server

fix(rma-frontend):Delivery Note Job Modification
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
Due: test_rma_frontend, pack_rma_frontend

Revert "Merge branch 'fix' into 'develop'"
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
Due: test_rma_frontend, pack_rma_frontend

fix(rma-server):Empty Bulk Claim Prevention
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim.service.ts
Due: test_rma_server, pack_rma_server

fix(rma-server):Added Error handling messages
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
Due: test_rma_server, pack_rma_server

fix(rma-server):Claim Field Issues
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.html
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/inline-edit/inline-edit.component.html
Due: test_rma_server, pack_rma_server

Update permission-roles.ts
  packages/rma-frontend/src/app/constants/permission-roles.ts
Due: test_rma_frontend, pack_rma_frontend

fix(rma-frontend):Update Permssions and Lint fixes
  packages/rma-frontend/src/app/constants/permission-roles.ts
Due: test_rma_frontend, pack_rma_frontend

[rma-server]: added warranty-claim-analysis endpoint
  packages/rma-server/src/app.module.ts
  packages/rma-server/src/report/aggregates/warranty-claim-analysi-aggregates/warranty-claim-analysi-aggregates.service.spec.ts
  packages/rma-server/src/report/aggregates/warranty-claim-analysi-aggregates/warranty-claim-analysi-aggregates.service.ts
  packages/rma-server/src/report/controllers/warranty-claim-analysis/warranty-claim-analysis.controller.spec.ts
  packages/rma-server/src/report/controllers/warranty-claim-analysis/warranty-claim-analysis.controller.ts
  packages/rma-server/src/report/entity/entity.module.ts
  packages/rma-server/src/report/entity/warranty-claim-analysis/warranty-claim-analysis.service.spec.ts
  packages/rma-server/src/report/entity/warranty-claim-analysis/warranty-claim-analysis.service.ts
  packages/rma-server/src/report/report.module.ts
Due: test_rma_server, pack_rma_server

[rma-server]: removed warranty-claim-analysis-service
  packages/rma-server/src/report/aggregates/warranty-claim-analysi-aggregates/warranty-claim-analysi-aggregates.service.spec.ts
  packages/rma-server/src/report/aggregates/warranty-claim-analysi-aggregates/warranty-claim-analysi-aggregates.service.ts
  packages/rma-server/src/report/entity/entity.module.ts
  packages/rma-server/src/report/entity/warranty-claim-analysis/warranty-claim-analysis.service.spec.ts
  packages/rma-server/src/report/entity/warranty-claim-analysis/warranty-claim-analysis.service.ts
  packages/rma-server/src/report/report.module.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim.service.ts
Due: test_rma_server, pack_rma_server

fix(excel):Update Development Container
  .devcontainer/docker-compose.yml
Due: none

fix(rma-server): fixed delivery_status and territory filters
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim.service.ts
Due: test_rma_server, pack_rma_server

Publish
  packages/rma-frontend/CHANGELOG.md
  packages/rma-frontend/package-lock.json
  packages/rma-frontend/package.json
  packages/rma-server/CHANGELOG.md
  packages/rma-server/package-lock.json
  packages/rma-server/package.json
  packages/rma-warranty/CHANGELOG.md
  packages/rma-warranty/package-lock.json
  packages/rma-warranty/package.json
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

Revert "Merge branch 'develop' into 'master'"
  .devcontainer/docker-compose.yml
  packages/rma-frontend/CHANGELOG.md
  packages/rma-frontend/package-lock.json
  packages/rma-frontend/package.json
  packages/rma-frontend/src/app/constants/permission-roles.ts
  packages/rma-server/CHANGELOG.md
  packages/rma-server/package-lock.json
  packages/rma-server/package.json
  packages/rma-server/src/app.module.ts
  packages/rma-server/src/report/aggregates/warranty-claim-analysi-aggregates/warranty-claim-analysi-aggregates.service.spec.ts
  packages/rma-server/src/report/aggregates/warranty-claim-analysi-aggregates/warranty-claim-analysi-aggregates.service.ts
  packages/rma-server/src/report/controllers/warranty-claim-analysis/warranty-claim-analysis.controller.spec.ts
  packages/rma-server/src/report/controllers/warranty-claim-analysis/warranty-claim-analysis.controller.ts
  packages/rma-server/src/report/report.module.ts
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim.service.ts
  packages/rma-warranty/CHANGELOG.md
  packages/rma-warranty/package-lock.json
  packages/rma-warranty/package.json
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.html
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/inline-edit/inline-edit.component.html
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

ci: use nodejs lts 16 for building frontend images
  packages/rma-frontend/Dockerfile
  packages/rma-warranty/Dockerfile
Due: test_rma_frontend, pack_rma_frontend

chore: fix package versions after revert
  packages/rma-frontend/package.json
  packages/rma-server/package.json
  packages/rma-warranty/package.json
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend
