Repository fnrfarid/excel-rma: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_rma_frontend, test_rma_mobile, test_rma_server, pack_rma_server, pack_rma_frontend

.gitlab-ci.yml:

services:
  - name: docker:dind
    alias: docker

stages:
  - tests
  - pack
  - deploy

test_rma_frontend:
  image: registry.gitlab.com/castlecraft/docker-craft/node-latest-headless-chrome:latest
  stage: tests
  cache:
    key: "$CI_JOB_NAME-$CI_COMMIT_REF_SLUG"
    paths:
      - packages/rma-frontend/node_modules/
  only:
    changes:
      - packages/rma-frontend/**/*
    refs:
      - merge_requests
      - master
  before_script:
    - cd packages/rma-frontend
    - npm install
  script:
    # set env variable for test
    - export NODE_ENV=test
    # Check Code Quality
    - npm run lint
    - npm run format:check
    # Test backend unit tests
    - npm run test
    # Test backend e2e
    - npm run e2e
  tags:
    - docker

test_rma_mobile:
  image: registry.gitlab.com/castlecraft/docker-craft/node-latest-headless-chrome:latest
  stage: tests
  cache:
    key: "$CI_JOB_NAME-$CI_COMMIT_REF_SLUG"
    paths:
      - packages/rma-mobile/node_modules/
  only:
    changes:
      - packages/rma-mobile/**/*
    refs:
      - merge_requests
      - master
  before_script:
    - cd packages/rma-mobile
    - npm install
  script:
    # Check Code Quality
    - npm run lint
    - npm run format:check
    # set env variable for test
    - export NODE_ENV=test
    # Test frontend
    - export DISPLAY=:99
    - Xvfb :0 -ac -screen 0 1024x768x24 &
    - npm run test
    - npm run e2e
  tags:
    - docker

test_rma_server:
  image: node:latest
  stage: tests
  cache:
    key: "$CI_JOB_NAME-$CI_COMMIT_REF_SLUG"
    paths:
      - packages/rma-server/node_modules/
  only:
    changes:
      - packages/rma-server/**/*
    refs:
      - merge_requests
      - master
  before_script:
    - cd packages/rma-server
    - npm install
  script:
    # set env variable for test
    - export NODE_ENV=test
    # Check Code Quality
    - npm run lint
    - npm run format:check
    # Test backend unit tests
    - npm run test
    # Test backend e2e
    - npm run test:e2e
  tags:
    - docker

pack_rma_server:
  image: docker
  stage: pack
  only:
    refs:
      - master
    changes:
      - packages/rma-server/**/*
  before_script:
    - apk add git
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
    - export VERSION=$(git tag --list "rma-server@*" --sort=-version:refname | sed -n 1p | sed -e 's#.*@\(\)#\1#')
    - docker build --cache-from $CI_REGISTRY_IMAGE:latest -t rma-server packages/rma-server
    # - docker tag rma-server $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-server:$VERSION
    - docker tag rma-server $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-server:latest
    - docker push $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-server

pack_rma_frontend:
  image: docker
  stage: pack
  only:
    refs:
      - master
    changes:
      - packages/rma-frontend/**/*
  before_script:
    - apk add git
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
    - export VERSION=$(git tag --list "rma-frontend@*" --sort=-version:refname | sed -n 1p | sed -e 's#.*@\(\)#\1#')
    - docker build --cache-from $CI_REGISTRY_IMAGE:latest -t rma-frontend packages/rma-frontend
    # - docker tag rma-frontend $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-frontend:$VERSION
    - docker tag rma-frontend $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-frontend:latest
    - docker push $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-frontend

deploy_staging:
  image: dtzar/helm-kubectl:latest
  only:
    refs:
      - master
  stage: deploy
  variables:
    KUBECONFIG: /etc/deploy/config
  before_script:
    - mkdir -p /etc/deploy
    - echo ${kube_config} | base64 -d > ${KUBECONFIG}
    - kubectl config use-context staging
  script:
    - helm upgrade stg-rma -n staging helm-chart/rma-portal --reuse-values

feat(rma-server): on cancel of PI set docstatus on rma-server
  packages/rma-server/src/constants/routes.ts
  packages/rma-server/src/constants/webhook-data.ts
  packages/rma-server/src/purchase-invoice/aggregates/purchase-invoice-webhook-aggregate/purchase-invoice-webhook-aggregate.service.ts
  packages/rma-server/src/purchase-invoice/controllers/purchase-invoice-webhook/purchase-invoice-webhook.controller.ts
  packages/rma-server/src/system-settings/aggregates/settings/settings.service.ts
Due: test_rma_server, pack_rma_server

fix(rma-frontend): Add serial range fix to include to-range number
  packages/rma-frontend/src/app/api/storage/storage.service.spec.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma-server): Add link for serials from purchase receipt
  packages/rma-server/src/purchase-invoice/entity/purchase-invoice/purchase-invoice.entity.ts
  packages/rma-server/src/purchase-receipt/aggregates/purchase-receipt-aggregate/purchase-receipt-aggregate.service.ts
  packages/rma-server/src/purchase-receipt/entity/purchase-receipt-response-interface.ts
  packages/rma-server/src/purchase-receipt/entity/purchase-receipt.entity.ts
Due: test_rma_server, pack_rma_server

feat(rma-server): Cancel SI now cancelles linked sales returns
  packages/rma-server/src/sales-invoice/aggregates/cancel-sales-invoice-aggregate/cancel-sales-invoice-aggregate.service.spec.ts
  packages/rma-server/src/sales-invoice/aggregates/cancel-sales-invoice-aggregate/cancel-sales-invoice-aggregate.service.ts
  packages/rma-server/src/sales-invoice/aggregates/index.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/sales-invoice/command/cancel-sales-invoice/cancel-sales-invoice.handler.ts
  packages/rma-server/src/sales-invoice/policies/sales-invoice-policies/sales-invoice-policies.service.ts
Due: test_rma_server, pack_rma_server

fix(rma-server): Removed catchError in cancel-sales-invoice
  packages/rma-server/src/sales-invoice/aggregates/cancel-sales-invoice-aggregate/cancel-sales-invoice-aggregate.service.ts
Due: test_rma_server, pack_rma_server

feat: cancel purchase invoice
  packages/rma-frontend/src/app/purchase-ui/services/purchase.service.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/view-purchase-invoice.page.html
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/view-purchase-invoice.page.spec.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/view-purchase-invoice.page.ts
  packages/rma-server/src/purchase-invoice/aggregates/purchase-invoice-webhook-aggregate/purchase-invoice-webhook-aggregate.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-server): Added API for making stock-entry/material transfer
  packages/rma-server/src/app.module.ts
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/constants/routes.ts
  packages/rma-server/src/constants/typeorm.connection.ts
  packages/rma-server/src/stock-entry/aggregates/stock-entry-aggregate/stock-entry-aggregate.service.spec.ts
  packages/rma-server/src/stock-entry/aggregates/stock-entry-aggregate/stock-entry-aggregate.service.ts
  packages/rma-server/src/stock-entry/controller/stock-entry.controller.spec.ts
  packages/rma-server/src/stock-entry/controller/stock-entry.controller.ts
  packages/rma-server/src/stock-entry/stock-entry-policies/stock-entry-policies.service.spec.ts
  packages/rma-server/src/stock-entry/stock-entry-policies/stock-entry-policies.service.ts
  packages/rma-server/src/stock-entry/stock-entry.module.ts
  packages/rma-server/src/stock-entry/stock-entry/stock-entry-dto.ts
  packages/rma-server/src/stock-entry/stock-entry/stock-entry.entity.ts
  packages/rma-server/src/stock-entry/stock-entry/stock-entry.service.spec.ts
  packages/rma-server/src/stock-entry/stock-entry/stock-entry.service.ts
Due: test_rma_server, pack_rma_server

feat: recursively pull from frappe
  packages/rma-server/src/sync/aggregates/sync-aggregate/sync-aggregate.service.ts
Due: test_rma_server, pack_rma_server

feat: Added delivered_items_map and removed delivery_note_items from listing SI endpoint
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-server/src/delivery-note/aggregates/delivery-note-aggregate/delivery-note-aggregate.service.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice.entity.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat: sync services
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/constants/exceptions.ts
  packages/rma-server/src/direct/entities/request-state/request-state.entity.ts
  packages/rma-server/src/item/item.module.ts
  packages/rma-server/src/item/schedulers/item-sync/item-sync.service.spec.ts
  packages/rma-server/src/item/schedulers/item-sync/item-sync.service.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice.entity.ts
  packages/rma-server/src/sales-invoice/sales-invoice.module.ts
  packages/rma-server/src/sales-invoice/schedulers/sales-invoice-sync/sales-invoice-sync.service.spec.ts
  packages/rma-server/src/sales-invoice/schedulers/sales-invoice-sync/sales-invoice-sync.service.ts
  packages/rma-server/src/serial-no/schedulers/serial-no-sync/serial-no-sync.service.spec.ts
  packages/rma-server/src/serial-no/schedulers/serial-no-sync/serial-no-sync.service.ts
  packages/rma-server/src/serial-no/serial-no.module.ts
  packages/rma-server/src/sync/aggregates/sync-aggregate/sync-aggregate.service.ts
Due: test_rma_server, pack_rma_server

fix(rma-frontend): Fixed add sales return items datasource and minor UI fixes
  packages/rma-frontend/src/app/sales-ui/add-sales-return/add-sales-return.page.html
  packages/rma-frontend/src/app/sales-ui/add-sales-return/add-sales-return.page.spec.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-return/add-sales-return.page.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/view-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/view-sales-invoice.page.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/view-sales-invoice.page.ts
Due: test_rma_frontend, pack_rma_frontend

feat: Added Due Amount sync and total due amount
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.html
  packages/rma-frontend/src/app/sales-ui/sales/sales-invoice-datasource.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.scss
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.spec.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-webhook-aggregate/sales-invoice-webhook-aggregate.service.ts
  packages/rma-server/src/sales-invoice/controllers/sales-invoice/sales-invoice.controller.spec.ts
  packages/rma-server/src/sales-invoice/controllers/sales-invoice/sales-invoice.controller.ts
  packages/rma-server/src/sales-invoice/event/sales-invoice-canceled/sales-invoice-canceled.handler.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(excel-rma): Add material transfer for serials
  packages/rma-frontend/src/app/app-routing.module.ts
  packages/rma-frontend/src/app/app.component.html
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.html
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.scss
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.spec.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.datasource.ts
  packages/rma-frontend/src/app/stock-entry/stock-entry.module.ts
  packages/rma-server/src/stock-entry/stock-entry/stock-entry-dto.ts
  packages/rma-server/src/stock-entry/stock-entry/stock-entry.entity.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

fix(rma-server): PO>PI fix and PI Cancel fix
  packages/rma-server/src/auth/aggregates/connect/connect.service.ts
  packages/rma-server/src/purchase-order/aggregates/purchase-order-webhook-aggregate/purchase-order-webhook-aggregate.service.ts
Due: test_rma_server, pack_rma_server

feat(rma-server): Add material-transfer for stock-entry
  packages/rma-frontend/src/app/api/time/time.service.ts
  packages/rma-frontend/src/app/constants/app-string.ts
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.html
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.spec.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.datasource.ts
  packages/rma-frontend/src/app/stock-entry/services/stock-entry/stock-entry.service.spec.ts
  packages/rma-frontend/src/app/stock-entry/services/stock-entry/stock-entry.service.ts
  packages/rma-server/src/stock-entry/aggregates/stock-entry-aggregate/stock-entry-aggregate.service.ts
  packages/rma-server/src/stock-entry/stock-entry-policies/stock-entry-policies.service.ts
  packages/rma-server/src/stock-entry/stock-entry/stock-entry-dto.ts
  packages/rma-server/src/stock-entry/stock-entry/stock-entry.entity.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat: use agenda instead of plain cron
  packages/rma-server/package-lock.json
  packages/rma-server/package.json
  packages/rma-server/src/auth/schedulers/clean-expired-token-cache/clean-expired-token-cache.service.spec.ts
  packages/rma-server/src/auth/schedulers/clean-expired-token-cache/clean-expired-token-cache.service.ts
  packages/rma-server/src/auth/schedulers/revoke-expired-frappe-tokens/revoke-expired-frappe-tokens.service.spec.ts
  packages/rma-server/src/auth/schedulers/revoke-expired-frappe-tokens/revoke-expired-frappe-tokens.service.ts
  packages/rma-server/src/customer/schedulers/reset-credit-limit/reset-credit-limit.service.spec.ts
  packages/rma-server/src/customer/schedulers/reset-credit-limit/reset-credit-limit.service.ts
  packages/rma-server/src/direct/schedulers/clean-expired-token-cache/clean-expired-token-cache.service.spec.ts
  packages/rma-server/src/direct/schedulers/clean-expired-token-cache/clean-expired-token-cache.service.ts
  packages/rma-server/src/item/schedulers/item-sync/item-sync.service.spec.ts
  packages/rma-server/src/item/schedulers/item-sync/item-sync.service.ts
  packages/rma-server/src/sales-invoice/schedulers/sales-invoice-sync/sales-invoice-sync.service.spec.ts
  packages/rma-server/src/sales-invoice/schedulers/sales-invoice-sync/sales-invoice-sync.service.ts
  packages/rma-server/src/serial-no/schedulers/serial-no-sync/serial-no-sync.service.spec.ts
  packages/rma-server/src/serial-no/schedulers/serial-no-sync/serial-no-sync.service.ts
  packages/rma-server/src/system-settings/providers/agenda.provider.ts
  packages/rma-server/src/system-settings/system-settings.module.ts
Due: test_rma_server, pack_rma_server

feat: Added return_items_map in Sales Invoice
  packages/rma-frontend/src/app/sales-ui/add-sales-return/add-sales-return.page.spec.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-return/add-sales-return.page.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice.entity.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-server): Added agenda sync for purchase receipt
  packages/rma-server/src/constants/agenda-job.ts
  packages/rma-server/src/direct/entities/request-state/request-state.service.ts
  packages/rma-server/src/item/item.module.ts
  packages/rma-server/src/purchase-receipt/aggregates/index.ts
  packages/rma-server/src/purchase-receipt/aggregates/purchase-receipt-aggregate/purchase-receipt-aggregate.service.spec.ts
  packages/rma-server/src/purchase-receipt/aggregates/purchase-receipt-aggregate/purchase-receipt-aggregate.service.ts
  packages/rma-server/src/purchase-receipt/purchase-receipt.module.ts
  packages/rma-server/src/purchase-receipt/schedular/index.ts
  packages/rma-server/src/purchase-receipt/schedular/purchase-receipt-sync/purchase-receipt-sync.service.spec.ts
  packages/rma-server/src/purchase-receipt/schedular/purchase-receipt-sync/purchase-receipt-sync.service.ts
Due: test_rma_server, pack_rma_server

feat(rma-server): Add purchase-order link to purchase-receipt and purchase-invoice
  packages/rma-server/src/purchase-order/aggregates/purchase-order-webhook-aggregate/purchase-order-webhook-aggregate.service.ts
  packages/rma-server/src/purchase-order/entity/purchase-order/purchase-order.entity.ts
  packages/rma-server/src/purchase-receipt/aggregates/purchase-receipt-aggregate/purchase-receipt-aggregate.service.spec.ts
  packages/rma-server/src/purchase-receipt/aggregates/purchase-receipt-aggregate/purchase-receipt-aggregate.service.ts
  packages/rma-server/src/purchase-receipt/entity/purchase-receipt-dto.ts
  packages/rma-server/src/purchase-receipt/entity/purchase-receipt.entity.ts
  packages/rma-server/src/purchase-receipt/purchase-receipt.module.ts
  packages/rma-server/src/purchase-receipt/schedular/purchase-receipt-sync/purchase-receipt-sync.service.ts
Due: test_rma_server, pack_rma_server

feat: Added purchase item map in Purchase invoice, and disabled unlimited PR creation
  packages/rma-frontend/src/app/common/interfaces/purchase.interface.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.html
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.scss
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.spec.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
  packages/rma-server/src/purchase-invoice/entity/purchase-invoice/purchase-invoice.entity.ts
  packages/rma-server/src/purchase-receipt/aggregates/purchase-receipt-aggregate/purchase-receipt-aggregate.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

fix(rma-frontend): Minor UI fixes
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
Due: test_rma_frontend, pack_rma_frontend

feat: Auto populate delivery warehouse in serial tab
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice-dto.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice-update-dto.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-server): SI status changes to Completed only if all items are delivered
  packages/rma-server/src/delivery-note/aggregates/delivery-note-aggregate/delivery-note-aggregate.service.ts
Due: test_rma_server, pack_rma_server

fix(rma-frontend): Warehouse selection when edit SI
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
Due: test_rma_frontend, pack_rma_frontend

feat(excel-rma): Add agenda job for stock-entry
  packages/rma-frontend/src/app/api/csv-json/csv-json.service.spec.ts
  packages/rma-frontend/src/app/api/time/time.service.spec.ts
  packages/rma-frontend/src/app/credit-limit/credit-limit.page.spec.ts
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.spec.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
  packages/rma-server/src/stock-entry/aggregates/stock-entry-aggregate/stock-entry-aggregate.service.spec.ts
  packages/rma-server/src/stock-entry/aggregates/stock-entry-aggregate/stock-entry-aggregate.service.ts
  packages/rma-server/src/stock-entry/policies/stock-entry-policies/stock-entry-policies.service.spec.ts
  packages/rma-server/src/stock-entry/policies/stock-entry-policies/stock-entry-policies.service.ts
  packages/rma-server/src/stock-entry/schedular/purchase-receipt-sync/purchase-receipt-sync.service.spec.ts
  packages/rma-server/src/stock-entry/schedular/purchase-receipt-sync/purchase-receipt-sync.service.ts
  packages/rma-server/src/stock-entry/stock-entry.module.ts
  packages/rma-server/src/stock-entry/stock-entry/stock-entry.entity.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

fix(rma-frontend): Fixed campaign invoice checkbox always checked and added form validation for Items
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/sales-return/sales-return.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/sales-return/sales-return.component.scss
Due: test_rma_frontend, pack_rma_frontend

fix(rma-frontend): Fixed update error snackbar in add SI
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma-server): Filter customer based on assigned territory
  packages/rma-server/src/customer/aggregates/customer-aggregate/customer-aggregate.service.ts
  packages/rma-server/src/customer/entity/customer/customer.service.ts
Due: test_rma_server, pack_rma_server

feat(rma-server): Add non-serial items to delivery note
  packages/rma-frontend/src/app/common/interfaces/sales.interface.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/inline-edit/inline-edit.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/assign-non-serials-item-dialog.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/view-sales-invoice.module.ts
  packages/rma-server/src/delivery-note/aggregates/delivery-note-aggregate/delivery-note-aggregate.service.ts
  packages/rma-server/src/delivery-note/entity/delivery-note-service/create-delivery-note-interface.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice-dto.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice.entity.ts
  packages/rma-server/src/serial-no/entity/serial-no/assign-serial-dto.ts
  packages/rma-server/src/serial-no/policies/assign-serial-no-policies/assign-serial-no-policies.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

fix: Fixed purchase and sales invoice listing, and added date filter in purchase invoice
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase-invoice-datasource.ts
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.html
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.scss
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.spec.ts
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.ts
  packages/rma-frontend/src/app/purchase-ui/services/purchase.service.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-server/src/purchase-invoice/entity/purchase-invoice/purchase-invoice.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-server): Add non-serial entries for purchase side
  packages/rma-frontend/src/app/common/interfaces/purchase-receipt.interface.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.html
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-server/src/purchase-invoice/aggregates/purchase-invoice-webhook-aggregate/purchase-invoice-webhook-aggregate.service.spec.ts
  packages/rma-server/src/purchase-invoice/aggregates/purchase-invoice-webhook-aggregate/purchase-invoice-webhook-aggregate.service.ts
  packages/rma-server/src/purchase-invoice/entity/purchase-invoice/purchase-invoice-webhook-dto.ts
  packages/rma-server/src/purchase-invoice/entity/purchase-invoice/purchase-invoice.entity.ts
  packages/rma-server/src/purchase-invoice/purchase-invoice.module.ts
  packages/rma-server/src/purchase-receipt/aggregates/purchase-receipt-aggregate/purchase-receipt-aggregate.service.ts
  packages/rma-server/src/purchase-receipt/entity/purchase-receipt-dto.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

fix(excel-rma): Non-serial not working for sales-invoice created from erpnext
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-webhook-aggregate/sales-invoice-webhook-aggregate.service.spec.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-webhook-aggregate/sales-invoice-webhook-aggregate.service.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice-webhook-dto.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice.entity.ts
  packages/rma-server/src/sales-invoice/sales-invoice.module.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-frontend): Added Single date filter in SI
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.scss
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma-frontend): Fixed datePicker date format display and added sr. no. column in SI and PI listing
  packages/rma-frontend/package-lock.json
  packages/rma-frontend/package.json
  packages/rma-frontend/src/app/constants/date-format.ts
  packages/rma-frontend/src/app/credit-limit/update-credit-limit/update-credit-limit.component.ts
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.html
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.scss
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-return/add-sales-return.page.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.scss
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.page.html
  packages/rma-frontend/src/app/warranty-ui/warranty/warranty.page.ts
Due: test_rma_frontend, pack_rma_frontend

fix(excel-rma): Csv file serials not being to uppercase
  .gitlab-ci.yml
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-server/src/delivery-note/aggregates/delivery-note-aggregate/delivery-note-aggregate.service.ts
  packages/rma-server/src/purchase-receipt/aggregates/purchase-receipt-aggregate/purchase-receipt-aggregate.service.ts
  packages/rma-server/src/serial-no/policies/serial-no-policies/serial-no-policies.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-server): Add purchase/sales warranty months to item
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/sales-ui/item-price/edit-days/edit-days.component.ts
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.datasource.ts
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.html
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.ts
  packages/rma-frontend/src/app/sales-ui/services/item-price.service.ts
  packages/rma-server/src/item/aggregates/item-aggregate/item-aggregate.service.ts
  packages/rma-server/src/item/commands/index.ts
  packages/rma-server/src/item/commands/set-purchase-warranty-days/set-purchase-warranty-days.command.ts
  packages/rma-server/src/item/commands/set-purchase-warranty-days/set-purchase-warranty-days.handler.ts
  packages/rma-server/src/item/controllers/item/item.controller.ts
  packages/rma-server/src/item/entity/item/item.entity.ts
  packages/rma-server/src/item/entity/item/set-warranty-months-dto.ts
  packages/rma-server/src/item/events/index.ts
  packages/rma-server/src/item/events/purchase-warranty-days-set/purchase-warranty-days-set.event.ts
  packages/rma-server/src/item/events/purchase-warranty-days-set/purchase-warranty-days-set.handler.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-frontend): Select Date field added in purchase page
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.html
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.scss
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.ts
Due: test_rma_frontend, pack_rma_frontend

fix(rma-frontend): Fixed dueDate setHours() issue
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
Due: test_rma_frontend, pack_rma_frontend

fix(rma-frontend): Disable add button if total exceeds credit limit
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma-frontend): Added singular entries as per non-serial items
  packages/rma-frontend/src/app/api/csv-json/csv-json.service.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.html
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-server/src/item/commands/set-purchase-warranty-days/set-purchase-warranty-days.command.ts
  packages/rma-server/src/item/events/purchase-warranty-days-set/purchase-warranty-days-set.event.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend
