Repository fnrfarid/excel-rma: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_rma_frontend, test_rma_mobile, test_rma_server, pack_rma_server, pack_rma_frontend

test_rma_frontend:
  image: registry.gitlab.com/castlecraft/docker-craft/node-latest-headless-chrome:latest
  stage: tests
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
    - packages/rma-frontend/node_modules/
  before_script:
  - cd packages/rma-frontend
  - npm install
  script:
  - export NODE_ENV=test
  - npm run lint
  ...

test_rma_mobile:
  image: registry.gitlab.com/castlecraft/docker-craft/node-latest-headless-chrome:latest
  stage: tests
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
    - packages/rma-mobile/node_modules/
  before_script:
  - cd packages/rma-mobile
  - npm install
  script:
  - npm run lint
  - npm run format:check
  ...

test_rma_server:
  image: node:latest
  stage: tests
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
    - packages/rma-server/node_modules/
  before_script:
  - cd packages/rma-server
  - npm install
  script:
  - export NODE_ENV=test
  - npm run lint
  - npm run format:check
  - npm run test
  - npm run test:e2e
  tags:
  - docker

pack_rma_server:
  image: docker
  stage: pack
  before_script:
  - apk add git
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - export VERSION=$(git tag --list "rma-server@*" --sort=-version:refname | sed -n 1p | sed -e 's#.*@\(\)#\1#')
  ...

pack_rma_frontend:
  image: docker
  stage: pack
  before_script:
  - apk add git
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - export VERSION=$(git tag --list "rma-frontend@*" --sort=-version:refname | sed -n 1p | sed -e 's#.*@\(\)#\1#')
  ...

feat(rma-frontend): Due Date changes on Posting Date in Add Sales Invoice Page
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma-warranty):Updated Delivery note and serial history creation workflow
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.spec.ts
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.ts
  packages/rma-server/src/stock-entry/controller/stock-entry.controller.ts
  packages/rma-server/src/stock-entry/policies/stock-entry-policies/stock-entry-policies.service.spec.ts
  packages/rma-server/src/stock-entry/policies/stock-entry-policies/stock-entry-policies.service.ts
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/status-history-dto.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim.entity.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.ts
Due: test_rma_server, pack_rma_server

fix(excel-rma): Add fixes for item-price, stock, webhooks
  packages/rma-frontend/src/app/app.component.html
  packages/rma-frontend/src/app/app.component.spec.ts
  packages/rma-frontend/src/app/app.component.ts
  packages/rma-frontend/src/app/common/app-common.module.ts
  packages/rma-frontend/src/app/common/pipes/countdown.pipe.ts
  packages/rma-frontend/src/app/sales-ui/services/item-price.service.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.html
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.spec.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
  packages/rma-server/src/auth/auth.module.ts
  packages/rma-server/src/auth/controllers/connect/connect.controller.spec.ts
  packages/rma-server/src/auth/controllers/connect/connect.controller.ts
  packages/rma-server/src/auth/guards/webhook.pipe.ts
  packages/rma-server/src/constants/webhook-data.ts
  packages/rma-server/src/customer/controllers/customer-webhook/customer-webhook.controller.spec.ts
  packages/rma-server/src/customer/controllers/customer-webhook/customer-webhook.controller.ts
  packages/rma-server/src/delivery-note/controller/delivery-note-webhook/delivery-note-webhook.controller.spec.ts
  packages/rma-server/src/delivery-note/controller/delivery-note-webhook/delivery-note-webhook.controller.ts
  packages/rma-server/src/item/controllers/item-webhook/item-webhook.controller.spec.ts
  packages/rma-server/src/item/controllers/item-webhook/item-webhook.controller.ts
  packages/rma-server/src/purchase-invoice/controllers/purchase-invoice-webhook/purchase-invoice-webhook.controller.spec.ts
  packages/rma-server/src/purchase-invoice/controllers/purchase-invoice-webhook/purchase-invoice-webhook.controller.ts
  packages/rma-server/src/purchase-order/controllers/purchase-order-webhook/purchase-order-webhook.controller.spec.ts
  packages/rma-server/src/purchase-order/controllers/purchase-order-webhook/purchase-order-webhook.controller.ts
  packages/rma-server/src/purchase-receipt/controllers/purchase-receipt-webhook/purchase-receipt-webhook.controller.spec.ts
  packages/rma-server/src/purchase-receipt/controllers/purchase-receipt-webhook/purchase-receipt-webhook.controller.ts
  packages/rma-server/src/sales-invoice/controllers/sales-invoice-webhook/sales-invoice-webhook.controller.spec.ts
  packages/rma-server/src/sales-invoice/controllers/sales-invoice-webhook/sales-invoice-webhook.controller.ts
  packages/rma-server/src/stock-entry/policies/stock-entry-policies/stock-entry-policies.service.spec.ts
  packages/rma-server/src/stock-entry/policies/stock-entry-policies/stock-entry-policies.service.ts
  packages/rma-server/src/supplier/controllers/supplier-webhook/supplier-webhook.controller.spec.ts
  packages/rma-server/src/supplier/controllers/supplier-webhook/supplier-webhook.controller.ts
  packages/rma-server/src/sync/controllers/job-queue/job-queue.controller.spec.ts
  packages/rma-server/src/sync/controllers/job-queue/job-queue.controller.ts
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty.service.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

Fix: Delivery Note print
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
Due: test_rma_frontend, pack_rma_frontend

Publish
  packages/rma-frontend/CHANGELOG.md
  packages/rma-frontend/package-lock.json
  packages/rma-frontend/package.json
  packages/rma-server/CHANGELOG.md
  packages/rma-server/package-lock.json
  packages/rma-server/package.json
  packages/rma-warranty/CHANGELOG.md
  packages/rma-warranty/package-lock.json
  packages/rma-warranty/package.json
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-frontend): Ordered Qty column removed from table in Stock Availability Page
  packages/rma-frontend/src/app/stock-entry/stock-availability/stock-availability.page.html
  packages/rma-frontend/src/app/stock-entry/stock-availability/stock-availability.page.ts
Due: test_rma_frontend, pack_rma_frontend

fix(excel-rma): Fix print, file, webhook, item bugs
  packages/rma-frontend/src/app/api/csv-json/csv-json.service.ts
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.ts
  packages/rma-frontend/src/app/settings/settings.page.ts
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/constants/webhook-data.ts
  packages/rma-server/src/item/entity/item/item.service.ts
  packages/rma-server/src/print/aggregates/print-aggregate/print-aggregate.service.ts
  packages/rma-server/src/purchase-receipt/schedular/purchase-receipt-sync/purchase-receipt-sync.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

Fix: Query check
  packages/rma-server/src/item/entity/item/item.service.ts
Due: test_rma_server, pack_rma_server

feat(rma-frontend): Reseted filter added and Pagination fixed on Stock Entry Page
  packages/rma-frontend/src/app/constants/app-string.ts
  packages/rma-frontend/src/app/stock-entry/stock-entry-list/stock-entry-list.page.html
Due: test_rma_frontend, pack_rma_frontend

prettier
  packages/rma-frontend/src/app/constants/app-string.ts
  packages/rma-frontend/src/app/stock-entry/stock-entry-list/stock-entry-list.page.html
Due: test_rma_frontend, pack_rma_frontend

fix(excel-rma): Add fix for serial event, UI
  packages/rma-frontend/src/app/app.component.html
  packages/rma-frontend/src/app/app.component.ts
  packages/rma-server/src/delivery-note/schedular/delivery-note-job/delivery-note-job.service.ts
  packages/rma-server/src/purchase-receipt/aggregates/purchase-receipt-aggregate/purchase-receipt-aggregate.service.ts
  packages/rma-server/src/purchase-receipt/schedular/purchase-receipt-sync/purchase-receipt-sync.service.ts
  packages/rma-server/src/stock-entry/schedular/stock-entry-sync/stock-entry-sync.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

Publish
  packages/rma-frontend/CHANGELOG.md
  packages/rma-frontend/package-lock.json
  packages/rma-frontend/package.json
  packages/rma-server/CHANGELOG.md
  packages/rma-server/package-lock.json
  packages/rma-server/package.json
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(excel-rma): Add aggregated print for stock entry
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.html
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.spec.ts
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.ts
  packages/rma-frontend/src/app/sales-ui/services/item-price.service.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/item/aggregates/item-aggregate/item-aggregate.service.spec.ts
  packages/rma-server/src/item/aggregates/item-aggregate/item-aggregate.service.ts
  packages/rma-server/src/item/controllers/item/item.controller.ts
  packages/rma-server/src/print/aggregates/print-aggregate/print-aggregate.service.ts
  packages/rma-server/src/sync/aggregates/job-queue-aggregate/job-queue-aggregate.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(excel-rma): Updated sales return, job cleanup, serial date, print
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/job-ui/jobs-service/jobs.service.ts
  packages/rma-frontend/src/app/job-ui/jobs/jobs.page.html
  packages/rma-frontend/src/app/job-ui/jobs/jobs.page.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
  packages/rma-server/src/constants/agenda-job.ts
  packages/rma-server/src/delivery-note/schedular/delivery-note-job/delivery-note-job.service.ts
  packages/rma-server/src/item/aggregates/item-aggregate/item-aggregate.service.ts
  packages/rma-server/src/print/aggregates/print-aggregate/print-aggregate.service.ts
  packages/rma-server/src/purchase-receipt/aggregates/purchase-receipt-aggregate/purchase-receipt-aggregate.service.ts
  packages/rma-server/src/purchase-receipt/schedular/purchase-receipt-sync/purchase-receipt-sync.service.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-return-dto.ts
  packages/rma-server/src/sales-invoice/policies/sales-invoice-policies/sales-invoice-policies.service.ts
  packages/rma-server/src/serial-no/policies/assign-serial-no-policies/assign-serial-no-policies.service.ts
  packages/rma-server/src/stock-entry/schedular/stock-entry-sync/stock-entry-sync.service.ts
  packages/rma-server/src/sync/aggregates/job-queue-aggregate/job-queue-aggregate.service.ts
  packages/rma-server/src/sync/controllers/job-queue/job-queue.controller.spec.ts
  packages/rma-server/src/sync/controllers/job-queue/job-queue.controller.ts
  packages/rma-server/src/sync/entities/agenda-job/agenda-job.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(Excel-rma): Validate sales return based on posting date
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
  packages/rma-server/src/print/aggregates/print-aggregate/print-aggregate.service.ts
  packages/rma-server/src/print/entities/print/print.dto.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/sales-invoice/policies/sales-invoice-policies/sales-invoice-policies.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

fix(rma-frontend): Add permission link to settings
  packages/rma-frontend/src/app/app.component.html
Due: test_rma_frontend, pack_rma_frontend

Fix: Sales Return Condition
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
Due: test_rma_server, pack_rma_server

feat(rma-frontend): Stock ID search filter fixed on Stock Entry Page
  packages/rma-frontend/src/app/stock-entry/stock-entry-list/stock-entry-list.page.ts
  packages/rma-server/src/stock-entry/entities/stock-entry.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

fix(rma-warranty):stock entry cancellation & minor bug fixes
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/service-invoice/aggregates/service-invoice-aggregate/service-invoice-aggregate.service.ts
  packages/rma-server/src/service-invoice/entity/service-invoice/service-invoice-dto.ts
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.spec.ts
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.ts
  packages/rma-server/src/stock-entry/policies/stock-entry-policies/stock-entry-policies.service.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim.entity.ts
  packages/rma-warranty/src/app/common/interfaces/warranty.interface.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/service-invoices.component.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/service-invoices.component.scss
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/service-invoices.component.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/status-history/status-history.component.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/status-history/status-history.component.spec.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/status-history/status-history.component.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/status-history/status-history.service.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/stock-entry.component.html
Due: test_rma_server, pack_rma_server

feat(rma-frontend): logout from erp on logout from custom app
  packages/rma-frontend/angular.json
  packages/rma-frontend/src/app/app.component.ts
  packages/rma-frontend/src/app/sales-ui/sales-return/sales-return.page.ts
  packages/rma-frontend/src/main.ts
  packages/rma-frontend/src/polyfills.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma-warranty): logout from erp on logout from custom app
  packages/rma-warranty/angular.json
  packages/rma-warranty/src/app/app.component.ts
  packages/rma-warranty/src/main.ts
  packages/rma-warranty/src/polyfills.ts
Due: none

fix(rma-warranty):stock entry cancellation & minor bug fixes
  packages/rma-server/src/serial-no/entity/serial-no/serial-no.entity.ts
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.ts
Due: test_rma_server, pack_rma_server

feat(rma-frontend): refresh button on session expiry
  packages/rma-frontend/src/app/app.component.html
Due: test_rma_frontend, pack_rma_frontend

fix(rma-warranty):stock entry cancellation & minor bug fixes
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.spec.ts
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.ts
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/status-history/status-history.component.html
Due: test_rma_server, pack_rma_server

feat(excel-rma): Add date parsing for posting date
  packages/rma-frontend/src/app/common/components/delivered-serials/delivered-serials.component.html
  packages/rma-frontend/src/app/common/components/delivered-serials/delivered-serials.component.ts
  packages/rma-frontend/src/app/constants/date-format.ts
  packages/rma-frontend/src/app/constants/permission-roles.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.html
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
  packages/rma-server/src/constants/agenda-job.ts
  packages/rma-server/src/stock-entry/policies/stock-entry-policies/stock-entry-policies.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

fix(rma-warranty):stock entry cancellation & minor bug fixes
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.spec.ts
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.ts
  packages/rma-server/src/stock-entry/policies/stock-entry-policies/stock-entry-policies.service.spec.ts
  packages/rma-server/src/stock-entry/policies/stock-entry-policies/stock-entry-policies.service.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/status-history/status-history.component.html
Due: test_rma_server, pack_rma_server

fix(excel-rma): Handle different date formats for sync
  packages/rma-frontend/src/app/common/components/delivered-serials/delivered-serials.component.ts
  packages/rma-server/src/constants/agenda-job.ts
  packages/rma-server/src/stock-entry/aggregates/stock-entry-aggregate/stock-entry-aggregate.service.ts
  packages/rma-server/src/sync/aggregates/job-queue-aggregate/job-queue-aggregate.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

fix(rma-warranty):stock entry cancellation & minor bug fixes
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.spec.ts
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.ts
  packages/rma-server/src/stock-entry/policies/stock-entry-policies/stock-entry-policies.service.spec.ts
  packages/rma-server/src/stock-entry/policies/stock-entry-policies/stock-entry-policies.service.ts
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/status-history/status-history.component.html
Due: test_rma_server, pack_rma_server

Vouchers now have option to open in new tab on Sales Invoice page
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
Due: test_rma_frontend, pack_rma_frontend

fix(rma-warranty):fixes
  packages/rma-server/src/stock-entry/policies/stock-entry-policies/stock-entry-policies.service.ts
Due: test_rma_server, pack_rma_server

Vouchers now have option to open in new tab on Sales Invoice page (route fix)
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
Due: test_rma_frontend, pack_rma_frontend

feat(rma-frontend): Vouchers now have option to open in new tab on Purchase page, Sales Return page and Stock Entry List page
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.html
  packages/rma-frontend/src/app/sales-ui/sales-return/sales-return.page.html
  packages/rma-frontend/src/app/stock-entry/stock-entry-list/stock-entry-list.page.html
Due: test_rma_frontend, pack_rma_frontend

feat(Excel-rma): Add territory and warehouse permission to stock
  packages/rma-frontend/src/app/common/components/delivered-serials/delivered-serials.component.html
  packages/rma-frontend/src/app/common/components/delivered-serials/delivered-serials.component.ts
  packages/rma-frontend/src/app/constants/app-string.ts
  packages/rma-frontend/src/app/material/material.module.ts
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase-invoice-datasource.ts
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.html
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.scss
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.ts
  packages/rma-frontend/src/app/sales-ui/sales-return/sales-return.page.html
  packages/rma-frontend/src/app/sales-ui/sales/sales-invoice-datasource.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.scss
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.ts
  packages/rma-frontend/src/app/stock-entry/stock-entry-list/stock-entry-list.page.html
  packages/rma-server/src/constants/agenda-job.ts
  packages/rma-server/src/stock-entry/aggregates/stock-entry-aggregate/stock-entry-aggregate.service.ts
  packages/rma-server/src/stock-entry/controller/stock-entry.controller.ts
  packages/rma-server/src/stock-entry/entities/stock-entry.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-warranty): Clear filter button added on Serial Search page
  packages/rma-warranty/src/app/serial-ui/serial-search/serial-search.page.html
  packages/rma-warranty/src/app/serial-ui/serial-search/serial-search.page.scss
Due: none

feat(rma-warranty): type filter added on Stock Entry page and Serial Search added on home nav
  packages/rma-frontend/src/app/app.component.html
  packages/rma-frontend/src/app/app.component.ts
  packages/rma-frontend/src/app/stock-entry/stock-entry-list/stock-entry-list.page.html
  packages/rma-frontend/src/app/stock-entry/stock-entry-list/stock-entry-list.page.ts
Due: test_rma_frontend, pack_rma_frontend

Fix: Build Fix
  packages/rma-frontend/src/app/stock-entry/stock-availability/stock-availability.page.html
Due: test_rma_frontend, pack_rma_frontend

feat(rma-warranty): type filter added on Stock Entry page(fixed) and Serial Search added on home nav
  packages/rma-frontend/src/app/stock-entry/stock-entry-list/stock-entry-list.page.ts
Due: test_rma_frontend, pack_rma_frontend

Path conditions:
  test_rma_frontend: any of: packages/rma-frontend/**/*
  test_rma_mobile: any of: packages/rma-mobile/**/*
  test_rma_server: any of: packages/rma-server/**/*
  pack_rma_server: any of: packages/rma-server/**/*
  pack_rma_frontend: any of: packages/rma-frontend/**/*
