Repository fnrfarid/excel-rma: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_rma_frontend, test_rma_mobile, test_rma_server, pack_rma_server, pack_rma_frontend

.gitlab-ci.yml:

services:
  - name: docker:dind
    alias: docker

stages:
  - tests
  - pack
  - deploy

test_rma_frontend:
  image: registry.gitlab.com/castlecraft/docker-craft/node-latest-headless-chrome:latest
  stage: tests
  cache:
    key: "$CI_JOB_NAME-$CI_COMMIT_REF_SLUG"
    paths:
      - packages/rma-frontend/node_modules/
  only:
    changes:
      - packages/rma-frontend/**/*
    refs:
      - merge_requests
      - master
  before_script:
    - cd packages/rma-frontend
    - npm install
  script:
    # set env variable for test
    - export NODE_ENV=test
    # Check Code Quality
    - npm run lint
    - npm run format:check
    # Test backend unit tests
    - npm run test
    # Test backend e2e
    - npm run e2e
  tags:
    - docker

test_rma_mobile:
  image: registry.gitlab.com/castlecraft/docker-craft/node-latest-headless-chrome:latest
  stage: tests
  cache:
    key: "$CI_JOB_NAME-$CI_COMMIT_REF_SLUG"
    paths:
      - packages/rma-mobile/node_modules/
  only:
    changes:
      - packages/rma-mobile/**/*
    refs:
      - merge_requests
      - master
  before_script:
    - cd packages/rma-mobile
    - npm install
  script:
    # Check Code Quality
    - npm run lint
    - npm run format:check
    # set env variable for test
    - export NODE_ENV=test
    # Test frontend
    - export DISPLAY=:99
    - Xvfb :0 -ac -screen 0 1024x768x24 &
    - npm run test
    - npm run e2e
  tags:
    - docker

test_rma_server:
  image: node:latest
  stage: tests
  cache:
    key: "$CI_JOB_NAME-$CI_COMMIT_REF_SLUG"
    paths:
      - packages/rma-server/node_modules/
  only:
    changes:
      - packages/rma-server/**/*
    refs:
      - merge_requests
      - master
  before_script:
    - cd packages/rma-server
    - npm install
  script:
    # set env variable for test
    - export NODE_ENV=test
    # Check Code Quality
    - npm run lint
    - npm run format:check
    # Test backend unit tests
    - npm run test
    # Test backend e2e
    - npm run test:e2e
  tags:
    - docker

pack_rma_server:
  image: docker
  stage: pack
  only:
    refs:
      - master
    changes:
      - packages/rma-server/**/*
  before_script:
    - apk add git
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
    - export VERSION=$(git tag --list "rma-server@*" --sort=-version:refname | sed -n 1p | sed -e 's#.*@\(\)#\1#')
    - docker build --cache-from $CI_REGISTRY_IMAGE:latest -t rma-server packages/rma-server
    # - docker tag rma-server $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-server:$VERSION
    - docker tag rma-server $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-server:latest
    - docker push $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-server

pack_rma_frontend:
  image: docker
  stage: pack
  only:
    refs:
      - master
    changes:
      - packages/rma-frontend/**/*
  before_script:
    - apk add git
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
    - export VERSION=$(git tag --list "rma-frontend@*" --sort=-version:refname | sed -n 1p | sed -e 's#.*@\(\)#\1#')
    - docker build --cache-from $CI_REGISTRY_IMAGE:latest -t rma-frontend packages/rma-frontend
    # - docker tag rma-frontend $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-frontend:$VERSION
    - docker tag rma-frontend $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-frontend:latest
    - docker push $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-frontend

deploy_staging:
  image: dtzar/helm-kubectl:latest
  only:
    refs:
      - master
  stage: deploy
  variables:
    KUBECONFIG: /etc/deploy/config
  before_script:
    - mkdir -p /etc/deploy
    - echo ${kube_config} | base64 -d > ${KUBECONFIG}
    - kubectl config use-context staging
  script:
    - helm upgrade stg-rma -n staging helm-chart/rma-portal --reuse-values

feat(excel-rma): Add flow for rnd products to stock entry
  packages/rma-frontend/src/app/constants/app-string.ts
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.html
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.datasource.ts
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/serial-no/entity/serial-no-history/serial-no-history.entity.ts
  packages/rma-server/src/stock-entry/aggregates/stock-entry-aggregate/stock-entry-aggregate.service.ts
  packages/rma-server/src/stock-entry/entities/stock-entry-dto.ts
  packages/rma-server/src/stock-entry/entities/stock-entry.entity.ts
  packages/rma-server/src/stock-entry/policies/stock-entry-policies/stock-entry-policies.service.ts
  packages/rma-server/src/stock-entry/schedular/stock-entry-sync/stock-entry-sync.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-warranty):Serial event creation on warranty stock entry
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
Due: none

fix(excel-rma): Add fixes for stock and sales flow
  packages/rma-frontend/src/app/common/components/assign-serial/assign-serial.component.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.html
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.html
  packages/rma-frontend/src/app/settings/settings.service.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.html
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.scss
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/stock-entry/aggregates/stock-entry-aggregate/stock-entry-aggregate.service.ts
  packages/rma-server/src/stock-entry/policies/stock-entry-policies/stock-entry-policies.service.spec.ts
  packages/rma-server/src/stock-entry/policies/stock-entry-policies/stock-entry-policies.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-frontend): Item is now selectable with autocomplete in Item Price Page
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.module.ts
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.html
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.ts
  packages/rma-frontend/src/app/settings/settings.page.html
Due: test_rma_frontend, pack_rma_frontend

feat(rma-warranty):Serial event creation on warranty stock entry
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.spec.ts
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
Due: none

feat(excel-rma): Add back-dated stock-entry
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/sales-return/sales-return.service.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.html
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
  packages/rma-server/src/stock-entry/aggregates/stock-entry-aggregate/stock-entry-aggregate.service.ts
  packages/rma-server/src/stock-entry/entities/stock-entry.entity.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-frontend): Item Group is now selectable with autocomplete in Item Price Page
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.html
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
Due: test_rma_frontend, pack_rma_frontend

fix(excel-rma): Add fix for items and customer regex
  packages/rma-frontend/src/app/common/components/assign-serial/assign-serial.component.spec.ts
  packages/rma-frontend/src/app/common/components/delivered-serials/delivered-serials.component.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/view-sales-invoice.module.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/add-item-dialog.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.spec.ts
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/customer/controllers/customer/customer.controller.ts
  packages/rma-server/src/customer/entity/customer/customer.service.ts
  packages/rma-server/src/error-log/error-log-service/error-log.service.ts
  packages/rma-server/src/item/controllers/item/item.controller.ts
  packages/rma-server/src/item/entity/item/item.service.ts
  packages/rma-server/src/purchase-order/entity/purchase-order/purchase-order.service.ts
  packages/rma-server/src/purchase-receipt/entity/purchase-receipt.service.ts
  packages/rma-server/src/serial-no/entity/serial-no/serial-no.service.ts
  packages/rma-server/src/stock-entry/entities/stock-entry.service.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(excel-rma): Add naming series for rnd products
  packages/rma-frontend/src/app/job-ui/jobs/jobs.page.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/sales-return/sales-return.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/sales-return/sales-return.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/sales-return/sales-return.datasource.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/sales-return/sales-return.service.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
  packages/rma-server/src/constants/app-strings.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(excel-rma): Updated file upload for sales and stock
  packages/rma-frontend/src/app/common/components/assign-serial/assign-serial.component.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-server/src/item/controllers/item/item.controller.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-frontend): Reseted option is now available in Status filter in Purchase Invoice List Page
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.ts
Due: test_rma_frontend, pack_rma_frontend

fix(excel-rma): Update file upload validation
  packages/rma-frontend/src/app/common/components/assign-serial/assign-serial.component.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.datasource.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-reset-aggregate/sales-invoice-reset-aggregate.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(excel-rma): Add backdated purchase invoice and receipt
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-server/src/delivery-note/schedular/delivery-note-job/delivery-note-job.service.ts
  packages/rma-server/src/purchase-order/aggregates/purchase-order-webhook-aggregate/purchase-order-webhook-aggregate.service.ts
  packages/rma-server/src/purchase-receipt/entity/purchase-receipt-dto.ts
  packages/rma-server/src/purchase-receipt/schedular/purchase-receipt-sync/purchase-receipt-sync.service.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/sync/assets/data_import_template.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(excel-rma): Add logic to update status for bundle items
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
  packages/rma-server/src/delivery-note/schedular/delivery-note-job/delivery-note-job.service.ts
  packages/rma-server/src/item/aggregates/item-aggregate/item-aggregate.service.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.spec.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice.entity.ts
  packages/rma-server/src/sales-invoice/sales-invoice.module.ts
  packages/rma-server/src/stock-entry/schedular/stock-entry-sync/stock-entry-sync.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(excel-rma): Add stock update for sales backend
  packages/rma-frontend/src/app/common/interfaces/sales.interface.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.ts
  packages/rma-server/src/constants/routes.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice-dto.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice-update-dto.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice.entity.ts
  packages/rma-server/src/sales-invoice/policies/sales-invoice-policies/sales-invoice-policies.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-warranty):Dumping warranty claim list
  packages/rma-warranty/src/app/api/api.module.ts
  packages/rma-warranty/src/app/api/csv-json/csv-json.service.spec.ts
  packages/rma-warranty/src/app/api/csv-json/csv-json.service.ts
  packages/rma-warranty/src/app/api/csv-json/select-dump-headers-dialog.html
  packages/rma-warranty/src/app/api/csv-json/select-dump-headers-dialog.scss
  packages/rma-warranty/src/app/app.module.ts
  packages/rma-warranty/src/app/constants/app-string.ts
  packages/rma-warranty/src/app/warranty-ui/warranty-ui.module.ts
  packages/rma-warranty/src/app/warranty-ui/warranty/assign-serials-dialog.html
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.html
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.spec.ts
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.ts
Due: none

feat(rma-warranty):Dumping warranty claim list
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.module.ts
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.spec.ts
Due: none

fix(excel-rma): Fix issue with sales cancelation
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/purchase-order/aggregates/purchase-order-aggregate/purchase-order-aggregate.service.ts
  packages/rma-server/src/purchase-order/aggregates/purchase-order-webhook-aggregate/purchase-order-webhook-aggregate.service.ts
  packages/rma-server/src/purchase-order/policies/purchase-order-policies/purchase-order-policies.service.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-reset-aggregate/sales-invoice-reset-aggregate.service.ts
  packages/rma-server/src/sales-invoice/policies/sales-invoice-reset-policies/sales-invoice-reset-policies.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

fix(excel-rma): Fix issue with bundle item on sales invoice
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/sales-invoice/policies/sales-invoice-policies/sales-invoice-policies.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-frontend): Supplier is now selectable with autocomplete in Purchase Page
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.html
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.ts
  packages/rma-frontend/src/app/purchase-ui/services/purchase.service.ts
Due: test_rma_frontend, pack_rma_frontend

feat(excel-rma): Add basic_rate to material receipt stock entry
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.html
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
  packages/rma-server/src/stock-entry/aggregates/stock-entry-aggregate/stock-entry-aggregate.service.ts
  packages/rma-server/src/stock-entry/entities/stock-entry-dto.ts
  packages/rma-server/src/stock-entry/entities/stock-entry.entity.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

fix(excel-rma): Issue with delivery note items getting bugged bug
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma-frontend): Customer is now selectable with autocomplete in Sales page
  packages/rma-frontend/src/app/credit-limit/credit-limit-datasource.ts
  packages/rma-frontend/src/app/credit-limit/credit-limit.page.spec.ts
  packages/rma-frontend/src/app/credit-limit/credit-limit.page.ts
  packages/rma-frontend/src/app/customer-profile/customer-profile.page.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.spec.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma-frontend): removed supplier code from supplier field
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.html
Due: test_rma_frontend, pack_rma_frontend

feat(rma-frontend): removed supplier code from supplier field
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma-frontend): Removed customer code from customer field
  packages/rma-frontend/src/app/credit-limit/credit-limit.page.html
  packages/rma-frontend/src/app/credit-limit/credit-limit.page.ts
  packages/rma-frontend/src/app/customer-profile/customer-profile.page.html
  packages/rma-frontend/src/app/customer-profile/customer-profile.page.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.ts
Due: test_rma_frontend, pack_rma_frontend

feat(excel-rma): Add index to warehouse and item in serial entity
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/serial-no/controllers/serial-no/serial-no.controller.ts
  packages/rma-server/src/serial-no/entity/serial-no/serial-no.entity.ts
  packages/rma-server/src/serial-no/entity/serial-no/serial-no.service.ts
  packages/rma-warranty/src/app/common/pipes/validators.ts
  packages/rma-warranty/src/app/serial-ui/serial-search/search-fields.interface.ts
  packages/rma-warranty/src/app/serial-ui/serial-search/serial-search.page.html
  packages/rma-warranty/src/app/serial-ui/serial-search/serial-search.page.spec.ts
  packages/rma-warranty/src/app/serial-ui/serial-search/serial-search.page.ts
  packages/rma-warranty/src/app/serial-ui/serial-search/serial-search.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-frontend)
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.spec.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.ts
Due: test_rma_frontend, pack_rma_frontend

feat(excel-rma): Add print receipt to sales return page
  packages/rma-frontend/src/app/common/interfaces/sales-return.interface.ts
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.ts
  packages/rma-frontend/src/app/sales-ui/sales-return-details/sales-return-details.page.html
  packages/rma-frontend/src/app/sales-ui/sales-return-details/sales-return-details.page.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/print/print.component.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
  packages/rma-server/src/constants/webhook-data.ts
  packages/rma-server/src/sales-invoice/policies/sales-invoice-policies/sales-invoice-policies.service.ts
  packages/rma-server/src/stock-entry/policies/stock-entry-policies/stock-entry-policies.service.spec.ts
  packages/rma-server/src/stock-entry/policies/stock-entry-policies/stock-entry-policies.service.ts
  packages/rma-warranty/src/app/serial-ui/serial-search/serial-search.service.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

fix(rma-frontend): make POS Profile optional under server settings
  packages/rma-frontend/src/app/settings/settings.page.html
Due: test_rma_frontend, pack_rma_frontend

feat(rma-frontend): Brand is now selectable with autocomplete on Item Price Page
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.html
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-server/src/constants/webhook-data.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-frontend): Salesperson is now selectable with autocomplete in Sales Page
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

d
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice.service.ts
Due: test_rma_server, pack_rma_server

feat(excel-rma): Add aggregated print for delivery chalan
  packages/rma-frontend/src/app/constants/app-string.ts
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.spec.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/print/print.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/print/print.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials-datasource.ts
  packages/rma-frontend/src/app/settings/settings.page.html
  packages/rma-frontend/src/app/settings/settings.page.ts
  packages/rma-frontend/src/app/settings/settings.service.ts
  packages/rma-server/out.pdf
  packages/rma-server/package-lock.json
  packages/rma-server/package.json
  packages/rma-server/src/app.module.ts
  packages/rma-server/src/print/aggregates/index.ts
  packages/rma-server/src/print/aggregates/print-aggregate/print-aggregate.service.spec.ts
  packages/rma-server/src/print/aggregates/print-aggregate/print-aggregate.service.ts
  packages/rma-server/src/print/controller/print/print.controller.spec.ts
  packages/rma-server/src/print/controller/print/print.controller.ts
  packages/rma-server/src/print/entities/print/print.dto.ts
  packages/rma-server/src/print/print-module.ts
  packages/rma-server/src/stock-entry/policies/stock-entry-policies/stock-entry-policies.service.ts
  packages/rma-server/src/system-settings/entities/server-settings/server-setting.dto.ts
  packages/rma-server/src/system-settings/entities/server-settings/server-settings.entity.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

Lint Fix
  packages/rma-server/src/print/aggregates/print-aggregate/print-aggregate.service.ts
Due: test_rma_server, pack_rma_server

feat(Excel-rma): Add dynamic download for serial search page
  packages/rma-frontend/src/app/sales-ui/add-sales-return/add-sales-return.page.html
  packages/rma-frontend/src/app/sales-ui/add-sales-return/add-sales-return.page.ts
  packages/rma-server/src/purchase-order/aggregates/purchase-order-aggregate/purchase-order-aggregate.service.ts
  packages/rma-server/src/sales-invoice/policies/sales-invoice-policies/sales-invoice-policies.service.ts
  packages/rma-warranty/src/app/common/helpers/serials/serials.service.ts
  packages/rma-warranty/src/app/serial-ui/serial-search/serial-search.page.html
  packages/rma-warranty/src/app/serial-ui/serial-search/serial-search.page.spec.ts
  packages/rma-warranty/src/app/serial-ui/serial-search/serial-search.page.ts
  packages/rma-warranty/src/app/serial-ui/serial-search/serial-search.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

d
  packages/rma-server/src/constants/webhook-data.ts
Due: test_rma_server, pack_rma_server
