Repository fnrfarid/excel-rma: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_rma_frontend, test_rma_mobile, test_rma_server, pack_rma_server, pack_rma_frontend

.gitlab-ci.yml:

services:
  - name: docker:dind
    alias: docker

stages:
  - tests
  - pack
  - deploy

test_rma_frontend:
  image: registry.gitlab.com/castlecraft/docker-craft/node-latest-headless-chrome:latest
  stage: tests
  cache:
    key: "$CI_JOB_NAME-$CI_COMMIT_REF_SLUG"
    paths:
      - packages/rma-frontend/node_modules/
  only:
    changes:
      - packages/rma-frontend/**/*
    refs:
      - merge_requests
      - master
  before_script:
    - cd packages/rma-frontend
    - npm install
  script:
    # set env variable for test
    - export NODE_ENV=test
    # Check Code Quality
    - npm run lint
    - npm run format:check
    # Test backend unit tests
    - npm run test
    # Test backend e2e
    - npm run e2e
  tags:
    - docker

test_rma_mobile:
  image: registry.gitlab.com/castlecraft/docker-craft/node-latest-headless-chrome:latest
  stage: tests
  cache:
    key: "$CI_JOB_NAME-$CI_COMMIT_REF_SLUG"
    paths:
      - packages/rma-mobile/node_modules/
  only:
    changes:
      - packages/rma-mobile/**/*
    refs:
      - merge_requests
      - master
  before_script:
    - cd packages/rma-mobile
    - npm install
  script:
    # Check Code Quality
    - npm run lint
    - npm run format:check
    # set env variable for test
    - export NODE_ENV=test
    # Test frontend
    - export DISPLAY=:99
    - Xvfb :0 -ac -screen 0 1024x768x24 &
    - npm run test
    - npm run e2e
  tags:
    - docker

test_rma_server:
  image: node:latest
  stage: tests
  cache:
    key: "$CI_JOB_NAME-$CI_COMMIT_REF_SLUG"
    paths:
      - packages/rma-server/node_modules/
  only:
    changes:
      - packages/rma-server/**/*
    refs:
      - merge_requests
      - master
  before_script:
    - cd packages/rma-server
    - npm install
  script:
    # set env variable for test
    - export NODE_ENV=test
    # Check Code Quality
    - npm run lint
    - npm run format:check
    # Test backend unit tests
    - npm run test
    # Test backend e2e
    - npm run test:e2e
  tags:
    - docker

pack_rma_server:
  image: docker
  stage: pack
  only:
    refs:
      - master
    changes:
      - packages/rma-server/**/*
  before_script:
    - apk add git
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
    - export VERSION=$(git tag --list "rma-server@*" --sort=-version:refname | sed -n 1p | sed -e 's#.*@\(\)#\1#')
    - docker build --cache-from $CI_REGISTRY_IMAGE:latest -t rma-server packages/rma-server
    # - docker tag rma-server $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-server:$VERSION
    - docker tag rma-server $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-server:latest
    - docker push $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-server

pack_rma_frontend:
  image: docker
  stage: pack
  only:
    refs:
      - master
    changes:
      - packages/rma-frontend/**/*
  before_script:
    - apk add git
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
    - export VERSION=$(git tag --list "rma-frontend@*" --sort=-version:refname | sed -n 1p | sed -e 's#.*@\(\)#\1#')
    - docker build --cache-from $CI_REGISTRY_IMAGE:latest -t rma-frontend packages/rma-frontend
    # - docker tag rma-frontend $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-frontend:$VERSION
    - docker tag rma-frontend $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-frontend:latest
    - docker push $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-frontend

deploy_staging:
  image: dtzar/helm-kubectl:latest
  only:
    refs:
      - master
  stage: deploy
  variables:
    KUBECONFIG: /etc/deploy/config
  before_script:
    - mkdir -p /etc/deploy
    - echo ${kube_config} | base64 -d > ${KUBECONFIG}
    - kubectl config use-context staging
  script:
    - helm upgrade stg-rma -n staging helm-chart/rma-portal --reuse-values

Publish
  packages/rma-frontend/CHANGELOG.md
  packages/rma-frontend/package-lock.json
  packages/rma-frontend/package.json
  packages/rma-server/CHANGELOG.md
  packages/rma-server/package-lock.json
  packages/rma-server/package.json
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

fix(rma-warranty):Status History Fixes
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.ts
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/status-history/status-history-datasource.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/status-history/status-history.component.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/status-history/status-history.component.ts
Due: test_rma_server, pack_rma_server

feat(rma-frontend): Remarks field added to Sales Return
  packages/rma-frontend/src/app/common/interfaces/sales-return.interface.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-return/add-sales-return.page.html
  packages/rma-frontend/src/app/sales-ui/add-sales-return/add-sales-return.page.ts
  packages/rma-frontend/src/app/sales-ui/sales-return-details/sales-return-details.page.html
  packages/rma-frontend/src/app/sales-ui/sales-return/sales-return.page.html
  packages/rma-frontend/src/app/sales-ui/sales-return/sales-return.page.ts
  packages/rma-server/src/delivery-note/entity/delivery-note-service/delivery-note.entity.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-return-dto.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-frontend): Remarks field added to Sales Return 1
  packages/rma-frontend/src/app/sales-ui/sales-return-details/sales-return-details.page.html
Due: test_rma_frontend, pack_rma_frontend

feat(rma-warranty):Claim Cancllation and Print fixes
  packages/rma-server/src/print/aggregates/print-aggregate/print-aggregate.service.ts
  packages/rma-server/src/service-invoice/aggregates/service-invoice-aggregate/service-invoice-aggregate.service.ts
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-server/src/warranty-claim/command/index.ts
  packages/rma-server/src/warranty-claim/command/reset-warranty-claim/reset-warranty-claim.command.ts
  packages/rma-server/src/warranty-claim/command/reset-warranty-claim/reset-warranty-claim.handler.ts
  packages/rma-server/src/warranty-claim/controllers/warranty-claim/warranty-claim.controller.ts
  packages/rma-server/src/warranty-claim/policies/warranty-claim-policies/warranty-claim-policies.service.spec.ts
  packages/rma-server/src/warranty-claim/policies/warranty-claim-policies/warranty-claim-policies.service.ts
  packages/rma-warranty/src/app/common/interfaces/warranty.interface.ts
  packages/rma-warranty/src/app/constants/url-strings.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/claim-details/claim-details.component.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/claim-details/claim-details.component.scss
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/claim-details/claim-details.component.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/stock-entry.component.html
  packages/rma-warranty/src/app/warranty-ui/warranty-tabs/warranty.service.ts
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.html
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.ts
Due: test_rma_server, pack_rma_server

feat(rma-warranty): Add favIcon to Warranty App
  packages/rma-warranty/src/app/app.service.ts
  packages/rma-warranty/src/app/settings/settings.page.ts
  packages/rma-warranty/src/app/settings/settings.service.ts
Due: none

feat(rma-warranty): Add favIcon to Warranty App 1
  packages/rma-warranty/src/app/settings/settings.page.ts
  packages/rma-warranty/src/app/settings/settings.service.ts
Due: none

fix(rma-warranty):Claim Cancllation and Print fixes
  packages/rma-server/src/print/aggregates/print-aggregate/print-aggregate.service.ts
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-server/src/warranty-claim/command/reset-warranty-claim/reset-warranty-claim.command.ts
  packages/rma-server/src/warranty-claim/command/reset-warranty-claim/reset-warranty-claim.handler.ts
  packages/rma-server/src/warranty-claim/controllers/warranty-claim/warranty-claim.controller.ts
  packages/rma-server/src/warranty-claim/policies/warranty-claim-policies/warranty-claim-policies.service.ts
  packages/rma-warranty/src/app/constants/url-strings.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/claim-details/claim-details.component.ts
  packages/rma-warranty/src/app/warranty-ui/warranty-tabs/warranty.service.ts
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.html
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.ts
Due: test_rma_server, pack_rma_server

feat(Rma-server): Update flow for stock entry batching
  packages/rma-server/src/stock-entry/aggregates/stock-entry-aggregate/stock-entry-aggregate.service.spec.ts
  packages/rma-server/src/stock-entry/aggregates/stock-entry-aggregate/stock-entry-aggregate.service.ts
  packages/rma-server/src/stock-entry/entities/stock-entry.entity.ts
  packages/rma-server/src/stock-entry/schedular/stock-entry-sync/stock-entry-sync.service.ts
Due: test_rma_server, pack_rma_server

Publish
  packages/rma-frontend/CHANGELOG.md
  packages/rma-frontend/package-lock.json
  packages/rma-frontend/package.json
  packages/rma-server/CHANGELOG.md
  packages/rma-server/package-lock.json
  packages/rma-server/package.json
  packages/rma-warranty/CHANGELOG.md
  packages/rma-warranty/package-lock.json
  packages/rma-warranty/package.json
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

fix(rma-warranty):warranty claim fixes
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/bulk-warranty-claim-dto.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim-dto.ts
  packages/rma-server/src/warranty-claim/policies/warranty-claim-policies/warranty-claim-policies.service.spec.ts
  packages/rma-server/src/warranty-claim/policies/warranty-claim-policies/warranty-claim-policies.service.ts
  packages/rma-warranty/src/app/common/interfaces/warranty.interface.ts
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty.service.ts
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.ts
Due: test_rma_server, pack_rma_server

fix(rma-warranty):Service invoice and stock entry fixes
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim.entity.ts
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty.service.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.ts
Due: test_rma_server, pack_rma_server

fix(rma-frontend): Delivery Chalan print fixed
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/print/print.component.ts
  packages/rma-server/src/print/aggregates/print-aggregate/print-aggregate.service.ts
  packages/rma-server/src/print/entities/print/print.dto.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

fix(rma-frontend): Delivery Chalan print fixed 1
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/print/print.component.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

fix(rma-frontend): Delivery Chalan print fixed 2
  packages/rma-frontend/src/app/common/interfaces/sales.interface.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/print/print.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials-datasource.ts
Due: test_rma_frontend, pack_rma_frontend

fix(Excel-rma): Fix print for delivery note
  packages/rma-frontend/src/app/constants/storage.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma-frontend): Remarks field added to Prints
  packages/rma-server/src/print/aggregates/print-aggregate/print-aggregate.service.ts
  packages/rma-server/src/print/entities/print/print.dto.ts
Due: test_rma_server, pack_rma_server

feat(rma-warranty):Added RMA Permissions
  packages/rma-warranty/src/app/api/permission/permission.service.ts
  packages/rma-warranty/src/app/constants/permission-roles.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/claim-details/claim-details.component.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/claim-details/claim-details.component.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/service-invoices.component.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/stock-entry.component.html
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.html
Due: none

fix(warranty-UI): Fix add warranty claim creation page
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.html
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
Due: none

Fix: Lint fix
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
Due: none

fix(rma-warranty): Fixed all filters on Warranty page
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim.service.ts
  packages/rma-warranty/src/app/warranty-ui/warranty-tabs/warranty.service.ts
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.html
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.spec.ts
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.ts
Due: test_rma_server, pack_rma_server

feat(Excel-Warranty): Fix bugs on add warranty claim
  packages/rma-server/src/customer/aggregates/customer-aggregate/customer-aggregate.service.ts
  packages/rma-server/src/customer/controllers/customer/customer.controller.spec.ts
  packages/rma-server/src/customer/controllers/customer/customer.controller.ts
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-server/src/warranty-claim/policies/warranty-claim-policies/warranty-claim-policies.service.ts
  packages/rma-warranty/src/app/common/interfaces/warranty.interface.ts
  packages/rma-warranty/src/app/constants/url-strings.ts
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.spec.ts
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty.service.spec.ts
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty.service.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.service.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/view-warranty.service.spec.ts
  packages/rma-warranty/src/app/warranty-ui/warranty-tabs/warranty.service.spec.ts
Due: test_rma_server, pack_rma_server

Publish
  packages/rma-server/CHANGELOG.md
  packages/rma-server/package-lock.json
  packages/rma-server/package.json
  packages/rma-warranty/CHANGELOG.md
  packages/rma-warranty/package-lock.json
  packages/rma-warranty/package.json
Due: test_rma_server, pack_rma_server

feat(rma-warranty):Stock Entry Fix Warehouse and autocomplete fixes
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.service.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/inline-edit/inline-edit.component.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/status-history/status-history.component.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/inline-edit/inline-edit.component.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/items-datasource.ts
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.html
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.ts
Due: none

fix(Warranty-claim): Fix issue with warranty claim name creation
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim.service.ts
Due: test_rma_server, pack_rma_server

feat(Excel-rma): Update stock entry flow for issue and RnD
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.html
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
  packages/rma-server/migrations/2021_03_10_serial_no.js
  packages/rma-server/src/stock-entry/schedular/stock-entry-sync/stock-entry-sync.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

fix(rma-warranty):Add warranty claim page fixes
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim-dto.ts
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
Due: test_rma_server, pack_rma_server

fix(rma-warranty): Fixed filters on Create Service Invoice page
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.ts
Due: none

fix(rma-warranty): Fixed filters on Create Service Invoice page 1
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.html
Due: none

feat(excel-rma): Add migration to set default customer for material issue
  packages/rma-server/migrations/2021_03_10_serial_no.js
Due: test_rma_server, pack_rma_server

fix(rma-warranty):Service invoice creation fix
  packages/rma-server/src/print/aggregates/print-aggregate/print-aggregate.service.ts
  packages/rma-server/src/service-invoice/entity/service-invoice/service-invoice-dto.ts
  packages/rma-server/src/warranty-claim/policies/warranty-claim-policies/warranty-claim-policies.service.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.ts
Due: test_rma_server, pack_rma_server

fix(rma-warranty):Service invoice creation fix
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.ts
Due: none

feat(rma-warranty):Added Bulk Claim Naming Series
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim.service.ts
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
Due: test_rma_server, pack_rma_server

fix(rma-warranty):ct-300 warranty production fixes
  packages/rma-server/src/print/aggregates/print-aggregate/print-aggregate.service.ts
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.ts
  packages/rma-warranty/src/app/app.component.html
  packages/rma-warranty/src/app/app.component.ts
  packages/rma-warranty/src/app/app.service.ts
  packages/rma-warranty/src/app/common/interfaces/warranty.interface.ts
  packages/rma-warranty/src/app/constants/storage.ts
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/claim-details/claim-details.component.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/inline-edit/inline-edit.component.ts
Due: test_rma_server, pack_rma_server

fix(rma-warranty):warranty production fixes
  packages/rma-server/src/stock-entry/entities/stock-entry.entity.ts
  packages/rma-server/src/stock-entry/entities/warranty-stock-entry-dto.ts
  packages/rma-warranty/src/app/common/interfaces/warranty.interface.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/inline-edit/inline-edit.component.ts
Due: test_rma_server, pack_rma_server

fix(rma-warranty): Filters fixed on Warranty Page
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim.service.ts
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.html
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.ts
Due: test_rma_server, pack_rma_server
