Repository fnrfarid/excel-rma: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_rma_frontend, test_rma_mobile, test_rma_server, pack_rma_server, pack_rma_frontend

test_rma_frontend:
  image: registry.gitlab.com/castlecraft/docker-craft/node-latest-headless-chrome:latest
  stage: tests
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
    - packages/rma-frontend/node_modules/
  before_script:
  - cd packages/rma-frontend
  - npm install
  script:
  - export NODE_ENV=test
  - npm run lint
  ...

test_rma_mobile:
  image: registry.gitlab.com/castlecraft/docker-craft/node-latest-headless-chrome:latest
  stage: tests
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
    - packages/rma-mobile/node_modules/
  before_script:
  - cd packages/rma-mobile
  - npm install
  script:
  - npm run lint
  - npm run format:check
  ...

test_rma_server:
  image: node:latest
  stage: tests
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
    - packages/rma-server/node_modules/
  before_script:
  - cd packages/rma-server
  - npm install
  script:
  - export NODE_ENV=test
  - npm run lint
  - npm run format:check
  - npm run test
  - npm run test:e2e
  tags:
  - docker

pack_rma_server:
  image: docker
  stage: pack
  before_script:
  - apk add git
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - export VERSION=$(git tag --list "rma-server@*" --sort=-version:refname | sed -n 1p | sed -e 's#.*@\(\)#\1#')
  ...

pack_rma_frontend:
  image: docker
  stage: pack
  before_script:
  - apk add git
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - export VERSION=$(git tag --list "rma-frontend@*" --sort=-version:refname | sed -n 1p | sed -e 's#.*@\(\)#\1#')
  ...

feat(rma):Added Create Stock Entry feature
  packages/rma-frontend/src/app/common/interfaces/sales.interface.ts
  packages/rma-frontend/src/app/common/interfaces/warranty.interface.ts
  packages/rma-frontend/src/app/constants/messages.ts
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.service.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.html
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.spec.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/inline-edit/inline-edit.component.html
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/inline-edit/inline-edit.component.ts
  packages/rma-server/src/constants/routes.ts
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.spec.ts
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.ts
  packages/rma-server/src/stock-entry/controller/stock-entry.controller.spec.ts
  packages/rma-server/src/stock-entry/controller/stock-entry.controller.ts
  packages/rma-server/src/stock-entry/stock-entry.module.ts
  packages/rma-server/src/stock-entry/stock-entry/stock-entry.entity.ts
  packages/rma-server/src/stock-entry/stock-entry/warranty-stock-entry-dto.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

Revert "Merge branch 'feat' into 'develop'"
  packages/rma-frontend/src/app/common/interfaces/sales.interface.ts
  packages/rma-frontend/src/app/common/interfaces/warranty.interface.ts
  packages/rma-frontend/src/app/constants/messages.ts
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.service.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.html
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.spec.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/inline-edit/inline-edit.component.html
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/inline-edit/inline-edit.component.ts
  packages/rma-server/src/constants/routes.ts
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.spec.ts
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.ts
  packages/rma-server/src/stock-entry/controller/stock-entry.controller.spec.ts
  packages/rma-server/src/stock-entry/controller/stock-entry.controller.ts
  packages/rma-server/src/stock-entry/stock-entry.module.ts
  packages/rma-server/src/stock-entry/stock-entry/stock-entry.entity.ts
  packages/rma-server/src/stock-entry/stock-entry/warranty-stock-entry-dto.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(excel-rma): Add territory to sales invoice
  packages/rma-frontend/src/app/api/permission/permission.service.ts
  packages/rma-frontend/src/app/api/storage/storage.service.ts
  packages/rma-frontend/src/app/customer-profile/customer-profile.page.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.spec.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.spec.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/settings/map-territory/map-territory.component.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/stock-entry.component.spec.ts
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-server):Added create warranty stock entry endpoint
  packages/rma-server/src/constants/routes.ts
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.spec.ts
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.ts
  packages/rma-server/src/stock-entry/controller/stock-entry.controller.spec.ts
  packages/rma-server/src/stock-entry/controller/stock-entry.controller.ts
  packages/rma-server/src/stock-entry/stock-entry.module.ts
  packages/rma-server/src/stock-entry/stock-entry/stock-entry.entity.ts
  packages/rma-server/src/stock-entry/stock-entry/warranty-stock-entry-dto.ts
Due: test_rma_server, pack_rma_server

feat(rma-frontend):Modified Stock Entry Page
  packages/rma-frontend/src/app/common/interfaces/warranty.interface.ts
  packages/rma-frontend/src/app/constants/messages.ts
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.service.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.html
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.spec.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/inline-edit/inline-edit.component.html
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/inline-edit/inline-edit.component.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/items-datasource.ts
Due: test_rma_frontend, pack_rma_frontend

feat(excel-rma): Add auto select warehouse and territory
  packages/rma-frontend/src/app/app.component.ts
  packages/rma-frontend/src/app/constants/storage.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.html
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
  packages/rma-server/src/auth/aggregates/connect/connect.service.ts
  packages/rma-server/src/customer/controllers/customer/customer.controller.ts
  packages/rma-server/src/customer/query/get-customer/retrieve-customer-query.handler.ts
  packages/rma-server/src/customer/query/get-customer/retrieve-customer.query.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice-update-dto.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma):Modified Service Invoice and Stock Entry Listing pages
  packages/rma-frontend/src/app/common/interfaces/warranty.interface.ts
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.service.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/service-invoice-interface.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/service-invoice-datasource.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/service-invoices.component.html
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/service-invoices.component.spec.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/service-invoices.component.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/stock-entry-datasource.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/stock-entry.component.html
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/stock-entry.component.spec.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/stock-entry/stock-entry.component.ts
  packages/rma-server/src/service-invoice/entity/service-invoice/service-invoice-dto.ts
  packages/rma-server/src/service-invoice/entity/service-invoice/service-invoice.entity.ts
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.ts
  packages/rma-server/src/stock-entry/stock-entry/stock-entry.entity.ts
  packages/rma-server/src/stock-entry/stock-entry/warranty-stock-entry-dto.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

Feat: Dependency update
  packages/rma-frontend/package-lock.json
  packages/rma-frontend/package.json
Due: test_rma_frontend, pack_rma_frontend

feat(excel-rma): Updated stock entry fields
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.html
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.html
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
  packages/rma-frontend/src/app/stock-entry/stock-entry-list/stock-entry-list.page.html
  packages/rma-frontend/src/app/stock-entry/stock-entry-list/stock-entry-list.page.ts
  packages/rma-server/src/purchase-receipt/purchase-receipt-policies/purchase-receipt-policies.service.ts
  packages/rma-server/src/stock-entry/stock-entry/stock-entry-dto.ts
  packages/rma-server/src/stock-entry/stock-entry/stock-entry.entity.ts
  packages/rma-server/src/stock-entry/stock-entry/warranty-stock-entry-dto.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma):Update Protractor to latest
  packages/rma-frontend/package-lock.json
  packages/rma-warranty/package-lock.json
Due: test_rma_frontend, pack_rma_frontend

feat(rma):Fixed Changes
  .gitlab-ci.yml
  packages/rma-server/src/system-settings/controllers/setup/setup.service.ts
  packages/rma-warranty/Dockerfile
  packages/rma-warranty/ionic.config.json
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/items-datasource.ts
Due: test_rma_server, pack_rma_server

feat(rma):Fixed Changes
  packages/rma-server/src/system-settings/controllers/setup/setup.service.ts
Due: test_rma_server, pack_rma_server

feat(rma-frontend):Linked rma to Warranty App
  packages/rma-frontend/src/app/app.component.html
  packages/rma-frontend/src/app/app.component.ts
  packages/rma-frontend/src/app/app.service.ts
  packages/rma-frontend/src/app/constants/storage.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma-warranty):Modified warranty,stock-entry and service invoice page listing
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim.service.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/service-invoices.component.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/stock-entry.component.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/stock-entry.component.ts
  packages/rma-warranty/src/app/warranty-ui/warranty-tabs/warranty.service.ts
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.ts
Due: test_rma_server, pack_rma_server

feat(rma-server): Updates delivered items map on item return
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
Due: test_rma_server, pack_rma_server

feat(rma-warranty):Modified Add Service Invoice Page
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.ts
  packages/rma-server/src/stock-entry/controller/stock-entry.controller.ts
  packages/rma-warranty/src/app/constants/messages.ts
  packages/rma-warranty/src/app/constants/url-strings.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/status-history/status-history.component.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/status-history/status-history.component.spec.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/status-history/status-history.component.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/status-history/status-history.service.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/services/stock-entry/stock-entry.service.ts
Due: test_rma_server, pack_rma_server

feat: healthcheck using typeorm indicator
  packages/rma-server/src/system-settings/aggregates/health-check/health-check.service.ts
Due: test_rma_server, pack_rma_server

test(rma-server): healthcheck service
  packages/rma-server/src/system-settings/aggregates/health-check/health-check.service.spec.ts
Due: test_rma_server, pack_rma_server

feat: Warranty App URL in settings
  packages/rma-frontend/src/app/settings/settings.page.html
  packages/rma-frontend/src/app/settings/settings.page.ts
  packages/rma-frontend/src/app/settings/settings.service.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma-warranty):Modified warranty page
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim.service.ts
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.html
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/status-history/status-history.component.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/status-history/status-history.component.ts
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.html
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.spec.ts
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.ts
Due: test_rma_server, pack_rma_server

feat(rma-warranty):Modified add warranty claim page
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim.entity.ts
  packages/rma-warranty/src/app/constants/app-string.ts
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.html
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.spec.ts
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.html
Due: test_rma_server, pack_rma_server

feat(rma-warranty):Updated Add warranty form validations
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.html
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
Due: none

feat(rma-warranty):Modified required changes
  packages/rma-server/src/warranty-claim/entity/warranty-claim/status-history-dto.ts
  packages/rma-warranty/src/app/constants/app-string.ts
  packages/rma-warranty/src/app/constants/url-strings.ts
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.spec.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.service.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/status-history/status-history.component.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/status-history/status-history.component.ts
Due: test_rma_server, pack_rma_server

feat(rma-warranty):Modified stock entry page
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.spec.ts
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.ts
  packages/rma-server/src/stock-entry/stock-entry/warranty-stock-entry-dto.ts
  packages/rma-warranty/src/app/common/interfaces/warranty.interface.ts
  packages/rma-warranty/src/app/constants/app-string.ts
  packages/rma-warranty/src/app/constants/messages.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/inline-edit/inline-edit.component.ts
Due: test_rma_server, pack_rma_server

feat(rma-warranty):fixed changes
  packages/rma-server/src/customer/aggregates/territory-aggregate/territory-aggregate.service.ts
  packages/rma-server/src/customer/controllers/territory/territory.controller.ts
  packages/rma-warranty/src/app/constants/url-strings.ts
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.html
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.spec.ts
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty.service.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/status-history/status-history.component.html
Due: test_rma_server, pack_rma_server

feat(rma-server): Added new flow for creating purchase receipts
  packages/rma-frontend/src/app/common/interfaces/warranty.interface.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/credit-notes/credit-notes.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/credit-notes/credit-notes.component.ts
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/constants/listing-dto/job-queue-list-query.dto.ts
  packages/rma-server/src/constants/routes.ts
  packages/rma-server/src/constants/webhook-data.ts
  packages/rma-server/src/purchase-receipt/entity/purchase-receipt-dto.ts
  packages/rma-server/src/purchase-receipt/schedular/purchase-receipt-sync/purchase-receipt-sync.service.ts
  packages/rma-server/src/sync/aggregates/data-import/data-import.service.ts
  packages/rma-server/src/sync/aggregates/job-queue-aggregate/job-queue-aggregate.service.spec.ts
  packages/rma-server/src/sync/aggregates/job-queue-aggregate/job-queue-aggregate.service.ts
  packages/rma-server/src/sync/controllers/job-queue/job-queue.controller.spec.ts
  packages/rma-server/src/sync/controllers/job-queue/job-queue.controller.ts
  packages/rma-server/src/system-settings/aggregates/settings/settings.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-warranty):Added warranty claim naming series
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim.service.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/service-invoices.component.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/service-invoices.component.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/stock-entry.component.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/view-warranty-claims.page.html
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.html
Due: test_rma_server, pack_rma_server

feat(rma-warranty):fixed changes
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim.entity.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim.service.ts
Due: test_rma_server, pack_rma_server

feat(rma-warranty):fixed changes
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim.service.ts
Due: test_rma_server, pack_rma_server

feat(rma-server): Decrease batch size for purchase receipt
  packages/rma-server/src/constants/app-strings.ts
Due: test_rma_server, pack_rma_server

feat(rma-server): Increated serial batch size
  packages/rma-server/src/constants/app-strings.ts
Due: test_rma_server, pack_rma_server

feat(rma-warranty):Added warranty claim permissions
  packages/rma-server/src/customer/aggregates/territory-aggregate/territory-aggregate.service.ts
  packages/rma-server/src/customer/controllers/territory/territory.controller.ts
  packages/rma-server/src/customer/entity/territory/territory.service.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim.service.ts
  packages/rma-warranty/src/app/warranty-ui/warranty-tabs/warranty.service.ts
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.spec.ts
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.ts
Due: test_rma_server, pack_rma_server

feat(rma-warranty):Added warranty claim permissions
  packages/rma-server/src/customer/aggregates/territory-aggregate/territory-aggregate.service.ts
  packages/rma-server/src/customer/controllers/territory/territory.controller.ts
  packages/rma-server/src/customer/entity/territory/territory.service.ts
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-server/src/warranty-claim/controllers/warranty-claim/warranty-claim.controller.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim.service.ts
  packages/rma-server/src/warranty-claim/query/list-warranty-claim/retrieve-warranty-claim-list.handler.ts
  packages/rma-server/src/warranty-claim/query/list-warranty-claim/retrieve-warranty-claim-list.query.ts
  packages/rma-warranty/src/app/warranty-ui/warranty-tabs/warranty.service.ts
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.spec.ts
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.ts
Due: test_rma_server, pack_rma_server

feat(rma-warranty):Fixes
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim-dto.ts
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.html
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.spec.ts
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty.service.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/status-history/status-history.component.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/status-history/status-history.component.spec.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/status-history/status-history.component.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/status-history/status-history.service.ts
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.html
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.ts
Due: test_rma_server, pack_rma_server

feat(rma-warranty):Modified add stock entry page
  packages/rma-warranty/src/app/common/interfaces/problem-interface.ts
  packages/rma-warranty/src/app/common/interfaces/purchase-receipt.interface.ts
  packages/rma-warranty/src/app/common/interfaces/purchase.interface.ts
  packages/rma-warranty/src/app/common/interfaces/sales-return.interface.ts
  packages/rma-warranty/src/app/common/interfaces/warranty.interface.ts
  packages/rma-warranty/src/app/constants/app-string.ts
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.html
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.ts
Due: none

feat(rma-warranty):post POC FIxes
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/status-history-dto.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim.service.ts
  packages/rma-warranty/src/app/common/interfaces/warranty.interface.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/status-history/status-history.component.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/status-history/status-history.component.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/status-history/status-history.service.ts
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.ts
Due: test_rma_server, pack_rma_server

Path conditions:
  test_rma_frontend: any of: packages/rma-frontend/**/*
  test_rma_mobile: any of: packages/rma-mobile/**/*
  test_rma_server: any of: packages/rma-server/**/*
  pack_rma_server: any of: packages/rma-server/**/*
  pack_rma_frontend: any of: packages/rma-frontend/**/*
