Repository fnrfarid/excel-rma: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_rma_frontend, test_rma_mobile, test_rma_server, pack_rma_server, pack_rma_frontend

.gitlab-ci.yml:

services:
  - name: docker:dind
    alias: docker

stages:
  - tests
  - pack
  - deploy

test_rma_frontend:
  image: registry.gitlab.com/castlecraft/docker-craft/node-latest-headless-chrome:latest
  stage: tests
  cache:
    key: "$CI_JOB_NAME-$CI_COMMIT_REF_SLUG"
    paths:
      - packages/rma-frontend/node_modules/
  only:
    changes:
      - packages/rma-frontend/**/*
    refs:
      - merge_requests
      - master
  before_script:
    - cd packages/rma-frontend
    - npm install
  script:
    # set env variable for test
    - export NODE_ENV=test
    # Check Code Quality
    - npm run lint
    - npm run format:check
    # Test backend unit tests
    - npm run test
    # Test backend e2e
    - npm run e2e
  tags:
    - docker

test_rma_mobile:
  image: registry.gitlab.com/castlecraft/docker-craft/node-latest-headless-chrome:latest
  stage: tests
  cache:
    key: "$CI_JOB_NAME-$CI_COMMIT_REF_SLUG"
    paths:
      - packages/rma-mobile/node_modules/
  only:
    changes:
      - packages/rma-mobile/**/*
    refs:
      - merge_requests
      - master
  before_script:
    - cd packages/rma-mobile
    - npm install
  script:
    # Check Code Quality
    - npm run lint
    - npm run format:check
    # set env variable for test
    - export NODE_ENV=test
    # Test frontend
    - export DISPLAY=:99
    - Xvfb :0 -ac -screen 0 1024x768x24 &
    - npm run test
    - npm run e2e
  tags:
    - docker

test_rma_server:
  image: node:latest
  stage: tests
  cache:
    key: "$CI_JOB_NAME-$CI_COMMIT_REF_SLUG"
    paths:
      - packages/rma-server/node_modules/
  only:
    changes:
      - packages/rma-server/**/*
    refs:
      - merge_requests
      - master
  before_script:
    - cd packages/rma-server
    - npm install
  script:
    # set env variable for test
    - export NODE_ENV=test
    # Check Code Quality
    - npm run lint
    - npm run format:check
    # Test backend unit tests
    - npm run test
    # Test backend e2e
    - npm run test:e2e
  tags:
    - docker

pack_rma_server:
  image: docker
  stage: pack
  only:
    refs:
      - master
    changes:
      - packages/rma-server/**/*
  before_script:
    - apk add git
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
    - export VERSION=$(git tag --list "rma-server@*" --sort=-version:refname | sed -n 1p | sed -e 's#.*@\(\)#\1#')
    - docker build --cache-from $CI_REGISTRY_IMAGE:latest -t rma-server packages/rma-server
    # - docker tag rma-server $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-server:$VERSION
    - docker tag rma-server $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-server:latest
    - docker push $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-server

pack_rma_frontend:
  image: docker
  stage: pack
  only:
    refs:
      - master
    changes:
      - packages/rma-frontend/**/*
  before_script:
    - apk add git
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
    - export VERSION=$(git tag --list "rma-frontend@*" --sort=-version:refname | sed -n 1p | sed -e 's#.*@\(\)#\1#')
    - docker build --cache-from $CI_REGISTRY_IMAGE:latest -t rma-frontend packages/rma-frontend
    # - docker tag rma-frontend $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-frontend:$VERSION
    - docker tag rma-frontend $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-frontend:latest
    - docker push $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-frontend

deploy_staging:
  image: dtzar/helm-kubectl:latest
  only:
    refs:
      - master
  stage: deploy
  variables:
    KUBECONFIG: /etc/deploy/config
  before_script:
    - mkdir -p /etc/deploy
    - echo ${kube_config} | base64 -d > ${KUBECONFIG}
    - kubectl config use-context staging
  script:
    - helm upgrade stg-rma -n staging helm-chart/rma-portal --reuse-values

ci(rma-warranty): fix test
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.spec.ts
Due: none

fix(rma-warranty):Minor print fixes
  packages/rma-warranty/src/app/warranty-ui/warranty-tabs/warranty.service.ts
Due: none

fix(excel-rma):Update Gitlab Ci file
  .gitlab-ci.yml
Due: none

fix: added submit column in csv dump
  packages/rma-warranty/src/app/common/app-common.module.ts
  packages/rma-warranty/src/app/common/components/confirm-dialog/confirm-dialog.component.html
  packages/rma-warranty/src/app/common/components/confirm-dialog/confirm-dialog.component.scss
  packages/rma-warranty/src/app/common/components/confirm-dialog/confirm-dialog.component.spec.ts
  packages/rma-warranty/src/app/common/components/confirm-dialog/confirm-dialog.component.ts
  packages/rma-warranty/src/app/constants/app-string.ts
  packages/rma-warranty/src/app/service-invoices/service-invoices.page.ts
  packages/rma-warranty/src/app/warranty-ui/shared-warranty-modules/service-invoices/add-service-invoice/service-invoice-interface.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/claim-details/claim-details.component.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/claim-details/claim-details.component.ts
Due: none

fix(excel-warranty):Updated subclaim Validation
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
Due: none

fix: search and clear button on add warranty claim
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.html
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
Due: none

fix(rma-warranty):Update bulk claim creation form & print fix
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.html
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
  packages/rma-warranty/src/app/warranty-ui/warranty-tabs/warranty.service.ts
Due: none

fix(rma-warranty):Warranty Claim Validation fixes
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.ts
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.html
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
Due: test_rma_server, pack_rma_server

fix(rma-warranty): fixed warranty claim filters
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.ts
Due: none

fix(rma-warranty):Fixed Invalid Bulk Claim Creation
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim.service.ts
Due: test_rma_server, pack_rma_server

fix(rma-warranty): fixed add warranty serial field
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
Due: none

fix(rma-warranty):Fixed Serial No History Events
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
Due: test_rma_server, pack_rma_server

fix(rma-warranty):Added Sub Claim Failure Notification
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
Due: test_rma_server, pack_rma_server

feat(rma-frontend): stock entry fields
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.html
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.datasource.ts
  packages/rma-frontend/src/app/stock-entry/services/stock-entry/stock-entry.service.ts
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
Due: test_rma_frontend, pack_rma_frontend

fix(rma-warranty):Added Validations Modifying bulk claims
  packages/rma-warranty/src/app/warranty-ui/bulk-warranty-claim/bulk-claim-details/bulk-claim-details.component.html
  packages/rma-warranty/src/app/warranty-ui/bulk-warranty-claim/bulk-claim-details/bulk-claim-details.component.ts
Due: none

feat(rma-frontend): updated form group
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.html
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
  packages/rma-frontend/src/app/stock-entry/services/stock-entry/stock-entry.service.ts
Due: test_rma_frontend, pack_rma_frontend

fix(rma-frontend): updated form control validator
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
  packages/rma-frontend/src/app/stock-entry/services/stock-entry/stock-entry.service.ts
Due: test_rma_frontend, pack_rma_frontend

fix(rma-warranty):Fixed Subclaim Modification
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim.service.ts
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
Due: test_rma_server, pack_rma_server

fix(rma-warranty):Validation Fix
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
Due: none

fix(rma-warranty):Modified Subclaim Creation Flow
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/bulk-warranty-claim-dto.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/update-warranty-claim-dto.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim-dto.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim.entity.ts
  packages/rma-warranty/src/app/common/interfaces/warranty.interface.ts
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
Due: test_rma_server, pack_rma_server

fix(rma-warranty): fixed warranty filters
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.html
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.ts
Due: none

fix(rma-warranty):Addded Service Invoice Draft And Submit Feature
  packages/rma-server/src/service-invoice/aggregates/service-invoice-aggregate/service-invoice-aggregate.service.ts
  packages/rma-server/src/service-invoice/controllers/service-invoice/service-invoice.controller.ts
  packages/rma-warranty/src/app/warranty-ui/shared-warranty-modules/service-invoices/add-service-invoice/add-service-invoice.page.ts
  packages/rma-warranty/src/app/warranty-ui/shared-warranty-modules/service-invoices/add-service-invoice/add-service-invoice.service.ts
  packages/rma-warranty/src/app/warranty-ui/shared-warranty-modules/service-invoices/service-invoices.component.html
  packages/rma-warranty/src/app/warranty-ui/shared-warranty-modules/service-invoices/service-invoices.component.ts
Due: test_rma_server, pack_rma_server

fix(rma-warranty):Fixed Subclaim Edit Issue
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
Due: none

fix(rma-frontend):Purchase Invoice Duplicate Serial Validation
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
Due: test_rma_frontend, pack_rma_frontend

fix(rma-warranty):Revert Draft State Service Invoice Feature
  packages/rma-server/src/service-invoice/aggregates/service-invoice-aggregate/service-invoice-aggregate.service.ts
  packages/rma-server/src/service-invoice/controllers/service-invoice/service-invoice.controller.ts
  packages/rma-warranty/src/app/warranty-ui/shared-warranty-modules/service-invoices/add-service-invoice/add-service-invoice.page.ts
  packages/rma-warranty/src/app/warranty-ui/shared-warranty-modules/service-invoices/add-service-invoice/add-service-invoice.service.ts
  packages/rma-warranty/src/app/warranty-ui/shared-warranty-modules/service-invoices/service-invoices.component.html
  packages/rma-warranty/src/app/warranty-ui/shared-warranty-modules/service-invoices/service-invoices.component.ts
Due: test_rma_server, pack_rma_server

fix(rma-warranty): fixed warranty dump
  packages/rma-warranty/src/app/api/csv-json/csv-json.service.ts
  packages/rma-warranty/src/app/constants/app-string.ts
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.ts
Due: none

fix(rma-warranty): discard changes
  packages/rma-warranty/src/app/constants/app-string.ts
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.ts
Due: none

fix(rma-warranty):Minor Fixes
  packages/rma-warranty/src/app/constants/app-string.ts
  packages/rma-warranty/src/app/warranty-ui/warranty-tabs/warranty.service.ts
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.ts
Due: none

feat(rma-warranty):Fix Print fields
  packages/rma-warranty/src/app/warranty-ui/warranty-tabs/warranty.service.ts
Due: none

fix: pull warranty claim analysis report
  packages/rma-server/src/app.module.ts
  packages/rma-server/src/report/aggregates/warranty-claim-analysi-aggregates/warranty-claim-analysi-aggregates.service.spec.ts
  packages/rma-server/src/report/aggregates/warranty-claim-analysi-aggregates/warranty-claim-analysi-aggregates.service.ts
  packages/rma-server/src/report/controllers/warranty-claim-analysis/warranty-claim-analysis.controller.spec.ts
  packages/rma-server/src/report/controllers/warranty-claim-analysis/warranty-claim-analysis.controller.ts
  packages/rma-server/src/report/report.module.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim.service.ts
Due: test_rma_server, pack_rma_server

Publish
  packages/rma-frontend/CHANGELOG.md
  packages/rma-frontend/package-lock.json
  packages/rma-frontend/package.json
  packages/rma-server/CHANGELOG.md
  packages/rma-server/package-lock.json
  packages/rma-server/package.json
  packages/rma-warranty/CHANGELOG.md
  packages/rma-warranty/package-lock.json
  packages/rma-warranty/package.json
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-pos):Fixed Pipeline
  .gitlab-ci.yml
  packages/rma-server/src/system-settings/entities/server-settings/server-settings.entity.ts
Due: test_rma_server, pack_rma_server

fix(rma-server): pull delivery_status and territory filters fix
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim.service.ts
Due: test_rma_server, pack_rma_server

feat(rma-warranty):Added Transcation Lock in warranty claim Creation
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim.service.ts
Due: test_rma_server, pack_rma_server

feat(rma-pos): added payment method on add sales invoice page
  packages/rma-pos/src/app/constants/url-strings.ts
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.html
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.spec.ts
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-pos/src/app/sales-ui/services/sales.service.ts
  packages/rma-pos/src/app/sales-ui/view-sales-invoice/details/details.component.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice-dto.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice.entity.ts
Due: test_rma_server, pack_rma_server

feat(rma-pos, rma-server): sync mode of payment
  packages/rma-pos/src/app/constants/url-strings.ts
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.html
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.spec.ts
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-pos/src/app/sales-ui/services/sales.service.ts
  packages/rma-pos/src/app/sales-ui/view-sales-invoice/details/details.component.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice-dto.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice.entity.ts
Due: test_rma_server, pack_rma_server

fix(rma-pos, rma-server): update mode of payment
  packages/rma-pos/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-pos/src/app/sales-ui/services/sales.service.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice-update-dto.ts
Due: test_rma_server, pack_rma_server

feat(rma-server):Bulk Naming Series Issues
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim.service.ts
Due: test_rma_server, pack_rma_server
