Repository fnrfarid/excel-rma: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_rma_frontend, test_rma_mobile, test_rma_server, pack_rma_server, pack_rma_frontend

test_rma_frontend:
  image: registry.gitlab.com/castlecraft/docker-craft/node-latest-headless-chrome:latest
  stage: tests
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
    - packages/rma-frontend/node_modules/
  before_script:
  - cd packages/rma-frontend
  - npm install
  script:
  - export NODE_ENV=test
  - npm run lint
  ...

test_rma_mobile:
  image: registry.gitlab.com/castlecraft/docker-craft/node-latest-headless-chrome:latest
  stage: tests
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
    - packages/rma-mobile/node_modules/
  before_script:
  - cd packages/rma-mobile
  - npm install
  script:
  - npm run lint
  - npm run format:check
  ...

test_rma_server:
  image: node:latest
  stage: tests
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
    - packages/rma-server/node_modules/
  before_script:
  - cd packages/rma-server
  - npm install
  script:
  - export NODE_ENV=test
  - npm run lint
  - npm run format:check
  - npm run test
  - npm run test:e2e
  tags:
  - docker

pack_rma_server:
  image: docker
  stage: pack
  before_script:
  - apk add git
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - export VERSION=$(git tag --list "rma-server@*" --sort=-version:refname | sed -n 1p | sed -e 's#.*@\(\)#\1#')
  ...

pack_rma_frontend:
  image: docker
  stage: pack
  before_script:
  - apk add git
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - export VERSION=$(git tag --list "rma-frontend@*" --sort=-version:refname | sed -n 1p | sed -e 's#.*@\(\)#\1#')
  ...

fix(rma-server): Fixed Sales Invoice Territory changing to All Territories when editing the Sales Invoice
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/sales-invoice/command/update-sales-invoice/update-sales-invoice.command.ts
  packages/rma-server/src/sales-invoice/command/update-sales-invoice/update-sales-invoice.handler.ts
  packages/rma-server/src/sales-invoice/controllers/sales-invoice/sales-invoice.controller.ts
Due: test_rma_server, pack_rma_server

fix(rma-server): Fixed Purchase Receipt not being submitted
  packages/rma-server/src/purchase-receipt/aggregates/purchase-receipt-aggregate/purchase-receipt-aggregate.service.ts
  packages/rma-server/src/purchase-receipt/entity/purchase-receipt-dto.ts
Due: test_rma_server, pack_rma_server

fix(rma-server): Fixed Delivery Note not being submitted
  packages/rma-server/src/delivery-note/entity/delivery-note-service/create-delivery-note-interface.ts
  packages/rma-server/src/serial-no/entity/serial-no/assign-serial-dto.ts
Due: test_rma_server, pack_rma_server

fix(rma-server): Fixed Sales invoice listing based on logged in user territory
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/sales-invoice/controllers/sales-invoice/sales-invoice.controller.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice.service.ts
  packages/rma-server/src/sales-invoice/query/list-sales-invoice/retrieve-sales-invoice-list.handler.ts
  packages/rma-server/src/sales-invoice/query/list-sales-invoice/retrieve-sales-invoice-list.query.ts
Due: test_rma_server, pack_rma_server

feat(rma-frontend): Added Profile photo and logged in user name in side menu
  packages/rma-frontend/src/app/app.component.html
  packages/rma-frontend/src/app/app.component.ts
  packages/rma-frontend/src/app/app.service.ts
  packages/rma-frontend/src/assets/alternative.svg
  packages/rma-frontend/src/global.scss
Due: test_rma_frontend, pack_rma_frontend

feat(rma-frontend): Disable Purchase tab if user does not have Purchase User role
  packages/rma-frontend/src/app/app.component.html
  packages/rma-frontend/src/app/app.component.ts
  packages/rma-frontend/src/app/constants/app-string.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma-server): Reduced batch and insert many size for all jobs
  packages/rma-server/src/auth/schedulers/clean-expired-token-cache/clean-expired-token-cache.service.ts
  packages/rma-server/src/auth/schedulers/revoke-expired-frappe-tokens/revoke-expired-frappe-tokens.service.ts
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/customer/schedulers/reset-credit-limit/reset-credit-limit.service.ts
  packages/rma-server/src/direct/schedulers/clean-expired-token-cache/clean-expired-token-cache.service.ts
  packages/rma-server/src/purchase-receipt/aggregates/purchase-receipt-aggregate/purchase-receipt-aggregate.service.ts
  packages/rma-server/src/sales-invoice/schedulers/sales-invoice-sync/sales-invoice-sync.service.ts
  packages/rma-server/src/serial-no/schedulers/serial-no-sync/serial-no-sync.service.ts
Due: test_rma_server, pack_rma_server

feat(rma-server): Optimizations for overall performance
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/delivery-note/aggregates/delivery-note-aggregate/delivery-note-aggregate.service.spec.ts
  packages/rma-server/src/delivery-note/aggregates/delivery-note-aggregate/delivery-note-aggregate.service.ts
  packages/rma-server/src/delivery-note/delivery-note.module.ts
  packages/rma-server/src/delivery-note/entity/delivery-note-service/create-delivery-note-interface.ts
  packages/rma-server/src/delivery-note/entity/delivery-note-service/delivery-note-webhook.dto.ts
  packages/rma-server/src/delivery-note/entity/delivery-note-service/delivery-note.entity.ts
  packages/rma-server/src/delivery-note/schedular/delivery-note-job/delivery-note-job.service.ts
  packages/rma-server/src/purchase-receipt/aggregates/purchase-receipt-aggregate/purchase-receipt-aggregate.service.ts
  packages/rma-server/src/purchase-receipt/schedular/purchase-receipt-sync/purchase-receipt-sync.service.ts
  packages/rma-server/src/stock-entry/schedular/accept-stock-entry-sync/accept-stock-entry-sync.service.ts
  packages/rma-server/src/stock-entry/schedular/stock-entry-sync/stock-entry-sync.service.ts
  packages/rma-server/src/sync/aggregates/serial-batch/serial-batch.service.ts
  packages/rma-server/src/sync/schedular/frappe-jobs-queue/frappe-jobs-queue.service.ts
Due: test_rma_server, pack_rma_server

feat(rma-server): agenda job controller
  packages/rma-server/src/app.module.ts
  packages/rma-server/src/constants/listing-dto/job-queue-list-query.dto.ts
  packages/rma-server/src/constants/typeorm.connection.ts
  packages/rma-server/src/job-queue/aggregates/job-queue-aggregate/job-queue-aggregate.service.spec.ts
  packages/rma-server/src/job-queue/aggregates/job-queue-aggregate/job-queue-aggregate.service.ts
  packages/rma-server/src/job-queue/controllers/job-queue/job-queue.controller.spec.ts
  packages/rma-server/src/job-queue/controllers/job-queue/job-queue.controller.ts
  packages/rma-server/src/job-queue/entities/agenda-job/agenda-job.entity.ts
  packages/rma-server/src/job-queue/entities/agenda-job/agenda-job.service.spec.ts
  packages/rma-server/src/job-queue/entities/agenda-job/agenda-job.service.ts
  packages/rma-server/src/job-queue/job-queue.module.ts
Due: test_rma_server, pack_rma_server

fix(rma-frontend): Minor UI improvements
  packages/rma-frontend/src/app/sales-ui/item-price/edit-days/edit-days.component.html
  packages/rma-frontend/src/app/sales-ui/item-price/edit-days/edit-days.component.ts
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.html
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.ts
Due: test_rma_frontend, pack_rma_frontend

fix(rma-frontend): Fixed sales return not creating delivery note
  packages/rma-frontend/src/app/sales-ui/add-sales-return/add-sales-return.page.ts
Due: test_rma_frontend, pack_rma_frontend

fix(rma-frontend): Fixed sales return rate for item being negative
  packages/rma-frontend/src/app/sales-ui/add-sales-return/add-sales-return.page.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma-server): Added status and parent for all jobs
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/delivery-note/schedular/delivery-note-job/delivery-note-job.service.ts
  packages/rma-server/src/job-queue/aggregates/job-queue-aggregate/job-queue-aggregate.service.ts
  packages/rma-server/src/job-queue/controllers/job-queue/job-queue.controller.ts
  packages/rma-server/src/job-queue/entities/agenda-job/agenda-job.service.ts
  packages/rma-server/src/purchase-receipt/schedular/purchase-receipt-sync/purchase-receipt-sync.service.ts
  packages/rma-server/src/stock-entry/aggregates/stock-entry-aggregate/stock-entry-aggregate.service.ts
  packages/rma-server/src/sync/schedular/frappe-jobs-queue/frappe-jobs-queue.service.ts
Due: test_rma_server, pack_rma_server

fix(rma-frontend): Warehouse list now fetches child warehouses only
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma-frontend):Added Jobs page
  packages/rma-frontend/src/app/app-routing.module.ts
  packages/rma-frontend/src/app/app.component.html
  packages/rma-frontend/src/app/app.module.ts
  packages/rma-frontend/src/app/job-ui/job-ui.module.ts
  packages/rma-frontend/src/app/job-ui/jobs/jobs-routing.module.ts
  packages/rma-frontend/src/app/job-ui/jobs/jobs.module.ts
  packages/rma-frontend/src/app/job-ui/jobs/jobs.page.html
  packages/rma-frontend/src/app/job-ui/jobs/jobs.page.scss
  packages/rma-frontend/src/app/job-ui/jobs/jobs.page.spec.ts
  packages/rma-frontend/src/app/job-ui/jobs/jobs.page.ts
Due: test_rma_frontend, pack_rma_frontend

feat(excel-rma): Added reset state for jobs
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.html
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-serials-datasource.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials-datasource.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.html
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.html
  packages/rma-server/src/delivery-note/schedular/delivery-note-job/delivery-note-job.service.ts
  packages/rma-server/src/purchase-receipt/schedular/purchase-receipt-sync/purchase-receipt-sync.service.ts
  packages/rma-server/src/stock-entry/schedular/accept-stock-entry-sync/accept-stock-entry-sync.service.ts
  packages/rma-server/src/stock-entry/schedular/stock-entry-sync/stock-entry-sync.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-frontend):Fixed format
  packages/rma-frontend/src/app/app.component.html
  packages/rma-frontend/src/app/job-ui/jobs/jobs.page.html
Due: test_rma_frontend, pack_rma_frontend

fix(rma-server): Fixed Delivery Note not being created
  packages/rma-server/src/delivery-note/aggregates/delivery-note-aggregate/delivery-note-aggregate.service.ts
Due: test_rma_server, pack_rma_server

fix: bug fix
  packages/rma-server/src/sync/schedular/frappe-jobs-queue/frappe-jobs-queue.service.ts
Due: test_rma_server, pack_rma_server

wip
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/purchase-receipt/schedular/purchase-receipt-sync/purchase-receipt-sync.service.ts
  packages/rma-server/src/serial-no/entity/serial-no/serial-no.service.ts
  packages/rma-server/src/stock-entry/aggregates/stock-entry-aggregate/stock-entry-aggregate.service.ts
Due: test_rma_server, pack_rma_server

fix: Fixed Delivery Note assigned serials always gives 20 and increased side mennu size
  packages/rma-frontend/src/global.scss
  packages/rma-server/src/delivery-note/aggregates/delivery-note-aggregate/delivery-note-aggregate.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

fix: Fixed Delivery Note not being linked to a Sales Invoice and minor UI fixes
  packages/rma-frontend/src/app/sales-ui/add-sales-return/add-sales-return.page.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.html
  packages/rma-server/src/delivery-note/aggregates/delivery-note-aggregate/delivery-note-aggregate.service.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-return-dto.ts
  packages/rma-server/src/serial-no/entity/serial-no/assign-serial-dto.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-frontend):Added job queue listing table
  packages/rma-frontend/src/app/app.module.ts
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/job-ui/job-ui.module.ts
  packages/rma-frontend/src/app/job-ui/jobs/jobs-datasource.ts
  packages/rma-frontend/src/app/job-ui/jobs/jobs.module.ts
  packages/rma-frontend/src/app/job-ui/jobs/jobs.page.html
  packages/rma-frontend/src/app/job-ui/jobs/jobs.page.scss
  packages/rma-frontend/src/app/job-ui/jobs/jobs.page.spec.ts
  packages/rma-frontend/src/app/job-ui/jobs/jobs.page.ts
  packages/rma-frontend/src/app/job-ui/jobs/jobs.service.spec.ts
  packages/rma-frontend/src/app/job-ui/jobs/jobs.service.ts
Due: test_rma_frontend, pack_rma_frontend

feat(excel-rma): Added job reset and improved job listing
  packages/rma-frontend/src/app/job-ui/jobs/jobs.service.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/job-queue/entities/agenda-job/agenda-job.service.ts
  packages/rma-server/src/purchase-receipt/aggregates/purchase-receipt-aggregate/purchase-receipt-aggregate.service.ts
  packages/rma-server/src/purchase-receipt/schedular/purchase-receipt-sync/purchase-receipt-sync.service.ts
  packages/rma-server/src/stock-entry/aggregates/stock-entry-aggregate/stock-entry-aggregate.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(excel-rma): Improved listing and filters for jobs
  packages/rma-frontend/src/app/job-ui/jobs/jobs-datasource.ts
  packages/rma-frontend/src/app/job-ui/jobs/jobs.page.html
  packages/rma-frontend/src/app/job-ui/jobs/jobs.page.ts
  packages/rma-frontend/src/app/job-ui/jobs/jobs.service.ts
  packages/rma-server/src/job-queue/entities/agenda-job/agenda-job.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-frontend): Add modal page for failed job errors
  packages/rma-frontend/src/app/app-routing.module.ts
  packages/rma-frontend/src/app/job-ui/job-ui.module.ts
  packages/rma-frontend/src/app/job-ui/jobs-service/jobs.service.spec.ts
  packages/rma-frontend/src/app/job-ui/jobs-service/jobs.service.ts
  packages/rma-frontend/src/app/job-ui/jobs/jobs-datasource.ts
  packages/rma-frontend/src/app/job-ui/jobs/jobs.page.html
  packages/rma-frontend/src/app/job-ui/jobs/jobs.page.spec.ts
  packages/rma-frontend/src/app/job-ui/jobs/jobs.page.ts
  packages/rma-frontend/src/app/job-ui/view-single-job/view-single-job-routing.module.ts
  packages/rma-frontend/src/app/job-ui/view-single-job/view-single-job.module.ts
  packages/rma-frontend/src/app/job-ui/view-single-job/view-single-job.page.html
  packages/rma-frontend/src/app/job-ui/view-single-job/view-single-job.page.scss
  packages/rma-frontend/src/app/job-ui/view-single-job/view-single-job.page.spec.ts
  packages/rma-frontend/src/app/job-ui/view-single-job/view-single-job.page.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/credit-notes/credit-note.service.spec.ts
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/job-queue/aggregates/job-queue-aggregate/job-queue-aggregate.service.ts
  packages/rma-server/src/job-queue/entities/agenda-job/agenda-job.entity.ts
  packages/rma-server/src/job-queue/entities/agenda-job/agenda-job.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(excel-rma): Added exponential retry for failing jobs
  packages/rma-frontend/src/app/job-ui/jobs-service/jobs.service.ts
  packages/rma-frontend/src/app/job-ui/jobs/jobs.page.html
  packages/rma-frontend/src/app/job-ui/jobs/jobs.page.ts
  packages/rma-server/src/auth/guards/role.guard.ts
  packages/rma-server/src/auth/guards/token.guard.ts
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/delivery-note/delivery-note.module.ts
  packages/rma-server/src/delivery-note/schedular/delivery-note-job/delivery-note-job.service.spec.ts
  packages/rma-server/src/delivery-note/schedular/delivery-note-job/delivery-note-job.service.ts
  packages/rma-server/src/job-queue/entities/agenda-job/agenda-job.service.ts
  packages/rma-server/src/purchase-receipt/purchase-receipt.module.ts
  packages/rma-server/src/purchase-receipt/schedular/purchase-receipt-sync/purchase-receipt-sync.service.spec.ts
  packages/rma-server/src/purchase-receipt/schedular/purchase-receipt-sync/purchase-receipt-sync.service.ts
  packages/rma-server/src/stock-entry/schedular/accept-stock-entry-sync/accept-stock-entry-sync.service.spec.ts
  packages/rma-server/src/stock-entry/schedular/accept-stock-entry-sync/accept-stock-entry-sync.service.ts
  packages/rma-server/src/stock-entry/schedular/stock-entry-sync/stock-entry-sync.service.spec.ts
  packages/rma-server/src/stock-entry/schedular/stock-entry-sync/stock-entry-sync.service.ts
  packages/rma-server/src/stock-entry/stock-entry.module.ts
  packages/rma-server/src/sync/schedular/frappe-jobs-queue/frappe-jobs-queue.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(excel-rma): Add auto sync for serials that failed to sync
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/job-ui/jobs-service/jobs.service.ts
  packages/rma-frontend/src/app/job-ui/jobs/jobs.page.ts
  packages/rma-frontend/src/app/job-ui/view-single-job/view-single-job.page.html
  packages/rma-frontend/src/app/job-ui/view-single-job/view-single-job.page.spec.ts
  packages/rma-frontend/src/app/job-ui/view-single-job/view-single-job.page.ts
  packages/rma-server/src/job-queue/aggregates/job-queue-aggregate/job-queue-aggregate.service.ts
  packages/rma-server/src/job-queue/controllers/job-queue/job-queue.controller.ts
  packages/rma-server/src/job-queue/entities/agenda-job/agenda-job.service.ts
  packages/rma-server/src/purchase-receipt/purchase-receipt-policies/purchase-receipt-policies.service.spec.ts
  packages/rma-server/src/purchase-receipt/purchase-receipt-policies/purchase-receipt-policies.service.ts
  packages/rma-server/src/purchase-receipt/schedular/purchase-receipt-sync/purchase-receipt-sync.service.spec.ts
  packages/rma-server/src/purchase-receipt/schedular/purchase-receipt-sync/purchase-receipt-sync.service.ts
  packages/rma-server/src/serial-no/entity/serial-no/serial-no.entity.ts
  packages/rma-server/src/system-settings/aggregates/settings/settings.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-server): Add job button for purchase and sales invoice
  packages/rma-frontend/src/app/job-ui/jobs/jobs-routing.module.ts
  packages/rma-frontend/src/app/job-ui/jobs/jobs.page.html
  packages/rma-frontend/src/app/job-ui/jobs/jobs.page.ts
  packages/rma-frontend/src/app/job-ui/view-single-job/view-single-job.page.html
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/view-purchase-invoice.page.html
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/view-purchase-invoice.page.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/view-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/view-sales-invoice.page.ts
Due: test_rma_frontend, pack_rma_frontend

update: root and packages
  package-lock.json
  package.json
  packages/rma-frontend/.prettierrc
  packages/rma-frontend/e2e/protractor.conf.js
  packages/rma-frontend/package-lock.json
  packages/rma-frontend/package.json
  packages/rma-frontend/src/app/api/time/time.service.ts
  packages/rma-server/.prettierrc
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-server): Add reset to purchase receipt jobs
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/job-ui/jobs-service/jobs.service.ts
  packages/rma-frontend/src/app/job-ui/view-single-job/view-single-job.page.html
  packages/rma-frontend/src/app/job-ui/view-single-job/view-single-job.page.ts
  packages/rma-server/src/job-queue/aggregates/job-queue-aggregate/job-queue-aggregate.service.spec.ts
  packages/rma-server/src/job-queue/aggregates/job-queue-aggregate/job-queue-aggregate.service.ts
  packages/rma-server/src/job-queue/controllers/job-queue/job-queue.controller.ts
  packages/rma-server/src/job-queue/entities/agenda-job/agenda-job.entity.ts
  packages/rma-server/src/job-queue/job-queue.module.ts
  packages/rma-server/src/purchase-receipt/schedular/purchase-receipt-sync/purchase-receipt-sync.service.ts
  packages/rma-server/src/sync/schedular/frappe-jobs-queue/frappe-jobs-queue.service.ts
  packages/rma-server/src/sync/sync.module.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

update(rma-server): package dependencies
  packages/rma-server/package-lock.json
  packages/rma-server/package.json
  packages/rma-server/src/app.module.ts
  packages/rma-server/src/sync/schedular/frappe-jobs-queue/frappe-jobs-queue.service.ts
  packages/rma-server/src/system-settings/aggregates/health-check/health-check.service.spec.ts
  packages/rma-server/src/system-settings/aggregates/health-check/health-check.service.ts
  packages/rma-server/src/system-settings/aggregates/terminus-options/terminus-options.service.ts
  packages/rma-server/src/system-settings/controllers/health/health.controller.spec.ts
  packages/rma-server/src/system-settings/controllers/health/health.controller.ts
  packages/rma-server/src/system-settings/system-settings.module.ts
Due: test_rma_server, pack_rma_server

fix(rma-server): update settings dto
  packages/rma-server/src/system-settings/entities/server-settings/server-setting.dto.ts
Due: test_rma_server, pack_rma_server

fix(rma-frontend): fix refresh on login
  packages/rma-frontend/src/app/app.component.ts
  packages/rma-frontend/src/app/app.service.ts
Due: test_rma_frontend, pack_rma_frontend

feat(excel-rma): Added delivery note auto sync for serials
  packages/rma-frontend/src/app/credit-limit/update-credit-limit/update-credit-limit.component.html
  packages/rma-frontend/src/app/job-ui/view-single-job/view-single-job.page.ts
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/customer/aggregates/customer-aggregate/customer-aggregate.service.ts
  packages/rma-server/src/customer/command/update-credit-limit/update-credit-limit.handler.ts
  packages/rma-server/src/customer/query/get-customer/retrieve-customer-query.handler.ts
  packages/rma-server/src/delivery-note/delivery-note.module.ts
  packages/rma-server/src/delivery-note/schedular/delivery-note-job-helper/delivery-note-job-helper.service.ts
  packages/rma-server/src/delivery-note/schedular/delivery-note-job-helper/delivery-note-job.service.spec.ts
  packages/rma-server/src/delivery-note/schedular/delivery-note-job/delivery-note-job.service.ts
  packages/rma-server/src/purchase-receipt/purchase-receipt-policies/purchase-receipt-policies.service.ts
  packages/rma-server/src/sync/schedular/frappe-jobs-queue/frappe-jobs-queue.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

fix: credit limit cron job
  packages/rma-server/package-lock.json
  packages/rma-server/src/customer/schedulers/reset-credit-limit/reset-credit-limit.service.ts
Due: test_rma_server, pack_rma_server

fix: action post SI create, edit, submit
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/sales-ui/sales-ui.module.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/view-sales-invoice-subject.service.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/view-sales-invoice-subject.service.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/view-sales-invoice.page.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/sales-invoice/command/add-sales-invoice/add-sales-invoice.handler.ts
  packages/rma-server/src/sales-invoice/command/update-sales-invoice/update-sales-invoice.handler.ts
  packages/rma-server/src/sales-invoice/controllers/sales-invoice/sales-invoice.controller.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

fix: Purchase Invoice Details Form
  packages/rma-frontend/src/app/common/interfaces/purchase.interface.ts
  packages/rma-frontend/src/app/constants/messages.ts
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/purchase-ui/services/purchase.service.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-details/purchase-details.component.html
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-details/purchase-details.component.spec.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-details/purchase-details.component.ts
  packages/rma-server/src/purchase-order/aggregates/purchase-order-aggregate/purchase-order-aggregate.service.ts
  packages/rma-server/src/purchase-order/controllers/purchase-order/purchase-order.controller.ts
  packages/rma-server/src/purchase-order/query/get-purchase-order/retrieve-purchase-order.handler.ts
  packages/rma-server/src/purchase-order/query/get-purchase-order/retrieve-purchase-order.query.ts
  packages/rma-server/src/purchase-order/query/index.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-frontend): Added Sales Return Listing
  packages/rma-frontend/src/app/app-routing.module.ts
  packages/rma-frontend/src/app/app.component.html
  packages/rma-frontend/src/app/app.component.ts
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/sales-ui/sales-return/sales-return-list.datasource.ts
  packages/rma-frontend/src/app/sales-ui/sales-return/sales-return-routing.module.ts
  packages/rma-frontend/src/app/sales-ui/sales-return/sales-return.module.ts
  packages/rma-frontend/src/app/sales-ui/sales-return/sales-return.page.html
  packages/rma-frontend/src/app/sales-ui/sales-return/sales-return.page.scss
  packages/rma-frontend/src/app/sales-ui/sales-return/sales-return.page.spec.ts
  packages/rma-frontend/src/app/sales-ui/sales-return/sales-return.page.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/sales-return/sales-return.service.ts
Due: test_rma_frontend, pack_rma_frontend

WIP
  packages/rma-frontend/src/app/api/csv-json/csv-json.service.ts
  packages/rma-frontend/src/app/constants/storage.ts
  packages/rma-frontend/src/app/job-ui/jobs/jobs.page.ts
  packages/rma-frontend/src/app/job-ui/view-single-job/view-single-job.page.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/purchase-receipt/aggregates/purchase-receipt-aggregate/purchase-receipt-aggregate.service.ts
  packages/rma-server/src/purchase-receipt/purchase-receipt-policies/purchase-receipt-policies.service.ts
  packages/rma-server/src/purchase-receipt/schedular/purchase-receipt-sync/purchase-receipt-sync.service.ts
  packages/rma-server/src/serial-no/controllers/serial-no/serial-no.controller.ts
  packages/rma-server/src/serial-no/entity/serial-no/serial-no.entity.ts
  packages/rma-server/src/serial-no/policies/serial-no-policies/serial-no-policies.service.ts
  packages/rma-server/src/sync/schedular/frappe-jobs-queue/frappe-jobs-queue.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

Path conditions:
  test_rma_frontend: any of: packages/rma-frontend/**/*
  test_rma_mobile: any of: packages/rma-mobile/**/*
  test_rma_server: any of: packages/rma-server/**/*
  pack_rma_server: any of: packages/rma-server/**/*
  pack_rma_frontend: any of: packages/rma-frontend/**/*
