Repository fnrfarid/excel-rma: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_rma_frontend, test_rma_mobile, test_rma_server, pack_rma_server, pack_rma_frontend

.gitlab-ci.yml:

services:
  - name: docker:dind
    alias: docker

stages:
  - tests
  - pack
  - deploy

test_rma_frontend:
  image: registry.gitlab.com/castlecraft/docker-craft/node-latest-headless-chrome:latest
  stage: tests
  cache:
    key: "$CI_JOB_NAME-$CI_COMMIT_REF_SLUG"
    paths:
      - packages/rma-frontend/node_modules/
  only:
    changes:
      - packages/rma-frontend/**/*
    refs:
      - merge_requests
      - master
  before_script:
    - cd packages/rma-frontend
    - npm install
  script:
    # set env variable for test
    - export NODE_ENV=test
    # Check Code Quality
    - npm run lint
    - npm run format:check
    # Test backend unit tests
    - npm run test
    # Test backend e2e
    - npm run e2e
  tags:
    - docker

test_rma_mobile:
  image: registry.gitlab.com/castlecraft/docker-craft/node-latest-headless-chrome:latest
  stage: tests
  cache:
    key: "$CI_JOB_NAME-$CI_COMMIT_REF_SLUG"
    paths:
      - packages/rma-mobile/node_modules/
  only:
    changes:
      - packages/rma-mobile/**/*
    refs:
      - merge_requests
      - master
  before_script:
    - cd packages/rma-mobile
    - npm install
  script:
    # Check Code Quality
    - npm run lint
    - npm run format:check
    # set env variable for test
    - export NODE_ENV=test
    # Test frontend
    - export DISPLAY=:99
    - Xvfb :0 -ac -screen 0 1024x768x24 &
    - npm run test
    - npm run e2e
  tags:
    - docker

test_rma_server:
  image: node:latest
  stage: tests
  cache:
    key: "$CI_JOB_NAME-$CI_COMMIT_REF_SLUG"
    paths:
      - packages/rma-server/node_modules/
  only:
    changes:
      - packages/rma-server/**/*
    refs:
      - merge_requests
      - master
  before_script:
    - cd packages/rma-server
    - npm install
  script:
    # set env variable for test
    - export NODE_ENV=test
    # Check Code Quality
    - npm run lint
    - npm run format:check
    # Test backend unit tests
    - npm run test
    # Test backend e2e
    - npm run test:e2e
  tags:
    - docker

pack_rma_server:
  image: docker
  stage: pack
  only:
    refs:
      - master
    changes:
      - packages/rma-server/**/*
  before_script:
    - apk add git
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
    - export VERSION=$(git tag --list "rma-server@*" --sort=-version:refname | sed -n 1p | sed -e 's#.*@\(\)#\1#')
    - docker build --cache-from $CI_REGISTRY_IMAGE:latest -t rma-server packages/rma-server
    # - docker tag rma-server $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-server:$VERSION
    - docker tag rma-server $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-server:latest
    - docker push $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-server

pack_rma_frontend:
  image: docker
  stage: pack
  only:
    refs:
      - master
    changes:
      - packages/rma-frontend/**/*
  before_script:
    - apk add git
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
    - export VERSION=$(git tag --list "rma-frontend@*" --sort=-version:refname | sed -n 1p | sed -e 's#.*@\(\)#\1#')
    - docker build --cache-from $CI_REGISTRY_IMAGE:latest -t rma-frontend packages/rma-frontend
    # - docker tag rma-frontend $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-frontend:$VERSION
    - docker tag rma-frontend $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-frontend:latest
    - docker push $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-frontend

deploy_staging:
  image: dtzar/helm-kubectl:latest
  only:
    refs:
      - master
  stage: deploy
  variables:
    KUBECONFIG: /etc/deploy/config
  before_script:
    - mkdir -p /etc/deploy
    - echo ${kube_config} | base64 -d > ${KUBECONFIG}
    - kubectl config use-context staging
  script:
    - helm upgrade stg-rma -n staging helm-chart/rma-portal --reuse-values

feat(excel-rma): Add serial CSV dump to purcase sales and serial search
  packages/rma-frontend/src/app/api/csv-json/csv-json.service.ts
  packages/rma-frontend/src/app/constants/app-string.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.html
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-warranty/src/app/common/helpers/serials/serials.service.ts
  packages/rma-warranty/src/app/constants/app-string.ts
  packages/rma-warranty/src/app/serial-ui/serial-search/serial-search.page.html
  packages/rma-warranty/src/app/serial-ui/serial-search/serial-search.page.spec.ts
  packages/rma-warranty/src/app/serial-ui/serial-search/serial-search.page.ts
Due: test_rma_frontend, pack_rma_frontend

feat(excel-rma): Add permission to disable UI for all components
  packages/rma-frontend/src/app/constants/permission-roles.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.html
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/view-purchase-invoice.page.html
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/view-purchase-invoice.page.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/sales-return/sales-return.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/sales-return/sales-return.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/view-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/view-sales-invoice.page.ts
  packages/rma-frontend/src/app/stock-entry/stock-entry-list/stock-entry-list.page.html
  packages/rma-frontend/src/app/stock-entry/stock-entry-list/stock-entry-list.page.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma):Added permissions in warranty module
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/service-invoices.component.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/service-invoices.component.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/stock-entry.component.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/stock-entry.component.ts
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.html
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.ts
Due: none

feat(excel-rma): Add naming series for stock in and out
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/view-sales-invoice.page.html
  packages/rma-server/src/stock-entry/aggregates/stock-entry-aggregate/stock-entry-aggregate.service.ts
  packages/rma-server/src/stock-entry/schedular/stock-entry-sync/stock-entry-sync.service.ts
  packages/rma-server/src/stock-entry/stock-entry/stock-entry.entity.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-server): Add serial-no optimization for delivered serials
  packages/rma-server/src/serial-no/entity/serial-no/serial-no.entity.ts
  packages/rma-server/src/serial-no/entity/serial-no/serial-no.service.ts
Due: test_rma_server, pack_rma_server

feat(excel-rma): Add posting date for purchase invoice from order
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-server/src/purchase-invoice/aggregates/purchase-invoice-webhook-aggregate/purchase-invoice-webhook-aggregate.service.spec.ts
  packages/rma-server/src/purchase-invoice/aggregates/purchase-invoice-webhook-aggregate/purchase-invoice-webhook-aggregate.service.ts
  packages/rma-server/src/purchase-invoice/purchase-invoice.module.ts
  packages/rma-server/src/purchase-order/aggregates/purchase-order-webhook-aggregate/purchase-order-webhook-aggregate.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(excel-rma): Removed warranty validation from sales/purchase
  packages/rma-frontend/src/app/app-routing.module.ts
  packages/rma-frontend/src/app/app.component.html
  packages/rma-frontend/src/app/app.module.ts
  packages/rma-frontend/src/app/common/guards/excel-sales-manager.guard.ts
  packages/rma-frontend/src/app/common/guards/excel-sales-user.guard.ts
  packages/rma-frontend/src/app/common/guards/system-manager.guard.ts
  packages/rma-frontend/src/app/constants/permission-roles.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-server/src/purchase-receipt/entity/purchase-receipt-dto.ts
  packages/rma-server/src/purchase-receipt/schedular/purchase-receipt-sync/purchase-receipt-sync.service.ts
  packages/rma-server/src/serial-no/entity/serial-no/assign-serial-dto.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(excel-rma): Fix bugs for sales invoice
  packages/rma-frontend/src/app/constants/app-string.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/sales-ui/sales-return/sales-return.page.html
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/sales-invoice/policies/sales-invoice-policies/sales-invoice-policies.service.ts
  packages/rma-server/src/serial-no/policies/assign-serial-no-policies/assign-serial-no-policies.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma):Added warranty Stock transaction to serial history
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/serial-no/entity/serial-no-history/serial-no-history.entity.ts
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.spec.ts
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/status-history-dto.ts
Due: test_rma_server, pack_rma_server

feat(rma-frontend): Add dynamic columns for csv dump
  packages/rma-frontend/src/app/api/api.module.ts
  packages/rma-frontend/src/app/api/csv-json/csv-json.service.spec.ts
  packages/rma-frontend/src/app/api/csv-json/csv-json.service.ts
  packages/rma-frontend/src/app/api/csv-json/select-dump-headers-dialog.html
  packages/rma-frontend/src/app/api/csv-json/select-dump-headers-dialog.scss
  packages/rma-frontend/src/app/app.module.ts
  packages/rma-frontend/src/app/credit-limit/credit-limit.page.ts
  packages/rma-frontend/src/app/customer-profile/customer-profile.page.ts
  packages/rma-frontend/src/app/job-ui/jobs/jobs.page.html
  packages/rma-frontend/src/app/job-ui/jobs/jobs.page.scss
  packages/rma-frontend/src/app/job-ui/jobs/jobs.page.ts
  packages/rma-frontend/src/app/problem-ui/problem/problem.page.ts
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.ts
  packages/rma-frontend/src/app/sales-ui/sales-return/sales-return.page.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/accounts/accounts.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/credit-notes/credit-notes.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-frontend/src/app/settings/settings.page.ts
  packages/rma-frontend/src/app/stock-entry/stock-entry-list/stock-entry-list.page.scss
  packages/rma-frontend/src/app/stock-entry/stock-entry-list/stock-entry-list.page.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/stock-entry.component.html
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.ts
Due: test_rma_frontend, pack_rma_frontend

feat(excel-rma): Add validation for valid selected input
  packages/rma-frontend/src/app/common/pipes/validators.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.html
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/view-purchase-invoice.page.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-return/add-sales-return.page.html
  packages/rma-frontend/src/app/sales-ui/add-sales-return/add-sales-return.page.ts
  packages/rma-frontend/src/app/sales-ui/sales-return/sales-return.page.scss
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.ts
  packages/rma-frontend/src/app/sales-ui/services/item-price.service.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/sales-return/sales-return.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/view-sales-invoice.page.ts
  packages/rma-frontend/src/app/settings/map-territory/map-territory.component.html
  packages/rma-frontend/src/app/settings/map-territory/map-territory.component.ts
  packages/rma-frontend/src/app/settings/settings.page.html
  packages/rma-frontend/src/app/settings/settings.page.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/add-item-dialog.html
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.html
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
  packages/rma-frontend/src/app/stock-entry/stock-entry-list/stock-entry-list.page.ts
Due: test_rma_frontend, pack_rma_frontend

Fix: Warehouses list
  packages/rma-frontend/src/app/settings/map-territory/map-territory.component.html
Due: test_rma_frontend, pack_rma_frontend

feat(rma-frontend):Added Dynamic Serial Component
  packages/rma-frontend/src/app/app.module.ts
  packages/rma-frontend/src/app/assign-serial/assign-serial.component.html
  packages/rma-frontend/src/app/assign-serial/assign-serial.component.scss
  packages/rma-frontend/src/app/assign-serial/assign-serial.component.spec.ts
  packages/rma-frontend/src/app/assign-serial/assign-serial.component.ts
  packages/rma-frontend/src/app/assign-serial/assign-serial.module.ts
  packages/rma-frontend/src/app/purchase-ui/purchase-ui.module.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.html
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.spec.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/view-purchase-invoice.module.ts
  packages/rma-frontend/src/app/sales-ui/sales-ui.module.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/view-sales-invoice.module.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.html
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.spec.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
  packages/rma-frontend/src/app/stock-entry/stock-entry.module.ts
Due: test_rma_frontend, pack_rma_frontend

feat(excel-rma): Add cancle for purchase entries
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.html
  packages/rma-frontend/src/app/purchase-ui/services/purchase.service.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.html
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-details/purchase-details.component.html
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-details/purchase-details.component.ts
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.ts
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/constants/routes.ts
  packages/rma-server/src/purchase-order/aggregates/purchase-order-aggregate/purchase-order-aggregate.service.spec.ts
  packages/rma-server/src/purchase-order/aggregates/purchase-order-aggregate/purchase-order-aggregate.service.ts
  packages/rma-server/src/purchase-order/controllers/purchase-order/purchase-order.controller.spec.ts
  packages/rma-server/src/purchase-order/controllers/purchase-order/purchase-order.controller.ts
  packages/rma-server/src/purchase-order/policies/index.ts
  packages/rma-server/src/purchase-order/policies/purchase-order-policies/purchase-order-policies.service.spec.ts
  packages/rma-server/src/purchase-order/policies/purchase-order-policies/purchase-order-policies.service.ts
  packages/rma-server/src/purchase-order/purchase-order.module.ts
  packages/rma-warranty/src/app/serial-ui/serial-search/serial-search.page.spec.ts
  packages/rma-warranty/src/app/serial-ui/serial-search/serial-search.page.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/service-invoices.component.ts
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(excel-rma): Add sales person to sales filters
  packages/rma-frontend/src/app/constants/permission-roles.ts
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.spec.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/view-sales-invoice.page.html
  packages/rma-server/src/delivery-note/aggregates/delivery-note-aggregate/delivery-note-aggregate.service.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(excel-rma): Add product bundle for sales and delivery
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-return/add-sales-return.page.ts
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-server/src/constants/routes.ts
  packages/rma-server/src/constants/webhook-data.ts
  packages/rma-server/src/item/aggregates/item-aggregate/item-aggregate.service.ts
  packages/rma-server/src/item/aggregates/item-webhook-aggregate/item-webhook-aggregate.service.ts
  packages/rma-server/src/item/controllers/item-webhook/item-webhook.controller.ts
  packages/rma-server/src/item/controllers/item/item.controller.ts
  packages/rma-server/src/item/entity/item/item-webhook-interface.ts
  packages/rma-server/src/item/entity/item/item.entity.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.spec.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice.entity.ts
  packages/rma-server/src/system-settings/aggregates/settings/settings.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(excel-rma): Add credit note items to sales return
  packages/rma-frontend/src/app/callback/callback.page.spec.ts
  packages/rma-frontend/src/app/common/interfaces/sales-return.interface.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/inline-edit/inline-edit.component.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-return/add-sales-return.page.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-return/edit-sales-return-table/edit-sales-return-table.component.html
  packages/rma-frontend/src/app/sales-ui/add-sales-return/edit-sales-return-table/edit-sales-return-table.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-return/edit-sales-return-table/edit-sales-return-table.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/sales-return/sales-return.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-server/src/delivery-note/entity/delivery-note-service/delivery-note.entity.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-return-dto.ts
  packages/rma-server/src/sales-invoice/policies/sales-invoice-policies/sales-invoice-policies.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-frontend): Add note list to the home page
  packages/rma-frontend/src/app/app.service.ts
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/home/home.module.ts
  packages/rma-frontend/src/app/home/home.page.html
  packages/rma-frontend/src/app/home/home.page.scss
  packages/rma-frontend/src/app/home/home.page.spec.ts
  packages/rma-frontend/src/app/home/home.page.ts
Due: test_rma_frontend, pack_rma_frontend

feat(excel-rma): Add cancel flow for purchase flow
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.html
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-details/purchase-details.component.html
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-details/purchase-details.component.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/view-purchase-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.datasource.ts
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.html
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.ts
  packages/rma-frontend/src/app/sales-ui/services/item-price.service.ts
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/constants/routes.ts
  packages/rma-server/src/item/aggregates/item-aggregate/item-aggregate.service.ts
  packages/rma-server/src/item/controllers/item/item.controller.ts
  packages/rma-server/src/item/entity/item/item.entity.ts
  packages/rma-server/src/purchase-order/aggregates/purchase-order-aggregate/purchase-order-aggregate.service.spec.ts
  packages/rma-server/src/purchase-order/aggregates/purchase-order-aggregate/purchase-order-aggregate.service.ts
  packages/rma-server/src/purchase-order/policies/purchase-order-policies/purchase-order-policies.service.spec.ts
  packages/rma-server/src/purchase-order/policies/purchase-order-policies/purchase-order-policies.service.ts
  packages/rma-server/src/purchase-order/purchase-order.module.ts
  packages/rma-server/src/purchase-receipt/purchase-receipt.module.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

fix: setup env-example
  env-example
Due: none

fix: setup mongodb env vars
  docker/backing-services/docker-compose-mongo.yml
Due: none

feat(rma-warranty):Updated Warranty stock entry component
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.ts
  packages/rma-server/src/stock-entry/controller/stock-entry.controller.ts
  packages/rma-server/src/stock-entry/stock-entry/stock-entry.entity.ts
  packages/rma-server/src/stock-entry/stock-entry/warranty-stock-entry-dto.ts
  packages/rma-warranty/src/app/common/interfaces/warranty.interface.ts
  packages/rma-warranty/src/app/constants/app-string.ts
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/claim-details/claim-details.component.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.service.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/service-invoice-interface.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/inline-edit/inline-edit.component.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/inline-edit/inline-edit.component.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/services/stock-entry/stock-entry.service.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/stock-entry-datasource.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/stock-entry.component.ts
Due: test_rma_server, pack_rma_server

feat(excel-rma): Add material-receipt and material issue to stock transaction
  packages/rma-frontend/src/app/api/csv-json/csv-json.service.ts
  packages/rma-frontend/src/app/constants/app-string.ts
  packages/rma-frontend/src/app/customer-profile/customer-profile.page.ts
  packages/rma-frontend/src/app/job-ui/view-single-job/view-single-job.page.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-details/purchase-details.component.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-return/add-sales-return.page.ts
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-frontend/src/app/settings/map-territory/map-territory.component.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/add-item-dialog.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.html
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
  packages/rma-frontend/src/app/stock-entry/services/stock-entry/stock-entry.service.ts
  packages/rma-frontend/src/app/stock-entry/stock-entry.module.ts
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/delivery-note/policies/delivery-note-policies/delivery-note-policies.service.ts
  packages/rma-server/src/purchase-order/policies/purchase-order-policies/purchase-order-policies.service.ts
  packages/rma-server/src/purchase-receipt/aggregates/purchase-receipt-aggregate/purchase-receipt-aggregate.service.ts
  packages/rma-server/src/purchase-receipt/purchase-receipt-policies/purchase-receipt-policies.service.ts
  packages/rma-server/src/sales-invoice/policies/sales-invoice-policies/sales-invoice-policies.service.ts
  packages/rma-server/src/serial-no/entity/serial-no-history/serial-no-history.entity.ts
  packages/rma-server/src/serial-no/entity/serial-no/serial-no.entity.ts
  packages/rma-server/src/stock-entry/aggregates/stock-entry-aggregate/stock-entry-aggregate.service.spec.ts
  packages/rma-server/src/stock-entry/aggregates/stock-entry-aggregate/stock-entry-aggregate.service.ts
  packages/rma-server/src/stock-entry/controller/stock-entry.controller.ts
  packages/rma-server/src/stock-entry/policies/stock-entry-policies/stock-entry-policies.service.ts
  packages/rma-server/src/stock-entry/schedular/stock-entry-sync/stock-entry-sync.service.ts
  packages/rma-server/src/stock-entry/stock-entry/stock-entry-dto.ts
  packages/rma-server/src/stock-entry/stock-entry/stock-entry.entity.ts
  packages/rma-warranty/src/app/settings/map-territory/map-territory.component.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/claim-details/claim-details.component.ts
  packages/rma-warranty/src/app/warranty-ui/warranty-tabs/assign-claims/assign-claims.component.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(excel-rma): Add job buttons and udpated print format
  packages/rma-frontend/src/app/common/interfaces/sales.interface.ts
  packages/rma-frontend/src/app/constants/storage.ts
  packages/rma-frontend/src/app/job-ui/jobs/jobs.page.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/print/print.component.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/add-item-dialog.html
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.html
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.spec.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
  packages/rma-frontend/src/app/stock-entry/stock-entry-list/stock-entry-list-datasource.ts
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/stock-entry/schedular/stock-entry-sync/stock-entry-sync.service.ts
  packages/rma-server/src/stock-entry/stock-entry/stock-entry-dto.ts
  packages/rma-server/src/stock-entry/stock-entry/stock-entry.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

fix(rma-warranty):Fixed warranty stock entry creation
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/serial-no/entity/serial-no/serial-no.entity.ts
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.spec.ts
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.ts
  packages/rma-warranty/src/app/common/interfaces/warranty.interface.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/stock-entry.component.ts
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.scss
Due: test_rma_server, pack_rma_server

fix(Excel-rma): Fix issue with non-serial item on stock entry
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/add-item-dialog.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.html
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.spec.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
  packages/rma-server/src/item/entity/item/item.service.ts
  packages/rma-server/src/stock-entry/aggregates/stock-entry-aggregate/stock-entry-aggregate.service.ts
  packages/rma-server/src/stock-entry/schedular/stock-entry-sync/stock-entry-sync.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

fix(rma-warranty):Fixed minor bugs in warranty stock entry
  packages/rma-server/src/serial-no/entity/serial-no/serial-no.entity.ts
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.ts
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-warranty/src/app/common/interfaces/warranty.interface.ts
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.html
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/inline-edit/inline-edit.component.ts
Due: test_rma_server, pack_rma_server

fix(rma-warranty):Fixed minor bugs in warranty stock entry
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
Due: none

Lint Fix
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.ts
Due: test_rma_server, pack_rma_server

chore: vscode and devcontainer settings
  .devcontainer/createdatabases.sh
  .devcontainer/docker-compose.yml
  vscode-example/launch.json
  vscode-example/settings.json
  vscode-example/tasks.json
Due: none

feat(excel-rma): Add cancelation for material issue
  packages/rma-frontend/src/app/common/pipes/validators.ts
  packages/rma-server/src/serial-no/entity/serial-no-history/serial-no-history.service.ts
  packages/rma-server/src/serial-no/policies/index.ts
  packages/rma-server/src/serial-no/policies/serial-no-history-policies/serial-no-history-policies.service.ts
  packages/rma-server/src/serial-no/policies/serial-no-history-policies/serial-no-history-policies.spec.ts
  packages/rma-server/src/serial-no/serial-no.module.ts
  packages/rma-server/src/stock-entry/aggregates/stock-entry-aggregate/stock-entry-aggregate.service.ts
  packages/rma-server/src/stock-entry/policies/stock-entry-policies/stock-entry-policies.service.spec.ts
  packages/rma-server/src/stock-entry/policies/stock-entry-policies/stock-entry-policies.service.ts
  packages/rma-server/src/stock-entry/stock-entry.module.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-frontend): customer search selectable in customer profile page
  packages/rma-frontend/angular.json
  packages/rma-frontend/src/app/customer-profile/customer-profile.page.html
  packages/rma-frontend/src/app/customer-profile/customer-profile.page.spec.ts
  packages/rma-frontend/src/app/customer-profile/customer-profile.page.ts
Due: test_rma_frontend, pack_rma_frontend

hash(rma-frontend): customer search selectable in credit limit page
  packages/rma-frontend/src/app/credit-limit/credit-limit.page.html
  packages/rma-frontend/src/app/credit-limit/credit-limit.page.spec.ts
  packages/rma-frontend/src/app/credit-limit/credit-limit.page.ts
Due: test_rma_frontend, pack_rma_frontend

feat(excel-rma): Add cancelation for sales flow
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/view-sales-invoice.page.html
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/purchase-order/policies/purchase-order-policies/purchase-order-policies.service.ts
  packages/rma-server/src/sales-invoice/aggregates/cancel-sales-invoice-aggregate/cancel-sales-invoice-aggregate.service.spec.ts
  packages/rma-server/src/sales-invoice/aggregates/cancel-sales-invoice-aggregate/cancel-sales-invoice-aggregate.service.ts
  packages/rma-server/src/sales-invoice/aggregates/index.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-reset-aggregate/sales-invoice-reset-aggregate.service.spec.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-reset-aggregate/sales-invoice-reset-aggregate.service.ts
  packages/rma-server/src/sales-invoice/command/cancel-sales-invoice/cancel-sales-invoice.command.ts
  packages/rma-server/src/sales-invoice/command/cancel-sales-invoice/cancel-sales-invoice.handler.ts
  packages/rma-server/src/sales-invoice/command/index.ts
  packages/rma-server/src/sales-invoice/controllers/sales-invoice/sales-invoice.controller.spec.ts
  packages/rma-server/src/sales-invoice/controllers/sales-invoice/sales-invoice.controller.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice.service.ts
  packages/rma-server/src/sales-invoice/event/index.ts
  packages/rma-server/src/sales-invoice/event/sales-invoice-canceled/sales-invoice-canceled.event.ts
  packages/rma-server/src/sales-invoice/event/sales-invoice-canceled/sales-invoice-canceled.handler.ts
  packages/rma-server/src/sales-invoice/policies/index.ts
  packages/rma-server/src/sales-invoice/policies/sales-invoice-reset-policies/sales-invoice-reset-policies.service.spec.ts
  packages/rma-server/src/sales-invoice/policies/sales-invoice-reset-policies/sales-invoice-reset-policies.service.ts
  packages/rma-server/src/sales-invoice/sales-invoice.module.ts
  packages/rma-server/src/sync/entities/agenda-job/agenda-job.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-frontend): Customer Search in
  packages/rma-frontend/src/app/customer-profile/customer-datasource.ts
  packages/rma-frontend/src/app/customer-profile/customer-profile.page.html
  packages/rma-frontend/src/app/customer-profile/customer-profile.page.scss
  packages/rma-frontend/src/app/customer-profile/customer-profile.page.ts
Due: test_rma_frontend, pack_rma_frontend

new-commit
  packages/rma-frontend/src/app/credit-limit/credit-limit.page.html
  packages/rma-frontend/src/app/credit-limit/credit-limit.page.scss
  packages/rma-frontend/src/app/credit-limit/credit-limit.page.ts
  packages/rma-frontend/src/app/customer-profile/customer-profile.page.spec.ts
  packages/rma-frontend/src/app/customer-profile/customer-profile.page.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma-warranty):Serial event creation on warranty stock entry
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.spec.ts
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.ts
  packages/rma-server/src/stock-entry/stock-entry.module.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/status-history-dto.ts
  packages/rma-server/src/warranty-claim/warranty-claim.module.ts
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.ts
Due: test_rma_server, pack_rma_server

feat(rma-frontend): Customer is now selectable with autocomplete in Customer Profile Page and Credit Limit Page
  packages/rma-frontend/src/app/customer-profile/customer-profile.page.scss
Due: test_rma_frontend, pack_rma_frontend
