Repository fnrfarid/excel-rma: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_rma_frontend, test_rma_mobile, test_rma_server, pack_rma_server, pack_rma_frontend

test_rma_frontend:
  image: registry.gitlab.com/castlecraft/docker-craft/node-latest-headless-chrome:latest
  stage: tests
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
    - packages/rma-frontend/node_modules/
  before_script:
  - cd packages/rma-frontend
  - npm install
  script:
  - export NODE_ENV=test
  - npm run lint
  ...

test_rma_mobile:
  image: registry.gitlab.com/castlecraft/docker-craft/node-latest-headless-chrome:latest
  stage: tests
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
    - packages/rma-mobile/node_modules/
  before_script:
  - cd packages/rma-mobile
  - npm install
  script:
  - npm run lint
  - npm run format:check
  ...

test_rma_server:
  image: node:latest
  stage: tests
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
    - packages/rma-server/node_modules/
  before_script:
  - cd packages/rma-server
  - npm install
  script:
  - export NODE_ENV=test
  - npm run lint
  - npm run format:check
  - npm run test
  - npm run test:e2e
  tags:
  - docker

pack_rma_server:
  image: docker
  stage: pack
  before_script:
  - apk add git
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - export VERSION=$(git tag --list "rma-server@*" --sort=-version:refname | sed -n 1p | sed -e 's#.*@\(\)#\1#')
  ...

pack_rma_frontend:
  image: docker
  stage: pack
  before_script:
  - apk add git
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - export VERSION=$(git tag --list "rma-frontend@*" --sort=-version:refname | sed -n 1p | sed -e 's#.*@\(\)#\1#')
  ...

feat(excel-rma): Add job opeartions for stock entry
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.html
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
  packages/rma-server/src/print/aggregates/print-aggregate/print-aggregate.service.ts
  packages/rma-server/src/stock-entry/aggregates/stock-entry-aggregate/stock-entry-aggregate.service.ts
  packages/rma-server/src/stock-entry/schedular/stock-entry-sync/stock-entry-sync.service.ts
  packages/rma-server/src/sync/aggregates/job-queue-aggregate/job-queue-aggregate.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-frontend): Customer is now autocomplete and selectable in Sales Return Page
  packages/rma-frontend/src/app/sales-ui/sales-return/sales-return.page.html
  packages/rma-frontend/src/app/sales-ui/sales-return/sales-return.page.spec.ts
  packages/rma-frontend/src/app/sales-ui/sales-return/sales-return.page.ts
Due: test_rma_frontend, pack_rma_frontend

Fix: Bug with purchase cancelation
  packages/rma-server/src/purchase-order/aggregates/purchase-order-aggregate/purchase-order-aggregate.service.ts
Due: test_rma_server, pack_rma_server

feat(rma:frontend): From Warehouse and To Warehouse filters fixed
  packages/rma-frontend/src/app/stock-entry/stock-entry-list/stock-entry-list.page.html
  packages/rma-frontend/src/app/stock-entry/stock-entry-list/stock-entry-list.page.ts
  packages/rma-server/src/stock-entry/entities/stock-entry.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-frontend): Pagination fix for Item Price Page
  packages/rma-frontend/src/app/customer-profile/customer-profile.page.ts
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.ts
Due: test_rma_frontend, pack_rma_frontend

feat(excel-rma): Add material transfer cancelation to stock entry
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.html
  packages/rma-server/src/stock-entry/aggregates/stock-entry-aggregate/stock-entry-aggregate.service.ts
  packages/rma-server/src/stock-entry/policies/stock-entry-policies/stock-entry-policies.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(excel-rma): Add job handeling for Material Transfer
  packages/rma-server/src/stock-entry/schedular/stock-entry-sync/stock-entry-sync.service.ts
Due: test_rma_server, pack_rma_server

feat(excel-rma): Add links to sales return page from tab
  packages/rma-frontend/src/app/app-routing.module.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/sales-return/sales-return.component.html
Due: test_rma_frontend, pack_rma_frontend

feat(rma:frontend): Stock Availability Page created
  packages/rma-frontend/src/app/app-routing.module.ts
  packages/rma-frontend/src/app/app.component.html
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/stock-entry/stock-availability/stock-availability-datasource.ts
  packages/rma-frontend/src/app/stock-entry/stock-availability/stock-availability-routing.module.ts
  packages/rma-frontend/src/app/stock-entry/stock-availability/stock-availability.module.ts
  packages/rma-frontend/src/app/stock-entry/stock-availability/stock-availability.page.html
  packages/rma-frontend/src/app/stock-entry/stock-availability/stock-availability.page.scss
  packages/rma-frontend/src/app/stock-entry/stock-availability/stock-availability.page.spec.ts
  packages/rma-frontend/src/app/stock-entry/stock-availability/stock-availability.page.ts
Due: test_rma_frontend, pack_rma_frontend

fix(excel-rma): Add bug fixes for sales and stock
  packages/rma-frontend/src/app/app-routing.module.ts
  packages/rma-server/src/delivery-note/aggregates/delivery-note-aggregate/delivery-note-aggregate.service.ts
  packages/rma-server/src/delivery-note/schedular/delivery-note-job/delivery-note-job.service.ts
  packages/rma-server/src/stock-entry/schedular/stock-entry-sync/stock-entry-sync.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma:frontend): Stock Availability Page created
  packages/rma-frontend/src/app/stock-entry/stock-availability/stock-availability.page.html
Due: test_rma_frontend, pack_rma_frontend

feat
  packages/rma-frontend/src/app/stock-entry/stock-entry-list/stock-entry-list.page.html
  packages/rma-frontend/src/app/stock-entry/stock-entry-list/stock-entry-list.page.spec.ts
  packages/rma-frontend/src/app/stock-entry/stock-entry-list/stock-entry-list.page.ts
Due: test_rma_frontend, pack_rma_frontend

Fix(Excel-rma): Fixes for production bugs
  packages/rma-frontend/src/app/app.component.ts
  packages/rma-frontend/src/app/common/pipes/validators.ts
  packages/rma-frontend/src/app/constants/storage.ts
  packages/rma-frontend/src/app/sales-ui/sales-return/sales-return.page.html
  packages/rma-frontend/src/app/sales-ui/sales-return/sales-return.page.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.html
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.datasource.ts
  packages/rma-server/src/item/controllers/item/item.controller.ts
  packages/rma-server/src/purchase-receipt/schedular/purchase-receipt-sync/purchase-receipt-sync.service.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice-dto.ts
  packages/rma-server/src/sales-invoice/policies/sales-invoice-policies/sales-invoice-policies.service.ts
  packages/rma-server/src/serial-no/policies/assign-serial-no-policies/assign-serial-no-policies.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-frontend): Serial fix for pagination on Sales Page
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.ts
Due: test_rma_frontend, pack_rma_frontend

fix(rma-server): build errors
  packages/rma-server/package-lock.json
  packages/rma-server/package.json
  packages/rma-server/src/config/config.service.ts
Due: test_rma_server, pack_rma_server

chore(rma-server): make package private
  packages/rma-server/package.json
Due: test_rma_server, pack_rma_server

Publish
  packages/rma-frontend/package-lock.json
  packages/rma-frontend/package.json
  packages/rma-mobile/package-lock.json
  packages/rma-mobile/package.json
  packages/rma-server/package-lock.json
  packages/rma-server/package.json
  packages/rma-warranty/package-lock.json
  packages/rma-warranty/package.json
Due: test_rma_frontend, test_rma_mobile, test_rma_server, pack_rma_server, pack_rma_frontend

Revert "feat(rma-frontend): Serial fix for pagination on Sales Page"
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.ts
Due: test_rma_frontend, pack_rma_frontend

fear(excel-rma): Add focus change on enter press for singular serials
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.spec.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
Due: test_rma_frontend, pack_rma_frontend

better logic
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
Due: test_rma_frontend, pack_rma_frontend

Revert "better logic"
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
Due: test_rma_frontend, pack_rma_frontend

fixed pageSize
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
Due: test_rma_frontend, pack_rma_frontend

Fix: Test
  packages/rma-frontend/package-lock.json
  packages/rma-mobile/package-lock.json
  packages/rma-server/package-lock.json
  packages/rma-warranty/package-lock.json
Due: test_rma_frontend, test_rma_mobile, test_rma_server, pack_rma_server, pack_rma_frontend

chore: improve lerna release command
  package.json
Due: none

chore: add changelog manually for release 1.0.0
  CHANGELOG-1.0.0.md
Due: none

docs: command to release and publish git tags
  RELEASE.md
Due: none

WIP
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.html
  packages/rma-server/src/auth/aggregates/connect/connect.service.ts
  packages/rma-server/src/delivery-note/schedular/delivery-note-job/delivery-note-job.service.ts
  packages/rma-server/src/purchase-receipt/aggregates/purchase-receipt-aggregate/purchase-receipt-aggregate.service.ts
  packages/rma-server/src/purchase-receipt/schedular/purchase-receipt-sync/purchase-receipt-sync.service.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice.service.ts
  packages/rma-server/src/serial-no/policies/assign-serial-no-policies/assign-serial-no-policies.service.ts
  packages/rma-server/src/stock-entry/aggregates/stock-entry-aggregate/stock-entry-aggregate.service.ts
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.ts
  packages/rma-server/src/stock-entry/policies/stock-entry-policies/stock-entry-policies.service.ts
  packages/rma-server/src/stock-entry/schedular/stock-entry-sync/stock-entry-sync.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

Fix: Fix reset changes
  packages/rma-frontend/src/app/app.component.ts
  packages/rma-frontend/src/app/common/pipes/validators.ts
  packages/rma-frontend/src/app/constants/storage.ts
  packages/rma-frontend/src/app/sales-ui/sales-return/sales-return.page.html
  packages/rma-frontend/src/app/sales-ui/sales-return/sales-return.page.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.html
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.datasource.ts
Due: test_rma_frontend, pack_rma_frontend

ci: fix rma-frontend deploy stage
  .gitlab-ci.yml
Due: none

Fix: Fix reset changes
  packages/rma-server/src/item/controllers/item/item.controller.ts
  packages/rma-server/src/print/aggregates/print-aggregate/print-aggregate.service.ts
  packages/rma-server/src/purchase-receipt/schedular/purchase-receipt-sync/purchase-receipt-sync.service.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice-dto.ts
  packages/rma-server/src/sales-invoice/policies/sales-invoice-policies/sales-invoice-policies.service.ts
  packages/rma-server/src/serial-no/policies/assign-serial-no-policies/assign-serial-no-policies.service.ts
Due: test_rma_server, pack_rma_server

Fix: Import Fix
  packages/rma-frontend/src/app/sales-ui/sales-return/sales-return.page.ts
  packages/rma-server/src/print/aggregates/print-aggregate/print-aggregate.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

Fix: Import Fix
  packages/rma-frontend/src/app/sales-ui/sales-return/sales-return.page.ts
Due: test_rma_frontend, pack_rma_frontend

feat(excel-rma): Serials selling backdated validation
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-return/add-sales-return.page.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/stock-entry/stock-availability/stock-availability.page.ts
  packages/rma-server/src/auth/aggregates/connect/connect.service.ts
  packages/rma-server/src/delivery-note/schedular/delivery-note-job/delivery-note-job.service.ts
  packages/rma-server/src/item/aggregates/item-webhook-aggregate/item-webhook-aggregate.service.ts
  packages/rma-server/src/item/entity/item/item-webhook-interface.ts
  packages/rma-server/src/purchase-receipt/aggregates/purchase-receipt-aggregate/purchase-receipt-aggregate.service.ts
  packages/rma-server/src/purchase-receipt/schedular/purchase-receipt-sync/purchase-receipt-sync.service.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice.service.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-return-dto.ts
  packages/rma-server/src/serial-no/policies/assign-serial-no-policies/assign-serial-no-policies.service.ts
  packages/rma-server/src/stock-entry/aggregates/stock-entry-aggregate/stock-entry-aggregate.service.ts
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.ts
  packages/rma-server/src/stock-entry/policies/stock-entry-policies/stock-entry-policies.service.ts
  packages/rma-server/src/stock-entry/schedular/stock-entry-sync/stock-entry-sync.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-frontend): Single Serial search and combined Item and Warehouse search added
  packages/rma-server/src/serial-no/entity/serial-no/serial-no.service.ts
  packages/rma-warranty/src/app/serial-ui/serial-search/serial-search.page.html
  packages/rma-warranty/src/app/serial-ui/serial-search/serial-search.page.ts
Due: test_rma_server, pack_rma_server

Feat(excel-rma): Add incremental page for print formats on height
  packages/rma-frontend/src/app/api/permission/permission.service.ts
  packages/rma-frontend/src/app/app.component.html
  packages/rma-frontend/src/app/app.component.ts
  packages/rma-frontend/src/app/constants/permission-roles.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.html
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/print/aggregates/print-aggregate/print-aggregate.service.ts
  packages/rma-server/src/stock-entry/aggregates/stock-entry-aggregate/stock-entry-aggregate.service.ts
  packages/rma-server/src/stock-entry/controller/stock-entry.controller.ts
  packages/rma-server/src/stock-entry/policies/stock-entry-policies/stock-entry-policies.service.ts
  packages/rma-warranty/src/app/constants/permission-roles.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-frontend): Single Serial search and combined Item and Warehouse search added
  packages/rma-server/src/serial-no/entity/serial-no/serial-no.service.ts
Due: test_rma_server, pack_rma_server

feat(rma-warranty): Single Serial search and combined Item and Warehouse search added
  packages/rma-server/src/serial-no/entity/serial-no/serial-no.service.ts
Due: test_rma_server, pack_rma_server

Publish
  packages/rma-frontend/CHANGELOG.md
  packages/rma-frontend/package-lock.json
  packages/rma-frontend/package.json
  packages/rma-mobile/CHANGELOG.md
  packages/rma-mobile/package-lock.json
  packages/rma-mobile/package.json
  packages/rma-server/CHANGELOG.md
  packages/rma-server/package-lock.json
  packages/rma-server/package.json
  packages/rma-warranty/CHANGELOG.md
  packages/rma-warranty/package-lock.json
  packages/rma-warranty/package.json
Due: test_rma_frontend, test_rma_mobile, test_rma_server, pack_rma_server, pack_rma_frontend

Publish
  packages/rma-server/CHANGELOG.md
  packages/rma-server/package-lock.json
  packages/rma-server/package.json
  packages/rma-warranty/CHANGELOG.md
  packages/rma-warranty/package-lock.json
  packages/rma-warranty/package.json
Due: test_rma_server, pack_rma_server

Path conditions:
  test_rma_frontend: any of: packages/rma-frontend/**/*
  test_rma_mobile: any of: packages/rma-mobile/**/*
  test_rma_server: any of: packages/rma-server/**/*
  pack_rma_server: any of: packages/rma-server/**/*
  pack_rma_frontend: any of: packages/rma-frontend/**/*
