Repository fnrfarid/excel-rma: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_rma_frontend, test_rma_mobile, test_rma_server, pack_rma_server, pack_rma_frontend

.gitlab-ci.yml:

services:
  - name: docker:dind
    alias: docker

stages:
  - tests
  - pack
  - deploy

test_rma_frontend:
  image: registry.gitlab.com/castlecraft/docker-craft/node-latest-headless-chrome:latest
  stage: tests
  cache:
    key: "$CI_JOB_NAME-$CI_COMMIT_REF_SLUG"
    paths:
      - packages/rma-frontend/node_modules/
  only:
    changes:
      - packages/rma-frontend/**/*
    refs:
      - merge_requests
      - master
  before_script:
    - cd packages/rma-frontend
    - npm install
  script:
    # set env variable for test
    - export NODE_ENV=test
    # Check Code Quality
    - npm run lint
    - npm run format:check
    # Test backend unit tests
    - npm run test
    # Test backend e2e
    - npm run e2e
  tags:
    - docker

test_rma_mobile:
  image: registry.gitlab.com/castlecraft/docker-craft/node-latest-headless-chrome:latest
  stage: tests
  cache:
    key: "$CI_JOB_NAME-$CI_COMMIT_REF_SLUG"
    paths:
      - packages/rma-mobile/node_modules/
  only:
    changes:
      - packages/rma-mobile/**/*
    refs:
      - merge_requests
      - master
  before_script:
    - cd packages/rma-mobile
    - npm install
  script:
    # Check Code Quality
    - npm run lint
    - npm run format:check
    # set env variable for test
    - export NODE_ENV=test
    # Test frontend
    - export DISPLAY=:99
    - Xvfb :0 -ac -screen 0 1024x768x24 &
    - npm run test
    - npm run e2e
  tags:
    - docker

test_rma_server:
  image: node:latest
  stage: tests
  cache:
    key: "$CI_JOB_NAME-$CI_COMMIT_REF_SLUG"
    paths:
      - packages/rma-server/node_modules/
  only:
    changes:
      - packages/rma-server/**/*
    refs:
      - merge_requests
      - master
  before_script:
    - cd packages/rma-server
    - npm install
  script:
    # set env variable for test
    - export NODE_ENV=test
    # Check Code Quality
    - npm run lint
    - npm run format:check
    # Test backend unit tests
    - npm run test
    # Test backend e2e
    - npm run test:e2e
  tags:
    - docker

pack_rma_server:
  image: docker
  stage: pack
  only:
    refs:
      - master
    changes:
      - packages/rma-server/**/*
  before_script:
    - apk add git
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
    - export VERSION=$(git tag --list "rma-server@*" --sort=-version:refname | sed -n 1p | sed -e 's#.*@\(\)#\1#')
    - docker build --cache-from $CI_REGISTRY_IMAGE:latest -t rma-server packages/rma-server
    # - docker tag rma-server $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-server:$VERSION
    - docker tag rma-server $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-server:latest
    - docker push $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-server

pack_rma_frontend:
  image: docker
  stage: pack
  only:
    refs:
      - master
    changes:
      - packages/rma-frontend/**/*
  before_script:
    - apk add git
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
    - export VERSION=$(git tag --list "rma-frontend@*" --sort=-version:refname | sed -n 1p | sed -e 's#.*@\(\)#\1#')
    - docker build --cache-from $CI_REGISTRY_IMAGE:latest -t rma-frontend packages/rma-frontend
    # - docker tag rma-frontend $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-frontend:$VERSION
    - docker tag rma-frontend $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-frontend:latest
    - docker push $CI_REGISTRY/$CI_PROJECT_NAMESPACE/excel-rma/rma-frontend

deploy_staging:
  image: dtzar/helm-kubectl:latest
  only:
    refs:
      - master
  stage: deploy
  variables:
    KUBECONFIG: /etc/deploy/config
  before_script:
    - mkdir -p /etc/deploy
    - echo ${kube_config} | base64 -d > ${KUBECONFIG}
    - kubectl config use-context staging
  script:
    - helm upgrade stg-rma -n staging helm-chart/rma-portal --reuse-values

WIP: Works for purchase receipt with data import webhook
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/constants/listing-dto/job-queue-list-query.dto.ts
  packages/rma-server/src/constants/routes.ts
  packages/rma-server/src/purchase-receipt/schedular/purchase-receipt-sync/purchase-receipt-sync.service.ts
  packages/rma-server/src/sync/aggregates/data-import/data-import.interface.ts
  packages/rma-server/src/sync/aggregates/data-import/data-import.service.ts
  packages/rma-server/src/sync/aggregates/job-queue-aggregate/job-queue-aggregate.service.ts
  packages/rma-server/src/sync/assets/data_import_template.ts
  packages/rma-server/src/sync/schedular/frappe-sync-data-import-jobs-queue/frappe-sync-data-import-jobs-queue.service.ts
Due: test_rma_server, pack_rma_server

feat(rma-server): Moved purchase-receipt and delivery-note to legacy data import
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/constants/listing-dto/job-queue-list-query.dto.ts
  packages/rma-server/src/constants/routes.ts
  packages/rma-server/src/constants/webhook-data.ts
  packages/rma-server/src/delivery-note/schedular/delivery-note-job/delivery-note-job.service.ts
  packages/rma-server/src/purchase-receipt/schedular/purchase-receipt-sync/purchase-receipt-sync.service.ts
  packages/rma-server/src/sync/aggregates/data-import/data-import.service.ts
  packages/rma-server/src/sync/aggregates/job-queue-aggregate/job-queue-aggregate.service.spec.ts
  packages/rma-server/src/sync/aggregates/job-queue-aggregate/job-queue-aggregate.service.ts
  packages/rma-server/src/sync/assets/data_import_template.ts
  packages/rma-server/src/sync/schedular/frappe-sync-data-import-jobs-queue/frappe-sync-data-import-jobs-queue.service.spec.ts
  packages/rma-server/src/sync/schedular/frappe-sync-data-import-jobs-queue/frappe-sync-data-import-jobs-queue.service.ts
  packages/rma-server/src/sync/sync.module.ts
  packages/rma-server/src/system-settings/aggregates/settings/settings.service.ts
Due: test_rma_server, pack_rma_server

feat(rma-server): Added get serial button to save unecessary calls
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.html
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-server/src/serial-no/aggregates/serial-no-aggregate/serial-no-aggregate.service.ts
  packages/rma-server/src/serial-no/entity/serial-no/serial-no.service.ts
  packages/rma-server/src/serial-no/query/retrieve-sales-invoice-delivered-serial-no/retrieve-sales-invoice-delivered-serial-no.query.handler.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-warranty):post POC FIxes
  packages/rma-server/src/service-invoice/entity/service-invoice/service-invoice-dto.ts
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.ts
  packages/rma-server/src/stock-entry/controller/stock-entry.controller.ts
  packages/rma-server/src/stock-entry/policies/stock-entry-policies/stock-entry-policies.service.ts
  packages/rma-server/src/stock-entry/stock-entry/warranty-stock-entry-dto.ts
  packages/rma-warranty/src/app/common/interfaces/warranty.interface.ts
  packages/rma-warranty/src/app/constants/url-strings.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.service.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/service-invoice-interface.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.spec.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/services/stock-entry/stock-entry.service.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/stock-entry-datasource.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/stock-entry.component.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/stock-entry.component.ts
Due: test_rma_server, pack_rma_server

feat(rma-warranty):Added field in server settings and Modified Service Invoice page
  packages/rma-frontend/src/app/app.service.ts
  packages/rma-frontend/src/app/constants/storage.ts
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/settings/settings.page.html
  packages/rma-frontend/src/app/settings/settings.page.spec.ts
  packages/rma-frontend/src/app/settings/settings.page.ts
  packages/rma-frontend/src/app/settings/settings.service.ts
  packages/rma-server/src/service-invoice/entity/service-invoice/service-invoice-dto.ts
  packages/rma-server/src/system-settings/entities/server-settings/server-setting.dto.ts
  packages/rma-server/src/system-settings/entities/server-settings/server-settings.entity.ts
  packages/rma-warranty/src/app/app.service.ts
  packages/rma-warranty/src/app/constants/storage.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/service-invoice-interface.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-server): Improved queues for data import and increased bath size
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/sync/aggregates/data-import/data-import.service.ts
  packages/rma-server/src/sync/aggregates/job-queue-aggregate/job-queue-aggregate.service.ts
  packages/rma-server/src/sync/entities/agenda-job/agenda-job.service.ts
Due: test_rma_server, pack_rma_server

Update app-strings.ts
  packages/rma-server/src/constants/app-strings.ts
Due: test_rma_server, pack_rma_server

fix(rma-warranty):post POC FIxes
  packages/rma-server/src/service-invoice/aggregates/service-invoice-aggregate/service-invoice-aggregate.service.ts
  packages/rma-server/src/service-invoice/command/index.ts
  packages/rma-server/src/service-invoice/command/submit-service-invoice/submit-service-invoice.command.ts
  packages/rma-server/src/service-invoice/command/submit-service-invoice/submit-service-invoice.handler.ts
  packages/rma-server/src/service-invoice/controllers/service-invoice/service-invoice.controller.ts
  packages/rma-server/src/service-invoice/entity/service-invoice/update-service-invoice-dto.ts
  packages/rma-warranty/src/app/constants/app-string.ts
  packages/rma-warranty/src/app/constants/url-strings.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.service.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/service-invoices.component.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/service-invoices.component.spec.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/service-invoices.component.ts
  packages/rma-warranty/src/app/warranty-ui/warranty-tabs/warranty.service.ts
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.html
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.spec.ts
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.ts
Due: test_rma_server, pack_rma_server

feat(rma-warranty):post POC FIxes
  packages/rma-server/src/constants/listing-dto/warranty-claims-list-query.ts
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-server/src/warranty-claim/controllers/warranty-claim/warranty-claim.controller.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim.service.ts
  packages/rma-server/src/warranty-claim/query/list-warranty-claim/retrieve-warranty-claim-list.handler.ts
  packages/rma-server/src/warranty-claim/query/list-warranty-claim/retrieve-warranty-claim-list.query.ts
  packages/rma-warranty/src/app/warranty-ui/warranty-tabs/warranty.service.ts
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty-claims-datasource.ts
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.ts
Due: test_rma_server, pack_rma_server

feat(excel-rma): Added new flow for serials
  packages/rma-frontend/src/app/common/helpers/serials/serials.service.ts
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-return/add-sales-return.page.ts
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.datasource.ts
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.html
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.ts
  packages/rma-frontend/src/app/sales-ui/services/item-price.service.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.ts
  packages/rma-server/src/config/config.service.ts
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/constants/messages.ts
  packages/rma-server/src/delivery-note/entity/delivery-note-service/create-delivery-note-interface.ts
  packages/rma-server/src/delivery-note/entity/delivery-note-service/delivery-note-webhook.dto.ts
  packages/rma-server/src/delivery-note/entity/delivery-note-service/delivery-note.entity.ts
  packages/rma-server/src/item/aggregates/item-aggregate/item-aggregate.service.ts
  packages/rma-server/src/item/controllers/item/item.controller.spec.ts
  packages/rma-server/src/item/controllers/item/item.controller.ts
  packages/rma-server/src/item/entity/item/item-webhook-interface.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/sync/aggregates/data-import/data-import.service.ts
  packages/rma-server/src/sync/assets/data_import_template.ts
  packages/rma-server/src/sync/entities/agenda-job/json-to-csv-parser.service.ts
  packages/rma-server/src/sync/schedular/frappe-jobs-queue/frappe-jobs-queue.service.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/service-invoices.component.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

Fix: Made AGENDA_JOBS_CONCURRENCY as optional
  packages/rma-server/src/config/config.service.ts
Due: test_rma_server, pack_rma_server

feat(excel-rma): Update purchase receipt template for excel_serials
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-server/src/sync/assets/data_import_template.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

fix(excel-rma): Added piped retry for exported job
  packages/rma-server/src/sync/aggregates/data-import/data-import.service.ts
  packages/rma-server/src/sync/assets/data_import_template.ts
  packages/rma-server/src/sync/schedular/frappe-jobs-queue/frappe-jobs-queue.service.ts
Due: test_rma_server, pack_rma_server

feat(rma-server): Add handling to catch error on webhooks
  packages/rma-server/src/sync/aggregates/job-queue-aggregate/job-queue-aggregate.service.ts
Due: test_rma_server, pack_rma_server

refactor: remove Serial No webhooks
  docker/docker-compose-excel-rma.yml
  docker/docker-compose.yml
  packages/rma-server/src/constants/routes.ts
  packages/rma-server/src/constants/webhook-data.ts
  packages/rma-server/src/serial-no/aggregates/index.ts
  packages/rma-server/src/serial-no/aggregates/serial-no-webhook-aggregate/serial-no-webhook-aggregate.service.spec.ts
  packages/rma-server/src/serial-no/aggregates/serial-no-webhook-aggregate/serial-no-webhook-aggregate.service.ts
  packages/rma-server/src/serial-no/controllers/serial-no-webhook/serial-no-webhook.controller.spec.ts
  packages/rma-server/src/serial-no/controllers/serial-no-webhook/serial-no-webhook.controller.ts
  packages/rma-server/src/serial-no/serial-no.module.ts
  packages/rma-server/src/system-settings/aggregates/settings/settings.service.ts
Due: test_rma_server, pack_rma_server

feat: serial history model and inserts
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/constants/typeorm.connection.ts
  packages/rma-server/src/delivery-note/aggregates/delivery-note-aggregate/delivery-note-aggregate.service.spec.ts
  packages/rma-server/src/delivery-note/aggregates/delivery-note-aggregate/delivery-note-aggregate.service.ts
  packages/rma-server/src/delivery-note/schedular/delivery-note-job/delivery-note-job.service.spec.ts
  packages/rma-server/src/delivery-note/schedular/delivery-note-job/delivery-note-job.service.ts
  packages/rma-server/src/purchase-receipt/aggregates/purchase-receipt-aggregate/purchase-receipt-aggregate.service.spec.ts
  packages/rma-server/src/purchase-receipt/aggregates/purchase-receipt-aggregate/purchase-receipt-aggregate.service.ts
  packages/rma-server/src/purchase-receipt/schedular/purchase-receipt-sync/purchase-receipt-sync.service.spec.ts
  packages/rma-server/src/purchase-receipt/schedular/purchase-receipt-sync/purchase-receipt-sync.service.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.spec.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/serial-no/aggregates/serial-no-aggregate/serial-no-aggregate.service.spec.ts
  packages/rma-server/src/serial-no/aggregates/serial-no-aggregate/serial-no-aggregate.service.ts
  packages/rma-server/src/serial-no/entity/entity.module.ts
  packages/rma-server/src/serial-no/entity/serial-no-history/serial-no-history.entity.ts
  packages/rma-server/src/serial-no/entity/serial-no-history/serial-no-history.service.ts
  packages/rma-server/src/serial-no/entity/serial-no-history/serial-no.service.spec.ts
  packages/rma-server/src/serial-no/entity/serial-no/serial-no-webhook-interface.ts
  packages/rma-server/src/serial-no/event/serial-no-removed/serial-no.removed-event.handler.ts
  packages/rma-server/src/serial-no/event/serial-no-updated/serial-no-updated-event.handler.ts
  packages/rma-server/src/serial-no/schedulers/serial-no-sync/serial-no-sync.service.spec.ts
  packages/rma-server/src/serial-no/schedulers/serial-no-sync/serial-no-sync.service.ts
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.spec.ts
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.ts
  packages/rma-server/src/stock-entry/schedular/stock-entry-sync/stock-entry-sync.service.spec.ts
  packages/rma-server/src/stock-entry/schedular/stock-entry-sync/stock-entry-sync.service.ts
Due: test_rma_server, pack_rma_server

feat(excel-rma): Add sync control over jobs to retry jobs with failed webhook
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/job-ui/jobs-service/jobs.service.ts
  packages/rma-frontend/src/app/job-ui/view-single-job/view-single-job.page.html
  packages/rma-frontend/src/app/job-ui/view-single-job/view-single-job.page.ts
  packages/rma-server/src/sync/aggregates/job-queue-aggregate/job-queue-aggregate.service.spec.ts
  packages/rma-server/src/sync/aggregates/job-queue-aggregate/job-queue-aggregate.service.ts
  packages/rma-server/src/sync/controllers/job-queue/job-queue.controller.ts
  packages/rma-server/src/sync/entities/agenda-job/agenda-job.entity.ts
  packages/rma-server/src/sync/entities/agenda-job/agenda-job.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

Fix: Build fix
  packages/rma-frontend/src/app/job-ui/view-single-job/view-single-job.page.html
Due: test_rma_frontend, pack_rma_frontend

feat(rma-warranty):post POC FIxes
  package-lock.json
  package.json
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.ts
  packages/rma-server/src/stock-entry/controller/stock-entry.controller.ts
  packages/rma-warranty/src/app/constants/url-strings.ts
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.service.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.ts
Due: test_rma_server, pack_rma_server

merge develop into feat
  package-lock.json
  package.json
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.ts
  packages/rma-server/src/stock-entry/controller/stock-entry.controller.ts
  packages/rma-warranty/src/app/constants/url-strings.ts
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.service.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.ts
Due: test_rma_server, pack_rma_server

post poc fixes
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.ts
Due: test_rma_server, pack_rma_server

feat: serial search page in warranty app
  package-lock.json
  package.json
  packages/rma-server/src/serial-no/aggregates/serial-no-aggregate/serial-no-aggregate.service.ts
  packages/rma-server/src/serial-no/controllers/serial-no/serial-no.controller.ts
  packages/rma-server/src/serial-no/entity/serial-no/serial-no.service.ts
  packages/rma-server/src/serial-no/query/list-serial-no/retrieve-serial-no-list-query.handler.ts
  packages/rma-server/src/serial-no/query/list-serial-no/retrieve-serial-no-list.query.ts
  packages/rma-warranty/src/app/app-routing.module.ts
  packages/rma-warranty/src/app/app.component.html
  packages/rma-warranty/src/app/app.module.ts
  packages/rma-warranty/src/app/constants/url-strings.ts
  packages/rma-warranty/src/app/serial-ui/serial-info/serial-info-routing.module.ts
  packages/rma-warranty/src/app/serial-ui/serial-info/serial-info.module.ts
  packages/rma-warranty/src/app/serial-ui/serial-info/serial-info.page.html
  packages/rma-warranty/src/app/serial-ui/serial-info/serial-info.page.scss
  packages/rma-warranty/src/app/serial-ui/serial-info/serial-info.page.spec.ts
  packages/rma-warranty/src/app/serial-ui/serial-info/serial-info.page.ts
  packages/rma-warranty/src/app/serial-ui/serial-search/search-fields.interface.ts
  packages/rma-warranty/src/app/serial-ui/serial-search/serial-search-datasource.ts
  packages/rma-warranty/src/app/serial-ui/serial-search/serial-search-routing.module.ts
  packages/rma-warranty/src/app/serial-ui/serial-search/serial-search.module.ts
  packages/rma-warranty/src/app/serial-ui/serial-search/serial-search.page.html
  packages/rma-warranty/src/app/serial-ui/serial-search/serial-search.page.scss
  packages/rma-warranty/src/app/serial-ui/serial-search/serial-search.page.spec.ts
  packages/rma-warranty/src/app/serial-ui/serial-search/serial-search.page.ts
  packages/rma-warranty/src/app/serial-ui/serial-search/serial-search.service.spec.ts
  packages/rma-warranty/src/app/serial-ui/serial-search/serial-search.service.ts
  packages/rma-warranty/src/app/serial-ui/serial-ui.module.ts
Due: test_rma_server, pack_rma_server

feat(rma-warranty):Added POS option in service invoice form
  packages/rma-server/src/service-invoice/entity/service-invoice/service-invoice-dto.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/service-invoices.component.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/service-invoices.component.ts
Due: test_rma_server, pack_rma_server

feat: load serial only on button click
  packages/rma-warranty/src/app/serial-ui/serial-info/serial-info.page.ts
  packages/rma-warranty/src/app/serial-ui/serial-search/serial-search.page.html
  packages/rma-warranty/src/app/serial-ui/serial-search/serial-search.page.ts
Due: none

refactor: remove unused schedulers
  packages/rma-server/src/item/schedulers/item-sync/item-sync.service.spec.ts
  packages/rma-server/src/item/schedulers/item-sync/item-sync.service.ts
  packages/rma-server/src/sales-invoice/schedulers/sales-invoice-sync/sales-invoice-sync.service.spec.ts
  packages/rma-server/src/sales-invoice/schedulers/sales-invoice-sync/sales-invoice-sync.service.ts
  packages/rma-server/src/serial-no/schedulers/serial-no-sync/serial-no-sync.service.spec.ts
  packages/rma-server/src/serial-no/schedulers/serial-no-sync/serial-no-sync.service.ts
Due: test_rma_server, pack_rma_server

WIP
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/delivery-note/aggregates/delivery-note-aggregate/delivery-note-aggregate.service.spec.ts
  packages/rma-server/src/delivery-note/aggregates/delivery-note-aggregate/delivery-note-aggregate.service.ts
  packages/rma-server/src/delivery-note/schedular/delivery-note-job/delivery-note-job.service.ts
  packages/rma-server/src/purchase-receipt/aggregates/purchase-receipt-aggregate/purchase-receipt-aggregate.service.spec.ts
  packages/rma-server/src/purchase-receipt/aggregates/purchase-receipt-aggregate/purchase-receipt-aggregate.service.ts
  packages/rma-server/src/purchase-receipt/schedular/purchase-receipt-sync/purchase-receipt-sync.service.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/serial-no/aggregates/serial-no-aggregate/serial-no-aggregate.service.spec.ts
  packages/rma-server/src/serial-no/aggregates/serial-no-aggregate/serial-no-aggregate.service.ts
  packages/rma-server/src/serial-no/command/add-serial-no/add-serial-no-command.handler.ts
  packages/rma-server/src/serial-no/command/add-serial-no/add-serial-no.command.ts
  packages/rma-server/src/serial-no/command/index.ts
  packages/rma-server/src/serial-no/command/remove-serial-no/remove-serial-no-command.handler.ts
  packages/rma-server/src/serial-no/command/remove-serial-no/remove-serial-no.command.ts
  packages/rma-server/src/serial-no/command/update-serial-no/update-serial-no-command.handler.ts
  packages/rma-server/src/serial-no/command/update-serial-no/update-serial-no.command.ts
  packages/rma-server/src/serial-no/controllers/serial-no/serial-no.controller.ts
  packages/rma-server/src/serial-no/entity/serial-no-history/serial-no-history.entity.ts
  packages/rma-server/src/serial-no/entity/serial-no-history/serial-no-history.service.ts
  packages/rma-server/src/serial-no/event/index.ts
  packages/rma-server/src/serial-no/event/serial-no-added/serial-no-added-event.handler.ts
  packages/rma-server/src/serial-no/event/serial-no-added/serial-no-added.event.ts
  packages/rma-server/src/serial-no/event/serial-no-removed/serial-no-removed.event.ts
  packages/rma-server/src/serial-no/event/serial-no-removed/serial-no.removed-event.handler.ts
  packages/rma-server/src/serial-no/event/serial-no-updated/serial-no-updated-event.handler.ts
  packages/rma-server/src/serial-no/event/serial-no-updated/serial-no-updated.event.ts
  packages/rma-server/src/serial-no/schedulers/serial-no-sync/serial-no-sync.service.ts
  packages/rma-server/src/serial-no/serial-no.module.ts
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.ts
  packages/rma-server/src/stock-entry/schedular/stock-entry-sync/stock-entry-sync.service.ts
  packages/rma-server/src/stock-entry/stock-entry/stock-entry.entity.ts
Due: test_rma_server, pack_rma_server

feat(excel-rma): Add stock history to serial list
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/delivery-note/schedular/delivery-note-job/delivery-note-job.service.ts
  packages/rma-server/src/purchase-receipt/schedular/purchase-receipt-sync/purchase-receipt-sync.service.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/serial-no/aggregates/serial-no-aggregate/serial-no-aggregate.service.spec.ts
  packages/rma-server/src/serial-no/aggregates/serial-no-aggregate/serial-no-aggregate.service.ts
  packages/rma-server/src/serial-no/command/index.ts
  packages/rma-server/src/serial-no/controllers/serial-no/serial-no.controller.ts
  packages/rma-server/src/serial-no/entity/serial-no-history/serial-no-history.entity.ts
  packages/rma-server/src/serial-no/entity/serial-no-history/serial-no-history.service.ts
  packages/rma-server/src/serial-no/query/get-serial-no-history/get-serial-no-history-query.handler.ts
  packages/rma-server/src/serial-no/query/get-serial-no-history/get-serial-no-history.query.ts
  packages/rma-server/src/serial-no/query/index.ts
  packages/rma-server/src/stock-entry/aggregates/warranty-stock-entry-aggregate/warranty-stock-entry-aggregate.service.ts
  packages/rma-server/src/stock-entry/schedular/stock-entry-sync/stock-entry-sync.service.ts
  packages/rma-warranty/src/app/constants/url-strings.ts
  packages/rma-warranty/src/app/serial-ui/serial-info/serial-info-datasource.ts
  packages/rma-warranty/src/app/serial-ui/serial-info/serial-info.module.ts
  packages/rma-warranty/src/app/serial-ui/serial-info/serial-info.page.html
  packages/rma-warranty/src/app/serial-ui/serial-info/serial-info.page.ts
  packages/rma-warranty/src/app/serial-ui/serial-search/serial-search.service.ts
Due: test_rma_server, pack_rma_server

feat(rma-warranty):Fixed minor issues in warranty
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/service-invoice/aggregates/service-invoice-aggregate/service-invoice-aggregate.service.ts
  packages/rma-server/src/service-invoice/entity/service-invoice/service-invoice.entity.ts
  packages/rma-server/src/service-invoice/entity/service-invoice/update-service-invoice-dto.ts
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/status-history-dto.ts
  packages/rma-warranty/src/app/common/interfaces/warranty.interface.ts
  packages/rma-warranty/src/app/constants/app-string.ts
  packages/rma-warranty/src/app/constants/url-strings.ts
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.html
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.spec.ts
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
  packages/rma-warranty/src/app/warranty-ui/add-warranty-claim/add-warranty.service.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/service-invoices.component.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/service-invoices.component.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/status-history/status-history.component.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/status-history/status-history.component.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/add-stock-entry/add-stock-entry.page.ts
Due: test_rma_server, pack_rma_server

feat(rma-server):fixed reset credit limit
  packages/rma-server/src/customer/aggregates/customer-aggregate/customer-aggregate.service.ts
Due: test_rma_server, pack_rma_server

fix(excel-rma): Fix price list not loading for single item
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.module.ts
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.html
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.ts
Due: test_rma_frontend, pack_rma_frontend

fix: build fix
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.ts
Due: test_rma_frontend, pack_rma_frontend

feat(excel-rma): Sales return to accept in any warehouse
  packages/rma-frontend/src/app/sales-ui/add-sales-return/add-sales-return.page.html
  packages/rma-frontend/src/app/sales-ui/add-sales-return/add-sales-return.page.spec.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-return/add-sales-return.page.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/serial-no/policies/serial-no-policies/serial-no-policies.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma):fixed pagination issue
  packages/rma-frontend/src/app/credit-limit/credit-limit.page.ts
  packages/rma-frontend/src/app/customer-profile/customer-profile.page.spec.ts
  packages/rma-frontend/src/app/customer-profile/customer-profile.page.ts
  packages/rma-frontend/src/app/job-ui/jobs/jobs.page.ts
  packages/rma-frontend/src/app/problem-ui/problem/problem.page.spec.ts
  packages/rma-frontend/src/app/problem-ui/problem/problem.page.ts
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.ts
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.ts
  packages/rma-frontend/src/app/sales-ui/sales-return/sales-return.page.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.ts
  packages/rma-frontend/src/app/stock-entry/stock-entry-list/stock-entry-list.page.ts
  packages/rma-warranty/src/app/serial-ui/serial-search/serial-search.page.spec.ts
  packages/rma-warranty/src/app/serial-ui/serial-search/serial-search.page.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/service-invoice-datasource.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/service-invoices.component.ts
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/stock-entry.component.ts
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.ts
Due: test_rma_frontend, pack_rma_frontend

feat(excel-rma): Add cap to popup for assigning serials
  packages/rma-frontend/src/app/constants/app-string.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-return/add-sales-return.page.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma):updated all listing view with horizontal scrolling
  packages/rma-frontend/src/app/credit-limit/credit-limit.page.html
  packages/rma-frontend/src/app/credit-limit/credit-limit.page.scss
  packages/rma-frontend/src/app/customer-profile/customer-profile.page.html
  packages/rma-frontend/src/app/customer-profile/customer-profile.page.scss
  packages/rma-frontend/src/app/job-ui/jobs/jobs.page.html
  packages/rma-frontend/src/app/job-ui/jobs/jobs.page.scss
  packages/rma-frontend/src/app/problem-ui/problem/problem.page.html
  packages/rma-frontend/src/app/problem-ui/problem/problem.page.scss
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.html
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.scss
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.html
  packages/rma-frontend/src/app/sales-ui/item-price/item-price.page.scss
  packages/rma-frontend/src/app/sales-ui/sales-return/sales-return.page.html
  packages/rma-frontend/src/app/sales-ui/sales-return/sales-return.page.scss
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.scss
  packages/rma-frontend/src/app/stock-entry/stock-entry-list/stock-entry-list.page.html
  packages/rma-frontend/src/app/stock-entry/stock-entry-list/stock-entry-list.page.scss
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/service-invoices.component.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/service-invoices/service-invoices.component.scss
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/stock-entry.component.html
  packages/rma-warranty/src/app/warranty-ui/view-warranty-claims/stock-entry/stock-entry.component.scss
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.html
  packages/rma-warranty/src/app/warranty-ui/warranty/warranty.page.scss
Due: test_rma_frontend, pack_rma_frontend

fix(rma):fixed stock-entry list ui
  packages/rma-frontend/src/app/stock-entry/stock-entry-list/stock-entry-list.page.scss
Due: test_rma_frontend, pack_rma_frontend

feat(excel-rma): Add edit feature for stock entry
  packages/rma-frontend/src/app/common/interfaces/sales.interface.ts
  packages/rma-frontend/src/app/constants/app-string.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.html
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.datasource.ts
  packages/rma-frontend/src/app/stock-entry/stock-entry-list/stock-entry-list.page.ts
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/stock-entry/aggregates/stock-entry-aggregate/stock-entry-aggregate.service.ts
  packages/rma-server/src/stock-entry/stock-entry/stock-entry-dto.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

fix(rma):Added remaining option list
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.html
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.spec.ts
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.ts
  packages/rma-frontend/src/app/purchase-ui/services/purchase.service.ts
  packages/rma-frontend/src/app/sales-ui/sales-return/sales-return.page.html
  packages/rma-frontend/src/app/sales-ui/sales-return/sales-return.page.spec.ts
  packages/rma-frontend/src/app/sales-ui/sales-return/sales-return.page.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.html
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.spec.ts
  packages/rma-frontend/src/app/sales-ui/sales/sales.page.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/stock-entry/services/stock-entry/stock-entry.service.ts
  packages/rma-frontend/src/app/stock-entry/stock-entry-list/stock-entry-list.page.html
  packages/rma-frontend/src/app/stock-entry/stock-entry-list/stock-entry-list.page.spec.ts
  packages/rma-frontend/src/app/stock-entry/stock-entry-list/stock-entry-list.page.ts
Due: test_rma_frontend, pack_rma_frontend

fix(rma-server):fixed reset credit limit
  packages/rma-server/src/customer/aggregates/customer-aggregate/customer-aggregate.service.ts
Due: test_rma_server, pack_rma_server
