Repository fnrfarid/excel-rma: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_rma_frontend, test_rma_mobile, test_rma_server, pack_rma_server, pack_rma_frontend

test_rma_frontend:
  image: registry.gitlab.com/castlecraft/docker-craft/node-latest-headless-chrome:latest
  stage: tests
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
    - packages/rma-frontend/node_modules/
  before_script:
  - cd packages/rma-frontend
  - npm install
  script:
  - export NODE_ENV=test
  - npm run lint
  ...

test_rma_mobile:
  image: registry.gitlab.com/castlecraft/docker-craft/node-latest-headless-chrome:latest
  stage: tests
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
    - packages/rma-mobile/node_modules/
  before_script:
  - cd packages/rma-mobile
  - npm install
  script:
  - npm run lint
  - npm run format:check
  ...

test_rma_server:
  image: node:latest
  stage: tests
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
    - packages/rma-server/node_modules/
  before_script:
  - cd packages/rma-server
  - npm install
  script:
  - export NODE_ENV=test
  - npm run lint
  - npm run format:check
  - npm run test
  - npm run test:e2e
  tags:
  - docker

pack_rma_server:
  image: docker
  stage: pack
  before_script:
  - apk add git
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - export VERSION=$(git tag --list "rma-server@*" --sort=-version:refname | sed -n 1p | sed -e 's#.*@\(\)#\1#')
  ...

pack_rma_frontend:
  image: docker
  stage: pack
  before_script:
  - apk add git
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - export VERSION=$(git tag --list "rma-frontend@*" --sort=-version:refname | sed -n 1p | sed -e 's#.*@\(\)#\1#')
  ...

feat: Added Sales Team to Sales Invoice
  packages/rma-frontend/src/app/app.component.html
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.ts
  packages/rma-server/src/constants/webhook-data.ts
  packages/rma-server/src/customer/entity/customer/customer-webhook-interface.ts
  packages/rma-server/src/customer/entity/customer/customer.entity.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

fix: credit limit cron job
  packages/rma-server/src/customer/schedulers/reset-credit-limit/reset-credit-limit.service.ts
Due: test_rma_server, pack_rma_server

fix: Fixed sales return not showing invalid serials
  packages/rma-frontend/src/app/common/interfaces/sales-return.interface.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-return/add-sales-return.page.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-return-dto.ts
  packages/rma-server/src/sales-invoice/policies/sales-invoice-policies/sales-invoice-policies.service.spec.ts
  packages/rma-server/src/sales-invoice/policies/sales-invoice-policies/sales-invoice-policies.service.ts
  packages/rma-server/src/serial-no/serial-no.module.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

fix: Updated protractor
  packages/rma-frontend/package-lock.json
  packages/rma-frontend/package.json
Due: test_rma_frontend, pack_rma_frontend

fix: credit limit cron job
  packages/rma-server/package.json
  packages/rma-server/src/auth/schedulers/clean-expired-token-cache/clean-expired-token-cache.service.spec.ts
  packages/rma-server/src/auth/schedulers/clean-expired-token-cache/clean-expired-token-cache.service.ts
  packages/rma-server/src/auth/schedulers/index.ts
  packages/rma-server/src/auth/schedulers/revoke-expired-frappe-tokens/revoke-expired-frappe-tokens.service.ts
  packages/rma-server/src/customer/schedulers/reset-credit-limit/reset-credit-limit.service.ts
  packages/rma-server/src/direct/direct.module.ts
  packages/rma-server/src/direct/schedulers/clean-expired-token-cache/clean-expired-token-cache.service.spec.ts
  packages/rma-server/src/direct/schedulers/clean-expired-token-cache/clean-expired-token-cache.service.ts
  packages/rma-server/src/direct/schedulers/index.ts
Due: test_rma_server, pack_rma_server

feat(rma-server): Add Data-import via CSV to background jobs
  packages/rma-server/package-lock.json
  packages/rma-server/src/auth/aggregates/client-token-manager/client-token-manager.service.ts
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/constants/routes.ts
  packages/rma-server/src/customer/schedulers/reset-credit-limit/reset-credit-limit.service.ts
  packages/rma-server/src/delivery-note/aggregates/delivery-note-aggregate/delivery-note-aggregate.service.ts
  packages/rma-server/src/delivery-note/delivery-note.module.ts
  packages/rma-server/src/delivery-note/entity/delivery-note-service/create-delivery-note-interface.ts
  packages/rma-server/src/delivery-note/schedular/delivery-note-job/delivery-note-job.service.spec.ts
  packages/rma-server/src/delivery-note/schedular/delivery-note-job/delivery-note-job.service.ts
  packages/rma-server/src/job-queue/entities/agenda-job/agenda-job.entity.ts
  packages/rma-server/src/sync/assets/data_import_template.ts
  packages/rma-server/src/sync/schedular/frappe-sync-data-import-jobs-queue/frappe-sync-data-import-jobs-queue.service.spec.ts
  packages/rma-server/src/sync/schedular/frappe-sync-data-import-jobs-queue/frappe-sync-data-import-jobs-queue.service.ts
  packages/rma-server/src/sync/service/data-import/data-import.interface.ts
  packages/rma-server/src/sync/service/data-import/data-import.service.ts
  packages/rma-server/src/sync/service/data-import/json-to-csv-parser.service.ts
  packages/rma-server/src/sync/sync.module.ts
Due: test_rma_server, pack_rma_server

fix: Fixed issues with serialized item and sales invoice webhook
  packages/rma-frontend/src/app/purchase-ui/services/purchase.service.ts
  packages/rma-frontend/src/app/sales-ui/sales-return/sales-return.module.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-webhook-aggregate/sales-invoice-webhook-aggregate.service.ts
  packages/rma-server/src/sales-invoice/controllers/sales-invoice-webhook/sales-invoice-webhook.controller.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice-update-dto.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(excel-rma): Add serial validations for inqueue and remove erp validations
  packages/rma-frontend/src/app/api/csv-json/csv-json.service.ts
  packages/rma-frontend/src/app/constants/storage.ts
  packages/rma-frontend/src/app/job-ui/jobs/jobs.page.ts
  packages/rma-frontend/src/app/job-ui/view-single-job/view-single-job.page.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-return/add-sales-return.page.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/delivery-note/aggregates/delivery-note-aggregate/delivery-note-aggregate.service.ts
  packages/rma-server/src/delivery-note/schedular/delivery-note-job/delivery-note-job.service.ts
  packages/rma-server/src/job-queue/entities/agenda-job/agenda-job.service.ts
  packages/rma-server/src/purchase-receipt/aggregates/purchase-receipt-aggregate/purchase-receipt-aggregate.service.ts
  packages/rma-server/src/purchase-receipt/purchase-receipt-policies/purchase-receipt-policies.service.ts
  packages/rma-server/src/purchase-receipt/schedular/purchase-receipt-sync/purchase-receipt-sync.service.ts
  packages/rma-server/src/serial-no/controllers/serial-no/serial-no.controller.ts
  packages/rma-server/src/serial-no/entity/serial-no/serial-no-dto.ts
  packages/rma-server/src/serial-no/entity/serial-no/serial-no.entity.ts
  packages/rma-server/src/serial-no/policies/assign-serial-no-policies/assign-serial-no-policies.service.ts
  packages/rma-server/src/serial-no/policies/serial-no-policies/serial-no-policies.service.ts
  packages/rma-server/src/sync/schedular/frappe-jobs-queue/frappe-jobs-queue.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat: guard sales route with role
  packages/rma-frontend/src/app/app-routing.module.ts
  packages/rma-frontend/src/app/app.component.ts
  packages/rma-frontend/src/app/app.module.ts
  packages/rma-frontend/src/app/common/guards/excel-sales-manager.guard.ts
  packages/rma-frontend/src/app/common/guards/excel-sales-user.guard.ts
  packages/rma-frontend/src/app/constants/app-string.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma-frontend): Added Sales Return Details page
  packages/rma-frontend/package-lock.json
  packages/rma-frontend/package.json
  packages/rma-frontend/src/app/app-routing.module.ts
  packages/rma-frontend/src/app/common/interfaces/sales-return.interface.ts
  packages/rma-frontend/src/app/sales-ui/sales-return-details/sales-return-details-routing.module.ts
  packages/rma-frontend/src/app/sales-ui/sales-return-details/sales-return-details.module.ts
  packages/rma-frontend/src/app/sales-ui/sales-return-details/sales-return-details.page.html
  packages/rma-frontend/src/app/sales-ui/sales-return-details/sales-return-details.page.scss
  packages/rma-frontend/src/app/sales-ui/sales-return-details/sales-return-details.page.spec.ts
  packages/rma-frontend/src/app/sales-ui/sales-return-details/sales-return-details.page.ts
  packages/rma-frontend/src/app/sales-ui/sales-return/sales-return.page.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/sales-return/sales-return.service.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma-frontend): Added filters in Sales return listing and added serial number tables in sales return details
  packages/rma-frontend/src/app/sales-ui/sales-return-details/sales-return-details.page.html
  packages/rma-frontend/src/app/sales-ui/sales-return-details/sales-return-details.page.spec.ts
  packages/rma-frontend/src/app/sales-ui/sales-return-details/sales-return-details.page.ts
  packages/rma-frontend/src/app/sales-ui/sales-return/sales-return-list.datasource.ts
  packages/rma-frontend/src/app/sales-ui/sales-return/sales-return.page.html
  packages/rma-frontend/src/app/sales-ui/sales-return/sales-return.page.scss
  packages/rma-frontend/src/app/sales-ui/sales-return/sales-return.page.spec.ts
  packages/rma-frontend/src/app/sales-ui/sales-return/sales-return.page.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/sales-return/sales-return.service.ts
Due: test_rma_frontend, pack_rma_frontend

chore: add e2e tests
  TESTING.md
  cypress.json
  cypress/.gitignore
  cypress/integration/admin-setup-test.spec.js
  cypress/integration/login-test.spec.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  docker/backing-services/docker-compose-erpnext.yml
  docker/backing-services/files/20200529_010128-erpnext_localhost-database.sql.gz
  docker/backing-services/files/bootstrap.py
  docker/backing-services/files/frappe-mariadb.cnf
  docker/docker-compose-networks.yml
  env-example
  package-lock.json
  package.json
  packages/rma-server/src/config/config.service.ts
Due: test_rma_server, pack_rma_server

fix(rma-frontend): Code cleanup, basic fields and form control
  packages/rma-frontend/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.html
  packages/rma-frontend/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.scss
  packages/rma-frontend/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma-server): clear credit limit expiry date only on success
  packages/rma-server/src/customer/schedulers/reset-credit-limit/reset-credit-limit.service.ts
Due: test_rma_server, pack_rma_server

feat(rma-frontend): Added filters in sales return list and added various tabs in side menu
  packages/rma-frontend/src/app/app-routing.module.ts
  packages/rma-frontend/src/app/app.component.html
  packages/rma-frontend/src/app/app.component.ts
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/customer-profile/customer-datasource.ts
  packages/rma-frontend/src/app/customer-profile/customer-profile-routing.module.ts
  packages/rma-frontend/src/app/customer-profile/customer-profile.module.ts
  packages/rma-frontend/src/app/customer-profile/customer-profile.page.html
  packages/rma-frontend/src/app/customer-profile/customer-profile.page.scss
  packages/rma-frontend/src/app/customer-profile/customer-profile.page.spec.ts
  packages/rma-frontend/src/app/customer-profile/customer-profile.page.ts
  packages/rma-frontend/src/app/home/home.page.ts
  packages/rma-frontend/src/app/sales-ui/sales-return-details/sales-return-details.page.html
  packages/rma-frontend/src/app/sales-ui/sales-return-details/sales-return-details.page.ts
  packages/rma-frontend/src/app/sales-ui/sales-return/sales-return-list.datasource.ts
  packages/rma-frontend/src/app/sales-ui/sales-return/sales-return.page.html
  packages/rma-frontend/src/app/sales-ui/sales-return/sales-return.page.scss
  packages/rma-frontend/src/app/sales-ui/sales-return/sales-return.page.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-frontend/src/global.scss
  packages/rma-server/package-lock.json
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

fix(rma-frontend): Fixed pagination of sales return
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/sales-return/sales-return.service.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma-server):modified warranty-claim create endpoint
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.spec.ts
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-server/src/warranty-claim/command/add-warranty-claim/add-warranty-claim.handler.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim-dto.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim.entity.ts
Due: test_rma_server, pack_rma_server

feat(rma-server):modified warranty-claim create endpoint
  packages/rma-server/src/constants/messages.ts
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim-dto.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim.entity.ts
Due: test_rma_server, pack_rma_server

feat(rma-server):Added Customer exist policy in warranty-claim
  packages/rma-server/src/constants/messages.ts
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.spec.ts
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-server/src/warranty-claim/warranty-claim.module.ts
Due: test_rma_server, pack_rma_server

feat(rma-server):Fixed Changes
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.spec.ts
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-server/src/warranty-claim/policies/warranty-claim-policies/warranty-claim-policies.service.spec.ts
  packages/rma-server/src/warranty-claim/policies/warranty-claim-policies/warranty-claim-policies.service.ts
Due: test_rma_server, pack_rma_server

feat(rma-server):Fixed Changes
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-server/src/warranty-claim/policies/warranty-claim-policies/warranty-claim-policies.service.ts
Due: test_rma_server, pack_rma_server

feat(rma-server):Added Serial no policy in warranty-claim
  packages/rma-server/src/constants/messages.ts
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-server/src/warranty-claim/policies/warranty-claim-policies/warranty-claim-policies.service.spec.ts
  packages/rma-server/src/warranty-claim/policies/warranty-claim-policies/warranty-claim-policies.service.ts
Due: test_rma_server, pack_rma_server

feat(rma-server):Fixed Changes
  packages/rma-server/src/constants/messages.ts
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-server/src/warranty-claim/policies/warranty-claim-policies/warranty-claim-policies.service.ts
Due: test_rma_server, pack_rma_server

feat(rma-server):Added Warranty date policy in warranty-claim
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-server/src/warranty-claim/policies/warranty-claim-policies/warranty-claim-policies.service.spec.ts
  packages/rma-server/src/warranty-claim/policies/warranty-claim-policies/warranty-claim-policies.service.ts
Due: test_rma_server, pack_rma_server

feat(rma-server):Fixed Changes
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/serial-no/entity/serial-no/serial-no.entity.ts
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-server/src/warranty-claim/policies/warranty-claim-policies/warranty-claim-policies.service.spec.ts
  packages/rma-server/src/warranty-claim/policies/warranty-claim-policies/warranty-claim-policies.service.ts
Due: test_rma_server, pack_rma_server

feat(rma-server):Fixed Changes
  packages/rma-server/src/warranty-claim/policies/warranty-claim-policies/warranty-claim-policies.service.spec.ts
  packages/rma-server/src/warranty-claim/policies/warranty-claim-policies/warranty-claim-policies.service.ts
Due: test_rma_server, pack_rma_server

feat(rma-server):Fixed Changes
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim-dto.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim.entity.ts
  packages/rma-server/src/warranty-claim/policies/warranty-claim-policies/warranty-claim-policies.service.ts
Due: test_rma_server, pack_rma_server

feat(rma-server):Updated Warranty-claim details html page
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/claim-details/claim-details.component.html
Due: test_rma_frontend, pack_rma_frontend

feat(rma-frontend):populated remaining claim-detail fields in html
  packages/rma-frontend/src/app/common/interfaces/warranty.interface.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/claim-details/claim-details.component.html
Due: test_rma_frontend, pack_rma_frontend

feat(rma-server): validate credit limit
  packages/rma-server/src/constants/messages.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/sales-invoice/policies/sales-invoice-policies/sales-invoice-policies.service.ts
Due: test_rma_server, pack_rma_server

feat(rma-frontend):Added new Service invoice page
  packages/rma-frontend/src/app/app-routing.module.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice-routing.module.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.module.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.html
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.scss
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.spec.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/service-invoices.component.html
Due: test_rma_frontend, pack_rma_frontend

feat(rma-frontend):Added create service invoice fields
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.module.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.html
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.scss
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma-frontend):Fixed Changes
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.spec.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma-frontend):Added create service-invoice item table
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.html
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma-serer): Made modules independant
  packages/rma-server/src/app.module.ts
  packages/rma-server/src/constants/typeorm.connection.ts
  packages/rma-server/src/delivery-note/delivery-note.module.ts
  packages/rma-server/src/delivery-note/schedular/delivery-note-job-helper/delivery-note-job.service.spec.ts
  packages/rma-server/src/delivery-note/schedular/delivery-note-job/delivery-note-job.service.spec.ts
  packages/rma-server/src/delivery-note/schedular/delivery-note-job/delivery-note-job.service.ts
  packages/rma-server/src/item/item.module.ts
  packages/rma-server/src/job-queue/job-queue.module.ts
  packages/rma-server/src/purchase-receipt/purchase-receipt.module.ts
  packages/rma-server/src/purchase-receipt/schedular/purchase-receipt-sync/purchase-receipt-sync.service.spec.ts
  packages/rma-server/src/purchase-receipt/schedular/purchase-receipt-sync/purchase-receipt-sync.service.ts
  packages/rma-server/src/sales-invoice/sales-invoice.module.ts
  packages/rma-server/src/serial-no/serial-no.module.ts
  packages/rma-server/src/stock-entry/schedular/accept-stock-entry-sync/accept-stock-entry-sync.service.spec.ts
  packages/rma-server/src/stock-entry/schedular/accept-stock-entry-sync/accept-stock-entry-sync.service.ts
  packages/rma-server/src/stock-entry/schedular/stock-entry-sync/stock-entry-sync.service.spec.ts
  packages/rma-server/src/stock-entry/schedular/stock-entry-sync/stock-entry-sync.service.ts
  packages/rma-server/src/stock-entry/stock-entry.module.ts
  packages/rma-server/src/sync/aggregates/data-import/data-import.interface.ts
  packages/rma-server/src/sync/aggregates/data-import/data-import.service.ts
  packages/rma-server/src/sync/aggregates/index.ts
  packages/rma-server/src/sync/aggregates/job-queue-aggregate/job-queue-aggregate.service.spec.ts
  packages/rma-server/src/sync/aggregates/job-queue-aggregate/job-queue-aggregate.service.ts
  packages/rma-server/src/sync/controllers/job-queue/job-queue.controller.spec.ts
  packages/rma-server/src/sync/controllers/job-queue/job-queue.controller.ts
  packages/rma-server/src/sync/entities/agenda-job/agenda-job.entity.ts
  packages/rma-server/src/sync/entities/agenda-job/agenda-job.service.spec.ts
  packages/rma-server/src/sync/entities/agenda-job/agenda-job.service.ts
  packages/rma-server/src/sync/entities/agenda-job/json-to-csv-parser.service.ts
  packages/rma-server/src/sync/entities/sync-entity.module.ts
  packages/rma-server/src/sync/schedular/frappe-jobs-queue/frappe-jobs-queue.service.spec.ts
  packages/rma-server/src/sync/schedular/frappe-jobs-queue/frappe-jobs-queue.service.ts
  packages/rma-server/src/sync/sync.module.ts
Due: test_rma_server, pack_rma_server

feat(excel-rma): Batch purchase receipts to 1000 each
  packages/rma-frontend/src/app/app.component.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
  packages/rma-server/src/app.module.ts
  packages/rma-server/src/auth/auth.module.ts
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/customer/customer.module.ts
  packages/rma-server/src/delivery-note/entity/delivery-note-service/delivery-note-response-interface.ts
  packages/rma-server/src/delivery-note/schedular/delivery-note-job/delivery-note-job.service.spec.ts
  packages/rma-server/src/delivery-note/schedular/delivery-note-job/delivery-note-job.service.ts
  packages/rma-server/src/direct/aggregates/direct/direct.service.ts
  packages/rma-server/src/direct/direct.module.ts
  packages/rma-server/src/error-log/error-logs-invoice.module.ts
  packages/rma-server/src/item/item.module.ts
  packages/rma-server/src/purchase-order/purchase-order.module.ts
  packages/rma-server/src/purchase-receipt/aggregates/purchase-receipt-aggregate/purchase-receipt-aggregate.service.ts
  packages/rma-server/src/purchase-receipt/entity/purchase-receipt-dto.ts
  packages/rma-server/src/purchase-receipt/purchase-receipt-policies/purchase-receipt-policies.service.ts
  packages/rma-server/src/purchase-receipt/purchase-receipt.module.ts
  packages/rma-server/src/purchase-receipt/schedular/purchase-receipt-sync/purchase-receipt-sync.service.spec.ts
  packages/rma-server/src/purchase-receipt/schedular/purchase-receipt-sync/purchase-receipt-sync.service.ts
  packages/rma-server/src/sales-invoice/sales-invoice.module.ts
  packages/rma-server/src/serial-no/serial-no.module.ts
  packages/rma-server/src/stock-entry/schedular/accept-stock-entry-sync/accept-stock-entry-sync.service.ts
  packages/rma-server/src/stock-entry/stock-entry.module.ts
  packages/rma-server/src/sync/aggregates/data-import/data-import.service.ts
  packages/rma-server/src/sync/assets/data_import_template.ts
  packages/rma-server/src/sync/entities/agenda-job/agenda-job.entity.ts
  packages/rma-server/src/sync/entities/agenda-job/agenda-job.service.ts
  packages/rma-server/src/sync/entities/agenda-job/json-to-csv-parser.service.ts
  packages/rma-server/src/sync/entities/sync-entity.module.ts
  packages/rma-server/src/sync/schedular/frappe-jobs-queue/frappe-jobs-queue.service.ts
  packages/rma-server/src/sync/schedular/frappe-sync-data-import-jobs-queue/frappe-sync-data-import-jobs-queue.service.spec.ts
  packages/rma-server/src/sync/schedular/frappe-sync-data-import-jobs-queue/frappe-sync-data-import-jobs-queue.service.ts
  packages/rma-server/src/sync/sync.module.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

lint fix
  packages/rma-server/src/stock-entry/schedular/accept-stock-entry-sync/accept-stock-entry-sync.service.ts
Due: test_rma_server, pack_rma_server

fix(excel-rma): Fix file upload for sales part
  packages/rma-frontend/src/app/api/csv-json/csv-json.service.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/delivery-note/schedular/delivery-note-job/delivery-note-job.service.ts
  packages/rma-server/src/purchase-receipt/schedular/purchase-receipt-sync/purchase-receipt-sync.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

Path conditions:
  test_rma_frontend: any of: packages/rma-frontend/**/*
  test_rma_mobile: any of: packages/rma-mobile/**/*
  test_rma_server: any of: packages/rma-server/**/*
  pack_rma_server: any of: packages/rma-server/**/*
  pack_rma_frontend: any of: packages/rma-frontend/**/*
