Repository fnrfarid/excel-rma: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_rma_frontend, test_rma_mobile, test_rma_server, pack_rma_server, pack_rma_frontend

test_rma_frontend:
  image: registry.gitlab.com/castlecraft/docker-craft/node-latest-headless-chrome:latest
  stage: tests
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
    - packages/rma-frontend/node_modules/
  before_script:
  - cd packages/rma-frontend
  - npm install
  script:
  - export NODE_ENV=test
  - npm run lint
  ...

test_rma_mobile:
  image: registry.gitlab.com/castlecraft/docker-craft/node-latest-headless-chrome:latest
  stage: tests
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
    - packages/rma-mobile/node_modules/
  before_script:
  - cd packages/rma-mobile
  - npm install
  script:
  - npm run lint
  - npm run format:check
  ...

test_rma_server:
  image: node:latest
  stage: tests
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
    - packages/rma-server/node_modules/
  before_script:
  - cd packages/rma-server
  - npm install
  script:
  - export NODE_ENV=test
  - npm run lint
  - npm run format:check
  - npm run test
  - npm run test:e2e
  tags:
  - docker

pack_rma_server:
  image: docker
  stage: pack
  before_script:
  - apk add git
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - export VERSION=$(git tag --list "rma-server@*" --sort=-version:refname | sed -n 1p | sed -e 's#.*@\(\)#\1#')
  ...

pack_rma_frontend:
  image: docker
  stage: pack
  before_script:
  - apk add git
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  - export VERSION=$(git tag --list "rma-frontend@*" --sort=-version:refname | sed -n 1p | sed -e 's#.*@\(\)#\1#')
  ...

feat(rma-frontend): Added footer in sales invoice details
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.html
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.scss
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.ts
Due: test_rma_frontend, pack_rma_frontend

fix(rma-frontend): Fixed Tests
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/details/details.component.spec.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma-frontend):Modified create service-invoice item table
  packages/rma-frontend/src/app/common/interfaces/sales.interface.ts
  packages/rma-frontend/src/app/common/interfaces/warranty.interface.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.module.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.html
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.scss
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.spec.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.service.spec.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.service.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/inline-edit/inline-edit.component.html
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/inline-edit/inline-edit.component.scss
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/inline-edit/inline-edit.component.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/on-key-down-directive.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma-frontend):Added autocomplete in customer field
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.html
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.spec.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.service.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma-frontend):Fixed Changes
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.service.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma-frontend):Fixed Changes
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.service.ts
Due: test_rma_frontend, pack_rma_frontend

feat(excel-rma): Bug fixes as per issue#63
  packages/rma-frontend/src/app/sales-ui/add-sales-return/add-sales-return.page.ts
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/delivery-note/schedular/delivery-note-job/delivery-note-job.service.ts
  packages/rma-server/src/purchase-order/aggregates/purchase-order-webhook-aggregate/purchase-order-webhook-aggregate.service.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/sales-invoice/entity/sales-invoice/sales-invoice.entity.ts
  packages/rma-server/src/serial-no/entity/serial-no/serial-no.entity.ts
  packages/rma-server/src/serial-no/policies/serial-no-policies/serial-no-policies.service.ts
  packages/rma-server/src/sync/aggregates/data-import/data-import.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-server): delete serial on PR cancel
  packages/rma-server/src/constants/routes.ts
  packages/rma-server/src/constants/webhook-data.ts
  packages/rma-server/src/purchase-receipt/aggregates/purchase-receipt-aggregate/purchase-receipt-aggregate.service.ts
  packages/rma-server/src/purchase-receipt/controllers/purchase-receipt-webhook/purchase-receipt-webhook.controller.spec.ts
  packages/rma-server/src/purchase-receipt/controllers/purchase-receipt-webhook/purchase-receipt-webhook.controller.ts
  packages/rma-server/src/system-settings/aggregates/settings/settings.service.ts
Due: test_rma_server, pack_rma_server

fix(rma-server): delete serial on PR cancel
  packages/rma-server/src/purchase-receipt/aggregates/purchase-receipt-aggregate/purchase-receipt-aggregate.service.ts
Due: test_rma_server, pack_rma_server

feat(excel-rma): Add rate fix for delivery note
  packages/rma-frontend/src/app/common/interfaces/sales.interface.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-return/add-sales-return.page.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials-datasource.ts
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.ts
  packages/rma-server/src/constants/messages.ts
  packages/rma-server/src/delivery-note/aggregates/delivery-note-aggregate/delivery-note-aggregate.service.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/serial-no/entity/serial-no/serial-no.service.ts
  packages/rma-server/src/sync/assets/data_import_template.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat: PR cancel and UI Naming Series
  packages/rma-frontend/src/app/credit-limit/credit-limit.page.html
  packages/rma-frontend/src/app/credit-limit/credit-limit.page.ts
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.html
  packages/rma-frontend/src/app/sales-ui/add-sales-invoice/add-sales-invoice.page.ts
  packages/rma-server/src/purchase-receipt/aggregates/purchase-receipt-aggregate/purchase-receipt-aggregate.service.ts
  packages/rma-server/src/purchase-receipt/purchase-receipt.module.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(excel-rma): Fix queue validation for sales part
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/delivery-note/aggregates/delivery-note-aggregate/delivery-note-aggregate.service.spec.ts
  packages/rma-server/src/delivery-note/aggregates/delivery-note-aggregate/delivery-note-aggregate.service.ts
  packages/rma-server/src/delivery-note/delivery-note.module.ts
  packages/rma-server/src/delivery-note/policies/delivery-note-policies/delivery-note-policies.service.spec.ts
  packages/rma-server/src/delivery-note/policies/delivery-note-policies/delivery-note-policies.service.ts
  packages/rma-server/src/delivery-note/policies/index.ts
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
  packages/rma-server/src/serial-no/policies/serial-no-policies/serial-no-policies.service.ts
  packages/rma-server/src/sync/schedular/frappe-jobs-queue/frappe-jobs-queue.service.ts
Due: test_rma_server, pack_rma_server

feat(rma-server):Added Service Invoice Cqrs
  packages/rma-server/src/app.module.ts
  packages/rma-server/src/constants/typeorm.connection.ts
  packages/rma-server/src/service-invoice/aggregates/index.ts
  packages/rma-server/src/service-invoice/aggregates/service-invoice-aggregate/service-invoice-aggregate.service.spec.ts
  packages/rma-server/src/service-invoice/aggregates/service-invoice-aggregate/service-invoice-aggregate.service.ts
  packages/rma-server/src/service-invoice/command/add-service-invoice/add-service-invoice.command.ts
  packages/rma-server/src/service-invoice/command/add-service-invoice/add-service-invoice.handler.ts
  packages/rma-server/src/service-invoice/command/index.ts
  packages/rma-server/src/service-invoice/command/remove-service-invoice/remove-service-invoice.command.ts
  packages/rma-server/src/service-invoice/command/remove-service-invoice/remove-service-invoice.handler.ts
  packages/rma-server/src/service-invoice/command/update-service-invoice/update-service-invoice.command.ts
  packages/rma-server/src/service-invoice/command/update-service-invoice/update-service-invoice.handler.ts
  packages/rma-server/src/service-invoice/controllers/service-invoice/service-invoice.controller.spec.ts
  packages/rma-server/src/service-invoice/controllers/service-invoice/service-invoice.controller.ts
  packages/rma-server/src/service-invoice/entity/entity.module.ts
  packages/rma-server/src/service-invoice/entity/service-invoice/service-invoice-dto.ts
  packages/rma-server/src/service-invoice/entity/service-invoice/service-invoice.entity.ts
  packages/rma-server/src/service-invoice/entity/service-invoice/service-invoice.service.spec.ts
  packages/rma-server/src/service-invoice/entity/service-invoice/service-invoice.service.ts
  packages/rma-server/src/service-invoice/entity/service-invoice/update-service-invoice-dto.ts
  packages/rma-server/src/service-invoice/event/index.ts
  packages/rma-server/src/service-invoice/event/service-invoice-added/service-invoice-added.event.ts
  packages/rma-server/src/service-invoice/event/service-invoice-added/service-invoice-added.handler.ts
  packages/rma-server/src/service-invoice/event/service-invoice-removed/service-invoice-removed.event.ts
  packages/rma-server/src/service-invoice/event/service-invoice-removed/service-invoice-removed.handler.ts
  packages/rma-server/src/service-invoice/event/service-invoice-updated/service-invoice-updated.event.ts
  packages/rma-server/src/service-invoice/event/service-invoice-updated/service-invoice-updated.handler.ts
  packages/rma-server/src/service-invoice/policies/service-invoice-policies/service-invoice-policies.service.spec.ts
  packages/rma-server/src/service-invoice/policies/service-invoice-policies/service-invoice-policies.service.ts
  packages/rma-server/src/service-invoice/query/get-service-invoice/retrieve-service-invoice.handler.ts
  packages/rma-server/src/service-invoice/query/get-service-invoice/retrieve-service-invoice.query.ts
  packages/rma-server/src/service-invoice/query/index.ts
  packages/rma-server/src/service-invoice/query/list-service-invoice/retrieve-service-invoice-list.handler.ts
  packages/rma-server/src/service-invoice/query/list-service-invoice/retrieve-service-invoice-list.query.ts
  packages/rma-server/src/service-invoice/service-invoice.module.ts
Due: test_rma_server, pack_rma_server

Fix(rma-server): Add fix for purchase receipt rate
  packages/rma-server/src/sync/assets/data_import_template.ts
Due: test_rma_server, pack_rma_server

feat(rma-server):Added mat-option in branch field
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.html
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.spec.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.service.ts
  packages/rma-server/src/service-invoice/entity/service-invoice/service-invoice-dto.ts
  packages/rma-server/src/service-invoice/entity/service-invoice/service-invoice.entity.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(excel-rma): Lightweight queries for purchase
  packages/rma-frontend/src/app/purchase-ui/purchase/purchase.page.html
  packages/rma-frontend/src/app/purchase-ui/services/purchase.service.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-assign-serials.component.ts
  packages/rma-frontend/src/app/purchase-ui/view-purchase-invoice/purchase-assign-serials/purchase-serials-datasource.ts
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/purchase-invoice/entity/purchase-invoice/purchase-invoice.entity.ts
  packages/rma-server/src/purchase-invoice/entity/purchase-invoice/purchase-invoice.service.ts
  packages/rma-server/src/purchase-receipt/schedular/purchase-receipt-sync/purchase-receipt-sync.service.ts
  packages/rma-server/src/serial-no/aggregates/serial-no-aggregate/serial-no-aggregate.service.ts
  packages/rma-server/src/serial-no/controllers/serial-no/serial-no.controller.ts
  packages/rma-server/src/serial-no/entity/serial-no/serial-no.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-frontend):Added feature auto-fetch data in service-invoice form
  packages/rma-frontend/src/app/app-routing.module.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.html
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.spec.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.service.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/service-invoices.component.html
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/service-invoices.component.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma-server):Modified Service-invoice create endpoint
  packages/rma-server/src/service-invoice/aggregates/service-invoice-aggregate/service-invoice-aggregate.service.spec.ts
  packages/rma-server/src/service-invoice/aggregates/service-invoice-aggregate/service-invoice-aggregate.service.ts
  packages/rma-server/src/service-invoice/command/add-service-invoice/add-service-invoice.handler.ts
  packages/rma-server/src/service-invoice/entity/service-invoice/service-invoice-dto.ts
  packages/rma-server/src/service-invoice/entity/service-invoice/service-invoice.entity.ts
Due: test_rma_server, pack_rma_server

feat(rma-server):Fixed Changes
  packages/rma-server/src/service-invoice/aggregates/service-invoice-aggregate/service-invoice-aggregate.service.ts
Due: test_rma_server, pack_rma_server

feat(excel-rma): Add reset to data import job with respect to parent
  packages/rma-frontend/src/app/app.component.ts
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/job-ui/jobs-service/jobs.service.ts
  packages/rma-frontend/src/app/job-ui/jobs/jobs.page.ts
  packages/rma-frontend/src/app/job-ui/view-single-job/view-single-job.page.html
  packages/rma-frontend/src/app/job-ui/view-single-job/view-single-job.page.ts
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/delivery-note/schedular/delivery-note-job/delivery-note-job.service.ts
  packages/rma-server/src/sync/aggregates/job-queue-aggregate/job-queue-aggregate.service.ts
  packages/rma-server/src/sync/controllers/job-queue/job-queue.controller.ts
  packages/rma-server/src/sync/entities/agenda-job/agenda-job.entity.ts
  packages/rma-server/src/sync/entities/agenda-job/agenda-job.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-frontend):Wired Service-invoice creation with backend
  packages/rma-frontend/src/app/constants/app-string.ts
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.html
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.spec.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.service.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/service-invoice-interface.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma-server):Fixed Changes
  packages/rma-server/src/service-invoice/entity/service-invoice/service-invoice-dto.ts
Due: test_rma_server, pack_rma_server

feat(rma:Fixed Changes
  packages/rma-frontend/src/app/constants/app-string.ts
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.html
  packages/rma-frontend/src/app/warranty-ui/view-warranty-claims/service-invoices/add-service-invoice/add-service-invoice.page.ts
  packages/rma-server/src/service-invoice/aggregates/service-invoice-aggregate/service-invoice-aggregate.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(excel-rma): Add customer remaining balance
  packages/rma-frontend/src/app/app.component.html
  packages/rma-frontend/src/app/app.component.ts
  packages/rma-frontend/src/app/customer-profile/customer-datasource.ts
  packages/rma-frontend/src/app/customer-profile/customer-profile.module.ts
  packages/rma-frontend/src/app/customer-profile/customer-profile.page.html
  packages/rma-frontend/src/app/customer-profile/customer-profile.page.spec.ts
  packages/rma-frontend/src/app/customer-profile/customer-profile.page.ts
  packages/rma-frontend/src/app/sales-ui/services/item-price.service.spec.ts
  packages/rma-frontend/src/app/sales-ui/services/item-price.service.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma-frontend):Added warranty creation form fields
  packages/rma-frontend/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.html
  packages/rma-frontend/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.scss
  packages/rma-frontend/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.spec.ts
  packages/rma-frontend/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma-server): Add customer to serial-no on delivery note creation
  packages/rma-server/src/delivery-note/schedular/delivery-note-job/delivery-note-job.service.ts
  packages/rma-server/src/serial-no/entity/serial-no/serial-no.entity.ts
Due: test_rma_server, pack_rma_server

feat(rma-server): reset customer on serial return
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
Due: test_rma_server, pack_rma_server

lint fix
  packages/rma-server/src/sales-invoice/aggregates/sales-invoice-aggregate/sales-invoice-aggregate.service.ts
Due: test_rma_server, pack_rma_server

feat(rma-frontend):Added Enable disable feature based on warranty State
  packages/rma-frontend/src/app/common/interfaces/warranty.interface.ts
  packages/rma-frontend/src/app/constants/app-string.ts
  packages/rma-frontend/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.html
  packages/rma-frontend/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.spec.ts
  packages/rma-frontend/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
  packages/rma-frontend/src/app/warranty-ui/add-warranty-claim/add-warranty.service.spec.ts
  packages/rma-frontend/src/app/warranty-ui/add-warranty-claim/add-warranty.service.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma-frontend):Fixed Changes
  packages/rma-frontend/src/app/common/interfaces/warranty.interface.ts
  packages/rma-frontend/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.html
  packages/rma-frontend/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
  packages/rma-frontend/src/app/warranty-ui/add-warranty-claim/add-warranty.service.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma-frontend):Fixed Changes
  packages/rma-frontend/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.html
  packages/rma-frontend/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
Due: test_rma_frontend, pack_rma_frontend

feat(excel-rma): Add dynamic items to stock entry
  packages/rma-frontend/src/app/sales-ui/view-sales-invoice/serials/serials.component.html
  packages/rma-frontend/src/app/stock-entry/material-transfer/add-item-dialog.html
  packages/rma-frontend/src/app/stock-entry/material-transfer/items-datasource.ts
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.html
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
  packages/rma-frontend/src/app/stock-entry/stock-entry.module.ts
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/stock-entry/policies/stock-entry-policies/stock-entry-policies.service.ts
  packages/rma-server/src/stock-entry/schedular/stock-entry-sync/stock-entry-sync.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(excel-rma): Add credit limit and current outstanding to customer profile
  packages/rma-frontend/src/app/customer-profile/customer-datasource.ts
  packages/rma-frontend/src/app/customer-profile/customer-profile.page.html
  packages/rma-frontend/src/app/customer-profile/customer-profile.page.spec.ts
  packages/rma-frontend/src/app/customer-profile/customer-profile.page.ts
  packages/rma-frontend/src/app/sales-ui/services/sales.service.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma-server):Added endpoint get serial data
  packages/rma-server/src/serial-no/aggregates/serial-no-aggregate/serial-no-aggregate.service.ts
  packages/rma-server/src/serial-no/controllers/serial-no/serial-no.controller.ts
  packages/rma-server/src/serial-no/query/get-direct-serial-no /retrieve-direct-serial-no-query.handler.ts
  packages/rma-server/src/serial-no/query/get-direct-serial-no /retrieve-direct-serial-no.query.ts
  packages/rma-server/src/serial-no/query/index.ts
Due: test_rma_server, pack_rma_server

feat(rma-server):Fixed Changes
  packages/rma-server/src/serial-no/aggregates/serial-no-aggregate/serial-no-aggregate.service.ts
  packages/rma-server/src/serial-no/query/get-direct-serial-no /retrieve-direct-serial-no-query.handler.ts
Due: test_rma_server, pack_rma_server

feat(rma-server): Add reject transfer to stock entry
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.html
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.scss
  packages/rma-frontend/src/app/stock-entry/material-transfer/material-transfer.component.ts
  packages/rma-frontend/src/app/stock-entry/services/stock-entry/stock-entry.service.ts
  packages/rma-frontend/src/app/stock-entry/stock-entry-list/stock-entry-list.page.html
  packages/rma-server/src/constants/app-strings.ts
  packages/rma-server/src/stock-entry/aggregates/stock-entry-aggregate/stock-entry-aggregate.service.ts
  packages/rma-server/src/stock-entry/controller/stock-entry.controller.ts
  packages/rma-server/src/stock-entry/schedular/stock-entry-sync/stock-entry-sync.service.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-frontend):Modified Warranty claim creation page
  packages/rma-frontend/src/app/common/interfaces/warranty.interface.ts
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.html
  packages/rma-frontend/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.spec.ts
  packages/rma-frontend/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
  packages/rma-frontend/src/app/warranty-ui/add-warranty-claim/add-warranty.service.ts
  packages/rma-server/src/item/entity/item/item.entity.ts
  packages/rma-server/src/serial-no/entity/serial-no/serial-no-dto.ts
  packages/rma-server/src/serial-no/entity/serial-no/serial-no.entity.ts
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/create-bulk-warranty-claim.interface.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

feat(rma-frontend):Fixed Changes
  packages/rma-frontend/src/app/constants/messages.ts
  packages/rma-frontend/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma-frontend):wired Warranty claim creation
  packages/rma-frontend/src/app/common/interfaces/warranty.interface.ts
  packages/rma-frontend/src/app/constants/url-strings.ts
  packages/rma-frontend/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.spec.ts
  packages/rma-frontend/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
  packages/rma-frontend/src/app/warranty-ui/add-warranty-claim/add-warranty.service.ts
Due: test_rma_frontend, pack_rma_frontend

feat(rma-frontend):Modified Warranty claim creation
  packages/rma-frontend/src/app/common/interfaces/warranty.interface.ts
  packages/rma-frontend/src/app/warranty-ui/add-warranty-claim/add-warranty-claim.page.ts
  packages/rma-server/src/warranty-claim/aggregates/warranty-claim-aggregate/warranty-claim-aggregate.service.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim-dto.ts
  packages/rma-server/src/warranty-claim/entity/warranty-claim/warranty-claim.entity.ts
Due: test_rma_frontend, test_rma_server, pack_rma_server, pack_rma_frontend

Path conditions:
  test_rma_frontend: any of: packages/rma-frontend/**/*
  test_rma_mobile: any of: packages/rma-mobile/**/*
  test_rma_server: any of: packages/rma-server/**/*
  pack_rma_server: any of: packages/rma-server/**/*
  pack_rma_frontend: any of: packages/rma-frontend/**/*
